{extend name="base/common"}

{block name="style"}
<style>
    .shadow{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.4);z-index: 88;}
    input[name='jg'],input[name='xt'],input[name='my']{width:40px;text-align: center;margin:0 10px;}
    input[name='up'],input[name='float'],input[name='low'],input[name='work']{width:40px;text-align: center;margin:0 10px;}
    .minus,.add,.add1,.add2 b{cursor: pointer;display: inline-block;
        width: 20px;
        text-align: center;}
    .table tr th,.table tr td{
        text-align: center;
    }
    .table tr th:nth-child(2),.table tr td:nth-child(2){
        text-align: left;
    }
</style>

{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>积分排行</h2>
        <ol class="breadcrumb">
            <li>
                排行榜
            </li>
            <li class="active">
                <strong><a href="{:Url('Rank/index')}">详情列表</a></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <form method="get" action="index.html" class="pull-left mail-search">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" name="search" placeholder="搜索用户名">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                            </div>
                        </div>
                    </form>
                    <div class="ibox-tools">
                        <a data-toggle="modal" class="btn btn-sm btn-primary" href="{:Url('Rank/book')}">操作日志</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <div  style="padding-right:17px">
                        <table class="table table-striped">
                            <tr>
                                <th width="3%">排名</th>
                                <th width="15%">名称</th>
                                <th width="5%">总分</th>
                                <th width="5%">发布积分</th>
                                <th width="6%">党风廉政</th>
                                <th width="6%">满意度测评</th>
                                <th width="8%">两新党建</th>
                            </tr>
                            </table>
                        </div>
                        <div style="width:100%;height:600px;overflow:auto; border-bottom:1px solid #dddddd">
                            <table class="table table-striped">
                            <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td width="3%">{$i}</td>
                                <td width="15%">{$vo.name}</td>
                                <td width="5%">{$vo.score}</td>
                                <td width="5%">{$vo.push}</td>
                                <td width="6%"><span class="minus" data-id="{$vo.userid}" style="font-size: 20px"><b>-</b></span><input value="{$vo.party}" name="jg" readonly><span class="add2" style="font-size: 20px"><b>+</b></span></td>
                                <td width="6%"><span class="minus" data-id="{$vo.userid}" style="font-size: 20px"><b>-</b></span><input value="{$vo.satisfaction}" name="my" readonly><span class="add1" style="font-size: 20px"><b>+</b></span></td>
                                <td width="8%"><span class="minus" data-id="{$vo.userid}" style="font-size: 20px"><b>-</b></span><input value="{$vo.work}" name="work" readonly><span class="add" style="font-size: 20px"><b>+</b></span></td>
                            </tr>
                            {/volist}
                            </tbody>
                                </table>
                            </div>
                            <tfoot>
                            <tr>
                                <td colspan="10">
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe id="iframe" src="" style="height: 80%;width: 392px;z-index: 99;position: absolute;top: 10%;border: 0;left: 32%;background: #fff;display: none;" scrolling="auto" seamless></iframe>
<div class="shadow" style="display: none"></div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    highlight_subnav("{:Url('Rank/index')}");

    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $(".minus").each(function(){
            var val = $(this).parent().children("input").val();
            if(val<=0){
                $(this).css("visibility","hidden");
            }
        })

        $(".add").each(function(){
            var val = $(this).parent().children("input").val();
            if(val>=2){
                $(this).css("visibility","hidden");
            }
        })

        $(".add1").each(function(){
            var val = $(this).parent().children("input").val();
            if(val>=40){
                $(this).css("visibility","hidden");
            }
        })

        $(".add2").each(function(){
            var val = $(this).parent().children("input").val();
            if(val>=4){
                $(this).css("visibility","hidden");
            }
        })
    });

    var reload = false;
    $(".minus").click(function(){
        if(!reload) {
            reload = true;
            var id = $(this).data("id");
            var val = $(this).parent().children("input").val();
            var name = $(this).parent().children("input").prop("name");
            if (name == "jg") {
                var _class = 1;
            } else if (name == "my"){
                var _class = 2;
            }else if (name == "work"){
                var _class = 3;
            }

            if (val == 1) {
                $(this).css("visibility", "hidden");
            } else {
                $(this).css("visibility", "visible");
            }
            changeNum(1, id, _class);
            $(this).parent().children("input").val(val - 1);
            $(this).parent().children(".add").css("visibility", "visible");
            $(this).parent().children(".add1").css("visibility", "visible");
        }
    });

    $(".add").click(function(){
        if(!reload) {
            reload = true;
            var id = $(this).parent().children(".minus").data("id");
            var val = $(this).parent().children("input").val();
            var name = $(this).parent().children("input").prop("name");
            if (name == "jg") {
                var _class = 1;
            } else if (name == "my"){
                var _class = 2;
            }else if (name == "work"){
                var _class = 3;
            }
            if (val == 1) {
                $(this).css("visibility", "hidden");
            } else {
                $(this).css("visibility", "visible");
            }
            changeNum(2, id, _class);
            $(this).parent().children("input").val(parseInt(val) + 1);
            $(this).parent().children(".minus").css("visibility", "visible");
        }
    });


    $(".add1").click(function(){
        if(!reload) {
            reload = true;
            var name = $(this).parent().children("input").prop("name");
            if (name == "jg") {
                var _class = 1;
            }  else if (name == "my"){
                var _class = 2;
            }else if (name == "work"){
                var _class = 3;
            }
            var id = $(this).parent().children(".minus").data("id");
            var val = $(this).parent().children("input").val();
            if (val == 39) {
                $(this).css("visibility", "hidden");
            } else {
                $(this).css("visibility", "visible");
            }
            changeNum(2, id, _class);
            $(this).parent().children("input").val(parseInt(val) + 1);
            $(this).parent().children(".minus").css("visibility", "visible");
        }
    });
    $(".add2").click(function(){
        if(!reload) {
            reload = true;
            var name = $(this).parent().children("input").prop("name");
            if (name == "jg") {
                var _class = 1;
            }  else if (name == "my"){
                var _class = 2;
            }else if (name == "work"){
                var _class = 3;
            }
            var id = $(this).parent().children(".minus").data("id");
            var val = $(this).parent().children("input").val();
            if (val == 3) {
                $(this).css("visibility", "hidden");
            } else {
                $(this).css("visibility", "visible");
            }
            changeNum(2, id, _class);
            $(this).parent().children("input").val(parseInt(val) + 1);
            $(this).parent().children(".minus").css("visibility", "visible");
        }
    });
    var changeNum = function(type,id,_class){
        $.ajax({
            type:"post",
            url: "{:Url('Rank/handle')}",
            data:{
                type:type,
                userid:id,
                class:_class
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    window.location.reload();
                }else{
                    updateAlert(data.msg, 'error');
                    it.attr('disabled','true');
                    it.prev().prop('disabled','true');
                    setTimeout(function(){
                        it.removeAttr('disabled');
                        it.prev().removeAttr('disabled')
                    },2000);
                }
            }
        })
    };
</script>
{/block}