{extend name="base/common"}

{block name="style"}
<style>
    .shadow{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.4);z-index: 88;}
    input[name='zy']{width:40px;text-align: center;margin:0 10px;}
    .minus,.add b{cursor: pointer;display: inline-block;
        width: 20px;
        text-align: center;}
    .table tr th,.table tr td{
        text-align: center;
    }
    .table tr th:nth-child(2),.table tr td:nth-child(2){
        text-align: left;
    }
    .ibox-date{
        display: inline-block;
        width:30%;
        float: left;
        text-align: left;
    }
    .ibox-date select{
        min-width: 100px;
        max-width: 150px;
    }
    .ibox-date select:first-child{
        margin-right: 30px;
    }
</style>

{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>积分干预</h2>
        <ol class="breadcrumb">
            <li>
                排行榜
            </li>
            <li class="active">
                <strong><a href="{:Url('Rank/index')}">详情列表</a></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <div class="ibox-date">
                        <select class="year">
                            {volist name="$years" id="y"}
                            <option>{$y.year}</option>
                            {/volist}
                        </select>
                        <select class="month">
                            <option>1月</option>
                            <option>2月</option>
                            <option>3月</option>
                            <option>4月</option>
                            <option>5月</option>
                            <option>6月</option>
                            <option>7月</option>
                            <option>8月</option>
                            <option>9月</option>
                            <option>10月</option>
                            <option>11月</option>
                            <option>12月</option>
                        </select>
                            </div>
                        <a data-toggle="modal" class="btn btn-sm btn-primary" href="{:Url('Rank/book')}">操作日志</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <div  style="padding-right:17px">
                        <table class="table table-striped">
                            <tr>
                                <th width="10%">姓名</th>
                                <th width="15%">部门</th>
                                <th width="5%">基础分</th>
                                <th width="5%">签到积分</th>
                                <th width="5%">干预后积分</th>
                                <th width="15%">操作</th>
                            </tr>
                            </table>
                        </div>
                        <div style="width:100%;height:600px;overflow:auto; border-bottom:1px solid #dddddd">
                            <table class="table table-striped person-list">
                            <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td width="10%">{$vo.name}</td>
                                <td width="15%">{$vo.department}</td>
                                <td width="5%">{$vo.base}</td>
                                <td width="5%">{$vo.sums}</td>
                                <td width="5%">{$vo.sum}</td>
                                <td width="15%">
                                    <span class="minus" data-id="{$vo.userid}" data-month="{$vo.mouth}" style="font-size: 20px"><b>-</b></span><input value="{$vo.sum}" name="zy" readonly><span class="add" style="font-size: 20px"><b>+</b></span>&emsp;&emsp;&emsp;
                                    <span><a href="{:Url('Rank/detail?mouth='.$vo.mouth.'&userid='.$vo['userid'])}">查看详情</a></span>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                                </table>
                            </div>
                            <tfoot>
                            <tr>
                                <td colspan="10">
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe id="iframe" src="" style="height: 80%;width: 392px;z-index: 99;position: absolute;top: 10%;border: 0;left: 32%;background: #fff;display: none;" scrolling="auto" seamless></iframe>
<div class="shadow" style="display: none"></div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    highlight_subnav("{:Url('Rank/index')}");

    $(document).ready(function(){
        var d = new Date();
        var year = d.getFullYear();
        var month = d.getMonth()+1;
        $(".year option").each(function(){
            if($(this).val()==year){
                $(this).attr("selected","selected");
            }
        });
        $(".month option").each(function(){
            if(parseInt($(this).val())==month){
                $(this).attr("selected","selected");
            }
        });


        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $(".minus").each(function(){
            var val = $(this).parent().children("input").val();
            if(val<=0){
                $(this).css("visibility","hidden");
            }
        })
    });

    var reload = false;
    $(".person-list").on("click",".minus",function(){
        if(!reload) {
            reload = true;
            var id = $(this).data("id");
            var month = $(this).data("month");
            var val = $(this).parent().children("input").val();
            if (val == 1) {
                $(this).css("visibility", "hidden");
            } else {
                $(this).css("visibility", "visible");
            }
            changeNum(1, id, month,$(this));

        }
    });

    $(".person-list").on("click",".add",function(){
        if(!reload) {
            reload = true;
            var id = $(this).parent().children(".minus").data("id");
            var val = $(this).parent().children("input").val();
            var month = $(this).parent().children(".minus").data("month");
            changeNum(2, id, month,$(this));
        }
    });

    var callback = function(el){
        var val =  el.parent().children("input").val();
        var points = el.parent().prev().text();
        var parent = el.parent();
        if(el.hasClass("add")){
            parent.children("input").val(parseInt(val) + 1);
            parent.prev().text(parseInt(val) + 1)
            parent.children(".minus").css("visibility", "visible");
        }else{
            parent.children("input").val(val - 1);
            parent.prev().text(parseInt(val) - 1);
            parent.children(".add").css("visibility", "visible");
        }
        reload = false;
    };


    var changeNum = function(type,id,month,el){
        $.ajax({
            type:"post",
            url: "{:Url('Rank/handle')}",
            data:{
                type:type,
                userid:id,
                month:month
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                        callback(el);
                }else{
                    updateAlert(data.msg, 'error');
                    it.attr('disabled','true');
                    it.prev().prop('disabled','true');
                    setTimeout(function(){
                        it.removeAttr('disabled');
                        it.prev().removeAttr('disabled')
                    },2000);
                }
            }
        })
    };


    //日期选择器
    $(".ibox-date").on("change",".year",function(){
        dateAjax()
    });

    $(".ibox-date").on("change",".month",function(){
        dateAjax()
    });

    var dateAjax = function(){
        var year = $(".year").val();
        var month = parseInt($(".month").val());
        $.ajax({
            url:"{:Url('Rank/index')}",
            type:"post",
            data:{
                year:year,
                month:month
            },
            success:function(data){
                if(data.code==1){
                    addList(data);
                }
            }
        })
    }

    function addList(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            html+=
                '<tr>'+
                '<td width="15%">'+list.name+'</td>'+
                '<td width="15%">'+list.department+'</td>'+
                '<td width="5%">'+list.sums+'</td>'+
                '<td width="15%">'+
                '<span class="minus" data-id="'+list.userid+'" data-month="'+list.mouth+'" style="font-size: 20px"><b>-</b></span>'+
                '<input value="'+list.sum+'" name="zy" readonly>'+
                '<span class="add" style="font-size: 20px"><b>+</b></span>&emsp;&emsp;&emsp;'+
                '<span><a href="/admin/rank/detail/mouth/'+list.mouth+'/userid/'+list.userid+'">查看详情</a>'+
                '</span>'+
                '</td>'+
                '</tr>'

        }
        $(".person-list tbody" ).html(html);
        $(".minus").each(function(){
            var val = $(this).parent().children("input").val();
            if(val<=0){
                $(this).css("visibility","hidden");
            }
        })
    }

</script>
{/block}