body {
  background: #f1f1f1;
}
.search {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 44px;
  background: #f1f1f1;
}
.search input {
  position: absolute;
  top: 6px;
  left: 3vw;
  width: 94vw;
  height: 32px;
  padding-left: 30px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.search .fa-search {
  z-index: 1;
  position: absolute;
  top: 15px;
  left: 6vw;
  color: #aeaeae;
}
.results {
  position: absolute;
  left: 0;
  top: 44px;
  z-index: 2;
  width: 100%;
}
.results .result {
  display: inline-block;
  width: 100vw;
  height: 38px;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 6vw;
  line-height: 38px;
  color: #666666;
  border-bottom: 1px solid #f1f1f1;
}
.banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 48vw;
}
.banner .banner-img {
  width: 100%;
  height: 100%;
}
.banner .banner-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 40px;
  background: rgba(51, 51, 51, 0.6);
}
.banner .banner-info {
  position: absolute;
  bottom: 0;
  left: 4vw;
  width: 70%;
  height: 40px;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 40px;
}
.lists-title {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  padding: 0 3vw;
  background: #ffffff;
  color: #666666;
  line-height: 40px;
}
.lists-title:before {
  position: absolute;
  top: 12px;
  left: 0;
  content: '';
  width: 4px;
  height: 16px;
  background: red;
}
.lists-title .fr {
  color: #333333;
}
.lists {
  width: 100vw;
  padding: 0 0 0 5vw;
  background: #ffffff;
}
.lists .list {
  display: inline-block;
  width: 27vw;
  margin-right: 3.5vw;
  margin-bottom: 10px;
}
.lists .list .list-img {
  width: 100%;
  height: 40vw;
}
.lists .list .list-title {
  color: #333333;
  font-size: 1.6rem;
  line-height: 26px;
}
.lists .list .list-summary {
  color: #999999;
  font-size: 1.2rem;
  line-height: 16px;
}
.listsline {
  margin-top: 10px;
}
.swiper-pagination-bullets {
  text-align: right;
  padding: 0 13px;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.95);
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.6);
}
