@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.8), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
@keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.8), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
/*视频*/
.film {
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 13px;
}
.film .title {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 600;
}
.film .note {
  color: #666666;
  font-size: 1.2rem;
  line-height: 30px;
}
.film .note span {
  margin-right: 10px;
}
.film .note span:last-child{
  margin-right: 0;
}
.film .content {
  width: 100%;
  overflow: hidden;
  color: #666666;
}
.film .content * {
  max-width: 100%!important;
}
.film .content img {
  display: block;
  max-width: 100%!important;
  margin-bottom: 13px;
}
.film .content .video {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  background: rgba(208, 208, 208, 0.5);
}
.film .content .video video {
  width: 100%;
  height: 200px;
}
.film .content .video .play {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  opacity: 0.5;
  display: none;
}
.film .content .video iframe {
  width: 100vw;
  height: 100%;
}
.film .content .note {
  color: #666666;
  font-size: 14px;
  float: right;
}
.film .content .note span {
  height: 40px;
  display: inline-block;
  line-height: 40px;
}
.film .content .note .read {
  background: url('/home/images/news/scan_.png') 0 12px no-repeat;
  background-size: 15px 15px;
  padding-left: 18px;
}
.film .content .note .good {
  background: url('/home/images/news/good.png') 0 12px no-repeat;
}
.film .content .note .good_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/news/good_.png') 0 12px no-repeat;
}
.film .content .note .isgood {
  background-size: 15px 15px;
  padding-left: 18px;
}
/*评论*/
.comment {
  padding-bottom: 50px;
}
.comment .sum {
  height: 30px;
  padding-left: 10px;
  background: #fcfcfc;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  font-size: 1.2rem;
  line-height: 30px;
}
.comment .lists .list {
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  min-height: 100px;
  border-bottom: 1px solid #f1f1f1;
}
.comment .lists .list .fl img {
  width: 10.7vw;
  height: 10.7vw;
  margin-top: 3vw;
  margin-right: 3vw;
  margin-bottom: 3vw;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.comment .lists .list .mid {
  width: 73%;
}
.comment .lists .list .mid .name {
  width: 100%;
  margin-top: 3vw;
  color: #999999;
}
.comment .lists .list .mid .content {
  width: 100%;
  word-break: break-all;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.comment .lists .list .mid .time {
  font-size: 1.2rem;
  line-height: 20px;
  color: #999;
}
.comment .lists .list .fr {
  margin-top:3vw;
  color: #999;
}
.comment .lists .list .good {
  background: url('/home/images/news/good.png') 0 2px no-repeat;
}
.comment .lists .list .good_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/news/good_.png') 0 2px no-repeat;
}
.comment .lists .list .isgood {
  background-size: 15px 15px;
  padding-left: 18px;
}
.comment .tip {
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #c1c1c1;
}
/*底部*/
.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  border-top: 1px solid #dadada;
  padding:0 3vw;
  background: #ffffff;
  font-family: "Microsoft YaHei", sans-serif;
}
.bottom .star {
  background: url('/home/images/detail/star-border.png') 20px 12px no-repeat;
}
.bottom .star_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/detail/star-yellow.png') 20px 12px no-repeat;
}
.bottom .collect {
  width: 60px;
  height: 100%;
  font-size: 1.2rem;
  text-align: center;
  background-size: 20px 20px;
  padding-top: 24px;
}
.bottom .myword input {
  vertical-align: middle;
  height: 30px;
  width: 94vw;
  margin: 7px 0;
  padding-left: 10px;
  background: #fafafa;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
input::-webkit-input-placeholder{
  color: #000;
}
.bottom .send {
  width: 19vw;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 45px;
  text-align: center;
}
.bottom .send:active {
  background: #fafafa;
}
/*加载动画*/
.loading {
  width: 100%;
  height: 40px;
}
.typing_loader {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
  top: 17px;
  left: calc( 50vw - 15px );
}
