.lists .list {
  display: inline-block;
  width: 100vw;
  height: 22vw;
  padding: 0 4vw;
  border-bottom: 1px solid #f1f1f1;
}
.lists .list .music-img {
  display: inline-block;
  width: 14vw;
  height: 14vw;
  margin-right: 4vw;
  margin-top: 4vw;
}
.lists .list .content {
  display: inline-block;
  width: 72vw;
  margin-top: 2vw;
}
.lists .list .content .title {
  width: 100%;
  height: 12vw;
  color: #333333;
  font-size: 1.4rem;
  line-height: 5.8vw;
}
.lists .list .content .note {
  margin-top: 1vw;
  color: #999999;
  font-size: 1.2rem;
}
.lists .list .content .note .scan {
  background: url('/home/images/news/scan_.png') 0 1px no-repeat;
  background-size: 14px 14px;
  padding-left: 20px;
}
.tip {
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #c1c1c1;
}
/*加载动画*/
.loading {
  width: 100%;
  height: 40px;
}
.typing_loader {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
  top: 17px;
  left: calc( 50vw - 20px );
}
