
{extend name="public/common"}

{block name="style"}
<title>在线答题</title>
<link rel="stylesheet" href="/home/sass/stylesheets/learn/answer.css">
{/block}

{block name="body"}
<div class="lists">
	<!--单选题-->
	{volist name="question" id="vo" key="y"}
	<div class="single list" data-id="{$vo->id}">
		<div class="question">
		<span class="type">
			单选
		</span>
			{$vo->title}
		</div>

		{volist name="vo->Option" id="value" key="k"}
		<span class="option_">
			<input type="radio" name="s{$y}" value="{$k}">
			<label class="option">{if condition="($k eq 1) AND ($value neq ' ')"}A{elseif condition="($k eq 2) AND ($value neq ' ')"}B{elseif condition="($k eq 3 )AND ($value neq ' ')"}C{elseif condition="($k eq 4 )AND ($value neq ' ')"/}D{/if}</label>
			<label class="opt">{$value|substr=###,'2'}</label>
		</span>
		{/volist}
		<div class="sum"><span class="num">{$y}</span>/30</div>
	</div>
	{/volist}
	<!--多选题-->
	{volist name="questions" id="vo" key="t"}
	<div class="muti list" data-id="{$vo->id}">
		<div class="question">
		<span class="type">
			多选
		</span>
			{$vo->title}
		</div>
		{volist name="vo->Option" id="value" key="k"}
		<span class="option_">
			<input type="checkbox" name="m{$t}" value="{$k}">
			<label class="option">{if condition="($k eq 1) AND ($value neq ' ')"}A{elseif condition="($k eq 2) AND ($value neq ' ')"}B{elseif condition="($k eq 3 )AND ($value neq ' ')"}C{elseif condition="($k eq 4 )AND ($value neq ' ')"/}D{/if}</label>
			<label class="opt">{$value|substr=###,'2'}</label>
		</span>
		{/volist}
		<div class="sum"><span class="num">{$y+$t}</span>/30</div>
	</div>
	{/volist}
</div>
<div class="foot clear">
	<button class="save fl" onclick="saveAnswer()" >保存</button>
	<button class="submit fl" onclick="submitAnswer()">提交</button>
</div>
<div class="suc">
	<div class="timer"></div>
	<div class="up">上传中...</div>
</div>
{/block}

{block name="script"}
<script>
	$(function(){
		var u = navigator.userAgent;
		var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1;
		var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
		if(isiOS){
			//ios下的样式差异
			$('.option' ).css({'top':'5px','line-height':'18px'});
			$('.opt').css({'margin-left':'6px'});
		}
      //  同级触发input点击的事件
        $('.option,.opt' ).on('click',function(){
            var it = $(this).siblings('input');
//			var it = $(this).parent('.option_');
            it.click();
            if(it.attr('type')== 'radio'){
                //单选需要二次触发
                if(it.prop('checked')){
                    it.next('.option').addClass('active' );
                    it.parent('.option_' ).siblings('.option_' ).find('.option' ).removeClass('active');
                }
            }else if(it.attr('type')== 'checkbox'){
                //ios多选二次触发
                it.next('.option').toggleClass('active');
            }
        });
//		选中样式变化
        $("input[type=radio]").on('click',function(e){
            var it = $(this);
            if(it.prop('checked')){
                it.next('.option').addClass('active' );
                it.parent('.option_' ).siblings('.option_' ).find('.option' ).removeClass('active');
            }
        });

        $('input[type=checkbox]').on('click',function(e){
            var it = $(this);
            it.next('.option').toggleClass('active');
        });
		//退出提示
		isOut();
	});
	var objNow=1;//退出事件
	var isAll = true;//是否全部完成
	window.confirm = function(name){
		//隐藏提示框的url,返回按钮结果
		var iframe = document.createElement("IFRAME");
		iframe.style.display="none";
		iframe.setAttribute("src", 'data:text/plain,');
		document.documentElement.appendChild(iframe);
		var result = window.frames[0].window.confirm(name);
		iframe.parentNode.removeChild(iframe);
		return result;
	};
	//退出提示
	function isOut(){
		pushHistory();
		setTimeout(function(){
			window.addEventListener("popstate", function(e) {
				if(objNow){
					var r=confirm("您未保存，是否离开当前页面");
					if (r==true){
						window.history.go(-1);
					}else{
						pushHistory();
					}
				}else{
					window.history.go(-1);
				}
			}, false);
		},200)
	}
	//防止恶意刷新
	function pushHistory(){
		var sta = {
			title: "title"
		};
		if( window.history.state === null )
		{
			window.history.pushState( sta, "title" );
		}
	}
	//保存
	function saveAnswer(){
		var up = $('.up');
		var suc = $('.suc');
		var timer = $('.timer');
		var answer =getAnswer();
		$.ajax({
			type:"post",
			url:"{:Url('Learn/save')}",
			data:{arr:answer,arrId:getDataID()},
			success:function(e){
				suc.fadeIn();
				setTimeout(function(){
					timer.fadeOut();
					up.text('保存成功');
					setTimeout(function(){
						objNow=null;
						window.history.go(-1);
					},1000)
				},2000);
			}
		});
	}
	//提交
	function submitAnswer(){
		isAll = true;
		var up = $('.up');
		var suc = $('.suc');
		var timer = $('.timer');
		var answer = getAnswer();
		objNow=null;
		if(isAll){
			$.ajax({
				type:"post",
				url:"{:Url('Learn/submits')}",
				data:{arr:answer,arrId:getDataID()},
				success:function(e){
					suc.fadeIn();
					setTimeout(function(){
						objNow=null;
						timer.fadeOut();
						up.text('提交成功');
						setTimeout(function(){
							window.location.href= "{:Url('Learn/score')}";
						},1000)
					},2000);
				}
			});
		}else{
			var msg = confirm('您未全部完成，是否确定提交');
			if(msg){
				$.ajax({
					type:"post",
					url:"{:Url('Learn/submits')}",
					data:{arr:answer,arrId:getDataID()},
					success:function(e){
						suc.fadeIn();
						setTimeout(function(){
							objNow=null;
							timer.fadeOut();
							up.text('提交成功');
							setTimeout(function(){
								window.location.href= "{:Url('Learn/score')}";
							},1000)
						},2000);
					}
				});
			}else{
				objNow=1;
			}
		}
	}
	function getDataID(){
		var list=$('.list');
		var arr=[];
		for(var i=0;i<list.length;i++){
			arr.push(list.eq(i).attr('data-id'));
		}
		return arr;
	}
	//返回答案的数组
	function getAnswer(){
		var answer = [];
		var list = $('.list' );
		var len = list.length;
		for(var i = 0;i < len ;i++){
			var checked = list.eq(i).find('input:checked');
			var len_a = checked.length;
			if(len_a === 0){
				isAll = false;
				answer.push(0);
			}else if(len_a === 1){
				answer.push(checked.val())
			}else{
				var it = [];
				checked.each(function(){
					it.push($(this).val());
				});
				answer.push(it)
			}
		}
		return answer;
	}
</script>
{/block}