{extend name="public/pure"}

{block name="style"}
<title>网上党校</title>
<style>
    body{
        background: #f1f1f1;
    }
    .content a{
        display: block;
        width:90%;
        height:30vh;
        text-align: center;
        margin:calc(9vh / 4) auto;
        border-radius: 5px;
        position: relative;
    }
    .content a img{
        width:100%;
        height:30vh;
        border-radius: 10px;
        -moz-box-shadow:0px 2px 10px rgba(0,0,0,0.6);
        -webkit-box-shadow:0px 2px 10px rgba(0,0,0,0.6);
        box-shadow:0px 2px 10px rgba(0,0,0,0.6);
    }
    .content a span{
        position: absolute;
        color: #fff;
        font-size: 0.42rem;
        left:0.5rem;
        height:5vh;
        line-height:5vh;
    }

</style>
{/block}

{block name="body"}
<div class="content">
    <a href="{:Url('Learn/lesson')}">
        <span>两学一做</span>
        <img src="/home/images/learn/index2.png">
    </a>
    <a href="{:Url('Learn/game')}">
        <span>在线答题</span>
        <img src="/home/images/learn/index3.png">
    </a>
    <a href="{:Url('Learn/redcollection')}">
        <span>红色珍藏</span>
        <img src="/home/images/learn/index1.png">
    </a>
</div>
{/block}

{block name="script"}
<script>
    mui(".content").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });
</script>
{/block}