{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/learn/film.css">
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<div class="mui-slider-group">
			<div class="search">
				<span class="fa fa-search"></span>
				<input type="text" placeholder="输入电影名称">
			</div>
			<div class="results"></div>
			<div class="lists-title clear">
				经典热播
			</div>
			<div class="lists clear">
				{volist name="list" id="vo"}
				<a href="{:Url('Redcollection/filmdetail?id='.$vo['id'])}" class="list fl clear">
					<img src="{$vo.front_cover|get_cover='path'}" alt="红色电影" class="list-img">
					<div class="list-title limit">{$vo.title}</div>
					<div class="list-summary limit">{$vo.introduction}</div>
				</a>
				{/volist}
			</div>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script>
$('title').text('红色电影');
$(function(){
	//搜索
	var search = $('.search>input');
	var lock = false;
	search.on('compositionstart',function(){
		lock = true;
	});
	search.on('compositionend',function(){
		lock = false;
	});
	search.on('input',function(){
		var this_ = this;
		if(!lock){
			var val = $(this_ ).val();
			var html = '';
			$.ajax({
				type:"post",
				url: "{:Url('Redcollection/filmserch')}",
				data:{
					val:val
				},
				beforeSend: function(XMLHttpRequest){},
				success:function(data){
					var result = data.data;
					var url = '';
					if(!data.data){
						html +=
								'<div class="result limit">无搜索结果</div>'
					}
					for(var obj in result){
						html+= '<a href=\"/home/Redcollection/filmdetail?id='+obj+'\" class="result limit">'+result[obj]+'</a>';
					}
					$('.results' ).html(html);
				}

			});
		}
	});
});


window.onload = function () {
	if ($(".lists a").length < 9) {
		mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
	} else {
		mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
	}
};
mui.init({
	pullRefresh : {
		container: "#refreshContainer",
		up : {
			callback : loadScroll
		}
	}
});
function loadScroll() {
	var len = $(".lists a").length;
	$.ajax({
		type: "post",
		url: "{:Url('Redcollection/morefilm')}",
		data: {
			length: len
		},
		beforeSend: function(XMLHttpRequest){
		},
		success:function(data){
			addCourse(data);
			if(data.code == 1){
				var dataLen =data.data.length;
				console.log(dataLen);
				if(dataLen == 9){
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
				}else if (dataLen == 0) {
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
				}else{
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
				}
			}else{
				mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
			}
		},
		error: function () {
			mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
		}
	})
}
function addCourse(data) {
	console.log(data);
	var html = '';
	var lists = data.data;
	var len = lists.length;
	for(var i = 0; i< len;i++){
		var list = lists[i];
		html +=
				'<a href="/home/Redcollection/filmdetail/id/'
				+list.id
				+'.html" class="list fl clear">'
				+'<img src="'
				+list.path
				+'" alt="红色电影" class="list-img">'
				+'<div class="list-title limit">'
				+list.title
				+'</div>'
				+'<div class="list-summary limit">'
				+list.introduction
				+'</div>'
				+'</a>';
	}
	$(".lists" ).append(html);
}
mui("#refreshContainer").on("touchstart","a",function(){
	$(this).css("backgroundColor","rgba(0,0,0,.1)");
}).on("touchend","a", function () {
	$(this).css("backgroundColor","#fff");
});
mui("#refreshContainer").on("tap","a",function(){
	var url = this.getAttribute("href");
	window.location.href = url;
})
</script>
{/block}