{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/learn/music.css">
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<div class="mui-slider-group">
			<div class="lists">
				{volist name="list" id="vo"}
				<a href="{:Url('Redcollection/musicdetail?id='.$vo['id'])}" class="list">
					<img src="{$vo.front_cover|get_cover='path'}" alt="红色歌曲" class="music-img">
					<div class="content">
						<div class="title limit_">{$vo.title}</div>
						<div class="note clear">
							<span class="scan fl">{$vo.views}</span>
							<span class="fr">{$vo.create_time|time_format='Y-m-d'}</span>
						</div>
					</div>
				</a>
				{/volist}
			</div>
		</div>
	</div>
</div>

{/block}

{block name="script"}
<script>
    $('title' ).text('歌曲推荐');
    window.onload = function () {
        if ($(".lists a").length < 8) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    };
    mui.init({
        pullRefresh : {
            container: "#refreshContainer",
            up : {
                callback : loadScroll
            }
        }
    });
    function loadScroll() {
        var len = $(".lists a").length;
        $.ajax({
            type: "post",
            url: "{:Url('Redcollection/moremusic')}",
            data: {
                length: len
            },
            beforeSend: function(XMLHttpRequest){
            },
            success:function(data){
                console.log(data);
                addCourse(data);
                if(data.code == 1){
                    var dataLen =data.data.length;
                    if(data.data.length == 8){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }
    function addCourse(data) {
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            html +=
                '<a href="/home/Redcollection/musicdetail/id/'+list.id+'.html" class="list middle">'+
                '<img src='+list.path+' alt="红色歌曲" class="music-img">'+
                '<div class="content">'+
                '<div class="title limit_">'+list.title+'</div>'+
                '<div class="note clear">'+
                '<span class="scan fl">'+list.views+'</span>'+
                '<span class="fr">'+list.time+'</span>'+
                '</div>'+
                '</div>'+
                '</a>';
        }
        $(".lists" ).append(html);
    }
    mui("#refreshContainer").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });
    mui("#refreshContainer").on("tap","a",function(){
        var url = this.getAttribute("href");
        window.location.href = url;
    });
</script>
{/block}