{extend name="public/common"}

{block name="style"}
<title>在线答题</title>
<link rel="stylesheet" href="/home/sass/stylesheets/learn/game.css">
{/block}

{block name="body"}
<div class="score">
    <span>{$score}</span>
    <span>{$num}</span>
    <a href="{:Url('Learn/errors')}"  alt="查看错题"></a>
</div>
<!--<div class="content">-->
    <!--<p class="start clear">我的得分:<span style="font-size: large"></span></p>-->
    <!--<a class="continue" href="{:Url('Constitution/errors')}">查看错题</a>-->
<!--</div>-->
<div class="foot"></div>

{/block}

{block name="script"}
<script>
    isOut();
    function isOut(){
        pushHistory();
            window.addEventListener("popstate", function(e) {
                    window.history.go(-3);
            }, false);
    }

    //防止恶意刷新
    function pushHistory(){
        var sta = {
            title: "title"
        };
        if( window.history.state === null )
        {
            window.history.pushState( sta, "title" );
        }
    }
</script>
{/block}