/*banner*/
.banner {
    width: 100vw;
    height: 50vw;
}
.banner img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
/*main*/
.main {
    width: 94vw;
    margin: 4vw auto;
    padding: 4vw 2vw;
    border: 1px solid #d59392;
    border-radius: 2.7vw;
    box-shadow: 1px 1px 1px #d59192;
    position: relative;
}
.title {

    /*width: 40vw;*/
    /*margin: 0 auto;*/
    /*border-bottom: 1px solid #d43f3a;*/
    text-align: center;
}
.title p {
    font-size: .42rem;
    font-weight: 600;
    text-align: left;
    width: auto;
    display: inline-block;
    color: #d43f3a;
}
.title:after {
    content: "";
    width: 40vw;
    height: 1px;
    background-color: #d43f3a;
    margin: 1.6vw auto;
    display: inherit;
}
.content {
    padding-top: 2.7vw;
    padding-bottom: 10.8vw;
}
.content p {
    text-indent: 2em;
    font-size: .37rem;
    line-height: 6.8vw;
    color: #333;
}
.btn {
    position: absolute;
    width: 35vw;
    bottom: -9.6vw;
    left: 50%;
    margin-left: -17.5vw;
    background-color: orange;
    border-radius: 50%;
    height: 19.2vw;
}
.btn a {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #fff;
    padding: 1.6vw 0;
}
.btn a span {
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: .42rem;
    text-shadow: 1px 1px 1px red;
    line-height: 6vw;
}
.btn a span:last-of-type {
    margin-top: .8vw;
}
