{extend name="public/common"}

{block name="style"}
<title>党建动态</title>
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/css/news/news.css">
{/block}

{block name="body"}
<div class="banners">
	<div class="swiper-container">
		<div class="imgs swiper-wrapper">
			{volist name="recommend" id="re"}
			<div class="banner swiper-slide">
				<a href="{:Url('News/detail?id='.$re['id'])}">
					<img src="{$re['front_cover']|get_cover='path'}" alt="{$re.title}">
					<div class="title_ limit">{$re['title']}</div>
				</a>
			</div>
			{/volist}
		</div>
	</div>
</div>
<!--新闻列表-->
<div class="lists">
	{volist name="list" id="vo"}
	<a class="list clear" href="{:Url('News/detail?id='.$vo['id'])}">
		<div class="fl">
			<img src="{$vo['front_cover']|get_cover='path'}" alt="{$vo.title}" style="width: 90px;height: 60px">
		</div>
		<div class="fr lr">
			<div class="title limit_">{$vo.title}</div>
			<div class="clear">
				<span class="fl">{$vo.create_time|time_format='Y-m-d'}</span>
				<span class="fr">详情</span>
			</div>
		</div>
	</a>
	{/volist}
</div>
<div class="tip"></div>
<div class="loading hidden">
	<div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
$(function(){
	//模块标题
	//reset
	var txt;
	var len = $(".list" ).length;
	if(len == 0){
		$('body' ).html('<div class="default"><img src="/home/images/notice/nomessage.png" alt="暂无消息"> </div>');
	}else if(len >= 6){
		$('.tip' ).text('上拉加载更多');
		//上拉加载
		loadScroll();
	}
	//轮播
	var mySwiper = new Swiper('.swiper-container', {
		autoplay: 3000,
		loop:true,
		autoplayDisableOnInteraction:false,
	})
});
function loadScroll(){
	$(window ).off("scroll" ).on("scroll",function(){
		var dh = $(document).height();
		var end = $(window).height() + $(window ).scrollTop();
		var len = $(".list" ).length;
		var tip = $(".tip");
		var loading = $('.loading');
		if(dh == end){
			$.ajax({
				type:"post",
				url:"{:Url('News/listmore')}",
				data:{
					length:len
				},
				beforeSend: function(XMLHttpRequest){
					tip.hide();
					loading.toggleClass('hidden');
				},
				success:function(data){
					loading.toggleClass('hidden');
					tip.show();
					if(data.code == 1){
						addNews(data);
						var dataLen =data.data.length;
						if(data.data.length == 5){
							tip.text('上拉加载更多');
						}
					}else{
						tip.text('没有更多了');
						$(window ).off("scroll");
					}
				}
			})
		}
	})
}
function addNews(data){
	var html = '';
	var lists = data.data;
	var len = lists.length;
	for(var i = 0; i< len;i++){
		var list = lists[i];
		html +=
				'<a class="list clear" href="/home/news/detail/id/'+list.id+'.html">'+
				'<div class="fl">'+
				'<img src="'+ list.src+'" alt="图片">'+
				'</div>'+
				'<div class="fr lr">'+
				'<div class="title">'+list.title+'</div>'+
				'<div class="clear">'+
				'<span class="fl">'+ list.time+'</span>'+
				'<span class="fr">详情</span>'+
				'</div>'+
				'</div>'+
				'</a>'
	}
	$(".lists" ).append(html);
}
</script>
{/block}