{extend name="public/common"}

{block name="style"}
<title>党建动态</title>
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/css/news/news.css">
{/block}

{block name="body"}
<div class="banners">
	<div class="swiper-container">
		<div class="imgs swiper-wrapper">

			<div class="banner swiper-slide">
				<a href="javascript:;">
					<img src="/home/images/feedback/feedback.jpg" alt="图片">

				</a>
			</div>

		</div>
	</div>
</div>
<div class="tabs">
	<span class="tab active">新闻聚焦</span>
	<span class="tab">各地动态</span>
	<span class="tab">意见文件</span>
</div>
<!--新闻聚焦-->
<div class="notice">
	{empty name="list1"}
	<div class="default"><img src="/home/images/notice/nomessage.png" alt="暂无消息"> </div>
	{else/}
	<div class="lists">
		{volist name="list1" id="vo"}
		<a class="list clear" href="{:Url('News/detail?id='.$vo['id'])}">
			<div class="fl">
				<img src="{$vo['front_cover']|get_cover='path'}" alt="{$vo.title}" style="width: 90px;height: 60px">
			</div>
			<div class="fr lr">
				<div class="title limit_">{$vo.title}</div>
				<div class="clear">
					<span class="fl">{$vo.create_time|time_format='Y-m-d'}</span>
					<span class="fr">详情</span>
				</div>
			</div>
		</a>
		{/volist}
	</div>
	{/empty}
</div>
<!--各地动态-->
<div class="notice">
	{empty name="list2"}
	<div class="default"><img src="/home/images/notice/nomessage.png" alt="暂无消息"> </div>
	{else/}
	<div class="lists">
		{volist name="list2" id="vo"}
		<a class="list clear" href="{:Url('News/detail?id='.$vo['id'])}">
			<div class="fl">
				<img src="{$vo['front_cover']|get_cover='path'}" alt="{$vo.title}" style="width: 90px;height: 60px">
			</div>
			<div class="fr lr">
				<div class="title limit_">{$vo.title}</div>
				<div class="clear">
					<span class="fl">{$vo.create_time|time_format='Y-m-d'}</span>
					<span class="fr">详情</span>
				</div>
			</div>
		</a>
		{/volist}
	</div>
	{/empty}
</div>
<!--意见文件-->
<div class="notice">
	{empty name="list3"}
	<div class="default"><img src="/home/images/notice/nomessage.png" alt="暂无消息"> </div>
	{else/}
	<div class="lists">
		{volist name="list3" id="vo"}
		<a class="list clear" href="{:Url('News/detail?id='.$vo['id'])}">
			<div class="fl">
				<img src="{$vo['front_cover']|get_cover='path'}" alt="{$vo.title}" style="width: 90px;height: 60px">
			</div>
			<div class="fr lr">
				<div class="title limit_">{$vo.title}</div>
				<div class="clear">
					<span class="fl">{$vo.create_time|time_format='Y-m-d'}</span>
					<span class="fr">详情</span>
				</div>
			</div>
		</a>
		{/volist}
	</div>
	{/empty}
</div>
<div class="tip"></div>
<div class="loading hidden">
	<div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script src="/home/js/reset.js"></script>
<script>
$(function(){
	//初始化数据
	var ntc = $(".notice");
	var tab = $(".tabs .tab");
	var co = getCookie("type") || 0;
	co = parseInt(co);
	tab.eq(co).addClass("active").siblings(".tab").removeClass("active");
	ntc.eq(co).removeClass("hidden").siblings(".notice").addClass("hidden");
	var len  = ntc.eq(co).find(".list").length;
	if(len >= 6 ){
		$('.tip').text('上拉加载更多');
		loadScroll(co + 1);
	}
	//tab切换
	$(".tabs").on('click','.tab',function () {
		var ntc = $(".notice");
		var index = $(this).index();
		$(this).addClass("active").siblings(".tab").removeClass("active");
		$(".notice").eq(index).removeClass("hidden").siblings(".notice").addClass("hidden");
		var len = ntc.eq(index).find('.list').length;
//		console.log(len);
		if ( len >= 6 ) {
			$(".tip").show();
			$(".tip").text('上拉加载更多');
			loadScroll(index + 1);
		}else{
			$('.tip').hide();
			$(window ).off("scroll" );
		}
		//使用示例
		setCookie("type",index);
	})
});
function loadScroll(type){
	if(!type){
		return;
	}
	$(window ).off("scroll" ).on("scroll",function(){
		var ntc = $(".notice");
		var dh = $(document).height();
//		console.log("dh"+dh);
		var end = $(window).height() + $(window ).scrollTop();
		var len  = ntc.eq(type - 1).find(".list").length;
		var tip = $(".tip");
		var loading = $('.loading');
		if(dh == end){
			$.ajax({
				type:"post",
				url:"{:Url('News/listmore')}",
				data:{
					length:len,
					type:type
				},
				beforeSend: function(XMLHttpRequest){
					tip.hide();
					loading.toggleClass('hidden');
				},
				success:function(data){
					loading.toggleClass('hidden');
					tip.show();
					if(data.code == 1){
						addNews(data,type);
						var dataLen =data.data.length;
						if(data.data.length == 5){
							tip.text('上拉加载更多');
						}
					}else{
						tip.text('没有更多了');
						$(window ).off("scroll");
					}
				}
			})
		}
	})
}
function addNews(data,type){
	var html = '';
	var lists = data.data;
	var len = lists.length;
	var ntc = $(".notice");
	if(type){
		type =parseInt(type);
	}else{
		return;
	}
	for(var i = 0; i< len;i++){
		var list = lists[i];
		html +=
				'<a class="list clear" href="/home/news/detail/id/'+list.id+'.html">'+
				'<div class="fl">'+
				'<img src="'+ list.src+'" alt="图片">'+
				'</div>'+
				'<div class="fr lr">'+
				'<div class="title">'+list.title+'</div>'+
				'<div class="clear">'+
				'<span class="fl">'+ list.time+'</span>'+
				'<span class="fr">详情</span>'+
				'</div>'+
				'</div>'+
				'</a>'
	}
	ntc.eq(type - 1).children(".lists").append(html);
}
</script>
{/block}