//list base variable
$border-bottom:1px solid #f1f1f1;
$title-color:#333;
$title-size:0.38rem;
$span-color:#666;
$span-size:0.32rem;
$span-3-width:45%;

@mixin line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin clamp{
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
}

//