@import "compass/css3";
@import "common";

$box-title-size:0.36rem;
$box-note-size:0.32rem;
$box-line-height:0.6rem;
$box-background:#fff;
$box-note-f-top:0.15rem;

.banner{
  width:100%;
  height:100vw;
  .box{
    position: relative;
    display: none;
    width: 70%;
    height: calc(61vw + 1.4rem);
    margin: 0 auto;
    @include border-radius(8px);
    box-shadow: 0 0 36px #5d5d5d;
    .box_up{
      display: block;
      width: 70vw;
      height: 61vw;
      margin: -0.01rem auto;
      padding: 10px 10px 0 10px;
      background: $box-background;
      @include border-top-left-radius(8px);
      @include border-top-right-radius(8px);
      img{
        width: 100%;
        height: 45vw;
        overflow: hidden;
        @include border-radius(8px);
      }
      .title{
        width: 100%;
        color: $title-color;
        line-height: $box-line-height;
        font-size: $box-title-size;
        @include clamp;
        display: block!important;
      }
      .note{
        color: $span-color;
        font-size: $box-note-size;
        line-height:$box-line-height;
        .fl{
          width:60%;
          margin-top: $box-note-f-top;
          @include clamp;
        }
        .fr{
          display: inline-block;
          float: right;
          margin-top:$box-note-f-top;
        }
        &:after{
          display: block;
          content: '';
          clear: both;
        }
      }
    }
    .box_down{
      width: 70vw;
      height: 1.4rem;
      margin: 0 auto;
      padding: 0.2rem;
      line-height: 1.2rem;
      background:$box-background;
      @include border-bottom-left-radius(8px);
      @include border-bottom-right-radius(8px);
      .clear{
        width: 100%;
        border-top: 1px solid #dedede;
        height: 1rem;
        .scan{
          float: left;
          margin: 0.35rem auto;
          display: inline-block;
          background: url(/home/images/learn/scan.png) 0.02rem 0.05rem no-repeat;
          background-size: 0.4rem 0.4rem;
          padding-left: 0.5rem;
          color: #4fc464;
          line-height: 0.55rem;
          font-size: $box-note-size;
        }
      }
      .fr{
        height: $box-line-height;
        line-height: $box-line-height;
        width: 1.2rem;
        margin: 0.25rem auto;
        background: #f5f5f5;
        border: $border-bottom;
        color: #4fc464;
        text-align: center;
        font-size: $box-note-size;
        @include border-radius(8px);
        position: absolute;
        right: 10px;
      }
    }
    .bg{
      position: absolute;
      top: -0.6rem;
      left: -15vw;
      width: 100vw;
      height: 100vw;
      @include filter(8px);
      z-index: -1;
      overflow: hidden;
    }
  }
  .tag{
    height: $box-line-height;
    line-height: $box-line-height;
    color: #666;
    font-size: $box-note-size;
    text-align: center;
  }
}

.lists{
  background: #eee;
  .list{
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #ffffff;
    text-align: center;
    overflow: hidden;
    .tab{
      position: absolute;
      top: 0.4rem;
      left: 0.15rem;
      width: 1.2rem;
      height: 0.8rem;
      background: url(/home/images/learn/bg_blue.png) no-repeat;
      background-size: 1.2rem 0.8rem;
      color: #ffffff;
      font-size: 0.32rem;
      text-align: center;
      line-height: 0.5rem;
    }
    img{
      width: 100%;
      height: 48vw;
      @include border-radius(8px);
    }
    .title{
      color:$title-color;
      font-size:$box-title-size;
      line-height: 0.58rem;
      @include line-clamp;
    }
    .study{
      display: inline-block;
      background: url(/home/images/learn/people.png) 0 2px no-repeat;
      background-size: 0.4rem 0.4rem;
      padding-left: 0.46rem;
      color: #999999;
      font-size: 0.34rem;
      text-align: center;
    }
  }
  .tag{
    height: $box-line-height;
    line-height: $box-line-height;
    color: #666;
    font-size: $box-note-size;
    text-align: center;
  }
}

.default{
  img{
    width: 16vw;
    position: absolute;
    left: 50%;
    margin-top: 50%;
    margin-left: -8vw;
  }
}

