
$tab-height:8vw;
$tab-top:0;
$tab-background:#f7f7f7;
$tab-color:#333;
$tab-size:0.4rem;
$border-right:1px solid #f1f1f1;

/*tab*/
#tab{
  position: absolute;
  top:$tab-top;
  height:$tab-height;
  background:$tab-background;
  color: $tab-color;
  font-size:$tab-size;
  z-index: 999;
  a{
    position: relative;
    line-height:$tab-height;
    border-right:$border-right;
    border-bottom:$border-right;
    &:last-child{
      border-right:none;
    }
    &:active{
      background: rgba(0,0,0,.1);
    }
  }
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
  color: #fff;
}

.mui-segmented-control .mui-control-item{
  line-height: 8vw;
}
#refreshContainer{
  margin-top: 8vw;
}
