@import "common";

.list{
  ul{
    a{
      display: block;
      position: relative;
      padding: 2vw 3vw;
      line-height: 0.5rem;
      border-bottom: $border-bottom;
      p{
        font-size: $title-size;
        color: $title-color;
        @include line-clamp;
      }
      span{
        position: absolute;
        bottom:2vw;
        font-size: $title-size;
        color: $title-color;
        &:nth-child(2){
          position: absolute;
          width:70%;
          font-size: $span-size;
          color:$span-color;
          @include clamp;
        }
        &:nth-child(3){
          font-size: $span-size;
          color:$span-color;
          right:3vw;
        }
      }
    }
  }
}
