@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.8), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
@keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.8), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
/*文学*/
.book {
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 13px;
}
.book .title {
  color: #333333;
  text-align: center;
  line-height: 40px;
  font-size: 0.48rem;
  font-weight: 600;
}
.book .note {
  color: #999999;
  font-size: 0.32rem;
  line-height: 30px;
}
.book .note span {
  margin-right: 10px;
}
.book .content {
  width: 100%;
  overflow: hidden;
  color: #666666;
}
.book .content .book-img {
  display: inline-block;
  width: 35vw;
  height: 50vw;
  margin: 10vw 29vw 10vw 29vw;
}
.book .content .detail {
  text-align: center;
  line-height: 30px;
}
.book .content .reads {
  width: 22vw;
  height: 1rem;
  background: #f03b41;
  margin: 12vw auto;
  color: #ffffff;
  line-height: 1rem;
  text-align: center;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.book .content .isread {
  background: #9a9a9a;
}
.book .content .brief {
  position: relative;
  top: 0;
  left: 0;
  width: 30.5vw;
  height: 9vw;
  background: #f03b41;
  margin: 5vw 0;
  color: #ffffff;
  font-size: 0.37rem;
  line-height: 9vw;
  text-align: center;
}
.book .content .brief:before {
  position: absolute;
  top: -3px;
  left: 0;
  content: '';
  width: 92vw;
  height: 2px;
  background: #f03b41;
}
.book .content .brief:after {
  position: absolute;
  top: 0;
  left: 30.5vw;
  content: '';
  width: 0;
  height: 0;
  border-top: 9vw solid #f03b41;
  border-right: 9vw solid transparent;
}
.book .content .bookdetail {
  width: 100%;
  padding: 4vw;
  background: #fcfcfc;
  line-height: 24px;
  font-size: 0.34rem;
}
.book .content .bookdetail span {
  background: transparent!important;
}
.book .content .authordetail {
  width: 92vw;
  margin-bottom: 6vw;
}
.book .content .authordetail .msg {
  display: inline-block;
  width: 26vw;
  margin-right: 3vw;
  text-align: center;
}
.book .content .authordetail .msg .authorimg {
  width: 20vw;
  height: 20vw;
  margin-left: 1vw;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.book .content .authordetail .msg .name {
  color: #97080f;
  font-size: 0.48rem;
  line-height: 50px;
}
.book .content .authordetail .msg .time {
  color: #999999;
}
.book .content .authordetail .text {
  display: inline-block;
  width: 60vw;
  padding: 0 0 5vw 0;
  border-bottom: 1px solid #f1f1f1;
  line-height: 24px;
}
.book .content .authordetail .text span {
  background: transparent!important;
}
.book .content .words {
  width: 92vw;
  padding: 4vw;
  background: #fcfcfc;
  line-height: 24px;
  text-indent: 2em;
}
.book .content .words .author {
  text-align: right;
}
.book .content .note {
  color: #666666;
  font-size: 0.37rem;
  float: right;
}
.book .content .note span {
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  line-height: 40px;
}
.book .content .note span:last-child{
  margin-right: 0 ;
}
.book .content .note .read {
  background: url('/home/images/learn/scan_.png') 0 12px no-repeat;
  background-size: 15px 15px;
  padding-left: 18px;
}
.book .content .note .good {
  background: url('/home/images/learn/good.png') 0 12px no-repeat;
}
.book .content .note .good_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/learn/good_.png') 0 12px no-repeat;
}
.book .content .note .isgood {
  background-size: 15px 15px;
  padding-left: 18px;
}
/*评论*/
.comment{
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.comment .sum {
  height: 0.6rem;
  padding-left: 0.3rem;
  background: #fcfcfc;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  font-size: 0.32rem;
  line-height: 0.6rem;
}
.comment .lists{
  padding-bottom:20vw;
}
.comment .lists .list {
  width: 100%;
  min-height:80px;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
  overflow: hidden;
}
.comment .lists .list .fl img {
  float: left;
  height: 12vw;
  width: 12vw;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-right: 0.28rem;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.comment .lists .list .mid {
  width: 100%;
  margin-top: 0.28rem;
}
.comment .lists .list .mid .name {
  color: #999;
  font-size: 0.38rem;
  margin-left: 15vw;
  margin-bottom: 0.2rem;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comment .lists .list .mid .content {
  width: 100%;
  word-break: break-all;
  font-size: 0.38rem;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-left: 15vw;
  line-height:0.5rem;
}
.comment .lists .list .mid .time {
  font-size: 0.32rem;
  line-height: 5.3vw;
  color: #999;
  margin-left:15vw;
}
.comment .lists .list .fr {
  color: #999999;
  font-size: 0.32rem;
}
.comment .lists .list .good {
  background: url('/home/images/detail/good.png') 0 center no-repeat;
}
.comment .lists .list .good_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/detail/good_.png') 0 center no-repeat;
}
.comment .lists .list .isgood {
  height:0.38rem;
  background-size: 0.38rem 0.38rem;
  padding-left: 0.53rem;
  position: absolute;
  top:0.29rem;
  right:0;
}

/*底部*/
.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  border-top: 1px solid #dadada;
  padding:0 3vw;
  background: #ffffff;
  font-family: "Microsoft YaHei", sans-serif;
  z-index: 5;
}
.bottom .star {
  background: url('/home/images/learn/star-border.png') 20px 12px no-repeat;
}
.bottom .star_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/learn/star-yellow.png') 20px 12px no-repeat;
}
.bottom .collect {
  width: 60px;
  height: 100%;
  font-size: 0.32rem;
  text-align: center;
  background-size: 20px 20px;
  padding-top: 24px;
}
.bottom .myword input {
  vertical-align: middle;
  height: 30px;
  width: 94vw;
  margin: 7px 0;
  padding-left: 10px;
  background: #fafafa;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
input::-webkit-input-placeholder{
  color: #000;
}
.bottom .send {
  width: 19vw;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 45px;
  text-align: center;
}
.bottom .send:active {
  background: #fafafa;
}
/*加载动画*/
.loading {
  width: 100%;
  height: 40px;
}
.typing_loader {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
  top: 17px;
  left: calc( 50vw - 15px );
}
.mui-pull-bottom-pocket{
  bottom: 15vw;
}
@media screen and (min-width:736px) and (max-width:1030px){
  .mui-pull-bottom-pocket{
    bottom: 11vw;
  }
}
