body {
  background: #f1f1f1;
}
/*tab*/
.tabs {
  width: 100vw;
  height: 11vw;
  padding: 2vw 0;
  background: #BF0301;
  margin-bottom: 1px;
}
.tabs .tab {
  display: inline-block;
  width: 32vw;
  height: 100%;
  font-size: .4rem;
  line-height: 7vw;
  text-align: center;
  color: #f1f1f1;
  border-right: 1px solid #e5e5e5;
}
.tabs .tab:last-of-type {
  border-right: 0;
}
.tabs .active {
  color: #e1a469;
}
.search {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 12vw;
  background: #f1f1f1;
}
.search>div {
  position: relative;
  width: 100%;
  height: 100%;
}
.search input {
  position: absolute;
  top: 50%;
  left: 3vw;
  width: 94vw;
  height: 8vw;
  -webkit-border-radius: 2vw;
  border-radius: 2vw;
  padding: 0 4vw 0 8vw;
  margin-top: -4vw;
}
.search .fa-search {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 6vw;
  color: #aeaeae;
  margin-top: -1.6vw;
  height: 3.2vw;
  line-height: 3.2vw;
}
.results {
  position: absolute;
  left: 0;
  top:2.7vw;
  z-index: 2;
  width: 100%;
  text-align: center;
}
.results .result {
  display: inline-block;
  width: 94vw;
  height: 9.1vw;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 6vw;
  line-height: 9.1vw;
  color: #666666;
  border-bottom: 1px solid #f1f1f1;
  text-align: left;
}
.swiper-slide a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 48vw;
}
.banner .banner-img {
  width: 100vw;
  height: 100vw;
}
.banner .banner-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 10.8vw;
  background: rgba(51, 51, 51, 0.6);
}
.banner .banner-info {
  position: absolute;
  bottom: 0;
  left: 4vw;
  width: 70%;
  height: 10.8vw;
  color: #ffffff;
  font-size: .4rem;
  line-height: 10.8vw;
}
.lists-title {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10.8vw;
  padding: 0 3vw;
  background: #ffffff;
  color: #666666;
  line-height: 10.8vw;
}
.lists-title:before {
  position: absolute;
  top: 3.2vw;
  left: 0;
  content: '';
  width: 1vw;
  height: 4vw;
  background: red;
}
.lists-title .fr {
  color: #333333;
  float: right;
}
.lists {
  display: inline-block;
  width: 100vw;
  padding: 0 4vw;
  background: #ffffff;
  /*justify-content: space-around;*/
}
.lists .list {
  display: inline-block;
  width: 27vw;
  margin-right: 4.2vw;
  margin-bottom: 2.66vw;
  /*height: 54.6vw;*/
}
.lists .list:nth-of-type(3n) {
  margin-right: 0;
}
.lists .list .list-img {
  width: 100%;
  height: 40vw;
  display: inline-block;
}
.lists .list .list-title {
  color: #333333;
  font-size: .42rem;
  line-height: 6.5vw;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.lists .list .list-summary {
  color: #999999;
  font-size: .32rem;
  line-height:4.1vw;
  /*height: 8vw;*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.listsline {
  margin-top: 10px;
}
.swiper-pagination-bullets {
  text-align: right;
  padding: 0 3vw;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.5vw;
  background: rgba(255, 255, 255, 0.95);
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.6);
}

