@charset "utf-8";

/*reset*/
body, div, hr, ul, ol, form, input, textarea, button, select { margin: 0; padding: 0; }
body { font-size: 63%; font-family: "Microsoft YaHei", sans-serif; }
a ,a:active,a:hover{ text-decoration: none; }
li { list-style: none; }
img { border: none; vertical-align: top; }
input, textarea ,select{ outline: none;border:none;}
textarea { resize: none; }
table { border-collapse: collapse; background-color: #ffffff; }

/*public*/
.hidden{
	display: none;
}
.clear {
	zoom: 1;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

a:active{
	background: #d61920;
}
body{
	background: #fde8d7;
}
/*导航栏*/
.top{
	width: 100vw;
	height: 12vw;
	background: #d61920;
	position: fixed;
	top:0;
	z-index: 5;
}

.top .tab{
	width: 50%;
	height: 12vw;
	line-height: 12vw;
	color:#ffffff;
	font-size: 0.4rem;
	text-align: center;
	/*padding-left: calc((100vw - 180px)/6);*/
	/*padding-right: calc((100vw - 180px)/6);*/
}
.top .tab a{
	color:#ffffff;

}
.tip{
	width: 100%;
	text-align: center;
	line-height: 500px;
	font-size: 0.53rem;
}
.text{
	width: 222px;
	height: 80px;
	position: fixed;
	z-index: -1;
	top:calc(50% - 95px);
	left:calc(50% - 111px);
}
.foot{
	width: 100%;
	height: 26.7vw;
	position: fixed;
	z-index: -1;
	bottom: 0;
	background: url("/home/images/learn/game1.png");
	background-size: 100% 100%;

}
.content{
	position: relative;
	margin-top:35vh;
	/*margin-left: calc(50% - 75px);*/
	margin-left:32%;
}
.start:visited,.continue:visited{
	color:#ffffff;
}
.start,.continue{
	display: block;
	width: 40.05vw;
	height:12vw;
	background: #d61920;
	line-height: 12vw;
	font-size: 0.53rem;
	text-align: center;
	color:#ffffff;
	text-decoration: none;
	-webkit-border-radius:7px;
	border-radius:7px;
	box-shadow:5px 5px 0 #a11108 ;
}
.start{
	position: absolute;
	top:0;

}
.continue{
	position: absolute;
	top:24vw;

}
.start:active,.continue:active{
	color:#ffffff;
	box-shadow: none ;
}
.start:active{
	top:5px;
	left:5px;
}
.continue:active{
	top:95px;
	left:5px;
}

/*分数页面*/
.score{
	width: 86.77vw;
	height: 66.75vw;
	background: url("/home/images/learn/sco1.png");
	background-size: 100% 100%;
	position: fixed;
	/*top:calc((100% - 300px)/2);;
	left:calc((100% - 325px)/2);*/
	top:25%;
	left:7%;
}
.score span{
	position: absolute;
	top:26vw;
	left:56.07vw ;
	color:#d10000;
	font-size: 0.8rem;
	font-weight: 600;
}
.score span:nth-child(2){
	top:38vw;
}
.score a{
	position: absolute;
	bottom:5.34vw;
	left:24vw ;
	width: 39.516vw;
	height: 13.884vw;
	background: url("/home/images/learn/sco2.png");
	background-size: 100% 100%;
}
@media screen and (min-width:320px) and (max-width:414px){
	.score span:nth-child(2){
		top:36vw;
	}
	.score span{
		position: absolute;
		top:24vw;
		left:56.07vw ;
		color:#d10000;
		font-size: 0.8rem;
		font-weight: 600;
	}
}
@media screen and (min-width:414px) and (max-width:768px){
	.score span:nth-child(2){
		top:36.8vw;
	}
	.score span{
		position: absolute;
		top:25.5vw;
		left:56.07vw ;
		color:#d10000;
		font-size: 0.8rem;
		font-weight: 600;
	}
}
.bg{
	display: block;
	height: 100vh;
	background: rgba(0, 0, 0, 0.30);
}