/*banner*/
@charset "utf-8";
.t_b {
    font-size: 1.8rem;
    font-weight: 600;
}
@-webkit-keyframes typing {
    0% {
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
    }
    25% {
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.8), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
    }
    75% {
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.8);
    }
}
@keyframes typing {
    0% {
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
    }
    25% {
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.8), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
    }
    75% {
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.8);
    }
}
.tag {
    height: 8vw;
    color: #666666;
    text-align: center;
    line-height: 8vw;
    font-size: .32rem;
}
body {
    background: #eeeeee;
}
.banner {
    width: 100%;
    height: 100vw;
}
.banner .box {
    position: relative;
    width: 70%;
    height: calc(64vw + 10.8vw);
    margin: 0 auto;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 0 36px #5d5d5d;
    display: none;
}
.banner .box .box_up {
    display: block;
    width: 70vw;
    height: 64vw;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    background: #ffffff;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;
}
.banner .box .box_up img {
    width: 100%;
    height: 45vw;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
}
.banner .box .box_up .title {
    color: #333333;
    line-height: 8vw;
}
.banner .box .box_up .note {
    color: #999999;
    font-size: .32rem;
    line-height: 26px;
}
.banner .box .box_down {
    width: 70vw;
    height: 10.8vw;
    margin: 0 auto;
    padding: 0 10px;
    background: #ffffff;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px ;
}
.banner .box .box_down .clear {
    width: 100%;
    border-top: 1px solid #dedede;
}
.banner .box .box_down .clear .scan {
    display: inline-block;
    height: 100%;
    background: url("/home/images/learn/scan.png") 2px 13px no-repeat;
    background-size: 15px 15px;
    padding-left: 20px;
    color: #4fc464;
    line-height: 10.8vw;
    font-size: .32rem;
}
.banner .box .box_down .clear .fr {
    height: 6.4vw;
    width: 50px;
    margin: 8px auto;
    background: #f5f5f5;
    border: 1px solid #f1f1f1;
    color: #4fc464;
    text-align: center;
    line-height: 6.4vw;
    font-size: .32rem;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.banner .box .bg {
    z-index: -1;
    position: absolute;
    top: -8vw;
    left: -15vw;
    width: 100vw;
    height: 100vw;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    overflow: hidden;
}
@media (max-width: 320px) {
    .banner .box {
        height: calc(68vw + 10.8vw);
    }
    .banner .box .box_up {
        height: 68vw;
    }
    .banner .box .box_up .title {
        color: #333333;
        line-height: 36px;
    }
}
/*tab*/
.header {
    width: 100vw;
    height: 11vw;
    padding: 2vw 0;
}
.tabs {
    width: 100vw;
    height: 11vw;
    padding: 2vw 0;
    background: #BF0301;
    margin-bottom: 1px;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 3vw;
}
.tabs .tab {
    display: inline-block;
    width: 31vw;
    height: 100%;
    font-size: .4rem;
    line-height: 7vw;
    text-align: center;
    color: #f1f1f1;
    border-right: 1px solid #e5e5e5;
}
.tabs .tab:last-of-type {
    border-right: 0;
}
.tabs .active {
    color: #e1a469;
}
body{
    height:100%;
    width:100%;
    overflow: hidden;
}
iframe{
    width:100vw;
    /*display:none;*/
    float:left;
    height:0;
}
