body {
    background-color: #F9F9F9;
}

/*
* time
*/
.time {
    height: .5rem;
    line-height: .5rem;
    font-size: .24rem;
    color: #999999;
}

/*
* orderList
*/
.orderList {
    margin-bottom: .1rem;
    background-color: #fff;
}
.orderList a {
    display: block;
    width: 100%;
    height: 100%;
}

.orderList .order {
    padding: .2rem .24rem;
}

.orderList .order .img {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: .24rem;
}

.orderList .order .img img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.orderList .order .titlePrice {
    width: 60%;
    height: 1.3rem;
    position: relative;
}

.orderList .order .titlePrice .title {
    margin-top: .15rem;
    font-size: .3rem;
    color: #333;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.orderList .order .titlePrice .price {
    color: #D21A1A;
    font-size: .24rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.orderList .order .num {
    margin-top: .15rem;
    color: #999999;
    font-size: .3rem;
}

.orderList .total {
    border-top: 1px solid #EBEBEB;
    line-height: .79rem;
    height: .79rem;
    text-align: right;
    color: #999999;
    font-size: .26rem;
    padding: 0 .24rem;
}

/*
* lists
*/
.lists {
    margin-bottom: .1rem;
    background-color: #ffffff;
}

.lists .list {
    line-height: .8rem;
    height: .8rem;
    border-bottom: 1px solid #EBEBEB;
    padding: 0 .25rem;
    color: #999;
    font-size: .26rem;
}

.lists .list:last-of-type {
    border: 0;
}

.lists .list.list_ {
    padding: 0 0 .42rem 0;
    height: auto;
}

.lists .list.list_ span {
    margin-left: .25rem;
}

.lists .list input {
    text-align: right;
    width: 70vw;
    line-height: calc(.8rem - 1px);
    border: 0;
    color: #333;
    font-size: .26rem;
    background-color: #fff;
}

.lists .list input:-moz-placeholder {
    color: #999;
    font-size: .26rem
}

.lists .list input::-moz-placeholder {
    color: #999;
    font-size: .26rem
}

.lists .list input:-ms-input-placeholder {
    color: #999;
    font-size: .26rem
}

.lists .list input:-ms-input-placeholder {
    color: #999;
    font-size: .26rem
}

.lists .list textarea:-moz-placeholder {
    color: #999;
    font-size: .26rem
}

.lists .list textarea::-moz-placeholder {
    color: #999;
    font-size: .26rem
}

.lists .list textarea:-ms-input-placeholder{
    color: #999;
    font-size: .26rem
}

.lists .list textarea:-ms-input-placeholder{
    color: #999;
    font-size: .26rem
}

.lists .list textarea {
    display: block;
    width: 100%;
    color: #333;
    font-size: .26rem;
    line-height: normal;
    padding: 0 .25rem;
    background-color: #fff;
}

/*
* orderBtn
*/
.orderBtn {
    box-shadow: 0 2px .16rem #ACACAC;
    width: 100%;
    height: 1.18rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    line-height: 1.18rem;
    padding: 0 .24rem;
}

.orderBtn .total {
    color: #999;
    font-size: .24rem;
}

.orderBtn span:first-of-type {
    color: #D21A1A;
    font-size: .26rem;
    margin-left: .27rem;
}

.orderBtn span:last-of-type {
    font-size: .4rem;
    color: #D21A1A;
}

.orderBtn .fr a {
    height: .7rem;
    line-height: .7rem;
    margin-top: .24rem;
    background-color: #D21A1A;
    border-radius: .35rem;
    display: inline-block;
    width: 2.37rem;
    text-align: center;
    color: #fff;
    font-size: .3rem;
}

/*
* popUp
*/
.popUp {
    display: none;
}

.popUp .shadow {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #000000;
    opacity: .6;
    z-index: 5;
    width: 100%;
}

.popUp .popContent {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    z-index: 10;
}

.popUp .popContent div {
    width: calc(100vw - 2rem);
    padding: .56rem .85rem .69rem 1.18rem;
    background-color: #ffffff;
    border-radius: .2rem;
}

.popUp .popContent div img {
    display: block;
    width: 100%;
}

.popUp .popContent div p {
    text-align: center;
    color: #666666;
    font-size: .3rem;
    margin-top: .56rem;
}

.popUp .popContent .cancel {
    display: block;
    width: .8rem;
    height: .8rem;
    margin: 1.14rem auto 0;
}

.content {
    margin-bottom: .85rem;
}

.takeCare {
    color: #999;
    font-size: .26rem;
    padding: 0 .25rem;
}

/*
* showbox
*/
.showbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
    background: rgba(0, 0, 0, 0.01);
    z-index: 20;
    display: none;
}

.loader {
    position: relative;
    margin: 70% auto 0;
    width: 100px;
}
.loader:before {
    content: '';
    display: block;
    padding-top: 50%;
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1rem;
    z-index: 25;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
@keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

/* payChoose*/
.payChoose {
    display: none;
}

.payChoose .shadow {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .6;
}

.payChoose .chooseList {
    position: fixed;
    z-index: 20;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
}

.payChoose .chooseList a {
    display: block;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    color: #333;
    font-size: .36rem;
    text-align: center;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
    padding-left: .36rem;
}

.payChoose .chooseList a i {
    position: absolute;
    left: 38%;
    top: 50%;
    transform: translateY( -50%);
    width: .36rem;
    height: .36rem;
}

.payChoose .chooseList a:first-of-type i {
    background: url("/home/images/common/zhifubao.png") center no-repeat ;
    background-size: .36rem .36rem;
}

.payChoose .chooseList a:nth-of-type(2) i {
    background: url("/home/images/common/weixin.png") center no-repeat ;
    background-size: .36rem .36rem;
}

.payChoose .chooseList a:last-of-type {
    border-bottom: 0;
}

/* chooseTig*/
.chooseTig .shadow {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .6;
}

.chooseTig {
    display: none;
}

.chooseTig .tig {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: calc(100vw - 2.3rem);
    transform: translate(-50%, -50%);
    border-radius: .3rem;
    padding: .32rem .4rem;
    text-align: center;
}

.chooseTig .tig p {
    text-align: center;
    margin: .35rem 0 .46rem;
    color: #666;
    font-size: .26rem;
    line-height: .36rem;
}

.chooseTig .chooseBtn {
    font-size: .26rem;
    color: #fff;
    padding: .15rem .61rem;
    background-color: #3A8CFB;
    border-radius: .35rem;
}