.list ul a {
  position: relative;
  display: block;
  padding: 2vw 3vw;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  height: 20vw;
}
.list ul a img {
  float: left;
  width: 24vw;
  height: 16vw;
  margin-right: 2vw;
}
.list ul a p {
  font-size: 0.38rem;
  color: #333;
  line-height: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.list ul a span {
  font-size: 0.32rem;
  color: #666;
}
.list ul a span:nth-child(3) {
  width: 45%;
  bottom: 2vw;
  position: absolute;
  color: #666;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list ul a span:nth-child(4) {
  position: absolute;
  right: 3vw;
  color: #666;
  bottom: 2vw;
}

@media screen and (device-width: 320px) {
  .list ul a span:nth-child(3), .list ul a span:nth-child(4) {
    bottom: 0 !important;
  }
}
