@charset "utf-8";
/*layout*/
 /*banner*/
.banner{
	position: relative;
	width: 100%;
	height: 50vw;
}
.banner img{
	width: 100%;
	height: 100%;
}
.banner .title_{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	padding-left: 13px;
	padding-right: 13px;
	background-color: rgba(0, 0, 0, 0.6);
	line-height: 40px;
	font-size: 1.6rem;
	color: #ffffff;
}
/*tab*/
.tabs {
	width: 100vw;
	height: 44px;
	padding: 8px 0;
	background: #f1f1f1;
}
.tabs .tab {
	display: inline-block;
	width: 32vw;
	height: 100%;
	color: #333333;
	font-size: 1.5rem;
	line-height: 28px;
	text-align: center;
	border-right: 1px solid #e5e5e5;
}
.tabs .tab:last-child {
	border-right: none;
}
.tabs .active {
	color: #fd6743;
}
 /*新闻列表*/
.list{
	display: block;
	width: 100%;
	padding-left: 13px;
	padding-right: 13px;
	border-bottom: 1px solid #dddddd;
	position: relative;
}
.list img{
	width: 24vw;
	height: 16vw;
	margin-top: 4vw;
	margin-bottom: 4vw;
	color: #666;
}
.list .lr{
	width: calc(100% - 28vw);
}
.list .lr .title{
	height:38px;
	font-size: 1.4rem;
	margin-top: 4vw;
	margin-bottom: 8px;
	color:#333333;
}
.list .lr .clear{
	width:calc(100% - 35vw);
	font-size: 1.2rem;
	color:#999999;
	position: absolute;
	bottom:4vw;
}
.tip{
	height: 40px;
	text-align: center;
	line-height: 40px;
	color:#c1c1c1;
}
/*加载动画*/
.loading{
	width: 100%;
	height: 40px;
}
.typing_loader{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	-webkit-animation: typing 1s linear infinite alternate;
	-moz-animation: Typing 1s linear infinite alternate;
	animation: typing 1s linear infinite alternate;
	position: relative;
	top: 17px;
	left: calc( 50vw - 20px );
}
@-webkit-keyframes typing{
	0%{
		background-color: rgba(0,0,0, 0.8);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.2),
		24px 0 0 0 rgba(0,0,0,0.2);
	}
	25%{
		background-color: rgba(0,0,0, 0.4);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.8),
		24px 0 0 0 rgba(0,0,0,0.2);
	}
	75%{ background-color: rgba(0,0,0, 0.4);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.2),
		24px 0 0 0 rgba(0,0,0,0.8);
	}
}

@-moz-keyframes typing{
	0%{
		background-color: rgba(0,0,0, 0.8);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.2),
		24px 0 0 0 rgba(0,0,0,0.2);
	}
	25%{
		background-color: rgba(0,0,0, 0.4);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.8),
		24px 0 0 0 rgba(0,0,0,0.2);
	}
	75%{ background-color: rgba(0,0,0, 0.4);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.2),
		24px 0 0 0 rgba(0,0,0,0.8);
	}
}

@keyframes typing{
	0%{
		background-color: rgba(0,0,0, 0.8);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.2),
		24px 0 0 0 rgba(0,0,0,0.2);
	}
	25%{
		background-color: rgba(0,0,0, 0.4);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.8),
		24px 0 0 0 rgba(0,0,0,0.2);
	}
	75%{ background-color: rgba(0,0,0, 0.4);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.2),
		24px 0 0 0 rgba(0,0,0,0.8);
	}
}