{extend name="public/common"}

{block name="style"}
<title></title>
<link rel="stylesheet" href="/home/css/study/study.css">
{/block}

{block name="body"}
<!--本期精彩专题-->
<div class="banner">
	<div class="tag">—— 精品推荐 ——</div>
	<!--精彩专题-->
	{volist name="list1" id="re"}
	<div class="box">
		{eq name="re.type" value="2"}
		<a href="{:Url('Study/article?id='.$re['id'])}" class="box_up">
		{else/}
		<a href="{:Url('Study/video?id='.$re['id'])}" class="box_up">
			{/eq}
			<img src="{$re.front_cover|get_cover='path'}" alt="图片">
			<div class="title limit">{$re.title}</div>
			<div class="note clear">
				<span class="fl">{$re.publisher}</span>
				<span class="fr">{$re.create_time|time_format=""}</span>
			</div>
		</a>
		<div class="box_down">
			<div class="clear">
				<span class="scan">{$re.views}</span>
				<div class="fr" onclick="tonext(this)">下一篇</div>
			</div>
		</div>
		<!--模糊层-->
		<img src="{$re.front_cover|get_cover='path'}" alt="背景" class="bg">
	</div>
	{/volist}
</div>
<!--课程列表-->
<div class="lists">
	<div class="tag"> —— 更多课程 —— </div>
	<!--图文课程-->
	{volist name="list2" id="vo"}
	{eq name="vo.type" value="2"}
	<a href="{:Url('Study/article?id='.$vo['id'])}" class="list">
		<div class="tab">图文</div>
	{else/}
	<a href="{:Url('Study/video?id='.$vo['id'])}" class="list">
		<div class="tab">视频</div>
	{/eq}
		<img src="{$vo.front_cover|get_cover='path'}" alt="图片" class="img">
		<div class="title limit">{$vo.title}</div>
		<span class="study">{$vo.views}人阅读过</span>
	</a>
	{/volist}
</div>
<div class="tip"></div>
<div class="loading hidden">
	<div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script>
/**
 * Created by rawraw on 2016/9/22.
 */
$(function(){
	//模块标题
	$('title' ).text('两学一做');
	//reset
	$('.box').eq(0).show();
	var len = $(".list" ).length;
	if(len >= 5){
		$('.tip' ).text('上拉加载更多');
	}
	//上拉加载
	loadScroll();
});
/**
 * 切换精彩专题
 * @param e
 */
var tonext = function(e){
	var box =$('.box');
	var len = box.length;
	var this_ = $(e ).parents('.box');
	var index = this_.index();
	index = index == len ? 0:index;
	$('.box_up').find('img' ).hide();
	box.eq(index).show().siblings('.box' ).hide();
	box.eq(index).find('img' ).fadeIn();
};
function loadScroll(){
	$(window ).off("scroll" ).on("scroll",function(){
		var dh = $(document).height();
		var end = $(window).height() + $(window ).scrollTop();
		var len = $(".list" ).length;
		var tip = $(".tip");
		var loading = $('.loading');
		if(dh == end){
			$.ajax({
				type:"post",
				url:"{:Url('Study/indexmore')}",
				data:{
					length:len
				},
				beforeSend: function(XMLHttpRequest){
					tip.hide();
					loading.toggleClass('hidden');
				},
				success:function(data){
					loading.toggleClass('hidden');
					tip.show();
					if(data.code == 1){
						addCourse(data);
						var dataLen =data.data.length;
						if(data.data.length == 5){
							tip.text('上拉加载更多');
						}
					}else{
						tip.text('没有更多了');
						$(window ).off("scroll");
					}
				}
			})
		}
	})
}
function addCourse(data){
	var html = '';
	var lists = data.data;
	var len = lists.length;
	for(var i = 0; i< len;i++){
		var list = lists[i];
		if(list.type == 1){
			html+=
					'<a href="/home/study/video/id/'+list.id+'.html" class="list">'+
					'<div class="tab">视频</div>'
		}else{
			html+=
					'<a href="/home/study/article/id/'+list.id+'.html" class="list">'+
					'<div class="tab">图文</div>'
		}
		html +=
				'<img src="'+list.path+'" alt="图片" class="img">'+
				'<div class="title limit">'+ list.title+'</div>'+
				'<span class="study">'+ list.views+'人学习过</span>'+
				'</a>'
	}
	$(".lists" ).append(html);
}

</script>
{/block}