{extend name="public/common"}
{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/activity/index.css">
<title>支部活动</title>
{/block}

{block name="body"}
<!-- 图片-->
<div class="banner">
    <img src="/home/images/learn.png">
</div>
<!--头部导航-->
<div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
    <a class="mui-control-item" href="#item1mobile" data-index="0">
        <span>三会一课</span>
    </a>
    <a class="mui-control-item" href="#item2mobile" data-index="1">
        <span>会议纪要</span>
    </a>
    <a class="mui-control-item" href="#item3mobile" data-index="2">
        <span>固定活动</span>
    </a>
</div>
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
   <div class="mui-scroll">
       <div class="mui-slider-group">
           <div id="item1mobile" class="mui-slider-item mui-control-content">
               <!--安排活动-->
               {if condition="$leftone eq null && $lefttwo eq null"}
               <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
               {else/}
               {notempty name="leftone"}
               <div class="notice">
                   <a class="more" href="{:Url('Activity/morelist')}">
                       <span>活动安排</span>
                       <span>更多>></span>
                   </a>
                   <div class="list">
                       <ul>
                           {volist name="leftone" id="no"}
                           <a href="{:Url('Activity/detail2?type=1&id='.$no['id'])}">
                               <p>{$no.title}</p>
                               <p>{$no.description}</p>
                               <span>{$no.publisher}</span>
                               <span>{$no.create_time|time_format='Y-m-d'}</span>
                               <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                           </a>
                           {/volist}
                       </ul>
                   </div>
               </div>
               {/notempty}
               {notempty name="lefttwo"}
               <div class="meeting">
                   <div class="more">
                       <span>活动展示</span>
                       <span></span>
                   </div>
                   <div class="list">
                       <ul>
                           {volist name="lefttwo" id="mee"}
                           <a href="{:Url('Activity/detail?type=1&id='.$mee['id'])}">
                               <img src="{$mee.front_cover}">
                               <p>{$mee.title}</p>
                               <span>{$mee.create_time}</span>
                               <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                               <span>{$mee.publisher}</span>
                           </a>
                           {/volist}
                       </ul>
                   </div>
               </div>
               {/notempty}
               {/if}
           </div>
           <div id="item2mobile" class="mui-slider-item mui-control-content">
               <!--会议纪要-->
               <div class="summary">
                   <div class="list">
                       {empty name="center"}
                        <div class="default"><img src="/home/images/common/nomessage.png"></div>
                       {else/}
                       <ul>
                           {volist name="center" id="su"}
                           <a href="{:Url('Activity/detail2?type=2&id='.$su['id'])}">
                               <p style="font-weight: bold;">{$su.title}</p>
                               {if condition="(!empty($su['create_user']))"}
                               <span>{$su.publisher}</span>
                               {else /}
                               <span>{$su.userid}</span>
                               {/if}
                               <span>{$su.create_time}</span>
                               <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                           </a>
                           {/volist}
                       </ul>
                       {/empty}
                   </div>
               </div>

           </div>
           <div id="item3mobile" class="mui-slider-item mui-control-content">
               <!--固定活动-->
               <div class="fixed">
                   <div class="list">
                       {empty name="right" id="fi"}
                        <div class="default"><img src="/home/images/common/nomessage.png"></div>
                       {else/}
                       <ul>
                           {volist name="right" id="fi"}
                           <a href="{:Url('Activity/detail?type=2&id='.$fi['id'])}">
                               <img src="{$fi.front_cover}">
                               <p>{$fi.title}</p>
                               <span>{$fi.create_time}</span>
                               <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                               <span>{$fi.publisher}</span>
                           </a>
                           {/volist}
                       </ul>
                       {/empty}
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<!--悬浮按钮-->
<div id="publish" style="display: none;">
    <a href="{:Url('Activity/publish')}" style="display:inline-block;width:10vw;height:10vw;"></a>
</div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    // 拖拽
    moveanyway();
    $(function(){
        //tab初始化和数据存储
        c = getCookie("c")?getCookie("c"):0;
        console.log(getCookie("c"))
        if(c==1){
            $("#publish").show();
        }
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');
    });
    //加载是否需要上拉加载
    window.onload = function(){
        if(c==0){
            if($(".meeting .list a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if($(".summary .list a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if( c==2 ){
            if($(".fixed .list a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }

    };
    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });
    function loadScroll(){
        if( c==0 ){
            var len = $(".meeting .list a").length;
        }else if( c==1 ){
            var len = $(".summary .list a").length;
        }else if( c==2 ){
            var len = $(".fixed .list a").length;
        }
        $.ajax({
            type:"post",
            url:"{:Url('Activity/more')}",
            data:{
                length:len,
                type:c
            },
            beforeSend: function(XMLHttpRequest){
            },
            success:function(data){
                if(data.code == 1){
                    addMeets(data,c);
                    if(data.data.length == 10){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        });
    }
    function addMeets(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(type==0){
                html+=
                    '<a href="/home/activity/detail/type/1/id/' + list.id + '">' +
                    '<img src="'+list.front_cover+'">' +
                    '<p>'+list.title+'</p>' +
                    '<span>'+list.create_time+'</span>' +
                    '<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>' +
                    '<span>'+list.publisher+'</span>' +
                    '</a>';

            }
            if(type==1){
                html+=
                    '<a href="/home/activity/detail2/type/2/id/' + list.id + '">' +
                    '<p>'+list.title+'</p>' +
                    '<span>'+list.publisher+'</span>' +
                    '<span>'+list.create_time+'</span>' +
                    '<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>' +
                    '</a>';

            }
            if(type==2){
                html+=
                    '<a href="/home/activity/detail/type/2/id/' + list.id + '">' +
                    '<img src="'+list.front_cover+'">' +
                    '<p>'+list.title+'</p>' +
                    '<span>'+list.create_time+'</span>' +
                    '<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>' +
                    '<span>'+list.publisher+'</span>' +
                    '</a>';

            }
        }
        if(type==0){
            $(".meeting .list ul" ).append(html);
        }else if(type==1){
            $(".summary .list ul" ).append(html);
        }else if(type==2){
            $(".fixed .list ul" ).append(html);
        }
    }
    //tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().refresh(true);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        mui('#refreshContainer').pullRefresh().refresh(true);
        c = this.getAttribute("data-index");
        if(c==0){
            if($(".meeting .list a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
            $("#publish").hide()
        }else if(c==1){
            if($(".summary .list a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
            $("#publish").show()
        }else if(c==2){
            if($(".fixed .list a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
            $("#publish").hide()
        }
        setCookie('c',c);
    });

    mui(".list").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });
//    mui(".notice").on("touchstart",".more",function(){
//        $(this).css("backgroundColor","rgba(0,0,0,.1)");
//    }).on("touchend","a", function () {
//        $(this).css("backgroundColor","#e5e5e5");
//    });

    mui("#refreshContainer").on("tap","a",function(){
        var url = this.getAttribute("href");
        window.location.href = url;
    })
</script>
{/block}