{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/activity/morelist.css">
{/block}
{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="list">
            {empty name="info"}
                <div class="default"><img src="/home/images/common/nomessage.png"></div>
            {else/}
            <ul>
                {volist name="info" id="info"}
                <a href="{:Url('Activity/detail2?type=1&id='.$info['id'])}">
                    <p>{$info.title}</p>
                    <p>{$info.description}</p>
                    <span>{$info.create_time}</span>
                    <span>{$info.publisher}</span>
                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </a>
                {/volist}
            </ul>
            {/empty}
        </div>
  </div>
</div>
{/block}
{block name="script"}
<script>
    //首页加载是否需要上拉加载
    window.onload = function() {
        if ($(".list ul a").length < 7) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    };

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    function loadScroll(){
            var len = $(".list ul a").length;
        $.ajax({
            type:"post",
            url:"{:Url('Profile/more')}",
            data:{
                length:len
            },
            beforeSend: function(XMLHttpRequest){
            },
            success:function(data){
                addCourse(data);
                if(data.code == 1){
                    if(data.data.length == 7){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    };

    function addCourse(data) {
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for (var i = 0; i < len; i++) {
            var list = lists[i];
                html +=
                    '<a href="/home/Activity/detail2/type/1/id/' + list.id + '">' +
                    '<p>' + list.title + '</p>' +
                    '<p>' + list.description + '</p>' +
                    '<span>' + list.create_time + '</span>' +
                    '<span>' + list.publisher + '</span>' +
                    '<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>' +
                    '</a>'
        }
        $(".list ul").append(html);
    };

    //点击背景触发active
    mui("#refreshContainer").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });

    //页面点击事件
    mui("#refreshContainer").on("tap","a",function(){
        var url = this.getAttribute("href");
        window.location.href = url;
    })
</script>
{/block}