{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/activity/morelist.css">
{/block}
{block name="body"}
<div class="list">
    <ul>
        <!--  循环开始 -->
        <a href="#">
            <p>风打开了就是费劲独立思考发</p>
            <p>资料了资料资料整理了张了张嘴理论重量资料了资料资料整理了张了张嘴理论重量资料了资料资料整理了张了张嘴理论重量资料了资料资料整理了张了张嘴理论重量资料了资料资料整理了张了张嘴理论重量</p>
            <span>2017-11-10</span>
            <span>这款裤子再看再看再看</span>
            <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        </a>
        <!-- 循环结束  -->
    </ul>
</div>
{/block}
{block name="script"}
{/block}