{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/activity/publish.css">
<link rel="stylesheet" href="/home/sass/stylesheets/activity/mui.picker.min.css">
<style>
    #popover,#popover .mui-table-view{
        height:40vw;
        max-height: 400px;
    }
    .mui-table-view-cell>a:not(.mui-btn){
        font-size: 0.36rem;
        margin:-5px -11px;
        text-align: center;
    }
    .mui-dtpicker-header button {
        font-size: 0.36rem;
        padding: 0.13rem 0.26rem;
    }
    .mui-dtpicker-title h5 {
        display: inline-block;
        width: 20%;
        margin: 0;
        padding: 0.26rem;
        text-align: center;
        border-top: solid 1px #ddd;
        background-color: #f0f0f0;
        border-bottom: solid 1px #ccc;
        font-size: 0.32rem;
    }
</style>
{/block}

{block name="body"}
<div class="main">
    <div class="list">
        <ul>
            <li>
                标题
                <input type="text" placeholder="请输入标题" value="" name="title">
            </li>
            <li class="type1">
                时间
                <input type="input" placeholder="请输入参与时间" name="start_time" id="date" readonly>
            </li>
            <li class="type1">
                地点
                <input type="text" placeholder="请输入参与地点" name="address" value="">
            </li>
            <li class="type1">
                参会人
                <input type="text" placeholder="请输入参会人或参与支部" name="publisher" value="">
            </li>
            <div class="content">
                <textarea placeholder="请输入本次会议纪要,谈谈你的感触!(图片选填,最多四张，不限字数)" name="content"></textarea>
                <div class="imgs clear">
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="add fl"></div>
                </div>
                <div style="color: #666;font-size: 0.32rem">（您最多上传3张图片，图片小于3M , 点击当前图片可以删除）</div>
                <input type="file" class="hide" id="upimg" name="upload" accept="image/*">
                <input type="hidden" name="id" value="">
            </div>
        </ul>
    </div>
    <div class="goreview">确认上传</div>
    <p>注：点击保存将保存至个人中心-我的草稿；点击去审核，审核通过后将在相应栏目发布，并保存至我的发布。</p>
</div>

{/block}

{block name="script"}
<script src="/home/js/publish.js"></script>
<script src="/home/js/mui.picker.min.js"></script>
<script>
    var u = navigator.userAgent, app = navigator.appVersion;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    //alert('是否是Android：'+isAndroid);
    //alert('是否是iOS：'+isiOS);

    if(isAndroid){
        $ ("input[name='file']").attr('capture','camera');
    }
    var type =  parseInt(window.location.href.split("publish/type/")[1]);
    var c =  parseInt(window.location.href.split("style/")[1]);
    var index =  parseInt(window.location.href.split("?")[1]);
    $(function(){
        imgresize();
    });

    window.onload = function(){
        var dtpicker = new mui.DtPicker({
            "type": "datetime",
            "value": ""
        });
        document.querySelector('#date').addEventListener('tap', function () {
            dtpicker.show(function (e) {
                document.getElementById('date').value = e.text;
            })
        })
    };
    options = {
        scrollY: true, //是否竖向滚动
        scrollX: false, //是否横向滚动
        startX: 0, //初始化时滚动至x
        startY: 0, //初始化时滚动至y
        indicators: false, //是否显示滚动条
        deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
        bounce: true //是否启用回弹
    };

    mui('.mui-scroll-wrapper').scroll({
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
    });

    // 删除当前选择的上传图片
    $(".imgs div.img").on("click",function(){
        var Id = $(this).find("img").attr("data-tab");
        var This = $(this);
        swal({
            title: "是否删除当前图片",
            showConfirmButton: true,
            showCancelButton: true,
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            confirmButtonColor: "#ec6c62"
        }, function() {
            $.ajax({
                type: "post",
                url: "",
                data: {
                    id:Id
                },
                processData : false, // 告诉jQuery不要去处理发送的数据
                contentType : false,  // 告诉jQuery不要去设置Content-Type请求头
                success:function (data) {
                    var msg = $.parseJSON(data);
                    if(msg.code == 1){
                        if(!This.hasClass("hide")){
                            This.find("img").remove();
                        }
                    }
                }
            })
        });
    });

    //去上传
    $(".goreview").click(function() {
        var Imgarr = [];
        $(".imgs .img").each(function(){
            if(!$(this).hasClass("hide")){
                Imgarr.push($(this).find("img").attr("data-tab"))
            }
        });
        swal({
            title: "提示",
            text: "确认提交您的信息？",
            showCancelButton: true,
            confirmButtonColor: "#f99300",
            confirmButtonText: "确定",
            cancelButtonText: "取消"
        }, function (isConfirm) {
            if (isConfirm) {
                var data = {
                    type:3,
                    title: $("input[name='title']").val(),
                    start_time: $("input[name='start_time']").val(),
                    address: $("input[name='address']").val(),
                    publisher: $("input[name='publisher']").val(),
                    content: $("textarea[name='content']").val(),
                    front_cover:Imgarr,

                };
            }
            $.ajax({
                type: "post",
                url: "{:Url('Activity/publish')}",
                data: data,
                dataType: "Json",
                success: function (data) {
                    if (data.code) {
                        swal({
                            title: '',
                            text: data.msg,
                            type: 'success',
                            showConfirmButton: false
                        });
                        setTimeout(function () {
                            history.go(-1);
                        }, 1500);
                    } else {
                        swal({
                            title: '',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton: false
                        });
                    }
                }

            })
        })
    })
</script>
{/block}