{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/activity/publish.css">
<link rel="stylesheet" href="/home/sass/stylesheets/activity/mui.picker.min.css">
<style>
    #popover,#popover .mui-table-view{
        height:40vw;
        max-height: 400px;
    }
    .mui-table-view-cell>a:not(.mui-btn){
        font-size: 0.36rem;
        margin:-5px -11px;
        text-align: center;
    }
    .mui-dtpicker-header button {
        font-size: 0.36rem;
        padding: 0.13rem 0.26rem;
    }
    .mui-dtpicker-title h5 {
        display: inline-block;
        width: 20%;
        margin: 0;
        padding: 0.26rem;
        text-align: center;
        border-top: solid 1px #ddd;
        background-color: #f0f0f0;
        border-bottom: solid 1px #ccc;
        font-size: 0.32rem;
    }
</style>
{/block}

{block name="body"}
<div class="main">
    <div class="list">
        <ul>
            <li>
                标题
                <input type="text" placeholder="请输入标题" value="" name="title">
            </li>
            <li class="type1">
                时间
                <input type="input" placeholder="请输入参与时间" name="start_time" id="date" readonly>
            </li>
            <li class="type1">
                地点
                <input type="text" placeholder="请输入参与地点" name="address" value="">
            </li>
            <li class="type1">
                参会人
                <input type="text" placeholder="请输入参会人或参与支部" name="publisher" value="">
            </li>
            <div class="content">
                <textarea placeholder="请输入本次会议纪要,谈谈你的感触!(图片选填,最多四张，不限字数)" name="content"></textarea>
                <div class="imgs clear">
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="add fl"></div>
                </div>
                <div style="color: #666;font-size: 0.32rem">（您最多上传四张图片，图片小于3M , 点击当前图片可以删除）</div>
                <input type="file" class="hide" id="upimg" name="upload" accept="image/*">
                <input type="hidden" name="id" value="">
            </div>
        </ul>
    </div>
    <div class="goreview">确认上传</div>
    <p>注：点击保存将保存至个人中心-我的草稿；点击去审核，审核通过后将在相应栏目发布，并保存至我的发布。</p>
</div>

{/block}

{block name="script"}
<!--<script src="/home/js/publish.js"></script>-->
<script src="/home/js/mui.picker.min.js"></script>
<script>
    var u = navigator.userAgent, app = navigator.appVersion;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端

    if(isAndroid){
        $ ("input[name='file']").attr('capture','camera');
    }

    $(function(){
        imgresize();
    });

    window.onload = function(){
        var dtpicker = new mui.DtPicker({
            "type": "datetime",
            "value": ""
        });
        document.querySelector('#date').addEventListener('tap', function () {
            dtpicker.show(function (e) {
                document.getElementById('date').value = e.text;
            })
        })
    };
    options = {
        scrollY: true, //是否竖向滚动
        scrollX: false, //是否横向滚动
        startX: 0, //初始化时滚动至x
        startY: 0, //初始化时滚动至y
        indicators: false, //是否显示滚动条
        deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
        bounce: true //是否启用回弹
    };

    mui('.mui-scroll-wrapper').scroll({
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
    });

    // 删除当前选择的上传图片
     var arrIndex = [];
    $(".imgs div.img").on("click",function(){
        var This = $(this);
        arrIndex.push($(this).index() + 1);
        swal({
            title: "是否删除当前图片",
            showConfirmButton: true,
            showCancelButton: true,
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            confirmButtonColor: "#ec6c62"
        }, function() {
            if(!This.hasClass("hide")){
                This.find("img").attr("data-tab","");
                This.find("img").remove();
                This.addClass("hide");
                $(".add").show();
            }
        });
    });

    //去上传
    $(".goreview").click(function(){
        var single = false;
        var Imgarr = [];
        $(".imgs .img").each(function(){
            if(!$(this).hasClass("hide")){
                Imgarr.push($(this).find("img").attr("data-tab"))
            }
        });
        if($("input[name='title']").val() == ""||$("input[name='start_time']").val() == ""||$("input[name='address']").val() == ""||$("input[name='publisher']").val() == ""||$("textarea[name='content']").val()=="" || Imgarr.length==0){
            single = false
        }else{
            single = true
        }
        if(single){
            var data = {
                type:3,
                title: $("input[name='title']").val(),
                start_time: $("input[name='start_time']").val(),
                address: $("input[name='address']").val(),
                publisher: $("input[name='publisher']").val(),
                content: $("textarea[name='content']").val(),
                front_cover:Imgarr,
            };

            $.ajax({
                type:"post",
                url: "{:Url('Activity/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "提交成功",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
        }else{
            swal({
                title: ' ',
                text: '信息输入不完整',
                type: 'error',
                showConfirmButton:false,
                timer:1500
            });
        }
    });

    $(function(){
        //图片预览
        $('.add' ).on('click',function(){
            var imglen = $('.img img' ).length;
            var this_ = $(this);
            $('#upimg').click().off("change").on('change',function(){
                var size = ($(this)[0].files[0].size/ 1024).toFixed(2);
                if(size <= 3072){
                    var img = $(this)[0].files[0];
                    var formData = new FormData();
                    formData.append("picture",img);
                    $.ajax({
                        type:"post",
                        url:"/home/File/uploadPicture",
                        data:formData,
                        processData : false, // 告诉jQuery不要去处理发送的数据
                        contentType : false,  // 告诉jQuery不要去设置Content-Type请求头
                        beforeSend: function(XMLHttpRequest){
//							swal('');
//							swal.showLoading();
                            $('.swal2-confirm' ).css({'background-color':'#c1c1c1','border-left-color':'#c1c1c1','border-right-color':'#c1c1c1'})
                        },
                        success:function(data){
                            swal.close();
                            var msg = $.parseJSON(data);
                            if(msg.code == 1){
                                if(this_.hasClass('add')){
                                    // 图片添加
                                    if(imglen == 3){
                                        $('.add' ).fadeOut();
                                    }
                                    if(arrIndex.length!==0){
                                        console.log(arrIndex)
                                        $('.img').eq(arrIndex[arrIndex.length-1] -1).removeClass('hide' )
                                        .append('<img src='+msg.data.path+' alt="图片" data-tab='+msg.data.id+'>');
                                        arrIndex.pop();
                                    }else{
                                        $('.img').eq(imglen).removeClass('hide' )
                                         .append('<img src='+msg.data.path+' alt="图片" data-tab='+msg.data.id+'>');
                                    }

                                }else{
                                    // 图片修改
                                    this_.find('img').remove();
                                    this_.append('<img src='+msg.data.path+' alt="图片" data-tab='+msg.data.id+'>');
                                }
                                imgresize();
                            }
                        }
                    });
                } else {
                    swal({
                        title: ' ',
                        text: '您的图片超过3M',
                        type: 'warning',
                        showConfirmButton:false,
                        timer:1500
                    });
                }
            });

        });
    });


    //剪裁图片
    function imgresize(){
        var font = parseInt($("html").css("font-size"))*2;
        setTimeout(function(){
            var img = $('.img img');
            var img2 = $('.img2 img');
            var img3 = $('.img3 img');
            var img4 = $('.img4 img');
            img.each(function(){
                if($(this).width() == $(this).height()){
                    $(this).height('20vw');
                    $(this).width('20vw');
                }else if($(this).width() > $(this).height()){
                    $(this).height('20vw' ).css({'left':-$(this).width()/2+font/2});
                }else{
                    $(this).width('20vw').css({'top':-$(this).height()/2+font/2});
                }
            });
        },100);
    }
</script>
{/block}