@import "tab";
@import "common";
@import "graphic-list";
@import "title-pos-time";

#tab{
  top:50vw;
  a{
    &:after{
      left:49vw;
    }
  }
}
#refreshContainer {
  margin-top: 58vw;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
  color: #fff;
  background: #ffa626;

}
.banner{
  height:50vw;
}
.banner img{
  position: relative;
  z-index: 99;
  width: 100%;
  height:50vw;
}
#tab{
  background:#ffffff!important;
}

.notice a p:nth-child(1){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin-bottom: 1vw;
  color: #000;
  font-weight: bold;
}
.notice a:active,.notice a:visited{
  color: #f00;
  background: #e5e5e5;
  text-decoration: none!important;
}

.notice a p:nth-child(2){
  margin-bottom: 0;
  color: #666;
}
.notice a span:nth-child(4){
  position: inherit;
  float: right;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
  background: #e31b1b!important;
  text-decoration: none!important;
}
.list ul a{
  clear: both;
}
.more{
  display: block;
  width:100%;
  font-size: 0.32rem;
  color: #f00;
  padding:3vw;
}
.meeting a:active,.meeting a:visited{
  color: #090;
  background: #e5e5e5;
  text-decoration: none!important;
}
.meeting .more{
  color: #090;
}
.more span:last-child{
  float: right;
}
.meeting .list ul a span:nth-child(3){
  font-size: 0.32rem;
  color: #666;
  bottom: 2vw;
  text-align: right;
}
.meeting  .list ul a span:nth-child(4){
  right: 1vw;
  bottom: 7vw
}
.meeting .list ul a span:nth-child(5){
  bottom: 2vw;
  color: #666;
  font-size: 0.32rem;
}
.meeting .more span{
  color: #f00;
}

@media screen and (min-width:736px) and (max-width:1024px){
  .notice .list ul a{
    display: block;
    position: relative;
    padding: 2vw 3vw;
    border-bottom: 1px solid #f1f1f1;
    height: 20vw;
  }
}
@media screen and (min-width:736px) and (max-width:1024px){
  .notice .list ul a span:nth-child(5) {
    color: #666;
    right: 1vw;
    /*bottom: 10vw;*/
    top: 0;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width:736px) {
  .notice .list ul a{
    display: block;
    position: relative;
    padding: 2vw 3vw;
    border-bottom: 1px solid #f1f1f1;
    height: 25vw;
  }

}
@media screen and (max-width:736px) {
  .notice .list ul a span:nth-child(5) {
    color: #666;
    right: 1vw;
    /*bottom: 10vw;*/
    top: 0;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen  and (min-width:1024px) and (max-width:1366px){
  .notice .list ul a{
    display: block;
    position: relative;
    padding: 2vw 3vw;
    border-bottom: 1px solid #f1f1f1;
    height: 17vw;
  }
}
@media screen  and (min-width:1024px) and (max-width:1366px){
  .notice .list ul a span:nth-child(5) {
    color: #666;
    right: 1vw;
    /*bottom: 10vw;*/
    top: 0;
    height: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.notice a p:nth-child(1) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin-bottom: 1vw;
  color: #000;
  font-weight: bold;
}
.notice a p:nth-child(2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 5.4vw;
  color: #666;
}
.notice .list ul a span:nth-child(3) {
  position: absolute;
  width: 70%;
  font-size: 0.32rem;
  color: #666;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  left: 3vw;
  bottom: 2vw;
}
.notice .list ul a span:nth-child(4) {
  font-size: 0.32rem;
  color: #666;
  right: 3vw;
}
.summary .list ul a span:nth-child(3) {
  font-size: 0.32rem;
  color: #666;
  text-align: right;
}
.summary .list ul a span:nth-child(4){

  /*
  bottom: 8vw;*/
  right: 1vw;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.summary .list ul a p{
  font-weight: normal!important;
  margin-bottom: 10.137vw;
}
.summary .list ul a{
  height: 15vw;
}
@media screen and (max-width:736px){
  .summary .list ul a{
    height: 2.2rem;
  }
}
@media screen and (min-width:736px) and (max-width:1024px){
  .summary .list ul a{
    height: 16vw;
  }
}
.fixed .list ul a span:nth-child(4){
  right: 1vw;
  bottom: 8vw;
}
.fixed .list ul a span:nth-child(5){
  font-size: 0.32rem;
  color: #666;
  bottom: 2vw;
}
.fixed .list ul a span:nth-child(3){
  bottom: 2vw;
  text-align: right;
}


.default {
  img{
    width: 16vw;
    position: absolute;
    left: 50%;
    margin-top: 30%;
    margin-left: -8vw;
  }
}

/*悬浮按钮*/
.btn_{
  position: absolute;
  top: 150vw;
  right: 5vw;
  width:10vw;
  height: 10vw;
  background: #000000;
  display:none;
}