
@import "common";
@import "title-pos-time";



.list ul a {
  height: 19vw;
}
.list ul a p:nth-child(1){
  font-weight: bold;
}

.list ul a span:nth-child(5) {
  height: 19vw;
  right: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;

}
@media screen and (max-width:736px){
  .list ul a {
    height: 24vw;
  }
  .list ul a span:nth-child(5) {
    height: 24vw;
    right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;

  }
}
@media screen  and (min-width:1024px) and (max-width:1366px){
  .list ul a {
    height: 16vw;
  }
  .list ul a span:nth-child(5) {
    height: 16vw;
    right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;

  }
}
.default {
  img{
    width: 16vw;
    position: absolute;
    left: 50%;
    margin-top: 50%;
    margin-left: -8vw;
  }
}
.list ul a p:nth-child(1) {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.list ul a p:nth-child(2) {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

