@import "common";
@import "compass/css3";


body{
  background-color: #f1f1f1;
}

.list{
  width: 92vw;
  height: 84.5vh;
  margin-left: 4vw;
  margin-top: 7.72vh;
  ul{
    &:after{
      display: block;
      content: '';
      clear: both;
    }
    a{
      display: inline-block;
      position: relative;
      width:44vw;
      height:39.8vh;
      //background: #f00;
      float: left;
      @include border-radius(10px);
      @include box-shadow(0px 2px 10px rgba(0,0,0,0.6));
      &:nth-child(1){
        margin-right: 4vw;
        margin-bottom: 4.97vh;
      }
    &:nth-child(3){
      margin-right: 4vw;
    }
      img{
        width:100%;
        height: 31.5vh;
      }
      span{
        display: inline-block;
        height:8.3vh;
        line-height:8.3vh;
        color: #333;
        font-size: 0.38rem;
        position: absolute;
        bottom:0;
        left:2.6vw;
      }
      &:active{
        background: rgba(0,0,0,0.1);
      }
    }
  }
}

