@import "tab";
@import "common";
@import "graphic-list";


#tab{
  top:50vw;
  a{
    &:after{
      left:49vw;
    }
  }
}
#refreshContainer {
  margin-top: 58vw;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
  color: #fff;
  background: #ffa626;
}
.list {
  ul {
    a {
      span {
        &:nth-child(3) {
          position: absolute;
          bottom:2vw;
        }
        &:nth-child(4) {
          position: absolute;
          right: 7vw;
        }
        &:nth-child(5) {
          width: 2vw;
          height: 6vw;
          display:block;
          position: absolute;
          right: 1vw;
          bottom: 6.4vw;
        }
      }
    }
  }
}
.banners{
  z-index: 99;
  height: 50vw;
  position: relative;
}
.banner{
  width: 100%;
  height: 50vw;
}
.banner img{
  width: 100%;
  height: 50vw;
}

.banner .title_{
 position:absolute;
  bottom: 0;
  width: 100%;
  height: 6vw;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 0.32rem;
  padding-right: 2.4vw;
  padding-left: 2.4vw;
  line-height: 6.5vw;
  margin-bottom: 2vw;
;
}
.title_>span{
  width: 75%;
  display: block;
  height: 6vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.swiper-pagination{
  margin-bottom: 1vw;

}
.swiper-pagination-bullet{
 float:right;
}
.swiper-pagination-bullet-active{

  background-color: #ffffff!important;
}

