{extend name="public/common"}

{block name="style"}
<title>党建直播</title>
<link rel="stylesheet" href="/home/css/news/detail.css">
<style>
    .scrollDiy{
        position: absolute;
        top:50vw;
        bottom:0;
        overflow-y: scroll;
        /* 增加该属性，可以增加弹性 */
        -webkit-overflow-scrolling: touch;
        width:100%;
    }
    video{
        width:100vw;
        /*display:none;*/
        height:50vw;
    }
</style>
{/block}
<!--css一处 scrollDiy标签一对 tofixed()注释  scrollNow 跟scrollDiy滚动绑定-->
{block name="body"}
<video src="{$live_path}" controls="controls" webkit-playsinline="true" playsinline></video>

<div class="scrollDiy">
    <div class="comment">
        <div class="sum">最新评论</div>
        <div class="lists">

        </div>
        <div class="tip"></div>
        <div class="loading hidden">
            <div class="typing_loader"></div>
        </div>
    </div>
</div>
{eq name="visit" value="0"}
<div class="bottom clear">
    <div class="myword fl">
        <input type="text" placeholder="说说你的感想！" onclick="tosend(this,12,1)">
    </div>
</div>
{/eq}

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>

    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
    $(function(){
        //reset
        var len = $(".list" ).length;
    });
    /**
     * 点赞
     * @param e
     */
    var isGood = function(e,type,id){
        //样式变化，移到suc
        var n = $(e ).text();
        $(e).toggleClass('good' ).toggleClass('good_');
        $(e ).hasClass('good')?n--:n++;
        $(e ).text(n);
        $.ajax({
            type:"post",
            url:"{:Url('Base/like')}",
            data:{
                type:type,
                aid:id,
            },
            success:function(data){

            }
        })
    };
    /**
     * 发送评论
     * @param e
     */

    //发送评论
    var tosend = function(e,type,id){
        var index = $(e).parents('.votes ul li' ).index();
        setTimeout(function(){
            $("input").focus();
        },0)
        swal({
                    title: "",
                    text: "请输入评论内容！",
                    type: "input",
                    showCancelButton: true,
                    animation: "slide-from-top",
                    inputPlaceholder: "请在此输入评论内容（300字以内）",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: false
                },
                function(inputValue){
                    if (inputValue === false) {
                        $(".bottom").show();
                        setTimeout(function(){
                            $("input").blur();
                        },0)
                        return false
                    }else if (inputValue === "" || inputValue.length<5)
                    {
                        swal.showInputError("评论不少于5个字");
                        return false
                    }else if(inputValue.length>300){
                        swal.showInputError("评论不得多于300字");
                    }else{
                        $.ajax({
                            type:"post",
                            url:"{:Url('Base/comment')}",
                            data:{
                                type : type,
                                aid:id,
                                content:inputValue
                            },
                            success:function(msg){
                                inputValue="";
                                swal({
                                    title: ' ',
                                    text: '评论成功',
                                    type: 'success',
                                    confirmButtonText:'确定',
                                    timer:3000
                                });
                            }
                        });
                    }
                    setTimeout(function(){
                        $("input").blur();
                    },0)
                });
    };

    setInterval(function(){

        if ($(".list" ).length == 0) {
            var id = 0;
        } else {
            var id = $(".list:first").attr('data-id');
        }
        $.ajax({
            type:"post",
            url:"{:Url('Live/getComment')}",
            data:{
                id:id
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){

                if (data.code == 1) {

                    addComment(data);
                }
            }
        })
    },1500);


    function addComment(data){
        //is_like : 1为已点赞 0为未点赞
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            var userid = "'"+list.create_user+"'";
            html += '<div class="list clear" data-id="'+list['id']+'">'+
                    '<div class="fl">'+
                    '<img src="'+list.header+'" alt="用户" class="user">'+
                    '</div>'+
                    '<div class="fl mid">'+
                    '<div class="name limit">'+ list.nickname+'</div>'+
                    '<div class="content" >'+ list.content+'</div>'+
                    '<div class="time">'+ list.time+'</div>'+
                    '</div>';
            if ({$visit} == 0){
                if(list.is_like == 0){
                    html+='<div class="fr isgood good" onclick="isGood(this,'+list.news_id+','+list.id+','+userid+','+1+')">'+list.likes+'</div>'
                }else{
                    html+='<div class="fr isgood good_" onclick="isGood(this,'+list.news_id+','+list.id+','+userid+','+1+')">'+list.likes+'</div>'
                }
            }else {
                html+='<div class="fr isgood good">'+list.likes+'</div>'
            }
            html+=
                    '</div>';
        }
        $(".lists" ).prepend(html);
    }

</script>
{/block}