{extend name="public/pure"}

{block name="style"}
<title></title>
<link rel="stylesheet" href="/home/sass/stylesheets/answer/index.css">
{/block}
{block name="body"}
<div class="main">
  <!--音乐按钮-->
    <div class="musicBtn music"></div>
    <audio src="http://sc1.111ttt.cn:8282/2017/1/11m/11/304112004168.m4a?tflag=1513647008&pin=38af5fdd35ffd8748ac76b62cf0d1000#.mp3" controls="controls" autoplay="autoplay" loop="loop" id="audio"></audio>
    <!--文字logo-->
    <div class="logo"></div>
    <!--礼品gif-->
    <div class="gift">
        <img src="/home/images/answer/GIF.gif">
    </div>
    <!--开始游戏按钮-->
    <a href="#" class="btn1">开始游戏</a>
    <!--返回大厅按钮-->
    <a href="#" class="btn2">返回大厅</a>
</div>
{/block}
{block name="script"}
<script>
    var audio = document.getElementById("audio");
    $(".musicBtn").on("click",function(){
        if($(this).hasClass("music")){
            $(this).removeClass("music").addClass("stop");
            audio.pause();
        }else{
            $(this).removeClass("stop").addClass("music");
            audio.play();
        }
    });
</script>
{/block}