@charset "utf-8";
/*banner*/
.banner {
    width: 100%;
    height: 50vw;
}
.banner img{
    width:100%;
    height:100%;
}
/*title*/
.article {
    width: 100%;
    padding-left: 0.3rem;
    padding-right:0.3rem;
    padding-top:0.3rem;
}

.article .title {
    text-align: center;
}
.article .title p{
    color: #333;
    font-size: 0.42rem;
    line-height: 0.52rem;
    font-weight: 600;
    display: inline-block;
    text-align: left;
}

/*publish & time*/
.article .note {
    color: #999;
    font-size: 0.32rem;
    line-height: 0.8rem;
}

.note .publish{
    display: inline-block;
    width:70%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: left;
}
.note .time{
    float: right;
}

.article .message {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.article .message div {
    width: 100%;
    height: 0.8rem;
    padding-left: 1rem;
    line-height: 0.8rem;
    font-size: 0.32rem;
}
.article .message div span {
    display: inline-block;
    width: 100%;
    padding-right: 15px;
    border-bottom: 1px dashed #eeeeee;
}
.article .message div span:nth-child(5) {
    border-bottom: none;
}
.article .message div:nth-child(3) span {
    padding-right: 0!important;
}
.article .message div:nth-child(3) {
    background: url(/home/images/detail/people.png) 0.3rem 0.2rem no-repeat;
    background-size: 0.4rem 0.4rem;
}
.article .message div:nth-child(3)>a{
    color: #333;
}
.article .message div:nth-child(4) {
    background: url(/home/images/detail/host.png) 0.3rem 0.2rem no-repeat;
    background-size: 0.4rem 0.4rem;
}
.article .message div:nth-child(1) {
    background: url("/home/images/detail/time.png") 0.3rem 0.2rem no-repeat;
    background-size: 0.4rem 0.4rem;
}
.article .message div:nth-child(2) {
    background: url(/home/images/detail/address.png) 0.3rem 0.2rem no-repeat;
    background-size: 0.4rem 0.4rem;
}

/*article content */
.article-content p,.article-content p span,.article-content{
    font-size: 0.38rem;
    color: #333;
}
.article .content * {
    max-width: 100%!important;
    line-height: 0.5rem!important;
}
.article .content {
    width: 100%;
    overflow: hidden;
}
.article .content img {
    display: inline-block;
    max-width: 100%!important;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.lists{
    padding-bottom: 1.2rem;
}

/*like*/
.article .content .like {
    color: #999;
    font-size: 0.36rem;
    float: right;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
}
.article .content .like span {
    height: 0.5rem;
    display: inline-block;
    margin-right: 0.3rem;
    line-height:0.6rem;
}
.article .content .note_ span{
    margin-right: 0;
}
.article .content .note .good,.article .content .like .isgood{
    margin-right: 0;
}
.article .content .like .read {
    background: url('/home/images/detail/scan_.png') 0 center no-repeat;
    background-size: 0.36rem 0.36rem;
    padding-left: 0.53rem;
}
.article .content .like .good {
    background: url('/home/images/detail/good.png') 0 center no-repeat;
    background-size: 0.36rem 0.36rem;
    padding-left:  0.53rem;
}
.article .content .like .good_ {
    animation: shake 300ms ease;
    -webkit-animation: shake 300ms ease;
    background: url('/home/images/detail/good_.png') 0 center no-repeat;
    background-size: 0.36rem 0.36rem;
    padding-left: 0.53rem;
}


/*comment*/
.comment{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.comment .sum {
    height: 0.6rem;
    padding-left: 0.3rem;
    background: #fcfcfc;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    font-size: 0.32rem;
    line-height: 0.6rem;
}
.comment .lists .list {
    width: 100%;
    min-height:80px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    overflow: hidden;
}
.comment .lists .list .fl img {
    float: left;
    height: 12vw;
    width: 12vw;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-right: 0.28rem;
    overflow: hidden;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.comment .lists .list .mid {
    width: 85%;
    margin-top: 0.28rem;
}
.comment .lists .list .mid .name {
    color: #999;
    font-size: 0.38rem;
    margin-left: 15vw;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.comment .lists .list .mid .content {
    width: 100%;
    word-break: break-all;
    font-size: 0.38rem;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-left: 15vw;
}
.comment .lists .list .mid .time {
    font-size: 0.32rem;
    line-height: 5.3vw;
    color: #999;
    margin-left:15vw;
}
.comment .lists .list .fr {
    color: #999999;
    font-size: 0.32rem;
}
.comment .lists .list .good {
    background: url('/home/images/detail/good.png') 0 center no-repeat;
}
.comment .lists .list .good_ {
    animation: shake 300ms ease;
    -webkit-animation: shake 300ms ease;
    background: url('/home/images/detail/good_.png') 0 center no-repeat;
}
.comment .lists .list .isgood {
    background-size: 0.36rem 0.36rem;
    padding-left: 0.53rem;
    position: absolute;
    top:0.28rem;
    right:0;
}
/*底部*/
.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1rem;
    padding-left: 2.6vw;
    border-top: 1px solid #f1f1f1;
    background: #fff;
    font-family: "Microsoft YaHei", sans-serif;
    z-index: 9;
}
.bottom .star {
    background: url('/home/images/detail/star-border.png') 20px 12px no-repeat;
}
.bottom .star_ {
    animation: shake 300ms ease;
    -webkit-animation: shake 300ms ease;
    background: url('/home/images/detail/star-yellow.png') 20px 12px no-repeat;
}
.bottom .collect {
    width: 60px;
    height: 100%;
    font-size: 1.2rem;
    text-align: center;
    background-size: 20px 20px;
    padding-top: 24px;
}
.bottom .myword input {
    vertical-align: middle;
    height: 0.8rem;
    width: 94vw;
    padding-left: 0.24rem;
    background: #fafafa;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 0.32rem;
    margin-top: 0.1rem;
    line-height: 0.8rem;
}
.bottom .send {
    width: 20.5vw;
    line-height: 0.9rem;
    text-align: center;
    font-size: 0.3rem;
}
.bottom .send:active {
    background: #fafafa;
}
