{extend name="public/pure"}
{block name="style"}
<title>游客模式</title>
<link rel="stylesheet" href="/home/css/tourist/erweima.css">
{/block}
{block name="body"}
    <div id="qrcode"></div>
    <img src="/home/images/tourist/company.png" alt="">
{/block}
{block name="script"}
<script src="/static/jq-qrcode/jquery.qrcode.min.js"></script>
<script>
    //密钥10分钟过期一次,5分钟页面刷新一次
    setTimeout(function(){location.reload()},300000);
    jQuery('#qrcode').qrcode({width: document.body.clientWidth-20,height: document.body.clientWidth-20,text: '{$url}/home/tourist/tourist/str/{$md5}'});
    $('body').height(window.screen.availHeight);
    $('#qrcode').width(document.body.clientWidth-20);
    $('img').width(document.body.clientWidth*0.2);
    $('img').height(document.body.clientWidth*0.2);
    $('img').show();
</script>
{/block}