{extend name="public/pure"}
{block name="style"}
<title>游客模式</title>
<link rel="stylesheet" href="/home/css/tourist/index.css">
{/block}
{block name="body"}
    <div class="title">A</div>
    <ul class="list" >
        <li data-id="touristdetails1">
            <img src="/home/images/tourist/9.png" alt="">
            <a >a.小镇动态</a>
        </li>
    </ul>
    <div class="title">B</div>
    <ul class="list" >
        <li data-id="">
            <img src="/home/images/tourist/10.png" alt="">
            <a >b.组织架构</a>
        </li>
    </ul>
    <div class="title">C</div>
    <ul class="list" >
        <li data-id="">
            <img src="/home/images/tourist/11.png" alt="">
            <a >c.支部活动</a>
        </li>
    </ul>
    <div class="title">D</div>
    <ul class="list" >
        <li data-id="touristdetails2">
            <img src="/home/images/tourist/12.png" alt="">
            <a >d.两学一做</a>
        </li>
    </ul>
    <div class="title">E</div>
    <ul class="list" >
        <li data-id="">
            <img src="/home/images/tourist/13.png" alt="">
            <a >e.红领学院</a>
        </li>
    </ul>
    <div class="title">F</div>
    <ul class="list" >
        <li data-id="">
            <img src="/home/images/tourist/14.png" alt="">
            <a >f.地信红盟</a>
        </li>
    </ul>
    <div class="title">G</div>
    <ul class="list" >
        <li data-id="http://dqpb.0571ztnet.com/home/talent/index">
            <img src="/home/images/tourist/15.png" alt="">
            <a >g.人才服务</a>
        </li>
    </ul>
    <div class="title">H</div>
    <ul class="list" >
        <li data-id="">
            <img src="/home/images/tourist/16.png" alt="">
            <a >h.志愿服务</a>
        </li>
    </ul>
    <div class="title">I</div>
    <ul class="list" >
        <li data-id="">
            <img src="/home/images/tourist/17.png" alt="">
            <a >i.个人中心</a>
        </li>
    </ul>
    <div class="title">J</div>
    <ul class="list" >
        <li data-id="https://qy.weixin.qq.com/cgi-bin/readtemplate?action=followcorp&corpid=wx8caedf8a60d0795c&token=C26yKKelib-dB1B-gEn1mPgS8FBmFfUWKCBhzAOV4EYbjLwZ5gEiwQgTkbITwNTR&lang=$LANGUAGE$">
            <img src="/home/images/tourist/18.png" alt="">
            <a >j.新手指南</a>
        </li>
    </ul>
    <div class="title">K</div>
    <ul class="list" >
        <li data-id="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxbeb886fab0c16b6c&redirect_uri=https%3A%2F%2Fqy.weixin.qq.com%2Fcgi-bin%2Fwap_contact_v5%3Ftype%3Dcontact&response_type=code&scope=snsapi_base&state=MTA2MTA1Njc4NA%3D%3D#wechat_redirect">
            <img src="/home/images/tourist/19.png" alt="">
            <a >k.通讯名录</a>
        </li>
    </ul>
    <div class="title">I</div>
    <ul class="list" >
        <li data-id="">
            <img src="/home/images/tourist/20.png" alt="">
            <a >i.消息审核</a>
        </li>
    </ul>
    <div class="title">P</div>
    <ul class="list" >
        <li data-id="http://dqpb.0571ztnet.com/home/game/index">
            <img src="/home/images/tourist/23.png" alt="">
            <a>p.休闲一刻</a>
        </li>
    </ul>
{/block}
{block name="script"}
<script>
    //如果LI的data-id为空,该模块禁止游客访问
    $('.list>li').click(function(){
        if($(this).attr('data-id')){
            window.location.href=$(this).attr('data-id');
        }else{
            alert('游客没有访问该模块的权限');
        }
    })

    //取消alert
    var wAlert = window.alert;
    window.alert = function (message) {
        try {
            var iframe = document.createElement("IFRAME");
            iframe.style.display = "none";
            iframe.setAttribute("src", 'data:text/plain,');
            document.documentElement.appendChild(iframe);
            var alertFrame = window.frames[0];
            var iwindow = alertFrame.window;
            if (iwindow == undefined) {
                iwindow = alertFrame.contentWindow;
            }
            iwindow.alert(message);
            iframe.parentNode.removeChild(iframe);
        }
        catch (exc) {
            return wAlert(message);
        }
    }
    var wConfirm = window.confirm;
    window.confirm = function (message) {
        try {
            var iframe = document.createElement("IFRAME");
            iframe.style.display = "none";
            iframe.setAttribute("src", 'data:text/plain,');
            document.documentElement.appendChild(iframe);
            var alertFrame = window.frames[0];
            var iwindow = alertFrame.window;
            if (iwindow == undefined) {
                iwindow = alertFrame.contentWindow;
            }
            iwindow.confirm(message);
            iframe.parentNode.removeChild(iframe);
        }
        catch (exc) {
            return wConfirm(message);
        }
    }
</script>
{/block}