{extend name="public/pure"}
{block name="style"}
<title>小镇动态</title>
<link rel="stylesheet" href="/home/css/tourist/detail.css">
<style>
    .bottom{
        height:50px;
        border-top:1px solid #f9f9f9;
        width:100%;
        position:fixed;
        bottom:0;
        background-color:#FAFAFA;
    }
    .bottom>div{
        font-size: 15px;
        line-height: 49px;
        text-align: center;
        height:49px;
        float:left;
        width:50%;
        color:#333;
    }
    .bottom>div:not(:last-child):before {
        content: '';
        width: 1px;
        height: 49px!important;
        background-color: #e5e5e5;
        float: right;
    }
</style>
{/block}
{block name="body"}
<div class="top">
    <span></span>
    <img src="/home/images/tourist/9.png" alt="">
    <p>您好！欢迎关注德清地信小镇党建！</p>
    <b></b>
</div>

<div class="bottom">
    <div data-id="http://dqpb.0571ztnet.com/home/news/index">第一聚焦</div>
    <div data-id="http://mp.weixin.qq.com/mp/getmasssendmsg?__biz=MzA4MDUwMTc1MA==&from=1#wechat_webview_type=1&wechat_redirect">地理小镇</div>
</div>
{/block}
{block name="script"}
<script>
    //页面根据data-id跳转
    $('.bottom>div').click(function(){
        window.location.href=$(this).attr('data-id');
    });
    //赋值现在的时间
    $('.top>span').html(CurentTime());
    //取时间
    function CurentTime() {
        var now = new Date();
        var year = '';       //年
        var month = '';     //月
        var day = '';            //日
        var hh = now.getHours();            //时
        var mm = now.getMinutes();          //分
        var clock = '';
        if(month < 10)
            if(day < 10)
                if(hh < 10)
                    clock += "0";
        clock += hh + ":";
        if (mm < 10) clock += '0';
        clock += mm;
        return(clock);
    }

</script>
{/block}