{extend name="public/pure"}
{block name="style"}
<title>两学一做</title>
<link rel="stylesheet" href="/home/css/tourist/detail.css">
<style>
    .bottom{
        height:50px;
        border-top:1px solid #f9f9f9;
        width:100%;
        position:fixed;
        bottom:0;
        background-color:#FAFAFA;
    }
    .bottom>div{
        font-size: 15px;
        line-height: 49px;
        text-align: center;
        height:49px;
        float:left;
        width:33.3%;
        color:#333;
    }
    .bottom>div:not(:last-child):before {
        content: '';
        width: 1px;
        height: 49px!important;
        background-color: #e5e5e5;
        float: right;
    }
    .box{
        position:fixed;
        bottom:50px;
        left:0;
        width:33.3%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom:0px;
        height:0;
        overflow: hidden;
    }
    .box>ul{
        margin:0 auto;
        background-color:#FAFAFA;
        border:1px solid #f9f9f9;
        border-radius: 5px;
        width:80px;
        padding-left:5px;
        padding-right:5px;
    }
    .box>ul>li{
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        border-bottom: 1px solid #e5e5e5;
    }
    .box>ul>li:last-child{
        border:none;
    }
</style>
{/block}
{block name="body"}
    <div class="top">
        <span></span>
        <img src="/home/images/tourist/12.png" alt="">
        <p>您好！欢迎关注德清地信小镇党建！</p>
        <b></b>
    </div>
    <div class="bottom">
        <div data-id="">手机党校</div>
        <div data-id="http://dqpb.0571ztnet.com/home/topic/index?winzoom=1">专题讨论</div>
        <div data-id="http://dqpb.0571ztnet.com/home/topic/experience?winzoom=1">党校体验</div>
    </div>
    <div class="box">
        <ul>
            <li data-id="http://dqpb.0571ztnet.com/home/learn/index?winzoom=1">两学一做</li>
            <li data-id="http://dqpb.0571ztnet.com/home/work/dangshi?winzoom=1">党史学习</li>
            <li data-id="http://dqpb.0571ztnet.com/home/constitution/game?winzoom=1">在线答题</li>
            <li data-id="http://dqpb.0571ztnet.com/home/constitution/course">每日一课</li>
        </ul>
    </div>
{/block}
{block name="script"}
<script>
    $('body').height($(window).height()-50);
    var a=false;
    //点击弹出菜单
    $('.bottom>div').click(function(){
        if($(this).attr('data-id')){
            window.location.href=$(this).attr('data-id');
        }else{
            if(!a){
                $('.box').animate({'height':'176px','padding-bottom':'10px'});
                a=true;
            }else{
                $('.box').animate({'height':'0','padding-bottom':'0'});
                a=false;
            }
        }
    });
    //点击跳转
    $('.box>ul>li').click(function(){
        if($(this).attr('data-id')){
            window.location.href=$(this).attr('data-id');
        }else{

        }
    });
    //赋值现在的时间
    $('.top>span').html(CurentTime());
    //取时间
    function CurentTime()
    {
        var now = new Date();
        var year = '';       //年
        var month = '';     //月
        var day = '';            //日
        var hh = now.getHours();            //时
        var mm = now.getMinutes();          //分
        var clock = '';
        if(month < 10)
            if(day < 10)
                if(hh < 10)
                    clock += "0";
        clock += hh + ":";
        if (mm < 10) clock += '0';
        clock += mm;
        return(clock);
    }

</script>
{/block}