{extend name="public/common"}

{block name="style"}
<style>
	a{
		display: block;
		height: 40px;
		color: #666666;
		line-height: 40px;
		text-align: center;
	}
</style>
{/block}

{block name="body"}
<!--<a href="{:Url('News/index')}">第一聚焦</a>-->
<a href="{:Url('Structure/index')}">组织架构</a>
<a href="{:Url('Learn/index')}">手机党校</a>
<a href="{:Url('Constitution/game')}">每日一课</a>
<a href="{:Url('Topic/index')}">专题讨论</a>
<a href="{:Url('Topic/experience')}">党性体验</a>
<a href="{:Url('Notice/index')}">支部活动</a>
<a href="http://byt.dqpb.cn/home/alliance/index/c/1">地信红盟1</a>
<a href="http://byt.dqpb.cn/home/alliance/index/c/2">地信红盟2</a>
<a href="http://byt.dqpb.cn/home/alliance/index/c/3">地信红盟3</a>
<a href="http://byt.dqpb.cn/home/college/index/c/1">红领学院1</a>
<a href="http://byt.dqpb.cn/home/college/index/c/2">红领学院2</a>
<a href="http://byt.dqpb.cn/home/college/index/c/3">红领学院3</a>
<a href="{:Url('Volunteer/team')}">服务团队</a>
<a href="{:Url('Volunteer/order')}">服务订单</a>
<a href="{:Url('Volunteer/recruit')}">志愿招募</a>
<a href="{:Url('User/index')}">个人中心</a>
<a href="{:Url('Rank/personal')}">个人排行榜</a>
<a href="{:Url('Rank/department')}">支部排行榜</a>
<a href="{:Url('College/index')}">红领学院</a>
{/block}

{block name="script"}

{/block}