{extend name="public/pure"}

{block name="style"}
    <title>台州市“小个专”党建工作平台</title>
    <link rel="stylesheet" href="/home/css/common/rem.css">
    <link rel="stylesheet" href="/home/css/index/index.css">
    <link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="/home/css/common/tip.css">
<style>
    /*悬浮按钮*/
    .new {
        position: fixed;
        right: 20px;
        bottom: 40px;
        width: 60px;
        height: 60px;
    }
    .manager.after {
        position: absolute;
        bottom:68px;
        right:10px;
        content: '';
        width: 13.3vw;
        height: 13.3vw;
        background: url("/home/images/special/special.png") no-repeat;
        background-size: 100% 100%;
        opacity: 1;
        -webkit-animation: cir2 0.5s ease-in;
        animation: cir2 0.5s ease-in;
    }
</style>
{/block}

{block name="body"}
    <!--banner-->
    <div class="banner">
        <img src="/home/images/common/banner.png" alt="首页banner图">
        <a href="{:Url('User/index')}" class="user">
            {eq name="visit" value="0"}
            <img src="{$user|get_header}" alt="个人中心">
            {else/}
            <img src="/home/images/user/vistor.jpg" alt="个人中心">
            {/eq}
        </a>
    </div>
    <!--图标轮播-->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
	<ul class="model clearfix">
	<li>
		<a href="{:Url('News/index')}">
			<img src="/home/images/index/2.png" alt="党建动态">
			<span>党建动态</span>
		</a>
	</li>
    <li>
        <a href="{:Url('Learn/index')}">
            <img src="/home/images/index/9.png" alt="党建风采">
            <span>党建风采</span>
        </a>
    </li>
	<li>
		<a href="{:Url('Company/index?c=1')}">
			<img src="/home/images/index/5.png" alt="党员之家">
			<span>党员之家</span>
		</a>
	</li>
    <li>
        <a href="{:Url('Constitution/game?c=1')}">
            <img src="/home/images/index/3.png" alt="网上党校">
            <span>党课在线</span>
        </a>
    </li>
	<li>
		<a href="{:Url('Notice/index?c=1')}">
			<img src="/home/images/index/1.png" alt="通知公告">
			<span>通知公告</span>
		</a>
	</li>
	<li>
		<a href="{:Url('Vote/meet')}">
			<img src="/home/images/index/8.png" alt="视频会议">
			<span>视频会议</span>
		</a>
	</li>
</ul>
            </div>
        <div class="swiper-slide">
            <ul class="model clearfix">
                <li>
                    <a href="{:Url('Redcollection/index?c=1')}">
                        <img src="/home/images/index/7.png" alt="红色珍藏">
                        <span>红色珍藏</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('Volunteer/order')}">
                        <img src="/home/images/index/4.png" alt="心愿认领">
                        <span>心愿认领</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('Feedback/index')}">
                        <img src="/home/images/index/5.png" alt="党员之声">
                        <span>党员之声</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('Structure/index?c=1')}">
                        <img src="/home/images/index/6.png" alt="组织架构">
                        <span>组织架构</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('Tourist/erweima')}">
                        <img src="/home/images/index/12.png" alt="游客模式">
                        <span>游客模式</span>
                    </a>
                </li>
                <li>
                    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxa9604d4517c1ee5d&redirect_uri=https%3A%2F%2Fqy.weixin.qq.com%2Fcgi-bin%2Fwap_contact_v5%3Ftype%3Dcontact&response_type=code&scope=snsapi_base&state=MTA3NDAwODM0Mg%3D%3D#wechat_redirect">
                        <img src="/home/images/index/8.png" alt="队伍管理">
                        <span>队伍管理</span>
                    </a>
                </li>
            </ul>
        </div>
            </div>
<div class="swiper-pagination"></div>
    </div>
    <!--分割线-->
    <div class="level"></div>
    <!--新闻通知-->
    <div class="notice">
        <!--党建动态-->
        {volist name="details.new" id="vo"}
            <a href="{:Url('News/detail?id='.$vo['id'])}" class="list clearfix" data-type="new">
                <div class="fl">
                    <img src="{$vo.front_cover|get_cover='path'}" alt="图片">
                    <span class="type">党建动态</span>
                </div>
                <div class="fr right">
                    <div class="title limit_">{$vo.title}</div>
                    <div class="clearfix time">
                        <span class="fr">{$vo.create_time|date="Y-m-d",###}</span>
                        <span class="fl">{$vo.publisher}</span>
                    </div>
                </div>
            </a>
        {/volist}
        <!--通知公告-->
        {volist name="details.notice" id="vo"}
            <a href="{:Url('Notice/forumnotice?id='.$vo['id'])}" class="list clearfix" data-type="notice">
                <div class="fl">
                    <img src="{$vo.front_cover|get_cover='path'}" alt="图片">
                    <span class="type">通知公告</span>
                </div>
                <div class="fr right">
                    <div class="title limit_">{$vo.title}</div>
                    <div class="clearfix time">
                        <span class="fr">{$vo.create_time|date="Y-m-d",###}</span>
                        <span class="fl">{$vo.publisher}</span>
                    </div>
                </div>
            </a>
        {/volist}
            <!--党建风采-->
            {volist name="details.learn" id="vo"}
                <a href="{:Url('Learn/video?id='.$vo['id'])}" class="list clearfix" data-type="learn">
                    <div class="fl">
                        <img src="{$vo.front_cover|get_cover='path'}" alt="图片">
                        <span class="type">党建风采</span>
                    </div>
                    <div class="fr right">
                        <div class="title limit_">{$vo.title}</div>
                        <div class="clearfix time">
                            <span class="fr">{$vo.create_time|date="Y-m-d",###}</span>
                            <span class="fl">{$vo.publisher}</span>
                        </div>
                    </div>
                </a>
        {/volist}
    </div>
    <!--加载更多-->
    <div class="tip"></div>
    <div class="loading hidden">
        <div class="typing_loader"></div>
    </div>


<a href="{:Url('Special/index')}" class="after manager" id="publish"></a>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplayDisableOnInteraction: false,
        pagination : '.swiper-pagination',
        paginationClickable :true
    });
    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
    $(function(){
        var len = $(".list" ).length;
        if(len == 6){
            $('.tip' ).text('上拉加载更多');
            //上拉加载
            loadScroll();
        }
        moveanyway();
    });
    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var tip = $(".tip");
            var loading = $('.loading');
            var len=[];
            len[0] = $('[data-type = learn]').length;
            len[1] = $('[data-type = new]').length;
            len[2] = $('[data-type = notice]').length;
            if(dh == end && scrollNow){
                scrollNow = false;//请求执行中
                $.ajax({
                    type:"get",
                    url:"{:Url('Index/more')}",
                    data:{
                        length: JSON.stringify(len)
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data['new'].length || data['learn'].length || data['notice'].length){
                            addNews(data);
                            if(data['new'].length + data['learn'].length + data['notice'].length == 6){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;//请求结束
                    }
                })
            }
        })
    }

    function addNews(data){
       for(var key in data){
            var html = '';
            var lists = data[key];
            var len = lists.length;
            var href ='';//跳转链接
            var name = '';//对应的模块名称
            for(var i = 0; i< len;i++){
                var list = lists[i];
                if(list['genre'] == 'learn'){
                    name = '党建风采';
                    href = '/home/learn/video?id='+list['id'];
                }else if(list['genre'] == 'notice'){
                    name = '通知公告';
                    href = '/home/notice/forumnotice?id='+list['id'];
                }else{
                    name = '党建动态';
                    href = '/home/news/detail?id='+list['id'];
                }
                html +=
                        '<a href="'+href+'" class="list clearfix" data-type ="'+list['genre']+'">'+
                            '<div class="fl">'+
                                '<img src="'+list['front_cover']+'" alt="图片">'+
                                '<span class="type">'+name+'</span>'+
                            '</div>'+
                            '<div class="fr right">'+
                                '<div class="title limit_">'+list.title+'</div>'+
                                '<div class="clearfix time">'+
                                    '<span class="fr">'+list.time+'</span>'+
                                    '<span class="fl">'+list.publisher+'</span>'+
                                '</div>'+
                            '</div>'+
                        '</a>'
            }
            $(".notice" ).append(html);
       }
    }
    function moveanyway(){
        var oW,oH,touch_start,touch_end;
        var block = document.getElementById("publish");
        block.addEventListener("touchstart", function(e) {
            var touches = e.touches[0];
            touch_start = touches.clientX;
            oW = touches.clientX - block.offsetLeft;
            oH = touches.clientY - block.offsetTop;
            //阻止页面的滑动默认事件
            document.addEventListener("touchmove",defaultEvent,false);
        },false);
        block.addEventListener("touchmove", function(e) {
            var touches = e.touches[0];
            var oLeft = touches.clientX - oW;
            var oTop = touches.clientY - oH;
            touch_end = touches.clientX;
            if(oLeft < 0) {
                oLeft = 10;
            }else if(oLeft > document.documentElement.clientWidth - block.offsetWidth) {
                oLeft = (document.documentElement.clientWidth - block.offsetWidth);
            }
            if(oTop < 0) {
                oTop = 0;
            }else if(oTop > document.documentElement.clientHeight - block.offsetHeight) {
                oTop = (document.documentElement.clientHeight - block.offsetHeight);
            }
            block.style.left = oLeft+ "px";
            block.style.top = oTop + "px";
            e.preventDefault();
        },false);
        block.addEventListener("touchend",function() {
            document.removeEventListener("touchmove",defaultEvent,false);
            if(touch_start != touch_end && touch_end){
                var d = document.documentElement.clientWidth - block.offsetWidth -10;
                if(block.offsetLeft<(document.documentElement.clientWidth - block.offsetWidth)/2) {
                    d = 10 ;
                }
                $(block).animate({
                    left:d+'px'
                },300)
            }
        },false);
        function defaultEvent(e) {
            e.preventDefault();
        }
    }
</script>
{/block}