.main{
    background: url("/home/images/award/redflag.gif") center center no-repeat;
    background-size: 105% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}
#mainBody{position:relative;width:100%;height:100%;}
.cloud{position:absolute;top:0px;left:0px;width:100%;height:100%;background:url("/home/images/award/cloud.png") no-repeat;z-index:1;opacity:0.8;}
.musicBtn{
    width: 10vw;
    position: absolute;
    left: 5vw;
    bottom: 20vh;
    height: 10vw;
    z-index:999;
}
.music{
    background: url("/home/images/answer/2.png") center center no-repeat;
    background-size: 100% 100%;
}
.stop{
    background: url("/home/images/answer/1.png") center center no-repeat;
    background-size: 100% 100%;
}
.logo{
    width:65vw;
    height:16vw;
    position:absolute;
    top:5vw;
    left:18vw;
}
.logo img{
    display: none;
}
.logo .img1{
    position: absolute;
    left:140px;
    top:170px;
}
.logo .img2{
    position: absolute;
    left:270px;
    top:120px;
}
.logo .img3{
    position: absolute;
    left:410px;
    top:80px;
}
.logo .img4{
    position: absolute;
    left:560px;
    top:60px;
}
.logo .img5{
    position: absolute;
    left:710px;
    top:80px;
}
.logo .img6{
    position: absolute;
    left:840px;
    top:120px;
}
.logo .img7{
    position: absolute;
    left:960px;
    top:180px;
}
.btn1{
    background: url("/home/images/answer/GIF1.gif") center center no-repeat;
    background-size: 100% 100%;
    width: 300px;
    height: 100px;
    position:absolute;
    bottom:200px;
    left:44vw;
    text-align: center;
    color:#ffffff;
    line-height:100px;
    font-size:26px;
    font-family:"微软雅黑";
    letter-spacing:2px;
    display: block;
    z-index:999;
}
.rotate{
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
}
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

#audio{
    display: none;
}