.main{
    background: url("/home/images/answer/banner.png") center center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}
.musicBtn{
    width: 10vw;
    position: absolute;
    left: 5vw;
    bottom: 20vh;
    height: 10vw;
}
.music{
    background: url("/home/images/answer/2.png") center center no-repeat;
    background-size: 100% 100%;
}
.stop{
    background: url("/home/images/answer/1.png") center center no-repeat;
    background-size: 100% 100%;
}
.logo{
    width:65vw;
    height:16vw;
    position:absolute;
    top:5vw;
    left:18vw;
}
.logo img{
    position:absolute;
    top:-300px;
}
.logo img:nth-child(1) {
    animation:mymove 10s  infinite;
    -webkit-animation:mymove 10s  infinite; /* Safari 和 Chrome */
}
@-webkit-keyframes mymove{
    0%   { -webkit-transform: translate(50px,-500px); }
    100% { -webkit-transform: translate(50px,500px); }
}
.logo img:nth-child(2) {
    animation:mymove1 10s infinite;
    -webkit-animation:mymove1 10s infinite; /* Safari 和 Chrome */
}
@-webkit-keyframes mymove1{
    0%   { -webkit-transform: translate(220px,-450px); }
    100% { -webkit-transform: translate(220px,450px); }
}
.logo img:nth-child(3) {
    animation:mymove2 10s infinite;
    -webkit-animation:mymove2 10s infinite; /* Safari 和 Chrome */
}
@-webkit-keyframes mymove2{
    0%   { -webkit-transform: translate(390px,-400px); }
    100% { -webkit-transform: translate(390px,400px); }
}
.logo img:nth-child(4) {
    animation:mymove3 10s infinite;
    -webkit-animation:mymove3 10s infinite; /* Safari 和 Chrome */
}
@-webkit-keyframes mymove3{
    0%   { -webkit-transform: translate(560px,-350px); }
    100% { -webkit-transform: translate(560px,350px); }
}
.logo img:nth-child(5) {
    animation:mymove4 10s infinite;
    -webkit-animation:mymove4 10s infinite; /* Safari 和 Chrome */
}
@-webkit-keyframes mymove4{
    0%   { -webkit-transform: translate(730px,-400px); }
    100% { -webkit-transform: translate(730px,400px); }
}
.logo img:nth-child(6) {
    animation:mymove5 10s infinite;
    -webkit-animation:mymove5 10s infinite; /* Safari 和 Chrome */
}
@-webkit-keyframes mymove5{
    0%   { -webkit-transform: translate(900px,-450px); }
    100% { -webkit-transform: translate(900px,450px); }
}
.logo img:nth-child(7) {
    animation:mymove6 10s infinite;
    -webkit-animation:mymove6 10s infinite; /* Safari 和 Chrome */
}
@-webkit-keyframes mymove6{
    0%   { -webkit-transform: translate(1050px,-500px); }
    100% { -webkit-transform: translate(1050px,500px); }
}
.btn1{
    background: url("/home/images/answer/GIF1.gif") center center no-repeat;
    background-size: 100% 100%;
    width: 300px;
    height: 100px;
    position:absolute;
    bottom:200px;
    left:44vw;
    text-align: center;
    color:#ffffff;
    line-height:100px;
    font-size:26px;
    font-family:"微软雅黑";
    letter-spacing:2px;
    display: block;
}
.rotate{
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
}
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

#audio{
    display: none;
}