.top>span{
    display:block;
    width:42px;
    background-color:#cecece;
    color:#fff;
    margin:0 auto;
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
    font-size: 11px;
    border-radius: 5px;
    line-height: 20px;
}
.top>img{
    width: 40px;
    height:40px;
    float:left;
    margin-left:10px;
}
.top>p{
    font-size: 15px;
    color:#333;
    background-color:#fff;
    float: left;
    margin-left:10px;
    border: 1px solid #e5e5e5;
    padding-left:10px;
    padding-right:5px;
    border-radius: 5px;
    padding-top:10px;
    padding-bottom: 10px;
    width:65%;
}
.top>b{
    width:10px;
    height:18px;
    background:url("/home/images/tourist/21.png") no-repeat center center;
    background-size:cover;
    position:absolute;
    top:52px;
    left:52px;
}
body{
    background-color:#EBEBEB;
}