.title{
    height:22px;
    background-color:#f1f0f6;
    padding-left:10px;
    font-size: 12px;
    line-height: 22px;
    color:#999;
}
.list{
    background-color:#fff;
}
.list>li{
    padding-left:10px;
    border-bottom: 0.5px solid #d7d7d7;
    height:56px;
    -webkit-tap-highlight-color:rgba(0,0,0,.5);
}
.list>li:last-child{
    border:none;
}
.list>li>img{
    float:left;
    width:36px;
    height:36px;
    display:block;
    margin-top:10px;
}
.list>li>a{
    font-size: 16px;
    color:#333;
    text-decoration: none;
    line-height: 56px;
    float:left;
    margin-left:11px;
}