{extend name='public/common'}
{block name='style'}
<title>通讯名录</title>
<link rel="stylesheet" href="/home/css/newsletter/detail.css">
{/block}
{block name='body'}

<div class="summary clearfix">
    <div class="nameAccount">
        <p class="name clearfix">
            <span class="fl">姓名</span>
            <!-- 男-->
            <i class="male fl"></i>
            <!-- 女-->
            <i class="female fl"></i>
        </p>
        <p class="account">账号：15558023165</p>
    </div>
    <div class="img">
        <img src="/home/images/1.jpg" alt="">
    </div>
</div>

<div class="line"></div>

<div class="lists">
    <div class="list clearfix">
        <span class="fl">手机</span>
        <span class="fr"><a href="tel:18158417280">18158417280</a></span>
    </div>
    <div class="list clearfix">
        <span class="fl">场馆</span>
        <span class="fr">杭州击剑馆</span>
    </div>
    <div class="list clearfix">
        <span class="fl">职位</span>
        <span class="fr">主教练</span>
    </div>
    <div class="list clearfix">
        <span class="fl">剑种</span>
        <span class="fr">花剑、重剑</span>
    </div>
</div>

{/block}
{block name='script'}


{/block}