{extend name='public/common'}
{block name='style'}
<title>通讯名录</title>
<link rel="stylesheet" href="/home/css/newsletter/index.css">
{/block}
{block name='body'}

<!-- 搜索-->
<div class="search clearfix">
    <div class="searchInput fl">
        <input type="text" placeholder="在此处中输入姓名/手机号进行搜索">
    </div>
    <div class="cancel fr"><a href="javascript:;">取消</a></div>
</div>

<!-- 搜索结果列表-->
<div class="searchResult">

</div>

<!-- 部门列表-->
<div class="content">
    <!-- 一级  有二级情况 hasTwo-->
    {volist name="one" id="vo"}
    {if condition="($vo['twopd'] == 1)"}
    <div class="list1 hasTwo">
        {else /}
        <div class="list1">
            {/if}
            {if condition="($vo['twopd'] == 1)"}
            <a href="javascript:;">
                {else /}
                <a href="{:Url('Newsletter/userlist?id='.$vo['id'])}">
                    {/if}
                    <span>{$vo.name}</span>
                    <i class="fr"></i>
                </a>
        </div>

        <div class="lists2">
            <!-- 二级  有三级情况 hasThree-->
            {volist name="$vo['two']" id="lo"}
            {if condition="($lo['threepd'] == 1)"}
            <div class="list2 hasThree">
                {else /}
                <div class="list2">
                    {/if}
                    {if condition="($lo['threepd'] == 1)"}
                    <a href="javascript:;">
                        {else /}
                        <a href="{:Url('Newsletter/userlist?id='.$lo['id'])}">
                            {/if}
                            <span>{$lo.name}</span>
                            <i class="fr"></i>
                        </a>
                </div>

                <div class="lists3">
                    <!-- 三级-->
                    {if condition="!empty($lo['three'])"}
                    {volist name="$lo['three']" id="co"}
                    <div class="list3">
                        <a href="{:Url('Newsletter/userlist?id='.$co['id'])}">
                            <span>{$co.name}</span>
                            <i class="fr"></i>
                        </a>
                    </div>
                    {/volist}
                    {/if}
                </div>
                {/volist}

            </div>
            {/volist}
        </div>
    </div>
    {/block}
    {block name='script'}

    <script src="/home/js/reset.js"></script>
    <script>

        var hasTwoClick = getCookie('hasTwoClick') ? getCookie('hasTwoClick') : '';
        var hasThreeClick = getCookie('hasThreeClick') ? getCookie('hasThreeClick') : '';
        $(function () {
            if (hasTwoClick != '') {
                $('.hasTwo').eq(hasTwoClick).click();
                if (hasThreeClick != '') {
                    $('.hasThree').eq(hasThreeClick).click();
                }
            }
        });
        /*
         * 下拉
         * */
        $(".hasTwo").on('click', function () {
            $(this).toggleClass('active');
            if ($(this).hasClass('active')) {
                setCookie('hasTwoClick',$(this).index())
            }else {
                setCookie('hasTwoClick','')
            }
            $(this).next('.lists2').fadeToggle();
        });

        $('.hasThree').on('click', function () {
            $(this).toggleClass('active');
            if ($(this).hasClass('active')) {
                setCookie('hasThreeClick',$(this).index())
            }else {
                setCookie('hasThreeClick','')
            }
            $(this).next('.lists3').fadeToggle();
        });

        /*
         * 搜索
         * */
        $(".searchInput input").on('focus', function () {
            $('.searchResult').show();
            $('.content').hide();
        }).on('input', function () {
            var val = $(this).val();
            $('.searchResult a,.searchResult .noList').remove();
            $.ajax({
                url: "{:Url('Newsletter/search')}",
                type: 'post',
                data: {
                    val: val
                },
                success: function (msg) {
                    addMsg(msg);
                    lazy();
                }
            })
        });

        /*
         * 添加数据
         * */
        function addMsg(data) {
            var list = data.data;
            var html = '';
            if (list.length == 0) {
                html = '<div class="noList">搜索无内容，请重新搜索</div>';
            }
            for (var i in list) {
                html += '<a href="javascript:;" class="list clearfix">';
                if (list.header == null) {
                    html +=  '<img src="' + list[i].avatar + '" alt="" class="fl lazy">';
                }else {
                    html += '<img src="' + list[i].header + '" alt="" class="fl lazy">';
                }
                html +=
                        '<span class="fl name">' + list[i].name + '</span>' +
                        '</a>'
            }

            $('.searchResult').append(html);
        }

        /*
         * 取消事件
         * */
        $('.cancel').on('click', function () {
            $('.searchResult').hide();
            $('.content').show();
            $('.searchInput input').val('');
        });


        /*
         * 图片懒加载功能函数
         * */

        function lazy() {
            $("img.lazy").lazyload({
                placeholder: "/home/images/loading.jpg",
                effect: "fadeIn",
                threshold: 500
            });
        }

    </script>

    {/block}