{extend name='public/common'}
{block name='style'}
<title>通讯名录</title>
<link rel="stylesheet" href="/home/css/newsletter/userlist.css">
{/block}
{block name='body'}

{if condition="($qx != 0)"}

<!-- 搜索-->
<div class="search clearfix">
    <div class="searchInput fl">
        <input type="text" placeholder="在此处中输入姓名/手机号进行搜索">
    </div>
    <div class="cancel fr"><a href="javascript:;">取消</a></div>
</div>

<!-- 搜索结果列表-->
<div class="searchResult">

</div>

<!-- 通讯列表-->
<div class="content">
    <!-- 列表开始-->
    {volist name="charArray" id="vo"}
    <div class="userList" name="{$key}" id="{$key}">
        <span class="letter">{$key}</span>
        <div class="user">
            <!-- 同字母列表开始-->
            {volist name="$vo" id="lo"}
            <a href="{:Url('Newsletter/detail?id='.$lo['uid'])}" class="clearfix">
                <img src="{$lo.img}" alt="" class="fl">
                <span class="name fl">{$lo.name}</span>
            </a>
            {/volist}
            <!-- 同字母列表结束-->
        </div>
    </div>
    {/volist}
    <!-- 列表结束-->

        </div>
    </div>
    <!-- 列表结束-->
</div>


 <!--字母顺序-->
<div class="letters">
    <ul>
        {volist name="k" id="cc"}
        <li>
            <a href="javascript:;">{$cc}</a>
        </li>
        {/volist}
    </ul>
</div>

{else /}
<!-- 无权限-->
<div class="noOrder">
    <img src="/home/images/mall/noPrower.png" alt="">
    <p>暂无权限</p>
</div>
{/if}
{/block}
{block name='script'}

<script>
    var id = '{$bmid}';
    /*
    * 锚点事件
    * */
    $(".letters a").on('click', function () {
        $(this).addClass('active').parent('li').siblings('li').find('a').removeClass('active');
        window.location.replace(location.href + '#' + $(this).text());
    });

    $(function () {
        $(".letters li").eq(0).find('a').addClass('active');
    });

    /*
    * 滑动事件
    * */
    $(window).off("scroll" ).on('scroll', function () {
        var userListTop = 0;
        let arr = [];
        var reachTop = $('.search').height() + 2 * $('.search').css('paddingTop').replace('px', '');
        var heithtTop = $(this).scrollTop() - reachTop;
        $(".letters li").find('a').removeClass('active');
        for (var j = 0; j < $('.userList').length; j++) {
            userListTop += $('.userList').eq(j).height();
            if (heithtTop >= userListTop) {
                arr.push(j);
            }else if (heithtTop < $('.userList').eq(0).height()) {
                arr = [];
            }
        }
        $(".letters li").eq(arr.length).find('a').addClass('active');
    });

    /*
     * 搜索
     * */
    $(".searchInput input").on('focus', function () {
        $('.searchResult').show();
        $('.content').hide();
    }).on('input', function () {
        var val = $(this).val();
        $.ajax({
            url: "{:Url('Newsletter/search2')}",
            type: 'post',
            data: {
                val: val,
                bmid:id
            },
            success: function (msg) {
                $('.searchResult a,.searchResult .noList').remove();
                if (msg.code == 0) {
                    var html = '';
                    html = '<div class="noList">搜索无内容，请重新搜索</div>';
                    $('.searchResult').append(html);
                }else {
                    addMsg(msg);
                }
                lazy();
            }
        })
    });

    /*
     * 添加数据
     * */
    function addMsg(data) {
        var list = data.data;
        var html = '';
        for (var i = 0; i < list.length; i++) {
            for (var j in list[i]) {
                html += '<a href="/home/newsletter/detail/id/'+ j +'" class="list clearfix">';
                if (list.header == null) {
                    html +=  '<img src="/home/images/common/vistor.jpg" alt="" class="fl lazy">';
                }else {
                    html += '<img src="' + list[i][j].header + '" alt="" class="fl lazy">';
                }
                html +=
                        '<span class="fl name">' + list[i][j].name + '</span>' +
                        '</a>'
            }
        }

        $('.searchResult').append(html);
    }

    /*
     * 取消事件
     * */
    $('.cancel').on('click', function () {
        $('.searchResult').hide();
        $('.content').show();
        $('.searchInput input').val('');
    });


    /*
     * 图片懒加载功能函数
     * */

    function lazy() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold : 500
        });
    }

</script>

{/block}