{extend name='public/common'}
{block name='style'}
<title>通讯名录</title>
<link rel="stylesheet" href="/home/css/newsletter/userlist.css">
{/block}
{block name='body'}

<!-- 搜索-->
<div class="search clearfix">
    <div class="searchInput fl">
        <input type="text" placeholder="在此处中输入姓名/手机号进行搜索">
    </div>
    <div class="cancel fr"><a href="javascript:;">取消</a></div>
</div>

<!-- 搜索结果列表-->
<div class="searchResult">

</div>

<!-- 通讯列表-->
<div class="content">
    <!-- 列表开始-->
    <div class="userList" name="A" id="A">
        <span class="letter">A</span>
        <div class="user">
            <!-- 同字母列表开始-->
            <a href="/home/newsletter/detail.html" class="clearfix">
                <img src="/home/images/1.jpg" alt="" class="fl">
                <span class="name fl">姓名</span>
            </a>
            <!-- 同字母列表结束-->
        </div>
    </div>
    <!-- 列表结束-->
    <!-- 列表开始-->
    <div class="userList" name="B" id="B">
        <span class="letter">B</span>
        <div class="user">
            <!-- 同字母列表开始-->
            <a href="/home/newsletter/detail.html" class="clearfix">
                <img src="/home/images/1.jpg" alt="" class="fl">
                <span class="name fl">姓名</span>
            </a>
            <!-- 同字母列表结束-->
            <!-- 同字母列表开始-->
            <a href="/home/newsletter/detail.html" class="clearfix">
                <img src="/home/images/1.jpg" alt="" class="fl">
                <span class="name fl">姓名</span>
            </a>
            <!-- 同字母列表结束-->
            <!-- 同字母列表开始-->
            <a href="/home/newsletter/detail.html" class="clearfix">
                <img src="/home/images/1.jpg" alt="" class="fl">
                <span class="name fl">姓名</span>
            </a>
            <!-- 同字母列表结束-->
        </div>
    </div>
    <!-- 列表结束-->
    <!-- 列表开始-->
    <div class="userList" name="C" id="C">
        <span class="letter">C</span>
        <div class="user">
            <!-- 同字母列表开始-->
            <a href="/home/newsletter/detail.html" class="clearfix">
                <img src="/home/images/1.jpg" alt="" class="fl">
                <span class="name fl">姓名</span>
            </a>
            <!-- 同字母列表结束-->
            <!-- 同字母列表开始-->
            <a href="/home/newsletter/detail.html" class="clearfix">
                <img src="/home/images/1.jpg" alt="" class="fl">
                <span class="name fl">姓名</span>
            </a>
            <!-- 同字母列表结束-->
            <!-- 同字母列表开始-->
            <a href="/home/newsletter/detail.html" class="clearfix">
                <img src="/home/images/1.jpg" alt="" class="fl">
                <span class="name fl">姓名</span>
            </a>
            <!-- 同字母列表结束-->
            <!-- 同字母列表开始-->
            <a href="/home/newsletter/detail.html" class="clearfix">
                <img src="/home/images/1.jpg" alt="" class="fl">
                <span class="name fl">姓名</span>
            </a>
            <!-- 同字母列表结束-->
        </div>
    </div>
    <!-- 列表结束-->
    <!-- 列表开始-->
    <div class="userList" name="D" id="D">
        <span class="letter">D</span>
        <div class="user">
            <!-- 同字母列表开始-->
            <a href="/home/newsletter/detail.html" class="clearfix">
                <img src="/home/images/1.jpg" alt="" class="fl">
                <span class="name fl">姓名</span>
            </a>
            <!-- 同字母列表结束-->
            <!-- 同字母列表开始-->
            <a href="/home/newsletter/detail.html" class="clearfix">
                <img src="/home/images/1.jpg" alt="" class="fl">
                <span class="name fl">姓名</span>
            </a>
            <!-- 同字母列表结束-->
            <!-- 同字母列表开始-->
            <a href="/home/newsletter/detail.html" class="clearfix">
                <img src="/home/images/1.jpg" alt="" class="fl">
                <span class="name fl">姓名</span>
            </a>
            <!-- 同字母列表结束-->
            <!-- 同字母列表开始-->
            <a href="/home/newsletter/detail.html" class="clearfix">
                <img src="/home/images/1.jpg" alt="" class="fl">
                <span class="name fl">姓名</span>
            </a>
            <!-- 同字母列表结束-->
        </div>
    </div>
    <!-- 列表结束-->
</div>

<!-- 字母顺序-->
<div class="letters">
    <ul>
        <li>
            <a href="javascript:;">A</a>
        </li>
        <li>
            <a href="javascript:;">B</a>
        </li>
        <li>
            <a href="javascript:;">C</a>
        </li>
        <li>
            <a href="javascript:;">D</a>
        </li>
        <li>
            <a href="javascript:;">E</a>
        </li>
        <li>
            <a href="javascript:;">F</a>
        </li>
        <li>
            <a href="javascript:;">G</a>
        </li>
    </ul>
</div>

{/block}
{block name='script'}

<script>

    /*
    * 锚点事件
    * */
    $(".letters a").on('click', function () {
        $(this).addClass('active').parent('li').siblings('li').find('a').removeClass('active');
        window.location.replace('/home/newsletter/userlist.html#' + $(this).text());
    });

    /*
     * 搜索
     * */
    $(".searchInput input").on('focus', function () {
        $('.searchResult').show();
        $('.content').hide();
    }).on('input', function () {
        var val = $(this).val();
        $('.searchResult a,.searchResult .noList').remove();
        $.ajax({
            url: '',
            type: 'post',
            data: {
                val: val
            },
            success: function (msg) {
                addMsg(msg);
                lazy();
            }
        })
    });

    /*
     * 添加数据
     * */
    function addMsg(data) {
        var list = data.data;
        var html = '';
        if (list.length == 0) {
            html = '<div class="noList">搜索无内容，请重新搜索</div>';
        }
        for (var i = 0; i < list.length; i++) {
            html += '<a href="javascript:;" class="list clearfix">'+
                    '<img src="'+ list.src +'" alt="" class="fl lazy">'+
                    '<span class="fl name">'+ list.name +'</span>'+
                    '</a>'
        }

        $('.searchResult').append(html);
    }

    /*
     * 取消事件
     * */
    $('.cancel').on('click', function () {
        $('.searchResult').hide();
        $('.content').show();
        $('.searchInput input').val('');
    });


    /*
     * 图片懒加载功能函数
     * */

    function lazy() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold : 500
        });
    }

</script>

{/block}