@import "tab";
@import "common";
@import "title-pos-time";

#tab{
  top:50vw;
  a{
    &:after{
      left:49vw;
    }
  }
}

#refreshContainer {
  margin-top: 58vw;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
  color: #fff;
  background: #ffa626;
}

.banners{
  z-index: 99;
  height: 50vw;
  width:100vw;
  position: relative;
    img{
      width: 100%;
      height: 50vw;
    }
}

.swiper-pagination-bullet{
  float: right;
}

.list{
  ul{
    a{
      height:20vw;
      span{
        &:nth-child(4){
          display: inline-flex;
          align-items:center;
          color: $span-color;
          top:0;
          right: 2vw;
        }
      }
    }
  }
}

.default {
  img{
    width: 16vw;
    position: absolute;
    left: 50%;
    margin-top: 30%;
    margin-left: -8vw;
  }
}
