{extend name="public/common"}

{block name="style"}
<title>签到</title>
<link rel="stylesheet" href="/home/css/association/game.css">
<style>
    /*.sucTop img {width:4.8rem;height:4.2rem;}*/
    .sucDetail07 {
        width: 100%;
        text-align: center;
        color: #666;
        font-size: .3rem;
    }
    .sucDetail08 {
        width: 100%;
        text-align: center;
        color: #666;
        font-size: .35rem;
    }
</style>
{/block}
{block name="body"}
<div id="signNull">
    <div class="sucTop">
    <img src="/home/images/sign/sign01.png" alt="">
    <!--<p>恭喜您比赛报名成功！</p>-->
    </div>
    <div class="sucDetail07" style="margin-top: 1.4rem;">请打开签到二维码</div>
    <div class="sucDetail07" style="color: #3A8CFB;margin-top: .3rem;">（个人中心-我的签到）</div>
    <div class="sucDetail08" style="margin-top: 2rem;">在屏幕下方的扫描器扫描二维码进行签到</div>
</div>
<div id="signSucc" style="display: none;">
    <!--<div class="sucTop"><img src="/home/images/sign/sign02.png" alt=""><p>恭喜同学签到成功！</p></div>-->
    <!--<div class="sucDetail">-->
        <!--<div class="sucDetail03">-->
            <!--<p><span>姓名</span><span>1</span></p>-->
            <!--<p><span>组别</span><span>1</span></p>-->
            <!--<p><span>剑种</span><span>1</span></p>-->
            <!--<p><span>赛别</span><span>1</span></p>-->
            <!--<p><span>代表单位</span><span>1</span></p>-->
            <!--<p><span>岗位</span><span>1</span></p>-->
        <!--</div>-->
    <!--</div>-->
</div>
<input type="text" class="number" maxlength="11" style="background: red;">
<div class="bg"></div>
<ul class="roster"></ul>
<!--<div class="sucDetail04">在屏幕下方的扫描器扫描二维码进行签到</div>-->
{/block}
{block name="script"}
<script src="/admin/js/plugins/toastr/toastr.min.js"></script>
<script>

    var a = '';

    var wh = $(window).height();
    $('body').height(wh);

    //签到
    var last = '';
    var end = true;
    //初始化签到
    $('.sign').on('click', function () {
        history.go(0)
    });
    $('.bg').off('click').on('click', function () {
        $('.bg,.roster').fadeOut();
        $('.number').focus();
    });
    $('.more').each(function () {
        var hh = $(this).parents('.content').height();
        $(this).height(hh).css('padding-top', hh - 18);
    });

    $('.number').focus();
    var clean;
    document.onkeyup = function (event) {
        var e = window.event ? event.keyCode : event.which;
        var keyCode = String.fromCharCode(e);
        if (a.length >= 11) {
            a = '';
            return false;
        }
        if (end == true && a.length < 10) {
            a += keyCode;
        } else {
            if (a.length < 11 && end == true) {
                a += keyCode;
                var re = /^[0-9]+.?[0-9]*$/; //判断字符串是否为数字 //判断正整数 /^[1-9]+[0-9]*]*$/
                var nubmer = a;

                if (!re.test(nubmer)) {
                    end = false;
                    toastr.error('请重新扫描二维码');
                    speckText('请重新扫描二维码');
                    setTimeout(function () {
                        a = '';
                        end = true;
                    }, 1500);
                    return false;
                }

                var num = a;
                if (last != num && end == true) {
                    last = num;
                    end = false;
                    // 签到更新
                    $.ajax({
                        type: "post",
                        url: "{:Url('sign/sign')}",
                        data: {
                            venue_id: 98,
                            openid:num
                        },
                        dataType: "Json",
                        success: function (data) {
                            if(data.code == 0){
                                speckText(data.msg);
                            }else{
                                console.log(data)
                                var data = data.data;
                                var html = '';
                                if(data.type == 1){
                                    html ='<div class="sucTop"><img src="/home/images/sign/sign02.png" alt=""><p>'+data.tip+'</p></div>'
                                        +'<div class="sucDetail"><div class="sucDetail03">'
                                        +'<p><span>姓名</span><span>1</span></p>'
                                        +'<p><span>性别</span><span>1</span></p>'
                                        +'<p><span>就读学校</span><span>1</span></p>'
                                        +'<p><span>剑种</span><span>1</span></p>'
                                        +'<p><span>训练场馆</span><span>1</span></p>'
                                        +'</div></div>'
                                }else if(data.type == 2){
                                    html ='<div class="sucTop"><img src="/home/images/sign/sign02.png" alt=""><p>'+data.tip+'</p></div>'
                                        +'<div class="sucDetail"><div class="sucDetail03">'
                                        +'<p><span>姓名</span><span>1</span></p>'
                                        +'<p><span>性别</span><span>1</span></p>'
                                        +'<p><span>岗位级别</span><span>1</span></p>'
                                        +'<p><span>剑种</span><span>1</span></p>'
                                        +'<p><span>训练场馆</span><span>1</span></p>'
                                        +'</div></div>'
                                }
                                else if(data.type == 3){
                                    html ='<div class="sucTop"><img src="/home/images/sign/sign02.png" alt=""><p>'+data.tip+'</p></div>'
                                        +'<div class="sucDetail"><div class="sucDetail03">'
                                        +'<p><span>姓名</span><span>'+data.name+'</span></p>'
                                        +'<p><span>性别</span><span>'+data.sex+'</span></p>'
                                        +'<p><span>岗位</span><span>'+data.comment+'</span></p>'
                                        +'</div></div>'
                                }
                                $('#signNull').hide();
                                $('#signSucc').show().html(html);
                            }
                        }
                    })
                } else {
                    a = '';
                }
            }
        }
    }


    // 播放声音
    function speckText(str) {
//	var url = "http://tts.baidu.com/text2audio?lan=zh&ie=UTF-8&spd=7&text=" + encodeURI(str);        // baidu
        var url = "http://tsn.baidu.com/text2audio?tex=" + encodeURI(str) + "&lan=zh&ctp=1&cuid={$token}&tok={$token}&per=0&spd=7&pit=5&vol=5";        // baidu
        console.log(url)
        var n = new Audio(url);
        n.src = url;
        n.play();
    }

    // 提醒框配置
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "positionClass": "toast-top-center",
        "onclick": null,
        "showDuration": "500",
        "hideDuration": "500",
        "timeOut": "10000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
        "progressBar": true
    }

</script>
{/block}