{extend name="public/common"}

{block name="style"}
<title>我要报名</title>
<link rel="stylesheet" href="/home/css/association/game.css">
{/block}
{block name="body"}
    <div class="sucTop">
        <img src="/home/images/sign/sign02.png" alt="">
        <p>恭喜同学签到成功！</p>
        <p>恭喜教练签到成功！</p>
        <p>恭喜签到成功！</p>
    </div>
    <div class="sucDetail">
        <div class="sucDetail03">
            <p><span>姓名</span><span>1</span></p>
            <p><span>组别</span><span>1</span></p>
            <p><span>剑种</span><span>1</span></p>
            <p><span>赛别</span><span>1</span></p>
            <p><span>代表单位</span><span>1</span></p>
            <p><span>岗位</span><span>1</span></p>
        </div>
    </div>
{/block}
{block name="script"}
{/block}