{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/redcollection/filmdetail.css">
<style>
	.scrollDiy{
		position: absolute;
		top:0;
		bottom:0;
		overflow-y: scroll;
		/* 增加该属性，可以增加弹性 */
		-webkit-overflow-scrolling: touch;
		width:100%;
	}
</style>
{/block}

{block name="body"}
<div class="scrollDiy">
	<div class="film">
		<div class="title limit_">{$film.title}</div>
		<div class="note">
			<span>{$film.create_time|time_format='Y-m-d'}</span>
		</div>
		<div class="content">
			<iframe height=250 width=510 src='{$film.net_path}' frameborder=0 allowfullscreen></iframe>
			{$film.content}
			<div class="note">
				<span class="read">{$film.views}</span>
				{eq name="visit" value="0"}
				{eq name="film.is_like" value="0"}
				<span class="isgood good" onclick="isGood(this,9,{$film.id})">{$film.likes}</span>
				{else/}
				<span class="isgood good_" onclick="isGood(this,9,{$film.id})">{$film.likes}</span>
				{/eq}
				{else/}
				<span class="isgood good">{$film.likes}</span>
				{/eq}
			</div>
		</div>
	</div>
	<div class="comment">
		<div class="sum">共<span>{$film.comments}</span>条评论</div>
		<div class="lists">
			{volist name="comment" id="co"}
			<div class="list clear">
				<div class="fl">
					<img src="{$co.header}" alt="用户" class="user">
				</div>
				<div class="fl mid">
					<div class="name limit">{$co.nickname}</div>
					<div class="content" >{$co.content}</div>
					<div class="time">{$co.create_time|time_format="Y-m-d"}</div>
				</div>
				{eq name="visit" value="0"}
				{eq name="co.is_like" value="1"}
				<div class="fr isgood good_" onclick="isGood(this,0,{$co.id})">{$co.likes}</div>
				{else/}
				<div class="fr isgood good" onclick="isGood(this,0,{$co.id})">{$co.likes}</div>
				{/eq}
				{else/}
				<div class="fr isgood good">{$co.likes}</div>
				{/eq}
			</div>
			{/volist}
		</div>
		<div class="tip"></div>
		<div class="loading hide">
			<div class="typing_loader"></div>
		</div>
	</div>
	{eq name="visit" value="0"}
	<div class="bottom clear">
		<div class="myword fl">
			<input type="text" placeholder="说说你的感想！" id="message"  onclick="send(this,9,{$film.id})">
		</div>
	</div>
	{/eq}
</div>
{/block}

{block name="script"}
<script>
	var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
//点赞
function isGood(e,type,id){
	//type：1文章，2评论
//	var type = $(e).hasClass('fr')?2:1;
	$.ajax({
		type:"post",
		url:"{:Url('Base/like')}",
		data:{
			type:type,
			aid:id,
		},
		success:function(data){
			var n = $(e ).text();
			$(e).toggleClass('good' ).toggleClass('good_');
			$(e).hasClass('good')?n--:n++;
			$(e).text(n);
		}
	})
}
//发送评论
	var send = function(e,type,id){
		setTimeout(function(){
			$("input").focus();
		},0)
		swal({
					title: "",
					text: "请输入评论内容！",
					type: "input",
					showCancelButton: true,
					animation: "slide-from-top",
					inputPlaceholder: "请在此输入评论内容（300字以内）",
					confirmButtonText: "确定",
					cancelButtonText: "取消",
					closeOnConfirm: false
				},
				function(inputValue){
					if (inputValue === false) {
						$(".bottom").show();
						setTimeout(function(){
							$("input").blur();
						},0)
						return false
					}else if (inputValue === "" || inputValue.length<5)
					{
						swal.showInputError("评论不少于5个字");
						return false
					}else if(inputValue.length>300){
						swal.showInputError("评论不得多于300字");
					}else{
						$.ajax({
							type:"post",
							url:"{:Url('Base/comment')}",
							data:{
								type:type,
								aid:id,
								content:inputValue
							},
							success: function (msg) {
								var data = msg.data;
								var userid = "'" + data.create_user + "'";
								var html = '';
								html += '<div class="list clear">' +
										'<div class="fl">' +
										'<img src="' + data.header + '" alt="用户头像" class="user">' +
										'</div>' +
										'<div class="fl mid">' +
										'<div class="name limit">' + data.nickname + '</div>' +
										'<div class="content" >' + inputValue + '</div>' +
										'<div class="time">' + data.time + '</div>' +
										'</div>' +
										'<div class="fr isgood good" onclick="isGood(this,0,' + data.id + ')">' + data.likes + '</div>' +
										'</div>';
								$('.lists').prepend(html);
								inputValue="";
								var sum = $('.sum span');
								sum.text(parseInt(sum.text()) + 1)
								swal({
									title: ' ',
									text: '评论成功',
									type: 'success',
									confirmButtonText: '确定',
									timer: 3000
								});
							}
						});
					}
					setTimeout(function(){
						$("input").blur();
					},0)
				});
	};

 if(navigator.userAgent.match(/android/i)){
     $("input").focus(function(){
         $(".bottom").css("position","absolute")
         var inputTextBox = document.getElementById('message');
         setInterval(function(){
             inputTextBox.scrollIntoView(false);
         },200)
     });
     $("input").blur(function(){
         $(".bottom").css("position","fixed")
     })
 }




    //评论加载更多
function loadScroll(){
	$('.scrollDiy').off("scroll" ).on("scroll",function(){
		var dh = $('.film').height() + $('.comment').height();
		var end = $('.scrollDiy').height() + $('.scrollDiy').scrollTop();
		var len = $(".list" ).length;
		var tip = $(".tip");
		var loading = $('.loading');
		var id = {$film.id};
		if(dh <= end && scrollNow){
			scrollNow = false;//请求执行中
			$.ajax({
				type:"post",
				url:"{:Url('Base/morecomment')}",
				data:{
					type:9,
					aid:id,
					length:len
				},
				beforeSend: function(XMLHttpRequest){
					tip.hide();
					loading.toggleClass('hidden');
				},
				success:function(data){
					loading.toggleClass('hidden');
					tip.show();
					now1 = false;//请求结束,恢复状态
					if(data.code == 1){
						addComment(data);
						var dataLen =data.data.length;
						if(data.data.length == 5){
							tip.text('上拉加载更多');
						}
					}else{
						tip.text('没有更多了');
						$('.scrollDiy').off("scroll");
					}
					scrollNow = true;//请求结束
				}
			})
		}
	})
}
function addComment(data){
	//is_like : 1为已点赞 0为未点赞
	var html = '';
	var lists = data.data;
	var len = lists.length;
	for(var i = 0; i< len;i++){
		var list = lists[i];
		var userid = "'"+list.create_user+"'";
		html += '<div class="list clear">'+
				'<div class="fl">'+
				'<img src="'+list.header+'" alt="用户" class="user">'+
				'</div>'+
				'<div class="fl mid">'+
				'<div class="name limit">'+ list.nickname+'</div>'+
				'<div class="content" >'+ list.content+'</div>'+
				'<div class="time">'+ list.time+'</div>'+
				'</div>';
		if ({$visit} == 0) {
			if (list.is_like == 0) {
				html += '<div class="fr isgood good" onclick="isGood(this,0,' + list.id + ')">' + list.likes + '</div>'
			} else {
				html += '<div class="fr isgood good_" onclick="isGood(this,0,' + list.id + ')">' + list.likes + '</div>'
			}
		}else {
			html += '<div class="fr isgood good">' + list.likes + '</div>'
		}
		html+=
				'</div>';
	}
	$(".lists" ).append(html);
}
//--------------------------------------------------------------------------
//
//	Class style
//
//--------------------------------------------------------------------------
//fix兼容
function tofixed(){
	var u = navigator.userAgent;
	var word = $('.myword input');
	var bottom =$('.bottom');
	var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
	if(isiOS){
		//兼容ios7
		$(document).scrollTop(1);
		word.focus(function(){
			var noInputViewHeight = $(window).height() - bottom.height();
			var contentHeight = $(document).height() - bottom.height();
			contentHeight = contentHeight > noInputViewHeight ? contentHeight : noInputViewHeight;
			setTimeout(function(){
				var inputTopHeight = bottom.offset().top - $(window).scrollTop()+1;
				var inputTopPos = bottom.offset().top + inputTopHeight+1;
				inputTopPos = inputTopPos > contentHeight ? contentHeight : inputTopPos;
				bottom.css({'position':'absolute', 'top':inputTopPos });
				$(window).on('touchstart', function(){
					word.blur();
				});
			}, 100);
		});
		word.on('blur',function(){
			//输入框失焦后还原初始状态
			var a =$(window).height()-45;
			bottom.css({'position': 'fixed','top':'','bottom':'0'});
		})
	}
}
$('title').text('红色电影');
$(function(){
	timer();
	setInterval(timer,60000);
	//reset
	var len = $(".list" ).length;
	if(len >= 7){
		$('.tip' ).text('上拉加载更多');
		//上拉加载评论
		loadScroll();
	}

	//ios fix兼容
//	tofixed();
})

	//计时
	var timer = function(){
		var iid = "{$insert_id}";
		$.ajax({
			type:"post",
			url:"{:Url('Study/article')}",
			data:{
				id:iid
			},
			success:function(){

			}
		})
	}
</script>
{/block}