{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/redcollection/film.css">
{/block}

{block name="body"}
<div class="search">
	<span class="fa fa-search"></span>
	<input type="text" placeholder="输入电影名称">
</div>
<div class="results"></div>
<div class="lists-title clear">
	经典热播
</div>
<div class="lists">
	{volist name="list" id="vo"}
	<a href="{:Url('Redcollection/filmdetail?id='.$vo['id'])}" class="list">
		<img src="{$vo.front_cover|get_cover='path'}" alt="红色电影" class="list-img">
		<div class="list-title limit">{$vo.title}</div>
		<div class="list-summary limit">{$vo.introduction}</div>
	</a>
	{/volist}
</div>
{/block}

{block name="script"}
<script>
$('title').text('红色电影');
$(function(){
	//搜索
	var search = $('.search>input');
	var lock = false;
	search.on('compositionstart',function(){
		lock = true;
	});
	search.on('compositionend',function(){
		lock = false;
	});
	search.on('input',function(){
		var this_ = this;
		if(!lock){
			var val = $(this_ ).val();
			var html = '';
			$.ajax({
				type:"post",
				url: "{:Url('Redcollection/filmserch')}",
				data:{
					val:val
				},
				beforeSend: function(XMLHttpRequest){},
				success:function(data){
					var result = data.data;
					var url = '';
					if(!data.data){
						html +=
								'<div class="result limit">无搜索结果</div>'
					}
					for(var obj in result){
						html+= '<a href=\"/home/Redcollection/filmdetail?id='+obj+'\" class="result limit">'+result[obj]+'</a>';
					}
					$('.results' ).html(html);
				}

			});
		}
	});
})
</script>
{/block}