{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/redcollection/book.css">
{/block}

{block name="body"}
<div class="banner">
	<img src="/home/images/redcollection/bookbg.jpg" alt="红色书籍banner" class="banner-img">
	<div class="search">
		<span class="fa fa-search"></span>
		<input type="text" placeholder="搜索书籍名字、作者名字">
		<div class="results"></div>
	</div>
</div>
<div class="tabs">
	<span class="tab active">经典书籍</span>
	<span class="tab">经典语录</span>
</div>
<div class="listbox">
	<div class="books active">
		<!--经典书籍列表-->
		{volist name="books" id="book"}
		<a href="{:Url('Redcollection/bookdetail?id='.$book['id'])}" class="list">
			<img src="{$book.front_cover|get_cover='path'}" alt="书籍封面">
			<div class="content">
				<span class="title limit">{$book.title}</span>
				<span class="author limit">作者：{$book.name}</span>
				<span class="read">读过：{$book.have_read}</span>
			</div>
			<span class="fa fa-angle-right"></span>
		</a>
		{/volist}
		<!--经典书籍列表-->
	</div>
	<div class="words hidden">
		<!--经典语录列表-->
		{volist name="remark" id="re"}
		<a href="{:Url('Redcollection/quotationdetail?id='.$re['id'])}" class="list clear">
			<span class="title limit">{$re.title}</span>
			<span class="fr fa fa-angle-right"></span>
		</a>
		{/volist}
		<!--经典语录列表-->
	</div>
</div>
{/block}

{block name="script"}
<script>
//模块标题
$('title').text('红色文学');
$(function(){
	//搜索
	var search = $('.search>input');
	var lock = false;
	search.on('compositionstart',function(){
		lock = true;
	});
	search.on('compositionend',function(){
		lock = false;
	});
	search.on('input',function(){
		var this_ = this;
		if(!lock){
			var val = $(this_ ).val();
			var html = '';
			$.ajax({
				type:"post",
				url: "{:Url('Redcollection/booksearch')}",
				data:{
					val:val
				},
				beforeSend: function(XMLHttpRequest){},
				success:function(data){
					var result = data.data;
					if(!data.data){
						html +=
								'<div class="result limit">无搜索结果</div>'
					}
					for(var obj in result){
						html+= '<a href=\"/home/Redcollection/bookdetail?id='+obj+'\" class="result limit">'+result[obj]+'</a>';
					}
					$('.results' ).html(html);
				}
			});
		}
	});
	//切换卡
	$('.tab' ).off('click').on('click',function(){
		var this_ = this ;
		var box = $('.listbox');
		var index = $(this_ ).index();
		var ww = $('.tabs' ).width();
		$(this_ ).addClass('active' );
		$(this_ ).siblings('.tab').removeClass('active');
		if(index == 1){
			$('.words' ).removeClass('hidden');
		}else{
			$('.books' ).removeClass('hidden');
		}
		ww = ww * index;
		box.animate({left: -ww +'px'},500,function(){
			if(index == 1){
				$('.books').addClass('hidden');
			}else{
				$('.words').addClass('hidden');
			}
		});
	})
	//如果是访问经典语录后返回就执行
	var redliterature = sessionStorage.getItem("redliterature");
	if(redliterature){
		$('.tabs>span:last').click();
		sessionStorage.removeItem("redliterature");
	}
})
</script>

{/block}