{extend name="public/pure"}

{block name="style"}
<title></title>
<link rel="stylesheet" href="/home/sass/stylesheets/answer/index.css">
{/block}
{block name="body"}
<div class="main">
    <!--音乐按钮-->
    <div class="musicBtn music rotate"></div>
    <audio src="/home/sass/fonts/award_bg.mp3" autoplay="autoplay" loop="loop" id="audio"></audio>
    <!--文字logo-->
    <div class="logo">
      <img src="/home/images/award/1.png" class="img1">
     <img src="/home/images/award/2.png">
      <img src="/home/images/award/3.png">
      <img src="/home/images/award/4.png">
      <img src="/home/images/award/5.png">
      <img src="/home/images/award/7.png">
      <img src="/home/images/award/6.png">
    </div>
    <!--开始游戏按钮-->
    <a href="{:Url('Award/index')}" class="btn1">开始游戏</a>
</div>
{/block}
{block name="script"}
<script>
    var audio = document.getElementById("audio");
    $(".musicBtn").on("click",function(){
        if($(this).hasClass("music")){
            $(this).removeClass("music").addClass("stop").removeClass("rotate");
            audio.pause();
        }else{
            $(this).removeClass("stop").addClass("music").addClass("rotate");
            audio.play();
        }
    });
/*    var oImg = document.querySelector('.img1');
    oImg.addEventListener("webkitAnimationIteration", function(){ //动画重复运动时的事件
       setInterval(function(){
      /!*  oImg.style.top= 400+"px";
        oImg.style.left= 50+"px";*!/
       },5000)
    }, false);*/













</script>
{/block}