{extend name="public/pure"}

{block name="style"}
<title></title>
<link rel="stylesheet" href="/home/sass/stylesheets/answer/index.css">
<link rel="stylesheet" href="/home/sass/stylesheets/animate.min.css">
{/block}
{block name="body"}
<div class="main">
    <div id="cloud1" class="cloud"></div>
    <div id="cloud2" class="cloud"></div>
    <!--音乐按钮-->
    <div class="musicBtn music rotate"></div>
    <audio src="/home/sass/fonts/award_bg.mp3" autoplay="autoplay" loop="loop" id="audio"></audio>
    <!--文字logo-->
    <div class="logo">
      <img src="/home/images/award/1.png" class="animated img1">
     <img src="/home/images/award/2.png"  class="animated img2">
      <img src="/home/images/award/3.png" class="animated img3">
      <img src="/home/images/award/4.png" class="animated img4">
      <img src="/home/images/award/5.png" class="animated img5">
      <img src="/home/images/award/7.png" class="animated img6">
      <img src="/home/images/award/6.png" class="animated img7">
    </div>
    <!--开始游戏按钮-->
    <a href="{:Url('Award/index')}" class="btn1">开始游戏</a>
</div>
{/block}
{block name="script"}
<script>
    $(function(){
        timer();
        setInterval(timer,5000);
    });
    var timer = function(){
        setTimeout(function(){
            $(".img1").removeClass("flipOutX").addClass("flipInX").show();
        },0);
        setTimeout(function(){
            $(".img2").removeClass("flipOutX").addClass("flipInX").show();
        },300);
        setTimeout(function(){
            $(".img3").removeClass("flipOutX").addClass("flipInX").show();
        },600);
        setTimeout(function(){
            $(".img4").removeClass("flipOutX").addClass("flipInX").show();
        },900);
        setTimeout(function(){
            $(".img5").removeClass("flipOutX").addClass("flipInX").show();
        },1200);
        setTimeout(function(){
            $(".img6").removeClass("flipOutX").addClass("flipInX").show();
        },1500);
        setTimeout(function(){
            $(".img7").removeClass("flipOutX").addClass("flipInX").show();
        },1800);
        setTimeout(function(){
            $(".logo img").removeClass("flipInX").addClass("flipOutX");
        },4500)
    }
    var audio = document.getElementById("audio");
    $(".musicBtn").on("click",function(){
        if($(this).hasClass("music")){
            $(this).removeClass("music").addClass("stop").removeClass("rotate");
            audio.pause();
        }else{
            $(this).removeClass("stop").addClass("music").addClass("rotate");
            audio.play();
        }
    });

var $main = $cloud = mainwidth = null;
var offset1 = 0;
var offset2 = 0;

var offsetbg = 0;

$(document).ready(

        function () {
            $main = $(".main");
            $body = $("body");
            $cloud1 = $("#cloud1");
            $cloud2 = $("#cloud2");
            mainwidth = $main.outerWidth();
        }
);

setInterval(function flutter() {
    if (offset1 >= mainwidth) {
        offset1 =  -100;
    }

    if (offset2 >= mainwidth) {
        offset2 =  -200;
    }
    offset1 += 1.1;
    offset2 += 1;
    $cloud1.css("background-position", offset1 + "px 30px");

    $cloud2.css("background-position", offset2 + "px 340px");
}, 70);
</script>
{/block}