{extend name="public/pure"}

{block name="style"}
<title></title>
<link rel="stylesheet" href="/home/sass/stylesheets/answer/index.css">
{/block}
{block name="body"}
<div class="main">
    <!--音乐按钮-->
    <div class="musicBtn music"></div>
    <audio src="/home/images/answer/59aaaa2984643.mp3" controls="controls" autoplay="autoplay" loop="loop" id="audio"></audio>
    <!--文字logo-->
    <div class="logo"></div>
    <!--礼品gif-->

    <!--开始游戏按钮-->
    <a href="{:Url('Award/index')}" class="btn1">开始游戏</a>
    <!--返回大厅按钮-->
    <a href="#" class="btn2">返回大厅</a>
</div>
{/block}
{block name="script"}
<script>
    var audio = document.getElementById("audio");
    $(".musicBtn").on("click",function(){
        if($(this).hasClass("music")){
            $(this).removeClass("music").addClass("stop");
            audio.pause();
        }else{
            $(this).removeClass("stop").addClass("music");
            audio.play();
        }
    });

</script>
{/block}