{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/award/award.css">
<link rel="stylesheet" href="/home/css/award/liMarquee.css">
<title>答题抽奖</title>
<style>
    .modal-body h4{
        text-indent: 2em;
        font-weight: normal;
        font-size: 1.4rem;
        line-height:2rem;
    }
    #close{
        position: relative;
        left: 50%;
        margin-left: -6vw;
    }
    .awards{
        text-align: center;
        color: #f99000;
        position: absolute;
        top: 20vw;
        text-align: center;
        font-size: 1.7rem;
        left: 50%;
        width: 60vw;
        margin-left: -30vw;
    }

    #specialAward{
        position: absolute;
        top: 28vw;
        color: #ff9900;
        font-size: 1.7rem;
        width: 60vw;
        left: 50%;
        margin-left: -30vw;
        text-align: center;
    }
    .checkprize{
        position: absolute;
        top: 36vw;
        color: #ff9900;
        font-size: 1.5rem;
        width: 80vw;
        left: 50%;
        margin-left: -40vw;
        text-align: center;
    }


</style>
{/block}

{block name="body"}
<img src="/home/images/award/header.png" style="width:100%;">
<div class="draw" id="lottery">
    <table style="    position: relative;
    left: 13.5vw;
    top: 37vw;">
        <tr>
            <td class="item lottery-unit lottery-unit-0" data-id="3">
                <div class="img">
                    <img src="/home/images/award/100.png" alt="">
                </div>
                <span class="name">三等奖</span>
            </td>
            <td class="gap"></td>
            <td class="item lottery-unit lottery-unit-1" data-id="1">
                <div class="img">
                    <img src="/home/images/award/phone.png" alt="" style="width: 10vw;">
                </div>
                <span class="name">一等奖</span>
            </td>
            <td class="gap"></td>
            <td class="item lottery-unit lottery-unit-2" data-id="2">
                <div class="img">
                    <img src="/home/images/award/500.png" alt="">
                </div>
                <span class="name">二等奖</span>
            </td>
        </tr>
        <tr>
            <td class="gap-2" colspan="5"></td>
        </tr>
        <tr>
            <td class="item lottery-unit lottery-unit-7" data-id="4">
                <div class="img">
                    <img src="/home/images/award/join.png" alt="" style="width: 10vw;">
                </div>
                <span class="name">参与奖</span>
            </td>
            <td class="gap"></td>
            <td class=""><a class="draw-btn" href="javascript:"><span>立即<br>抽奖</span></a></td>
            <td class="gap"></td>
            <td class="item lottery-unit lottery-unit-3" data-id="3">
                <div class="img">
                    <img src="/home/images/award/100.png" alt="">
                </div>
                <span class="name">三等奖</span>
            </td>
        </tr>
        <tr>
            <td class="gap-2" colspan="5"></td>
        </tr>
        <tr>
            <td class="item lottery-unit lottery-unit-6" data-id="2">
                <div class="img">
                    <img src="/home/images/award/500.png" alt="">
                </div>
                <span class="name">二等奖</span>
            </td>
            <td class="gap"></td>
            <td class="item lottery-unit lottery-unit-5" data-id="3">
                <div class="img">
                    <img src="/home/images/award/100.png" alt="">
                </div>
                <span class="name">三等奖</span>
            </td>
            <td class="gap"></td>
            <td class="item lottery-unit lottery-unit-4"data-id="4" >
                <div class="img">
                    <img src="/home/images/award/join.png" alt="" style="width: 10vw;">
                </div>
                <span class="name">参与奖</span>
            </td>
        </tr>
    </table>
</div>
<div class="button">
    <img src="/home/images/award/button.png" class="rule" onclick="show()">
    <span onclick="show()">活动规则</span>
    <img src="/home/images/award/button.png" class="myprise" onclick="prize()">
    <span onclick="prize()">我的奖品</span>
</div>

{neq name="roll" value=""}
<div id="div1" class="rotation">
    <div id="dowebok">
        {volist name="roll" id="vo"}
        <span>
             {if condition="$vo.stuff_id eq '1'"}
            恭喜 {$vo.userid|get_name} 获得一等奖手机一部
            {elseif condition="($vo.stuff_id == 2)"/}
            恭喜 {$vo.userid|get_name} 获得二等奖话费500元
            {elseif condition="$vo.stuff_id eq 3"/}
            恭喜 {$vo.userid|get_name} 获得三等奖话费100元
            {elseif condition="$vo.stuff_id eq 4"/}
            恭喜 {$vo.userid|get_name} 获得参与奖20积分
            {/if}
        </span>
        <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
        {/volist}
    </div>
</div>
{/neq}


<!--模态框-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div  style="background: url(/home/images/award/alert.png);background-size: 100% 100%;width: 100%;height: 48vw;"></div>
    <img src="/home/images/award/alertbanner.png" style="    position: absolute;top: 0;width: 80%;left: 10%;">
    <p class="awards">恭喜您获得<span id="awards"></span></p>
    <p id="specialAward"></p>
    <p class="checkprize">查看产品和更多请前往个人中心</p>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <img src="/home/images/rank/close.png" alt="规则" data-dismiss="modal" aria-hidden="true" style="width:12vw;height:12vw" id="close">
        <div class="modal-content" style="margin:6vw auto">
            <div style="width: 0;height: 6.4vw;border-right: 2px solid rgba(237, 218, 145, 0.63);margin: -6.4vw auto 0;"></div>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" style="text-align: center">
                    <b>活动规则</b>
                </h4>
            </div>
            <div class="modal-body">
                <h4>
                    1.活动时间：2017年10月5日-2017年10月14日；
                </h4>
                <h4>
                    2.活动时间内，凡是“台州个协党建” 企业号的用户皆可参与每日答题。系统分每日两次在企业号内推送每轮答题活动的通知。每轮参与活动的用户即可赢取2个积分，而全部答对的用户即可赢取抽奖机会，中奖率 100%；
                </h4>
                <h4>
                    3.活动时间内，连续登陆10天即可获得一次大奖抽奖机会，中奖率100%；
                </h4>
                <h4>
                    4.在活动结束后，活动方会对获奖的用户进行公示。获奖用户可在活动结束后获得“台州移动”提供的相关奖品；
                </h4>
                <h4>
                    5.更多内容，请关注“台州个协党建”微信号，将有精彩信息提醒；
                </h4>
                <h4>
                    6.“台州个协党建”微信号保留在法律范围内对上述规则进行解释的权利。
                </h4>
            </div>
            <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
            <!--</div>-->
        </div>
    </div>
</div><!-- /.modal -->
{/block}

{block name="script"}
<script src="/home/js/jquery.liMarquee.js"></script>
<script>
    var award_id =  parseInt(window.location.href.split("id/")[1]);
    $(function(){
        $('#dowebok').liMarquee();
    });
    var lottery = {
        index: -1,    //当前转动到哪个位置，起点位置
        count: 0,     //总共有多少个位置
        timer: 0,     //setTimeout的ID，用clearTimeout清除
        speed: 20,    //初始转动速度
        times: 0,     //转动次数
        cycle: 50,    //转动基本次数：即至少需要转动多少次再进入抽奖环节
        prize: -1,    //中奖位置
        init: function(id) {
            if ($('#' + id).find('.lottery-unit').length > 0) {
                $lottery = $('#' + id);
                $units = $lottery.find('.lottery-unit');
                this.obj = $lottery;
                this.count = $units.length;
                $lottery.find('.lottery-unit.lottery-unit-' + this.index).addClass('active');
            };
        },
        roll: function() {
            $(".draw-btn").addClass("drawing");
            var index = this.index;
            var count = this.count;
            var lottery = this.obj;
            $(lottery).find('.lottery-unit.lottery-unit-' + index).removeClass('active');
            index += 1;
            if (index > count - 1) {
                index = 0;
            };
            $(lottery).find('.lottery-unit.lottery-unit-' + index).addClass('active');
            this.index = index;
            return false;
        },
        stop: function(index) {
            this.prize = index;
            return false;
        }
    };

    function roll() {
        lottery.times += 1;
        lottery.roll(); //转动过程调用的是lottery的roll方法，这里是第一次调用初始化
        if (lottery.times > lottery.cycle + 10 && lottery.prize == lottery.index) {
            var stuff_id = $("#lottery").find('.lottery-unit.lottery-unit-' + lottery.index).attr("data-id");
            var awards = $("#lottery").find('.lottery-unit.lottery-unit-' + lottery.index).find("span").html();
            if(awards=="一等奖"){
                $("#specialAward").html("奖项内容：手机一部");
            }else if(awards=="二等奖"){
                $("#specialAward").html("奖项内容：500元话费");
            }else if(awards=="三等奖"){
                $("#specialAward").html("奖项内容：100元话费");
            }else {
                $("#specialAward").html("奖项内容：20积分");
            }
            $("#awards").html(awards);
            $('#modal').modal('show');
            $.post("{:Url('Award/push')}", {stuff_id:stuff_id,award_id:award_id}, function(data) {

            }, "json");
            clearTimeout(lottery.timer);
            lottery.prize = -1;
            lottery.times = 0;
            click = false;
        } else {
            if (lottery.times < lottery.cycle) {
                lottery.speed -= 10;
            } else if (lottery.times == lottery.cycle) {
                $.post("{:Url('Award/award')}", {award_id:award_id}, function(data) {
                    if(data.code==1){
                        if(data.data==1){
                            var arr = [1]
                            var i = Math.floor((Math.random()*arr.length));
                        }else if(data.data==2){
                            var arr = [2,6]
                            var i = Math.floor((Math.random()*arr.length));
                        }else if(data.data==3){
                            var arr = [0,3,5]
                            var i = Math.floor((Math.random()*arr.length));
                        }else if(data.data==4){
                            var arr = [4,7]
                            var i = Math.floor((Math.random()*arr.length));
                        }
                        var index =arr[i];
                        lottery.prize = index;
                    }
                }, "json");
            } else {
                if (lottery.times > lottery.cycle + 10 && ((lottery.prize == 0 && lottery.index == 7) || lottery.prize == lottery.index + 1)) {
                    lottery.speed += 110;
                } else {
                    lottery.speed += 20;
                }
            }
            if (lottery.speed < 40) {
                lottery.speed = 40;
            };
            lottery.timer = setTimeout(roll, lottery.speed); //循环调用
        }
        return false;
    }

    var click = false;
    var flag =0;
    window.onload = function(){
        lottery.init('lottery');
        $('.draw-btn').click(function() {
            if("{$state}"==1){
                swal({
                    title: "",
                    text: "您已经抽过奖了~下次再来吧",
                    type:"error",
                    showConfirmButton: true,
                    confirmButtonText:"确定"
                });
                return false;
            }
            if(flag == 1){
//                swal({
//                    title: "",
//                    text: "您已经抽过奖了~下次再来吧",
//                    type:"error",
//                    showConfirmButton: true,
//                    confirmButtonText:"确定"
//                });
                return false;
            }else{
                if (click) { //click控制一次抽奖过程中不能重复点击抽奖按钮，后面的点击不响应
                    return false;
                } else {
                    flag = 1;
                    lottery.speed = 100;
                    roll(); //转圈过程不响应click事件，会将click置为false
                    click = true; //一次抽奖完成后，设置click为true，可继续抽奖
                    return false;
                }
            }

        });
    };


    function show(){
        $('#myModal').modal('show');
    }

    function prize(){
        window.location.href="/home/award/prize.html"
    }



</script>
{/block}