<!DOCTYPE html>
<html lang="en">
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta charset="UTF-8">
<title>趣味答题</title>
<link rel="stylesheet" href="/home/sass/stylesheets/screen.css">
<link rel="stylesheet" href="/home/sass/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/home/sass/stylesheets/answer/award.css">
</head>
<body>
<div class="question">
<div class="question-bg">
    <img src="/home/images/award/question_bg.png">
    <div class="question-order"><span>1</span> / 6</div>
    <div class="content">
    {volist name="question" id="vo" key="n"}
    <div class="question-content animated" data-tab="{$vo.value}">
    <p>{$vo.title}</p>
        {volist name="vo->Option" id="value" key="k"}
        <div class="question-answer">
        <span>{if condition="($k eq 1) AND ($value neq ' ')"}A{elseif condition="($k eq 2) AND ($value neq ' ')"}B{elseif condition="($k eq 3 )AND ($value neq ' ')"}C{elseif condition="($k eq 4 )AND ($value neq ' ')"/}D{/if}.</span>
        <span>{$value|substr=###,'2'}</span>
        <div class="answer-radio">
            <input type="radio" name="answer" />
            <label></label>
        </div>
    </div>
   {/volist}
    </div>
{/volist}
        </div>
    </div>
<img src="/home/images/award/next.png" class="next">
<img src="/home/images/award/previous.png" class="previous">
<div class="submit"><span>确认提交</span></div>
</div>

<div class="correct animated">
    <div class="correct-bg">
    <img src="/home/images/award/question_bg.png" class="correct-bg-img">
    <img src="/home/images/award/surprise.png" class="correct-bg-surprise">
    <p>恭喜您，全部答对！</p>
    </div>
    <img src="/home/images/award/correct.gif" class="correct-gif">
    <div class="goback"><span>返回大厅</span></div>
</div>


<div class="error animated">
    <div id="container">
        <div id="leafContainer"></div>
    </div>
    <div class="error-bg">
        <img src="/home/images/award/question_bg.png" class="error-bg-img">
        <img src="/home/images/award/sad.png" class="error-bg-sad">
        <p>很遗憾，答对<span></span>题！</p>
    </div>
    <div class="detail"><span>查看详情</span></div>
    <div class="goback"><span>返回大厅</span></div>
</div>


<div class="answerdetail animated">
    <div class="question-bg answerdetail-bg">
        <img src="/home/images/award/question_bg.png">
        <div class="content">
            {volist name="question" id="vo" key="n"}
            <div class="detail-content">
                <p>{$vo.title}</p>
                {volist name="vo->Option" id="value" key="k"}
                <div class="question-answer">
                    <span>{if condition="($k eq 1) AND ($value neq ' ')"}A{elseif condition="($k eq 2) AND ($value neq ' ')"}B{elseif condition="($k eq 3 )AND ($value neq ' ')"}C{elseif condition="($k eq 4 )AND ($value neq ' ')"/}D{/if}.</span>
                    <span>{$value|substr=###,'2'}</span>
                </div>
                {/volist}
                {if condition="($vo['value'] == 1)"}
                <div class="correctly">正确答案：<span>A</span></div>
                {else /}
                {if condition="($vo['value'] == 2)"}
                <div class="correctly">正确答案：<span>B</span></div>
                {else /}
                {if condition="($vo['value'] == 3)"}
                <div class="correctly">正确答案：<span>C</span></div>
                {else /}
                <div class="correctly">正确答案：<span>D</span></div>
                {/if}
                {/if}
                {/if}
            </div>
            {/volist}
        </div>
    </div>
    <div class="goback"><span>返回大厅</span></div>
</div>

<div class="playmusic music rotate">
    <audio src="/home/sass/fonts/award_bg.mp3" autoplay="true" loop="loop" id="audio"></audio>
    <div path="/home/sass/fonts/award_bg.mp3" id="path"></div>
    <div path="/home/sass/fonts/fail.wav" id="path2"></div>
    <div path="/home/sass/fonts/victory.mp3" id="path3"></div>
</div>
</body>
<script src="/static/js/jquery-2.2.1.min.js"></script>
<script src="/home/js/leaves.js"></script>
<script>
    var answer = [];
    $(function(){
        audio.play();
        $(".question-content").eq(0).show();
    });
 $(".question-answer span:nth-child(2)").on("click",function(){
     var order = parseInt($(".question-order span").text());
     $(".question-content").eq(order-1).addClass("fadeOutRight").
     removeClass("fadeInLeft").removeClass("fadeInRight").removeClass("fadeOutLeft");
     $(".previous").show();
     $(".question-content").eq(order).addClass("fadeInLeft").
     removeClass("fadeOutRight").removeClass("fadeInRight").removeClass("fadeOutLeft").show();
     $(".question-order span").text(order+1);
     if( $(".question-order span").text()==6){
//         $(".question-content").eq(order-1).removeClass("fadeOutRight");
//         $(".question-content").eq(order).removeClass("fadeInLeft");
         $(".submit").show();
         $(".next").hide();
     }
     if( $(".question-order span").text()==7){
         $(".question-order span").text(6)
         $(".question-content").eq(order-1).removeClass("fadeOutRight");
         $(".question-content").eq(order).removeClass("fadeInLeft");
     }
     var check = $(this).next().children("input").hasClass("checked");
     if(!check){
         $(this).parent().parent().find("input").removeClass("checked");
         $(this).next().children("input").addClass("checked");
     }
 });

 $(".answer-radio label").on("click",function(){
     var order = parseInt($(".question-order span").text());
     $(".question-content").eq(order-1).addClass("fadeOutRight").
     removeClass("fadeInLeft").removeClass("fadeInRight").removeClass("fadeOutLeft");
     $(".previous").show();
     $(".question-content").eq(order).addClass("fadeInLeft").
     removeClass("fadeOutRight").removeClass("fadeInRight").removeClass("fadeOutLeft").show();
     $(".question-order span").text(order+1);
     if( $(".question-order span").text()==6){
         $(".submit").show();
         $(".next").hide();
     }
     if( $(".question-order span").text()==7){
         $(".question-order span").text(6)
         $(".question-content").eq(order-1).removeClass("fadeOutRight");
         $(".question-content").eq(order).removeClass("fadeInLeft");
     }
     var check = $(this).prev().hasClass("checked");
     if(!check){
         $(this).parent().parent().parent().find("input").removeClass("checked");
         $(this).prev().addClass("checked");
     }
 });

 $(".playmusic").on("click",function(){
    if($(this).hasClass("music")){
        $(this).removeClass("music").addClass("mute").removeClass("rotate");
        audio.pause();
    }else{
        $(this).removeClass("mute").addClass("music").addClass("rotate");
        audio.play();
    }
 });

    $(".next").on("click",function(){
        var order = parseInt($(".question-order span").text());
        $(".question-content").eq(order-1).addClass("fadeOutRight").
        removeClass("fadeInLeft").removeClass("fadeInRight").removeClass("fadeOutLeft");
        $(".previous").show();
        $(".question-content").eq(order).addClass("fadeInLeft").
        removeClass("fadeOutRight").removeClass("fadeInRight").removeClass("fadeOutLeft").show();
        $(".question-order span").text(order+1);
        if( $(".question-order span").text()==6){
            $(".submit").show();
            $(".next").hide();
        }
    });

    $(".previous").on("click",function(){
        var order = parseInt($(".question-order span").text());
        $(".question-content").eq(order-1).addClass("fadeOutLeft").
        removeClass("fadeInRight").removeClass("fadeOutRight").removeClass("fadeInLeft").hide();
        $(".next").show();
        $(".question-content").eq(order-2).addClass("fadeInRight").
        removeClass("fadeOutLeft").removeClass("fadeOutRight").removeClass("fadeInLeft");
        $(".question-order span").text(order-1);
        if( $(".question-order span").text()==1){
            $(".previous").hide();
        }
    });

    $(".submit").on("click",function(){
        var standard = [];
        var arr = [];
        $(".question-content").each(function(){
            standard.push($(this).data("tab"));
        });
        for(i=0;i<$(".question-content").length;i++){
        if($(".question-content").eq(i).find("input").hasClass("checked")){
            $(".question-content").eq(i).find(".answer-radio input").each(function(index){
                if($(this).hasClass("checked")){
                    answer[i] = (parseInt(index)+1);
                }
            })
          }else{
            answer[i] = null;
        }
        }
       if(JSON.stringify(answer) == JSON.stringify(standard)){
           $(".question").addClass("bounceOut").hide();
           $(".correct").addClass("bounceIn").show();
        audio.pause();
        var luyinpath = $("#path3").attr('path');
        $("#audio").attr('src', luyinpath);
        audio.play();
        setTimeout(function(){
            audio.pause();
            var luyinpath = $("#path").attr('path');
            $("#audio").attr('src', luyinpath);
            audio.play();
        },4000)
       }else{
           console.log(answer)
           console.log(standard)
          for(i=0;i<answer.length;i++){
                  if(answer[i]==standard[i]){
                      arr.push(answer[i]);
                  }
          }
           console.log(arr.length)
           $(".error-bg p span").text(arr.length);
           $(".question").addClass("bounceOut").hide();
           setTimeout(function(){
               $(".error").addClass("bounceIn").show();
               audio.pause();
               var luyinpath = $("#path2").attr('path');
               $("#audio").attr('src', luyinpath);
               audio.play();
               setTimeout(function(){
                   audio.pause();
                   var luyinpath = $("#path").attr('path');
                   $("#audio").attr('src', luyinpath);
                   audio.play();
               },3500)
           },300)
       }

    });

    $(".goback").on("click",function(){
        window.location.href="/home/award/answer.html"
    })

    $(".detail").on("click",function(){
        console.log(answer)
        for(i=0;i<answer.length;i++) {
            if (answer[i]!=null) {
                $(".detail-content").eq(i).find(".question-answer").eq(answer[i]-1).css("background", "#ccc");
            }
        }
        $(".question").addClass("bounceOut").hide();
        $(".error").addClass("bounceOut").hide();
        $(".answerdetail").addClass("bounceIn").show();
    })


</script>
</html>