{extend name="public/common"}

{block name="style"}
<title>我的奖品</title>
<style>
    body{
        background: #fffadc;
    }
    .banner{
        width:100%;
        text-align: center;
        margin-top: 5%;
    }
    .banner img{
        width: 90vw;
        height: 12.8vw;
    }
    .banner span{
        color: #fe7e00;
        position: absolute;
        left: 50vw;
        width: 40vw;
        font-size: 1.7rem;
        margin-left: -20vw;
        line-height: 9.8vw;
    }
    .prizelist ul{
        padding: 5vw 4vw;
    }
    .prizelist ul li{
        border-bottom:1px dashed #fe8601;
        color: #fe8601;
        font-size: 1.6rem;
        padding-bottom: 1vw;
        margin: 4vw 0;
    }
    .prizelist ul li span:nth-child(2){
        float: right;
    }
    .prizelist ul li span:nth-child(3){
        float: right;
        right:0;
        margin-right: 2rem;
    }
    .nopirze{
        color: #fe8601;
        font-size: 1.7rem;
        text-align: center;
        margin-top: 50%;
    }
</style>
{/block}

{block name="body"}
<div class="banner">
    <img src="/home/images/award/prizebanner.png">
    <span>我的奖品</span>
 </div>
<div class="prizelist">
    {empty name="$list" value=""}
        <p class="noprize">您还没有抽到奖品哦~</p>
    {else/}
    <ul>
        {volist name="$list" id="vo"}
        <li>
            {eq name="vo.type" value="1"}
            {if condition="$vo.stuff_id eq '1'"}
            <span>{$vo.create_time|date="Y年m月d日",###}</span>
            <span>一等奖</span>
            <span>话费50元</span>
            {elseif condition="$vo.stuff_id == 2"/}
            <span>{$vo.create_time|date="Y年m月d日",###}</span>
            <span>二等奖</span>
            <span>话费20元</span>
            {elseif condition="$vo.stuff_id eq 3"/}
            <span>{$vo.create_time|date="Y年m月d日",###}</span>
            <span>三等奖</span>
            <span>话费10元</span>
            {elseif condition="$vo.stuff_id eq 4"/}
            <span>{$vo.create_time|date="Y年m月d日",###}</span>
            <span>参与奖</span>
            <span>积分10分</span>
            {/if}
            {else/}
            {if condition="$vo.stuff_id eq '1'"}
            <span>{$vo.create_time|date="Y年m月d日",###}</span>
            <span>一等奖</span>
            <span>手机一部</span>
            {elseif condition="$vo.stuff_id == 2"/}
            <span>{$vo.create_time|date="Y年m月d日",###}</span>
            <span>二等奖</span>
            <span>话费500元</span>
            {elseif condition="$vo.stuff_id eq 3"/}
            <span>{$vo.create_time|date="Y年m月d日",###}</span>
            <span>三等奖</span>
            <span>话费100元</span>
            {elseif condition="$vo.stuff_id eq 4"/}
            <span>{$vo.create_time|date="Y年m月d日",###}</span>
            <span>参与奖</span>
            <span>积分20分</span>
            {/if}
            {/eq}
        </li>
        {/volist}
    </ul>
    {/empty}
</div>
{/block}

{block name="script"}
<script>
</script>
{/block}