{extend name="base/common"}

{block name="style"}
<link rel="stylesheet" href="/static/datepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/iCheck/custom.css">
<link rel="stylesheet" href="/admin/css/chosen/chosen.css">
<style>
    .imggroup{
        position: relative;
    }
    .imgbox{
        height: 100px;
        width: 200px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .imgfile{
        height: 100px;
        width: 200px;
        position: absolute;
        top:0;
        opacity: 0;
    }
    .plus{
        height: 100px;
        width: 200px;
        font-size: 100px;
        line-height: 100px;
        text-align: center;
        color: rgba(204, 204, 204, 0.51);
    }
    .plus:hover{
        font-size: 150px;
    }
    .plus2{
        display: none;
    }
    .plusimg{
        display: none;
    }
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="mail-box-header">
                    <div class="pull-right tooltip-demo">
                        <a href="javascript:window.history.go(-1);" class="btn btn-white btn-sm"><i class="fa fa-reply"></i> 返回</a>
                    </div>
                    <h2>
                        签到课程管理 - {empty name="msg"}添加{else/}修改{/empty}
                    </h2>
                </div>
                <div class="ibox-content all">
                    <form id="form" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>场馆:</label>
                            </div>
                            <div class="col-lg-11">
                                <select name="venue_id" id="venue_id"  class="form-control">
                                    {notempty name="msg"}
                                    <option value="{$msg.venue_id}" >{$venue[$msg.venue_id]}</option>
                                    {else/}
                                    <option value="" >--请选择场馆--</option>
                                    {volist name="venue" id="vo"}
                                    <option value="{$key}" >{$vo}</option>
                                    {/volist}
                                    {/notempty}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>关联发布的课程:</label>
                            </div>
                            <div class="col-lg-11">
                                <select name="pid" id="pid"  class="form-control">
                                    {notempty name="msg"}
                                    <option value="{$msg.pid}" >{$list[$msg.pid]}</option>
                                    {else/}
                                    <option value="" >--请选择课程--</option>
                                    <!--{volist name="list" id="vo"}
                                    <option value="{$key}" >{$vo}</option>
                                    {/volist}-->
                                    {/notempty}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>课程名称:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" placeholder="请输入课程名称" class="form-control form_title" name="course_name" value="{$msg.course_name || default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>课程类型:</label>
                            </div>
                            <div class="col-lg-11">
                                {eq name="msg" value=""}
                                <label class="i-checks">
                                    <input type="radio" checked="" value="1" name="type"> 普通课
                                </label>
                                <label class="i-checks">
                                    <input type="radio" value="2" name="type"> 精品课
                                </label>
                                {else/}
                                <label class="i-checks">
                                    <input type="radio" value="1" name="type" {eq name="msg.type" value="1"}checked{/eq}> 普通课
                                </label>
                                <label class="i-checks">
                                    <input type="radio" value="2" name="type" {eq name="msg.type" value="2"}checked{/eq}> 精品课
                                </label>
                                {/eq}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>课程开始时间:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" readonly="readonly" placeholder="请选择课程开始时间" class="form-control form_title datetimepicker" name="start_time" value="{notempty name='msg'}{$msg['start_time']|time_format='Y-m-d'}{/notempty}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>课程结束时间:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" readonly="readonly" placeholder="请选择课程结束时间" class="form-control form_title datetimepicker" name="end_time" value="{notempty name='msg'}{$msg['end_time']|time_format='Y-m-d'}{/notempty}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>总课时数:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" placeholder="请输入总课时数" class="form-control form_title" name="num" value="{$msg.num || default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>上课时间:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" placeholder="请输入上课时间" class="form-control form_title" name="course_time" value="{$msg.course_time || default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>备注:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" placeholder="请输入备注" class="form-control form_title" name="remark" value="{$msg.remark || default=''}">
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{$msg.id || default=''}">
                        <div class="form-group">
                            <div class="col-lg-11 col-lg-offset-1">
                                <button class="btn btn-primary submit-btn post-put" type="button" target-form="form-horizontal" >发布</button>
                                <a class="btn btn-default" href="javascript:window.history.go(-1);">返回</a>
                            </div>
                        </div>
                        <div class="selblo"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}

<script src="/static/uploadify/jquery.uploadify.min.js"></script>
<script src="/static/iCheck/icheck.min.js"></script>
<script src="/admin/js/chosen.jquery.js"></script>
<script src="/static/datepicker/bootstrap-datetimepicker.js"></script>
<script>
    $(function(){

        //    时间日历
        $( ".datetimepicker" ).datetimepicker( {
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            startView: 2,
            minView: 2,
            forceParse: false,
            language: 'cn'
        });

        //    单选按钮
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

        highlight_subnav("{:Url('course/index')}");
        //上传图片
        var plus = $('.plus');
        var imgnum = 1;
        plus.on('click',function(){
            var it = $(this);
            it.hide().next().fadeIn();
            imgnum = 3;
            if(!it.hasClass('plus2')){
                plus.eq(1).fadeIn();
                imgnum = 2
            }
        });
        $(".imgfile").on("change",function(){
            var size = ($(this)[0].files[0].size / 1024).toFixed(2);
            var imgBox = $(this);
            if(size <= 2048){
                var img = $(this)[0].files[0];
                var formData = new FormData();
                var pic=$(this);
                formData.append("picture",img);
                $.ajax({
                    type:"post",
                    url:"{:Url('File/uploadPicture')}",
                    data:formData,
                    processData : false,
                    contentType : false,
                    success:function(msg){
                        var msg = $.parseJSON(msg);
                        var path = msg.data.path;
                        if(msg['code'] == 1){
                            imgBox.siblings(".img").val(msg.data["id"]);
                            //显示图片缩略图
                            pic.parent().find("img" ).attr({src:path});
                        } else {
                            warning({msg:msg['msg']});
                            return;
                        }
                    }
                });
            } else {
                warning({msg:"您选择的图片超过2mb，请重新选择"});
                return;
            }
        });


        //发布
        $(".post-put").off('click').on("click",function(){
            var it=$(this);
            var data = {
                id:$("input[name='id']").val(),
                venue_id:$("select[name='venue_id']").val(),
                pid:$("select[name='pid']").val(),
                course_name:$("input[name='course_name']").val(),
                type:$("input[name='type']:checked").val(),
                start_time:$("input[name='start_time']").val(),
                end_time:$("input[name='end_time']").val(),
                num:$("input[name='num']").val(),
                course_time:$("input[name='course_time']").val(),
                remark:$("input[name='remark']").val(),
                status:0,
            };
            $.ajax({
                type:"post",
                url:$("#form").attr("action"),
                data:data,
                beforeSend: function(){
                    // Handle the beforeSend event
                    it.attr("disabled","true");
                },
                success:function(data){
                    if(data.code == 1){
                        if (data.url) {
                            updateAlert(data.msg + ' 页面即将自动跳转~','success');
                        }else{
                            updateAlert(data.msg ,'success');
                        }
                        it.prop('disabled','true');
                        it.prev().prop('disabled','true');
                        setTimeout(function(){
                            if (data.url) {
                                location.href=data.url;
                            } else {
                                location.reload();
                            }
                            it.removeAttr('disabled');
                            it.prev().removeAttr('disabled')
                        },2000);
                        it.attr("disabled","false");
                    } else {
                        updateAlert(data.msg, 'error');
                        it.attr('disabled','true');
                        it.prev().prop('disabled','true');
                        setTimeout(function(){
                            it.removeAttr('disabled');
                            it.prev().removeAttr('disabled')
                        },2000);
                    }
                }
            });
            return false;
        });
    });

    // 价格非负数
    function onlyNonNegative(obj) {
        var inputChar = event.keyCode;

        // 1.判断是否有多于一个小数点
        if(inputChar == 110 ) {  // 输入的是否为.

            var index1 = obj.value.indexOf(".") + 1; // 取第一次出现.的后一个位置
            var index2 = obj.value.indexOf(".",index1);
            while(index2 != -1) {
                obj.value = obj.value.substring(0,index2);
                index2 = obj.value.indexOf(".",index1);
            }

        }

        // 2.如果输入的不是.或者不是数字，替换 g:全局替换
        obj.value = obj.value.replace(/[^(\d|.)]/g,"");
    }

    function tofixedTwo(obj) {
        // 判断是否为小数点后两位
        var val = obj.value;
        if (String(val).indexOf(".") + 1 > 0) {
            obj.value = Math.floor(val * 100) / 100;
        }
    }

</script>
{/block}