{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/common/tip.css">
<title>民主评议</title>
<style>
    .content ul li img{
        float: left;
        height: 40px;
        width: 40px;
        margin-left: 16px;
    }
    .content p{
        margin-top: 14px;
        margin-left: 10px;
        position: relative;
        left: 10px;
        font-size: 1.3rem;
        color: #333;
        width:70%;
    }
    .content p:nth-child(4){
        margin-top: 8px;
        clear: both;
        position: relative;
        left: 55px;
        width: 65%;
        top: -15px;
    }
    .content span:nth-child(3){
        float: right;
        margin-top: -18px;
        margin-right: 16px;
        color: #999;
        font-size: 10px;
    }
    .content ul li:after{
        display: block;
        content: '';
        height: 1px;
        background:#f1f1f1 ;
        width: 81vw;
        margin-left: 55px;
    }
    .scrollDiy{
        position:absolute;
        top: 0;
        bottom:0;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }
    .default{
        background:#eee;
        height:0;
    }
    .bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 45px;
        border-top: 1px solid #dadada;
        padding-left: 10px;
        background: #ffffff;
        font-family: "Microsoft YaHei", sans-serif;
    }
    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
    .bottom .myword input {
        vertical-align: middle;
        height: 30px;
        width: 76vw;
        margin: 7px 0;
        padding-left: 10px;
        background: #fafafa;
        border: 1px solid #d8d8d8;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
    .bottom .send {
        width: 19vw;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 45px;
        text-align: center;
    }

</style>
{/block}

{block name="body"}
<div class="scrollDiy">
<div class="content" style="padding-bottom: 50px">
    {empty name="list"}
    <ul><div class="default"><img src="/home/images/notice/nomessage.png" alt="暂无消息"> </div></ul>

        {else/}
    <ul>
        {volist name="list" id="lo"}
        <li>
            <img src="{$lo.userid|get_header}">
            <p>{$lo.userid|get_name}</p>
            <span>{$lo.create_time|time_format='Y-m-d'}</span>
            <p>{$lo.content}</p>
        </li>
        {/volist}
    </ul>
        {/empty}


<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
</div>
<div class="bottom clear">
    <div class="myword fl">
        <input type="text" placeholder="说说你的感想！">
    </div>
    <div class="send fr" onclick="send(this,{$id})">发送</div>
</div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
$(function(){
    var len  = $(".content").find("ul li").length;
    if(len >= 10){
        $('.tip').text('上拉加载更多');
        loadScroll();
    }
})

//滚动加载
function loadScroll(){
    var windowHeight = $(".scrollDiy").height();
    $(".scrollDiy").off("scroll").on("scroll",function () {
        var dh = $(".content").height()+64;
//		console.log("dh"+dh);
        var end = windowHeight + $(".scrollDiy" ).scrollTop();
        var len  = $(".content").find("ul li").length;
        var tip = $(".tip");
        var loading = $('.loading');
        var id = {$id};
        if(dh == end){
            scrollNow = false;
            $.ajax({
                type:"post",
                url:"{:Url('Vote/commentmore')}",
                data:{
                    id : id,
                    length:len,
                },
                beforeSend: function(XMLHttpRequest){
                    tip.hide();
                    loading.toggleClass('hidden');
                },
                success:function(data){
                    loading.toggleClass('hidden');
                    tip.show();
                    if(data.code == 1){
                        addList(data);
                        var dataLen =data.data.length;
                        if(data.data.length == 9){
                            tip.text('上拉加载更多');
                        }
                    }else{
                        tip.text('没有更多了');
                        $(window ).off("scroll");
                    }
                    scrollNow = true;
                }
            })
        }
    })
}

    //列表添加
    function  addList(data) {
        var html = '';
        var lists = data.data;
            $.each(lists,function (index,item) {
                html += '<li>'+
                        '<img src="/home/images/index/1.png">'+
                        '<p>张三</p>'+
                        '<span>2017-07-07</span>'+
                        '<p>不错哦，不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错错哦不错哦不错哦</p>'+
                        '</li>';
            });
            $(".content ul").append(html);
    }

    /**
     * 发送评论
     * @param e
     */
    var send = function(e,id){
        var it = $(e ).prev().find('input');
        if(it.val() != '' && it.val().length > 4){
            $.ajax({
                type:"post",
                url:"{:Url('Vote/comment')}",
                data:{
                    id:id,
                    content:it.val()
                },
                beforeSend:function(){
                    swal({
                        title: ' ',
                        text: '评论提交中...',
                        showConfirmButton:false
                    });
                },
                success:function(data){
                    var data = data.data;
                    var html = '';
                    html += '<li>'+
                            '<img src="'+data.header+'">'+
                            '<p>'+data.name+'</p>'+
                            '<span>'+data.create_time+'</span>'+
                            '<p>'+data.content+'</p>'+
                            '</li>';
                    $(".default").hide();
                    $(".content ul").prepend(html);
                    it.val('');
                    var sum = $('.sum span' );
                    sum.text(parseInt(sum.text())+1);
                    swal({
                        title: ' ',
                        text: '评论成功',
                        type: 'success',
                        confirmButtonText:'确定',
                        timer:3000
                    });
                }
            });
        }else{
            wAlert('您的评论少于5个字');
        }
    };
</script>
{/block}