{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/common/tip.css">
<title>民主评议</title>
<style>
    .content ul li{
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid #f1f1f1;
    }
    .content ul li img{
        float: left;
        height: 10.7vw;
        width: 10.7vw;
        margin-left: 4vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .content p.name{
        position: relative;
        top: 3vw;
        left: 3vw;
        width:calc(100% - 20vw);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .content p:nth-child(4){
        position: relative;
        width: 70%;
        top: 8vw;
        margin-left: 17.7vw;
    }
    .content span:nth-child(3){
        margin-right: 16px;
        color: #999;
        font-size: 10px;
        position: absolute;
        right: 0;
        top: 3vw;
    }
    .scrollDiy{
        position:absolute;
        top: 0;
        bottom:0;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }
    .default{
        background:#eee;
        height:0;
    }
    .bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 45px;
        border-top: 1px solid #dadada;
        padding:0 3vw;
        background: #ffffff;
        font-family: "Microsoft YaHei", sans-serif;
    }
    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
    .bottom .myword input {
        vertical-align: middle;
        height: 30px;
        width: 94vw;
        margin: 7px 0;
        padding-left: 10px;
        background: #fafafa;
        border: 1px solid #d8d8d8;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
    input::-webkit-input-placeholder{
        color: #000;
    }
    .bottom .send {
        width: 19vw;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 45px;
        text-align: center;
    }

</style>
{/block}

{block name="body"}
<div class="scrollDiy">
<div class="content" style="padding-bottom: 50px">
    {empty name="list"}
    <ul><div class="default"><img src="/home/images/notice/nomessage.png" alt="暂无消息"> </div></ul>

        {else/}
    <ul>
        {volist name="list" id="lo"}
        <li>
            <img src="{$lo.userid|get_header}">
            <p class="name">{$lo.userid|get_name}</p>
            <span>{$lo.create_time|time_format='Y-m-d'}</span>
            <p>{$lo.content}</p>
        </li>
        {/volist}
    </ul>
        {/empty}


<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
</div>
<div class="bottom clear" onclick="send(this,{$id})">
    <div class="myword fl">
        <input type="text" placeholder="说说你的感想！" disabled>
    </div>
</div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
$(function(){
    var len  = $(".content").find("ul li").length;
    if(len >= 10){
        $('.tip').text('上拉加载更多');
        loadScroll();
    }
})

//滚动加载
function loadScroll(){
    var windowHeight = $(".scrollDiy").height();
    $(".scrollDiy").off("scroll").on("scroll",function () {
        var dh = $(".content").height()+50;
//		console.log("dh"+dh);
        var end = windowHeight + $(".scrollDiy" ).scrollTop();
        var len  = $(".content").find("ul li").length;
        var tip = $(".tip");
        var loading = $('.loading');
        var id = {$id};
        if(dh == end){
            scrollNow = false;
            $.ajax({
                type:"post",
                url:"{:Url('Vote/commentmore')}",
                data:{
                    id : id,
                    length:len,
                },
                beforeSend: function(XMLHttpRequest){
                    tip.hide();
                    loading.toggleClass('hidden');
                },
                success:function(data){
                    loading.toggleClass('hidden');
                    tip.show();
                    if(data.code == 1){
                        addList(data);
                        if(data.data.length == 10){
                            tip.text('上拉加载更多');
                        }else{
                            tip.text('没有更多了');
                        }
                    }else{
                        tip.text('没有更多了');
                        $(window ).off("scroll");
                    }
                    scrollNow = true;
                }
            })
        }
    })
}

    //列表添加
    function  addList(data) {
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++) {
            var list = lists[i];
                html += '<li>'+
                        '<img src="'+list.header+'">'+
                        '<p class="name">'+list.name+'</p>'+
                        '<span>'+list.create_time+'</span>'+
                        '<p>'+list.content+'</p>'+
                        '</li>';
            };
            $(".content ul").append(html);
    }

    /**
     * 发送评论
     * @param e
     */


    //发送评论
    var send = function(e,id){
        swal({
                    title: "",
                    text: "请输入评论内容！",
                    type: "input",
                    showCancelButton: true,
                    animation: "slide-from-top",
                    inputPlaceholder: "",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: false
                },
                function(inputValue){
                    if (inputValue === false) {
                        $(".bottom").show();
                        setTimeout(function(){
                            $("input").blur();
                        },0)
                        return false
                    }else if (inputValue === "" || inputValue.length<1)
                    {
                        swal.showInputError("评论不少于1个字");
                        return false
                    }else if(inputValue.length>300){
                        swal.showInputError("评论不得多于300字");
                    }else{
                        $.ajax({
                            type:"post",
                            url:"{:Url('Vote/comment')}",
                            data:{
                                id:id,
                                content:inputValue
                            },
                            success:function(data){
                                var data = data.data;
                                var html = '';
                                html += '<li>'+
                                        '<img src="'+data.header+'">'+
                                        '<p>'+data.name+'</p>'+
                                        '<span>'+data.create_time+'</span>'+
                                        '<p>'+data.content+'</p>'+
                                        '</li>';
                                $(".default").hide();
                                $(".content ul").prepend(html);
                                inputValue="";
                                var sum = $('.sum span' );
                                sum.text(parseInt(sum.text())+1);
                                swal({
                                    title: ' ',
                                    text: '评论成功',
                                    type: 'success',
                                    confirmButtonText:'确定',
                                    timer:3000
                                });
                            }
                        });
                    }
                    setTimeout(function(){
                        $("input").blur();
                    },0)
                });
    };
</script>
{/block}