{extend name="public/common"}

{block name="style"}
<title>党员之家</title>
<link rel="stylesheet" href="/static/framework7/framework7.ios.min.css">
<link rel="stylesheet" href="/static/framework7/framework7.ios.colors.min.css">
<style>
    body{
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background: #eee;
    }
    .lists{
        width: 96%;
        margin: 0 auto;
        background: #fff;
    }
    .lists ul{
        padding-bottom: 20px;
    }
    .regularmore .lists .list {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 15px;
        background: #ffffff;
        text-align: center;
        overflow: hidden;
        border-radius: 4px;
        -moz-box-shadow:1px 1px 6px #999;
        -webkit-box-shadow:1px 1px 6px #999;
        box-shadow:1px 1px 6px #999;
    }
    .regularmore .lists .list .tab {
        position: absolute;
        margin-top: 10px;
        left: 6.2vw;
        width: 90px;
        height: 30px;
        background: url(/home/images/common/bg.png) no-repeat;
        background-size: 90px 30px;
        color: #ffffff;
        font-size: 1.2rem;
        text-align: center;
        line-height: 20px;
        z-index:99;
    }
    .regularmore .lists .list .content{
        height:20vw;
    }

    .regularmore .lists .list .img {
        width: 100%;
        height: 50vw;
    }
    .regularmore .lists .list .title {
        font-size: 1.3rem;
        line-height: 36px;
        text-align: left;
        padding-left: 5.3vw;
        padding-top: 4vw;
        color: #666;
    }
    .regularmore .lists .list .title span{
        color: #ffa726;
    }
    .regularmore .lists .list .study {
        display: block;
        padding-left: 5.3vw;
        color: #666;
        font-size: 1.2rem;
        text-align: left;
    }
    .regularmore .lists .list .details{
        background: #ffa726;
        width: 80px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        border-radius: 30px;
        position: absolute;
        right: 8vw;
        margin-top: -43px;
    }
    .regularmore div.novote{
        height:30px;
        font-size: 1.2rem;
        color: #999;
        line-height: 30px;
        padding-left: 4vw;
        border-bottom: 1px solid #f7f7f7;
        text-align: left;
        background: #fff;
        width: 96%;
        margin: 0 auto;
    }
    .imgtext{
        position: absolute;
        margin-top: 40vw;
        opacity: 0.3;
        color: #fff;
        height: 6vw;
        line-height: 6vw;
        width:86.5%;
        text-align: left;
        padding-left: 20px;
        background:-moz-linear-gradient(top,#fff,#000);/*Mozilla*/
        background:-webkit-gradient(linear,0 50%,100% 50%,from(#fff),to(#000));/*Old gradient for webkit*/
        background:-webkit-linear-gradient(top,#fff,#000);/*new gradient for Webkit*/
        background:-o-linear-gradient(top,#fff,#000); /*Opera11*/
    }
    .imgtext+i{
        position: absolute;
        margin-top: 41vw;
        padding-left: 20px;
        color: #fff;
        font-style: inherit;
        line-height: 4vw;
    }
    .history{
        padding-top: 0;
        margin-top: 20px;
    }
    .history>div{
        height:30px;
        font-size: 1.2rem;
        color: #999;
        line-height: 30px;
        padding-left: 4vw;
        border-bottom: 1px solid #f7f7f7;
    }
    .history ul a{
        display: block;
        padding: 4vw;
        overflow: hidden;
    }
    .history ul a>img{
        float: left;
        height: 21vw;
        width: 21vw;
        border-radius: 4px;
    }
    .history ul a>p{
        font-size: 1.4rem;
        color: #333;
        margin-left: 25vw;
        margin-top: 10px;
    }
    .history ul a span{
        font-size: 1.4rem;
        color: #ffa726;
        margin-left: 4vw;
    }
    .history ul a span:last-child{
        float: right;
        font-size: 1.3rem;
        color: #999;
    }
    .default{
        width:100%;
        height: 65vh;
        background: #f7f7f7;
        text-align: center;
        padding-top: 50%;
    }
</style>
{/block}

{block name="body"}
<div class="scrollDiy">
<div class="notice party regularmore">
    <!--课程列表-->
    <div class="novote">进行中投票</div>
    <div class="lists">
        <!--图文课程-->
        {empty name="top"}
        <div class="default">暂无进行中的投票</div>
        {else/}
        <ul>
            {volist name="top" id="to"}
            <a href="{:Url('Vote/vote?type=1&id='.$to['id'])}" class="list">
                <div class="tab">火热投票中</div>
                <span class="imgtext"></span>
                <i>{$to.title}</i>
                <img src="{$to.front_cover|get_cover='path'}" alt="图片" class="img">
                <div class="content">
                    <div class="title limit">还剩<span> {$to.left} </span>结束</div>
                    <span class="study">已投：{$to.sum}人</span>
                    <div class="details">查看详情</div>
                </div>
            </a>
            {/volist}
        </ul>
        {/empty}
    </div>
</div>

<div class="lists history">
     <div>历史投票</div>
    {empty name="list"}
    <span  style="text-align: center;width: 100%;display: block;height:18vh;padding-top:8vh;">暂无历史数据</span>
    {else/}
    <ul>
        {volist name="list" id="lo"}
        <a href="{:Url('Vote/vote?type=2&id='.$lo['id'])}">
            <img src="{$lo.front_cover|get_cover='path'}">
            <p>{$lo.title}</p>
            <span>已结束</span><span>已投：{$lo.sum}人</span>
        </a>
        {/volist}
    </ul>
    {/empty}
</div>
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script>
    $(function(){
            var len = $(".scrollDiy").find('.history ul').length;
            if (len >= 5) {
                $('.tip').text('上拉加载更多');
                loadScroll(c);
            }else{
                $('.tip' ).hide();
            }
    });

    //上拉加载
    function loadScroll(type){
        $(".scrollDiy").off("scroll" ).on("scroll",function(){
            var dh = $(".party").height()+$(".history").height();
            var end = $('.scrollDiy').height() + $('.scrollDiy').scrollTop();
            var len = $(".scrollDiy").find('.history ul').length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && scrollNow){
                scrollNow = false;//请求执行中
                $.ajax({
                    type:"post",
                    url: "{:Url('Pioneer/morelist')}",
                    data:{
                        length:len,
                        type:type
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addLists(data,type);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;//请求结束
                    }
                })
            }
        })
    }

    //数据循环
    function addLists(data){
        var type;
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            html +=
                    '<a href="/home/vote/vote/type/2/id/3.html">'+
                    '<img src="/uploads/download/2017-06-26/5950a0204e01a.jpg">'+
                    '<p>历史测试</p>'+
                    '<span>已结束</span><span>已投：0人</span>'+
                    '</a>';
        }
        $(".history ul").append(html);
    }
</script>
{/block}