{extend name="public/common"}

{block name="style"}
<title>支部工作</title>
<link rel="stylesheet" href="/static/framework7/framework7.ios.min.css">
<link rel="stylesheet" href="/static/framework7/framework7.ios.colors.min.css">
<style>
    body{
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    /*tab*/
    .tabs {
        width: 100vw;
        height: 44px;
        padding: 8px 0;
        background: #f1f1f1;
    }
    .tabs .tab {
        display: inline-block !important;
        width: 24vw;
        height: 100%;
        color: #333333;
        font-size: 1.5rem;
        line-height: 28px;
        text-align: center;
        border-right: 1px solid #e5e5e5;
    }
    .tabs .tab:last-child {
        border-right: none;
    }
    .tabs .active {
        color: #fd6743;
    }
    .scroll{
        position: relative;
        height: 100%;
    }
    .scrollDiy{
        position:absolute;
        top: 0;
        bottom:0;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }
    .box {
        top: 0;
        width: 99vw;
    }
    .box .box_ {
        position: relative;
        top: 0;
        left: 0;
        width: 90vw;
        margin: 4vw 5vw 0 5vw;
        padding-top: 6vw;
        box-shadow: 1px 3px 8px rgba(102, 102, 102, 0.2);
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
    .box .box_:last-child {
        margin-bottom: 5vw;
    }
    .box .box_:before {
        content: '组织概况';
        position: absolute;
        top: 3vw;
        left: -7px;
        width: 76px;
        height: 30px;
        background: url('/home/images/structure/tag.png') 0 0 no-repeat;
        background-size: 76px 30px;
        color: #ffffff;
        text-align: center;
        font-size: 1.2rem;
        line-height: 22px;
    }
    .box .box_.or:before {
        content: '组织概况';
    }
    .box .box_.summary {
        padding: 11vw 3vw 6vw 3vw;
    }
    .box .box_.summary p {
        margin-top: 2vw;
        text-indent: 2em;
        font-size: 13px;
        line-height: 20px;
    }
    .box .box_ .lists {
        padding: 13px;
        color: #333333;
        font-size: 14px;
    }
    .box .box_ .lists .name1 {
        display: inline-block;
        width: 100%;
        height: 45px;
        font-size: 14px;
        line-height: 45px;
        border-bottom: 1px solid #f1f1f1;
    }
    .box .box_ .lists .party1 {
        position: relative;
        top: 0;
        font-size: 1.6rem;
        padding-left: 15px;
        line-height: 30px;
    }
    .box .box_ .lists .party1 .tri {
        position: absolute;
        top: 15px;
        left: 0;
        content: '';
        height: 10px;
        width: 10px;
        background: url('/home/images/structure/tri.png') 0 0 no-repeat;
        background-size: 10px 10px;
    }
    .box .box_ .lists .detail1 {
        display: none;
        width: 100%;
    }
    .box .box_ .lists .detail1 .name2 {
        display: inline-block;
        width: 90%;
        height: 45px;
        margin-left: 30px;
        font-size: 14px;
        color: #333333;
        line-height: 45px;
        border-bottom: 1px solid #f1f1f1;
    }
    @media screen and (max-width: 320px) {
        .listbox .box .box_ .lists .detail1 .name2 {
            font-size: 12px;
        }
    }
    .box .box_ .lists .down {
        -webkit-animation: toDown 0.4s linear alternate;
        animation: toDown 0.4s linear alternate;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .box .box_ .lists .up {
        -webkit-animation: toUp 0.4s linear alternate;
        animation: toUp 0.4s linear alternate;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    .town {
        left: 0;
    }
    .service {
        left: 100vw;
    }
    .vr {
        left: 200vw;
    }
    .vr a {
        display: inline-block;
        width: 100vw;
    }
    .vr .title {
        width: 100vw;
        font-size: 1.6rem;
        color: #333333;
        line-height: 60px;
        text-align: center;
    }
    .vr img {
        margin: 5vw 10vw;
        width: 80vw;
    }
    /*ntc-list*/
    .notices .ntc-list a{
        display: block;
        width:100%;
        padding: 4vw 3.2vw;
        line-height: 24px;
        border-bottom: 1px solid #f1f1f1;
    }
    .notices .ntc-list a p{
        font-size: 1.4rem;
        color: #333;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: 0;
    }
    .notices .ntc-list a span{
        display: inline-block;
        font-size: 1.2rem;
        color: #999;
        padding-top: 2vw;
        max-width: 85%;
    }
    .notices .ntc-list a .ntc-icon{
        float: right;
        padding-right: 2vw;
    }
    .notices .ntc-list a .ntc-icon i{
        display: inline-block;
        background: url("/home/images/common/comment-border.png");
        background-size: 13px 13px;
        width: 13px;
        height:13px;
        margin-right: 1.2vw;
    }

    .lists{
        width: 96%;
        margin: 0 auto;
        background: #fff;
    }
    .lists ul{
        padding-bottom: 20px;
    }
    .regularmore {
        background: #eee;
    }
    .regularmore .lists .list {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 15px;
        background: #ffffff;
        text-align: center;
        overflow: hidden;
        border-radius: 4px;
        -moz-box-shadow:1px 1px 6px #999;
        -webkit-box-shadow:1px 1px 6px #999;
        box-shadow:1px 1px 6px #999;
    }
    .regularmore .lists .list .tab {
        position: absolute;
        margin-top: 10px;
        left: 6.2vw;
        width: 90px;
        height: 30px;
        background: url(/home/images/common/bg.png) no-repeat;
        background-size: 90px 30px;
        color: #ffffff;
        font-size: 1.2rem;
        text-align: center;
        line-height: 20px;
        z-index:99;
    }
    .regularmore .lists .list .content{
        height:20vw;
    }

    .regularmore .lists .list .img {
        width: 100%;
        height: 50vw;
    }
    .regularmore .lists .list .title {
        font-size: 1.3rem;
        line-height: 36px;
        text-align: left;
        padding-left: 5.3vw;
        padding-top: 4vw;
        color: #666;
    }
    .regularmore .lists .list .title span{
        color: #ffa726;
    }
    .regularmore .lists .list .study {
        display: block;
        padding-left: 5.3vw;
        color: #666;
        font-size: 1.2rem;
        text-align: left;
    }
    .regularmore .lists .list .details{
        background: #ffa726;
        width: 80px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        border-radius: 30px;
        position: absolute;
        right: 8vw;
        margin-top: -43px;
    }
    .regularmore div.novote{
        height:30px;
        font-size: 1.2rem;
        color: #999;
        line-height: 30px;
        padding-left: 4vw;
        border-bottom: 1px solid #f7f7f7;
        text-align: left;
        background: #fff;
        width: 96%;
        margin: 0 auto;
    }
    .imgtext{
        position: absolute;
        margin-top: 40vw;
        opacity: 0.3;
        color: #fff;
        height: 6vw;
        line-height: 6vw;
        width:86.5%;
        text-align: left;
        padding-left: 20px;
        background:-moz-linear-gradient(top,#fff,#000);/*Mozilla*/
        background:-webkit-gradient(linear,0 50%,100% 50%,from(#fff),to(#000));/*Old gradient for webkit*/
        background:-webkit-linear-gradient(top,#fff,#000);/*new gradient for Webkit*/
        background:-o-linear-gradient(top,#fff,#000); /*Opera11*/
    }
    .imgtext+i{
        position: absolute;
        margin-top: 41vw;
        padding-left: 20px;
        color: #fff;
        font-style: inherit;
        line-height: 4vw;
        display:block;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        width: 85%;
        text-align: left;
    }
    .history{
        padding-top: 0;
        margin-top: 20px;
    }
    .history ul{
        padding-bottom: 0;
    }
    .history>div{
        height:30px;
        font-size: 1.2rem;
        color: #999;
        line-height: 30px;
        padding-left: 4vw;
        border-bottom: 1px solid #f7f7f7;
    }
    .history ul a{
        display: block;
        padding: 4vw;
        overflow: hidden;
        border-bottom: 1px solid #f1f1f1;
    }
    .history ul a>img{
        float: left;
        height: 21vw;
        width: 21vw;
        border-radius: 4px;
    }
    .history ul a>p{
        font-size: 1.4rem;
        color: #333;
        margin-left: 25vw;
        margin-top: 10px;
    }
    .history ul a span{
        font-size: 1.4rem;
        color: #ffa726;
        margin-left: 4vw;
    }
    .history ul a span:last-child{
        float: right;
        font-size: 1.3rem;
        color: #999;
    }
    .default{
        width:100%;
        height: 63vh;
        background: #f7f7f7;
        text-align: center;
        padding-top: 50%;
    }
    .default1{
        height: 65vh;
        background: #fff;
        text-align: center;
        padding-top: 50%;
    }
    @keyframes toDown {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(15deg);
        }
        30% {
            transform: rotate(25deg);
        }
        50% {
            transform: rotate(45deg);
        }
        70% {
            transform: rotate(60deg);
        }
        90% {
            transform: rotate(75deg);
        }
        100% {
            transform: rotate(90deg);
        }
    }
    @-webkit-keyframes toDown {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(15deg);
        }
        30% {
            transform: rotate(25deg);
        }
        50% {
            transform: rotate(45deg);
        }
        70% {
            transform: rotate(60deg);
        }
        90% {
            transform: rotate(75deg);
        }
        100% {
            transform: rotate(90deg);
        }
    }
    @keyframes toUp {
        0% {
            transform: rotate(90deg);
        }
        10% {
            transform: rotate(75deg);
        }
        30% {
            transform: rotate(60deg);
        }
        50% {
            transform: rotate(45deg);
        }
        70% {
            transform: rotate(30deg);
        }
        90% {
            transform: rotate(15deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    @-webkit-keyframes toUp {
        0% {
            transform: rotate(90deg);
        }
        10% {
            transform: rotate(75deg);
        }
        30% {
            transform: rotate(60deg);
        }
        50% {
            transform: rotate(45deg);
        }
        70% {
            transform: rotate(30deg);
        }
        90% {
            transform: rotate(15deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    /*列表*/
    .content .notices .list {
        display: block;
        width: 100%;
        padding-left: 13px;
        padding-right: 13px;
        border-bottom: 1px solid #f1f1f1;
        color: #999999;
    }
    .content .notices .list .title {
        color: #333333;
        font-size: 1.4rem;
    }
    .content .notices .list .content {
        font-size: 1.3rem;
        height: 34px;
    }
    .content .notices .list .time {
        margin-top: 5px;
        font-size: 1.2rem;
    }
    .content .notices :nth-child(1) .tab {
        color: #e82a2a;
    }
    .content .notices:nth-child(1) .list {
        height: 90px;
    }
    .content .notices:nth-child(1) .list .title {
        line-height: 30px;
    }
    .content .notices:nth-child(2) .tab {
        color: #259b24;
    }
    .content .notices:nth-child(3) .tab {
        color: #f98800;
    }
    .content .notices:nth-child(2) .list,
    .content .notices:nth-child(3) .list {
        height: 80px;
    }
    .content .notices:nth-child(2) .list .fl img,
    .content .notices:nth-child(3) .list .fl img {
        width: 80px;
        height: 60px;
        margin-top: 10px;
    }
    .content .notices:nth-child(2) .list .right,
    .content .notices:nth-child(3) .list .right {
        width: calc(100% - 90px);
        height: 60px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .content .notices:nth-child(2) .list .right .title,
    .content .notices:nth-child(3) .list .right .title {
        margin-bottom: 5px;
        height: 38px;
    }
    .comments ul a,.comments ul{
        overflow: hidden;
    }
    .comments ul a{
        display: block;
        border-bottom: 1px solid #f1f1f1;
    }
    .comments ul a img {
        height: 60px;
        width: 60px;
        float: left;
        margin: 10px;
        margin-left: 16px;
    }
    .content p{
        width:auto;
    }
    .comments ul a p{
        color: #333;
        position: relative;
        left:16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        padding-right: 28px;
    }

    /*悬浮按钮*/
    .new {
        position: fixed;
        right: 20px;
        bottom: 40px;
        width: 60px;
        height: 60px;
    }
    .manager.after {
        position: absolute;
        bottom:68px;
        right:0;
        content: '';
        width: 40px;
        height: 40px;
        background: url("/home/images/notice/note_.png") no-repeat;
        background-size: 100% 100%;
        opacity: 1;
        -webkit-animation: cir2 0.5s ease-in;
        animation: cir2 0.5s ease-in;
    }
    .default1 img{
        margin-top: 0;
        margin-left: 0;
        width: 44.5vw;
        height: 39vw;
    }
</style>
{/block}

{block name="body"}
<div class="scroll">
    <div class="scrollDiy">
        <div class="content">
            <div class="tabs">
                <span class="tab active">三会一课</span>
                <span class="tab">支部活动</span>
                <span class="tab">投票选举</span>
                <span class="tab">民主评议</span>
            </div>
            <div class="notices box">
                {empty name="meet"}
                <div class="default1"><img src="/home/images/notice/nomessage.png" alt="暂无消息"> </div>
                {else/}
                {volist name="meet" id="me"}
                <a href="{:Url('Vote/meeting?id='.$me['id'])}" class="list clear">
                    <div class="fl">
                        <img src="{$me['front_cover']|get_cover='path'}" alt="{$me['title']}">
                    </div>
                    <div class="fr right">
                        <div class="title limit_">{$me['title']}</div>
                        <div class="clear time">
                            <span class="fl">{$me['create_time']|time_format="Y-m-d"}</span>
                            <span class="fr fa fa-angle-right"></span>
                        </div>
                    </div>
                </a>
                {/volist}
                {/empty}
            </div>


            <div class="notices activity">
                {empty name="activity"}
                <div class="default1"><img src="/home/images/notice/nomessage.png" alt="暂无消息"> </div>
                {else/}
                {volist name="activity" id="me"}
                <a href="{:Url('Vote/activity?id='.$me['id'])}" class="list clear">
                    <div class="fl">
                        <img src="{$me['front_cover']|get_cover='path'}" alt="{$me['title']}">
                    </div>
                    <div class="fr right">
                        <div class="title limit_">{$me['title']}</div>
                        <div class="clear time">
                            <span class="fl">{$me['create_time']|time_format="Y-m-d"}</span>
                            <span class="fr fa fa-angle-right"></span>
                        </div>
                    </div>
                </a>
                {/volist}
                {/empty}
            </div>

            <div class="notices">
                <div class="notice party regularmore">
                    <!--课程列表-->
                    <div class="novote">投票进行中</div>
                    <div class="lists">
                        <!--图文课程-->
                        {eq name="visit" value="0"}
                        {empty name="top"}
                        <div class="default">暂无进行中的投票</div>
                        {else/}
                        <ul>
                            {volist name="top" id="to"}
                            <a href="{:Url('Vote/vote?type=1&id='.$to['id'])}" class="list">
                                <div class="tab">火热投票中</div>
                                <span class="imgtext"></span>
                                <i>{$to.title}</i>
                                <img src="{$to.front_cover|get_cover='path'}" alt="图片" class="img">
                                <div class="content">
                                    <div class="title limit">还剩<span> {$to.left} </span>结束</div>
                                    <span class="study">已投：{$to.sum}人</span>
                                    <div class="details">查看详情</div>
                                </div>
                            </a>
                            {/volist}
                        </ul>
                        {/empty}
                        {else/}
                        <div class="default">游客无权限</div>
                        {/eq}
                    </div>
                </div>

                <div class="lists history">
                    <div>历史投票</div>
                    {eq name="visit" value="0"}
                    {empty name="list"}
                    <span  style="text-align: center;width: 100%;display: block;height:18vh;padding-top:8vh;">暂无历史数据</span>
                    {else/}
                    <ul>
                        {volist name="list" id="lo"}
                        <a href="{:Url('Vote/vote?type=2&id='.$lo['id'])}">
                            <img src="{$lo.front_cover|get_cover='path'}">
                            <p>{$lo.title}</p>
                            <span>已结束</span><span>已投：{$lo.sum}人</span>
                        </a>
                        {/volist}
                    </ul>
                    {/empty}
                    {else/}
                    <span  style="text-align: center;width: 100%;display: block;height:18vh;padding-top:8vh;">游客无权限</span>
                    {/eq}
                </div>
            </div>
            <div class="notices comments">
                {empty name="appraise"}
                <div class="default1"><img src="/home/images/notice/nomessage.png" alt="暂无消息"> </div>
                {else/}
                <ul>
                    {volist name="appraise" id="ap"}
                    <a href="{:Url('Vote/appraise?id='.$ap['id'])}">
                        <img src="{$ap.front_cover|get_cover='path'}">
                        <p>{$ap.title}</p>
                        <p style="color: #999">{$ap.create_time|time_format='Y-m-d'}</p>
                    </a>
                    {/volist}
                </ul>
                {/empty}
            </div>

            <div class="tip"></div>
            <div class="loading hidden">
                <div class="typing_loader"></div>
            </div>

        </div>
    </div>
</div>

<!--[悬浮按钮]-->
    <!--记笔记-->
    <a href="{:Url('Vote/notes')}" class="after manager" id="publish"></a>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
    $(function () {
        if({$visit} == 1){
            //  游客  跳转失效
            $('.name2').attr('href','#');
        }
        slide();
        //初始化数据
        var ntc = $(".notices");
        var tab = $(".tabs .tab");
        var co = getCookie("type") || 0;
        co = parseInt(co);
        tab.eq(co).addClass("active").siblings(".tab").removeClass("active");
        ntc.eq(co).removeClass("hidden").siblings(".notices").addClass("hidden");
        console.log(co)
        if(co == 1){
            var len  = ntc.eq(co).find("a").length;
            if(len >= 10){
                $('.tip').text('上拉加载更多');
                loadScroll(co + 1);
            }
        }
        if(co == 0){
            var len  = ntc.eq(co).find("a").length;
            if(len >= 9){
                $('.tip').text('上拉加载更多');
                loadScroll(co + 1);
            }
        }
        if(co == 3){
            var len  = ntc.eq(co).find("ul a").length;
            if(len >= 9){
                $('.tip').text('上拉加载更多');
                loadScroll(co + 1);
            }
        }
        if(co == 0||co == 1){
            $("#publish").show();
        }else{
            $("#publish").hide();
        }
        //tab点击切换
        $(".tabs").on('click','.tab',function () {
            var _this = $(this);
            var ntc =  $(".notices");
            var index = _this.index();
            _this.addClass("active").siblings(".tab").removeClass("active");
            ntc.eq(index).removeClass("hidden").siblings(".notices").addClass("hidden");
            if(index == 0){
                $("#publish").show();
                var len = ntc.eq(index).find('a').length;
                if (len >= 10) {
                    $(".tip").text('上拉加载更多').show();
                    loadScroll(index + 1);
                }else{
                    $('.tip').hide();
                    $(window).off("scroll" );
                }
            } else {
                $('.tip').hide();
            }
            if(index == 1){
                $("#publish").show();
                var len = ntc.eq(index).find('a').length;
                if (len >= 10) {
                    $(".tip").text('上拉加载更多').show();
                    loadScroll(index + 1);
                }else{
                    $('.tip').hide();
                    $(window).off("scroll" );
                }
            } else {
                $('.tip').hide();
            }
            if(index == 2){
                $("#publish").hide();
            }
            if(index == 3){
                $("#publish").hide();
                var len = ntc.eq(index).find('ul a').length;
                if (len >= 9) {
                    $(".tip").text('上拉加载更多').show();
                    loadScroll(index + 1);
                }else{
                    $('.tip').hide();
                    $(window).off("scroll" );
                }
            } else {
                $('.tip').hide();
            }
            //使用示例
            setCookie("type",index);
        })
        moveanyway();
    });
    //滚动加载
    function loadScroll(type){
        if(!type){
            return;
        }
        var windowHeight = $(".scrollDiy").height();
        $(".scrollDiy").off("scroll").on("scroll",function () {
            var ntc = $(".notices");
            var dh = $(".content").height();
            var end = windowHeight + $(".scrollDiy" ).scrollTop();
            var url = "";
            if(type==1){
                var len  = ntc.eq(type - 1).find("a").length;
                url = "{:Url('Vote/more')}";
            }
            if(type==2){
                var len  = ntc.eq(type - 1).find("a").length;
                url = "{:Url('Vote/more')}";
            }
            if(type==4){
                var len  = ntc.eq(type - 1).find("ul a").length;
                url = "{:Url('Vote/plus')}";
            }
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end){
                scrollNow = false;
                $.ajax({
                    type:"post",
                    url:url,
                    data:{
                        length:len,
                        type:type
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            console.log(data.data)
                            addList(data.data,type);
                            var dataLen =data.data.length;
                            if(data.data.length == 10){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;
                    }
                })
            }
        })
    }
    //列表添加
    function  addList(data,type) {
        if (type) {
            type = parseInt(type);
        } else {
            return;
        }
        var html = '';
        var lists = data;
        var len = lists.length;
        if(type == 2){
            for(var i = 0; i< len;i++) {
                var list = lists[i];
                html += '<a href="/home/vote/activity/id/'+list.id+'" class="list clear">' +
                        '<div class="fl">' +
                        '	<img src="'+list.front_cover+'" alt="">' +
                        '</div>' +
                        '<div class="fr right">' +
                        '	<div class="title limit_">'+list.title+'</div>' +
                        '	<div class="clear time">' +
                        '		<span class="fl">'+list.create_time+'</span>' +
                        '		<span class="fr fa fa-angle-right"></span>' +
                        '	</div>' +
                        '</div>' +
                        '</a>';
            }
            $(".notices").eq(type - 1).append(html);
        }
        if(type == 1){
            for(var i = 0; i< len;i++) {
                var list = lists[i];
                html += '<a href="/home/vote/meeting/id/'+list.id+'" class="list clear">'+
                        '<div class="fl">'+
                        '	<img src="'+list.front_cover+'" alt="发送发送发顺丰是否是">'+
                        '</div>'+
                        '<div class="fr right">'+
                        '	<div class="title limit_">'+list.title+'</div>'+
                        '	<div class="clear time">'+
                        '		<span class="fl">'+list.create_time+'</span>'+
                        '		<span class="fr fa fa-angle-right"></span>'+
                        '	</div>'+
                        '</div>'+
                        '</a>';
            };
            $(".notices").eq(type - 1).append(html);
        }
        if(type == 4){
            for(var i = 0; i< len;i++) {
                var list = lists[i];
                html += '<a href="/home/vote/appraise/id/'+list.id+'">'+
                        '<img src="'+list.front_cover+'">'+
                        '<p>'+list.title+'</p>'+
                        '<p style="color: #999">'+list.create_time+'</p>'+
                        '</a>';
            };
            $(".notices").eq(type - 1).find("ul").append(html);
        }
    }

    //下拉样式
    function slide(){
        $('.lists .party1' ).on('click',function(){
            var it = $(this);
            var detail = it.next('.detail1' );
            if(detail.hasClass('dw')){
                detail.slideDown();
                it.find('.tri').removeClass('up').addClass('down');
            }else{
                detail.slideUp();
                it.find('.tri').removeClass('down').addClass('up');
            }
            detail.toggleClass('dw');
        });
    }

    window.onpageshow = function (e) {
        if (e.persisted) {
            window.location.reload(true)
        }
    }
</script>
{/block}