{extend name="public/common"}

{block name="style"}
<title>视频会议</title>
<style>
    .content{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        transform:translate(-50%,-50%);
        text-align: center;
        width: 100%;
    }
    .content .btn{
        display: block;
        width: 250px;
        height: 35px;
        border-radius: 30px;
        text-align: center;
        color: #fff;
        margin-top: 20vw;
        font-size: 1.5rem;
        background: #50d63c;
        margin: 0 auto;
    }
    .content img{
        width: 26.8vw;
        height: 26.8vw;
        border-radius: 50%;
    }
    .content p{
        font-size: 1.7rem;
        color: #666;
        text-align: center;
    }
    .content p:nth-child(2){
        margin-top: 20px;
    }
    .content p:nth-child(3){
        font-size: 1.5rem;
        margin-bottom: 100px;
    }
    .content p:last-child{
        font-size: 1.2rem;
        color: #dbdbdb;
        margin-top: 10px;

    }
</style>
{/block}

{block name="body"}
<div class="content">
    <img src="/home/images/vote/head.png">
    <p>请在企业微信中进行视频会议</p>
    <p>没有企业微信请点击下载</p>
    <a class="btn" href="https://work.weixin.qq.com/wework_admin/commdownload?from=mngindex">点击下载</a>
    <p>已有企业微信，请从企业微信进入视频会议</p>
</div>
{/block}
{block name="script"}
{/block}