{extend name="public/common"}

{block name="style"}
<style>
    /*reset*/
    .page{
        background:#fff;
    }
    .navbar{
        height:36px;min-height:36px;border:none;background:#f9f9f9;
    }
    .navbar:after,.list-block ul:before,.list-block ul:after{
        min-height:0;height:0;
    }
    .list-block{
        margin:0;
    }

    /*tab2排行榜单*/
    .banner_img{
        width:100%;
    }

    .top{
        position:relative;
    }
    .top>.middle{
        width:120px;height:120px;position:absolute;top:15%;left:calc(50% - 60px)
    }
    .top>.middle>div:nth-child(1){
        position:absolute;top:0;left:calc( 50% - 46px)
    }
    .top>.middle>div:nth-child(2){
        position:absolute;top:-19px;left:calc( 50% - 70px)
    }
    .top>.middle>div:nth-child(3){
        position:absolute;top:93px;width:100%;text-align: center;left:0;color:#F4C84A;text-shadow: 0px 5px 5px rgba(244,200,74,.6);font-size:14px;
    }
    /**/
    .rank{
        border-top:1px solid #f1f1f1;color:#666;margin-top: 12vw;
    }
    .rank ul{
        padding: 0 4vw;
    }
    .rank .top3 li, .rank .top4 li{
        border-bottom:1px solid #f1f1f1;height:76px;
    }
    .rank .top3 li span:nth-child(1),.myself span:nth-child(1),.top4 li span:nth-child(1){
        display: inline-block;
        height: 76px;
        line-height: 76px;
        position: relative;
        top: -34px;
        padding-right: 5px;
    }
    .rank .top3 li img:nth-child(2),.myself img:nth-child(2),.top4 li img:nth-child(2){
        border-radius:50%;height:50px;width:50px;top:10px;left:39px;margin-top: 13px;
    }

    .rank .top3 li span:nth-child(3),.myself span:nth-child(3),.top4 li span:nth-child(3){
        display:inline-block;height:76px;line-height:76px;width:150px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis;top:0;left:105px;padding-left: 5px;
    }
    .rank .top3 li span:nth-child(4),.myself span:nth-child(4),.top4 li span:nth-child(4){
        height:20px;line-height:20px;float: right;  margin-top: 28px;
    }
    .rank .top3 li img:nth-child(5){
        position:absolute;left:33px;top:9px;height:56px;
    }
    .rank b{
        font-weight: normal;
    }
    /**/
    .banner_data{
        width:94%;margin:0 3%;height:50px;box-shadow: 0px 3px 3px rgba(98,157,244,.3);background:#fff;
        position: absolute;border-radius:3px;margin-top: -27px;
    }
    .banner_data>div{
        display: inline-block;width:calc(100%/3);float:left;text-align: center;
    }
    .banner_data>div>b{
        display:block;height:25px;line-height:32px;color:#333;
    }
    .banner_data>div>span{
        display:block;height:25px;line-height:25px;font-size:12px;color:#999;
    }</style>
{/block}

{block name="body"}
<div class="views">
    <div class="view view-main">
        <div class="navbar">
            <div class="top" style="position:relative;">
                <div class="banner">
                    <img src="/home/images/news/bc1.jpg"  alt="banner图片" class="banner_img">
                </div>
                <div class="middle">
                    <div>
                        <img src="" alt="第一名头像" style="border-radius:50%;height:92px;width:92px">
                    </div>
                    <div>
                        <img src="/home/images/vote/no1.png" alt="" style="width:140px;">
                    </div>
                    <div></div>
                </div>

        <div class="banner_data">
            <div >
                <b class="sum1">{$list.num}</b>
                <span>候选人</span>
            </div>
            <div>
                <b>{$list.sum}</b>
                <span>投票人次</span>
            </div>
            <div>
                <b>{$list.views}</b>
                <span>访问量</span>
            </div>
        </div>
        <div class="page">
            <div class="page-content" style="">
                <div class="tabs">
                    <!-- Tab 2 -->
                    <div id="tab2" class="tab active">
                        <div class="list-block rank">
                            <ul style="font-size:14px;" class="top3">
                                {volist name="$list->get_rank" id="oo" key="k"}
                                <li>
                                    <!--color:#F4C84A;-->
                                    <span>{$k}</span>
                                    <img src="{$oo.images|get_cover='path'}" alt="" >

                                    <span>{$oo.content}</span>
                                    <span>
                                        <b><b>{$oo.num}</b>票</b>
                                    </span>
                                    <!--<img src="/home/images/vote/no1-1.png" alt="" >-->
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{/block}

{block name="script"}
 <script src="/static/framework7/framework7.js"></script>
<script>
    var myApp=new Framework7;
    var $$=Dom7;
    $(document).ready(function(){
        var screen_width=screen.width/2;
        console.log(screen_width);
        $('.banner_img').css({'height':screen_width+'px'});
        $('.page-content .list-block').css({'padding-top':screen_width+'px'})
    });

    var html1='';
    html1+='<img src="/home/images/vote/no1-1.png" alt="" >';
    var html2='';
    html2+='<img src="/home/images/vote/no2.png" alt="" >';
    var html3='';
    html3+='<img src="/home/images/vote/no3.png" alt="" >';
    $(".top3>li").each(function(){
        console.log($(this));
       if($(this).index()==0){
           $(this).append(html1);
           $(this).find('span:nth-child(1)').css({color:'#F4C84A'})
       }
        else if($(this).index()==1){
            $(this).append(html2);
           $(this).find('span:nth-child(1)').css({color:'#B3BAC7'})
        }
        else if($(this).index()==2){
            $(this).append(html3);
           $(this).find('span:nth-child(1)').css({color:'#CCA495'})
        }
    });

    var aa=$('.top3>li:nth-child(1)').find('img:nth-child(2)').attr('src');
    var bb=$('.top3>li:nth-child(1)').find('span:nth-child(3)').text();
    var cc=$('.banner_words span').text();
    $('.top .middle div:nth-child(1)').find('img').attr({src:aa});
    $('.top .banner_words span').text(cc+'——'+bb);
    //
//    $(function(){
//        pushHistory();
//        window.addEventListener("popstate", function(e) {
//            window.location.href='/home/vote/index';
////            if(confirm('确认退出该页面吗？')){
////                history.go(-2);
////            }else{
////                pushHistory();
////            }
//        }, false);
//        function pushHistory() {
//            var state = {
//                title: "title",
//                url: "#"
//            };
//            window.history.pushState(state, "title", "#");
//        }
//    });
</script>
{/block}