{extend name="public/pure"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/user/checkin.css">
{/block}

{block name="body"}
<div class="content">
    <div class="code">
        <div id="qrcode"></div>
        <img src="" alt="个人头像" class="header">
    </div>

</div>
{/block}

{block name="script"}
<script src="/static/code/jquery.qrcode.min.js"></script>
<script>
    var code = $('#qrcode' );
    var ww = code.width();
    var hh = code.height();
    var id = '2';
    jQuery('#qrcode').qrcode({
        width: ww,
        height:hh,
		text: id
    });
</script>
{/block}