{extend name="public/common"}
{block name="style"}
<title>个人中心</title>
<link rel="stylesheet" href="/home/css/user/index.css">
{/block}
{block name="body"}
    <div class="top">
        <div class="topName"><p>张三</p><span style="background: #3A8CFB;">在训</span><span style="background: #E4B356;">VIP</span></div>
        <div class="topText">查看编辑个人信息</div>
        <img src="/home/images/1.jpg" class="userImg">
    </div>
    <div class="main">
        <div class="mainQd"><img src="/home/images/user/userqd.png">签到二维码</div>
        <div class="mainVip"><img src="/home/images/user/uservip.png">会员特权</div>
    </div>
    <div class="userSort">
        <a href="#">我的培训</a>
        <a href="#">我的比赛</a>
        <a href="#">我的订单</a>
        <a href="#">请假申请</a>
        <a href="#">所属教练</a>
        <a href="#">教练投诉</a>
    </div>
{/block}
{block name="script"}
{/block}