{extend name="public/common"}
{block name="style"}
<title>个人中心</title>
<link rel="stylesheet" href="/home/css/user/index.css">
{/block}
{block name="body"}
<a href="/home/user/information.html">
    <div class="top">
        <div class="topName"><p>{$user.name}</p>
            {if condition="($user['train'] == 1)"}
            <span style="background: #3A8CFB;">在训</span>
            {else /}
            {/if}
            {if condition="($user['vip'] == 1)"}
            <span style="background: #E4B356;">VIP</span>
            {else /}
            {/if}
        </div>
        <div class="topText">查看编辑个人信息</div>
        {if condition="empty($user['header'])"}
        <img src="{$user.avatar}" class="userImg">
        {else /}
        <img src="{$user.header}" class="userImg">
        {/if}
    </div>
</a>
    <div class="main">
        <a href="/home/user/sign.html"><div class="mainQd"><img src="/home/images/user/userqd.png">签到二维码</div></a>
        <a href="/home/user/insider.html"><div class="mainVip"><img src="/home/images/user/uservip.png">会员特权</div></a>
    </div>
    <div class="userSort">
        <a href="/home/user/train.html"><img src="/home/images/user/user01.png" class="icon">我的培训</a>
        <a href="/home/user/play.html"><img src="/home/images/user/user02.png" class="icon">我的比赛</a>
        <a href="/home/mall/orderList.html"><img src="/home/images/user/user03.png" class="icon">我的订单</a>
        <a href="/home/user/leave/type=1.html"><img src="/home/images/user/user04.png" class="icon">请假申请</a>
        {if condition="($user['tag'] != 1)"}
        <a href="/home/user/leave/type=2.html"><img src="/home/images/user/user05.png" class="icon">请假审批</a>
        {else /}
        {/if}
        <a href="#"><img src="/home/images/user/user06.png" class="icon">所属教练</a>
        {if condition="($ts == 1)"}
        <a href="/home/complaint/index.html"><img src="/home/images/user/user07.png" class="icon">教练投诉</a>
        {else /}
        {/if}

    </div>
{/block}
{block name="script"}
{/block}