{extend name="public/common"}

{block name="style"}
<title>个人信息</title>
<link rel="stylesheet" href="/home/css/association/game.css">
<!--<link rel="stylesheet" href="/home/css/animate.min.css">-->
<style>
    .up {
        width: .6rem;
        height: .6rem;
        overflow: hidden;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: url("/home/images/1.jpg") center no-repeat;
        background-size: .6rem .6rem;
        position: absolute;
        right:.6rem;
        top:50%;
        margin-top: -.3rem;
    }
    .headers:before{
        content: '';
        background: url('/home/images/user/userR.png') no-repeat;
        background-size: .15rem .27rem;
        position: absolute;
        right: .3rem;
        top: 50%;
        width: .15rem;
        height: .27rem;
        margin-top: -.15rem;
    }
    #upload , #uploadImage {
        width: .6rem;
        height: .6rem;
        overflow: hidden;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        right:.6rem;
        top:50%;
        margin-top: -.3rem;
        opacity: 0;
        display: none;
    }
</style>
{/block}
{block name="body"}

{if condition="($user['tag'] == 1)"}
<!--学员状态-->
<div class="user">
    <p class="gameName01"><img src="/home/images/game/icon06.png" class="icon">人员信息</p>
    <div class="userSort active">
        <span>照片</span>
    </div>
    <div class="userSort active"><span>学生姓名</span><input type="text" placeholder="请填写" value="{$user.name}"  readonly="readonly"></div>
    <div class="userSort active"><span>性别</span><input type="text" placeholder="请填写" value="{$user.gender}"  readonly="readonly"></div>
    <div class="userSort active"><span>出生日期</span><input type="text" placeholder="请填写" value="{$user.birthday|time_format='Y-m-d'}"  readonly="readonly"></div>
    <div class="userSort active"><span>就读学校</span><input type="text" placeholder="请填写" value="{$user.school}"  readonly="readonly"></div>
    <div class="userSort active"><span>身份证号</span><input type="text" placeholder="请填写" value="{$user.card}"></div>
    <div class="userSort active"><span>监护人电话</span><input type="text" placeholder="请填写" value="{$user.mobile}"  readonly="readonly"></div>
    <div class="userSort active"><span>邮箱</span><input type="text" placeholder="请填写" value="{$user.email}"  readonly="readonly"></div>
    <div class="userSort active"><span>住址</span><input type="text" placeholder="请填写" value="{$user.address}"></div>
    <div class="userSort active"><span>父母</span><input type="text" placeholder="请填写" value="{$user.parent}"></div>
</div>
{elseif condition="($user['tag'] == 2)" /}
<!--教练员状态-->
<div class="user">
    <p class="gameName01"><img src="/home/images/game/icon06.png" class="icon">人员信息</p>
    <div class="userSort active"><span>照片</span></div>
    <div class="userSort active"><span>姓名</span><input type="text" placeholder="请填写" value="{$user.name}"  readonly="readonly"></div>
    <div class="userSort active"><span>性别</span><input type="text" placeholder="请填写" value="{$user.gender}"  readonly="readonly"></div>
    <div class="userSort active"><span>剑种</span><input type="text" placeholder="请填写" value="{$user.swords}"  readonly="readonly"></div>
    <div class="userSort active"><span>执教年限</span><input type="text" placeholder="请填写" value="{$user.teach}"  readonly="readonly"></div>
    <div class="userSort active"><span>所获奖项</span><input type="text" placeholder="请填写" value="{$user.prize}"  readonly="readonly"></div>
    <div class="userSort active"><span>自我介绍</span><input type="text" placeholder="请填写" value="{$user.introduce}"></div>
    <div class="userSort active"><span>邮箱</span><input type="text" placeholder="请填写" value="{$user.email}"  readonly="readonly"></div>
    <div class="userSort active"><span>岗位级别</span><input type="text" placeholder="请填写" value="{$user.level}"  readonly="readonly"></div>
    <div class="userSort active"><span>手机号码</span><input type="text" placeholder="请填写" value="{$user.mobile}"></div>
</div>
<div class="user">
    <p class="gameName01"><img src="/home/images/game/icon06.png" class="icon">详细信息</p>
    <div class="userSort active"><span>身份证号</span><input type="text" placeholder="请填写" value="{$user.card}"></div>
    <div class="userSort active"><span>民族</span><input type="text" placeholder="请填写" value="{$user.nation}"  readonly="readonly"></div>
    <div class="userSort active"><span>婚育</span><input type="text" placeholder="请填写" value="{$user.marry}"  readonly="readonly"></div>
    <div class="userSort active"><span>政治面貌</span><input type="text" placeholder="请填写" value="{$user.face}"  readonly="readonly"></div>
    <div class="userSort active"><span>籍贯</span><input type="text" placeholder="请填写" value="{$user.branch}"  readonly="readonly"></div>
    <div class="userSort active"><span>户口类型</span><input type="text" placeholder="请填写" value="{$user.familytype}"></div>
    <div class="userSort active"><span>家庭住址</span><input type="text" placeholder="请填写" value="{$user.address}"  readonly="readonly"></div>
    <div class="userSort active"><span>毕业院校</span><input type="text" placeholder="请填写" value="{$user.school}"  readonly="readonly"></div>
    <div class="userSort active"><span>学历</span><input type="text" placeholder="请填写" value="{$user.education}"></div>
    <div class="userSort active"><span>专业</span><input type="text" placeholder="请填写" value="{$user.position}"></div>
    <div class="userSort active"><span>工作时间</span><input type="text" placeholder="请填写" value="{$user.worktime|time_format='Y-m-d'}"></div>
    <div class="userSort active"><span>应急人</span><input type="text" placeholder="请填写" value="{$user.urgent}"></div>
    <div class="userSort active"><span>应急人号码</span><input type="text" placeholder="请填写" value="{$user.urgenttel}"></div>
</div>
{else/}
<!--员工/主管状态-->
    <div class="user">
        <p class="gameName01"><img src="/home/images/game/icon06.png" class="icon">人员信息</p>
        <div class="userSort active headers">
            <span>照片</span>
            <div class="up" data-tab="{$user.header}" id="myImage"></div>
            <input type="file" id="upload" accept="image/*" >
            <input type="file" accept="image/*" id="uploadImage"  onchange="selectFileImage(this);" />
        </div>
        <div class="userSort active"><span>姓名</span><input type="text" placeholder="请填写" value="{$user.name}"  readonly="readonly"></div>
        <div class="userSort active"><span>性别</span><input type="text" placeholder="请填写" value="{$user.gender}"  readonly="readonly"></div>
        <div class="userSort active"><span>邮箱</span><input type="text" placeholder="请填写" value="{$user.email}"  readonly="readonly"></div>
        <div class="userSort active"><span>岗位级别</span><input type="text" placeholder="请填写" value="{$user.level}"  readonly="readonly"></div>
        <div class="userSort active"><span>手机号码</span><input type="text" placeholder="请填写" value="{$user.mobile}"  readonly="readonly"></div>
    </div>
<div class="user">
    <p class="gameName01"><img src="/home/images/game/icon05.png" class="icon">场馆情况</p>
    <div class="userSort active"><span>身份证号</span><input type="text" placeholder="请填写" value="{$user.card}"  readonly="readonly"></div>
    <div class="userSort active"><span>民族</span><input type="text" placeholder="请填写" value="{$user.nation}"  readonly="readonly"></div>
    <div class="userSort active"><span>婚育</span><input type="text" placeholder="请填写" value="{$user.marry}"  readonly="readonly"></div>
    <div class="userSort active"><span>政治面貌</span><input type="text" placeholder="请填写" value="{$user.face}"  readonly="readonly"></div>
    <div class="userSort active"><span>籍贯</span><input type="text" placeholder="请填写" value="{$user.branch}"  readonly="readonly"></div>
    <div class="userSort active"><span>户口类型</span><input type="text" placeholder="请填写" value="{$user.familytype}"  readonly="readonly"></div>
    <div class="userSort active"><span>家庭住址</span><input type="text" placeholder="请填写" value="{$user.address}"  readonly="readonly"></div>
    <div class="userSort active"><span>毕业院校</span><input type="text" placeholder="请填写" value="{$user.school}"  readonly="readonly"></div>
    <div class="userSort active"><span>学历</span><input type="text" placeholder="请填写" value="{$user.education}"  readonly="readonly"></div>
    <div class="userSort active"><span>专业</span><input type="text" placeholder="请填写" value="{$user.position}"  readonly="readonly"></div>
    <div class="userSort active"><span>工作时间</span><input type="text" placeholder="请填写" value="{$user.worktime|time_format='Y-m-d'}"  readonly="readonly"></div>
    <div class="userSort active"><span>应急人</span><input type="text" placeholder="请填写" value="{$user.urgent}"  readonly="readonly"></div>
    <div class="userSort active"><span>应急人号码</span><input type="text" placeholder="请填写" value="{$user.urgenttel}"  readonly="readonly"></div>
</div>
{/if}
<div class="goPay" data-type="0">去付款</div>
<div style="height:1rem;"></div>
{/block}
{block name="script"}
<script src="/home/js/exif.js"></script>
<script src="/home/js/imgupload.js"></script>
<script>
    var u = navigator.userAgent, app = navigator.appVersion;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    if(isAndroid){
        //触发上传按钮
        up.off("click").on('click',function(){
            $('#upload').click();
        });
        $('#upload').show();
    }
    if(isiOS){
        $('#uploadImage').show();
    }
    $('#upload').off("change").on('change',function(){
        var size = ($(this)[0].files[0].size / 1024).toFixed(2);
        if(size <= 2048){
            var img = $(this)[0].files[0];
            var formData = new FormData();
            formData.append("picture",img);
            $.ajax({
                type:"post",
                url:"{:Url('File/uploadPicture')}",
                data:formData,
                processData : false,
                contentType : false,
                success:function(data){
                    var msg = $.parseJSON(data);
                    if(msg.code == 1){
                        var image = new Image();
                        image.src = msg.data.path ;
                        up.css({"background-image":'url('+msg.data.path+')'});
                        image.onload = function(){
                            if(image.width > image.height){
                                up.css({"background-size":'auto '+ww +'px'});
                            }else{
                                up.css({"background-size":ww +'px'+' auto '});
                            }
                        };
                        $.ajax({
                            type:"post",
                            url:"{:Url('User/setHeader')}",
                            data:{header:msg.data.path},
                            dataType: "Json",
                            success:function(){
                                swal({
                                    title: ' ',
                                    text: '上传成功',
                                    type: 'success',
                                    confirmButtonText:'确定',
                                    timer:2000
                                });
                            },error:function(){
                                swal({
                                    title: ' ',
                                    text: '上传失败，请重试',
                                    type: 'success',
                                    confirmButtonText:'确定',
                                    timer:2000
                                });
                            }
                        })
                    } else {
                        swal({
                            title: ' ',
                            text: '上传失败',
                            type: 'error',
                            confirmButtonText:'确定',
                            timer:2000
                        });
                        return;
                    }
                }
            });
        } else {
            swal({
                title: ' ',
                text: '您选择的图片超过2mb，请重新选择',
                type: 'error',
                confirmButtonText:'确定',
                timer:2000
            });
            return;
        }
    });
</script>
{/block}