{extend name="public/common"}

{block name="style"}
<title>个人信息</title>
<link rel="stylesheet" href="/home/css/association/game.css">
<!--<link rel="stylesheet" href="/home/css/animate.min.css">-->
{/block}
{block name="body"}
<!--学员状态-->
<div class="user">
    <p class="gameName01"><img src="/home/images/game/icon06.png" class="icon">人员信息</p>
    <div class="userSort active"><span>照片</span></div>
    <div class="userSort active"><span>姓名</span><input type="text" placeholder="请填写" value="张三"  readonly="readonly"></div>
    <div class="userSort active"><span>性别</span><input type="text" placeholder="请填写" value="男"  readonly="readonly"></div>
    <div class="userSort active"><span>出生日期</span><input type="text" placeholder="请填写" value="2018-02-18"  readonly="readonly"></div>
    <div class="userSort active"><span>就读学校</span><input type="text" placeholder="请填写" value="杭州市学军中学"  readonly="readonly"></div>
    <div class="userSort active"><span>身份证号</span><input type="text" placeholder="请填写" value="330327199908085698"></div>
    <div class="userSort active"><span>监护人电话</span><input type="text" placeholder="请填写" value="15788888888"  readonly="readonly"></div>
    <div class="userSort active"><span>邮箱</span><input type="text" placeholder="请填写" value="2326@163.com"  readonly="readonly"></div>
    <div class="userSort active"><span>住址</span><input type="text" placeholder="请填写" value="江干区白杨街道学林街583号"></div>
    <div class="userSort active"><span>父母</span><input type="text" placeholder="请填写" value="江干区白杨街道学林街583号"></div>
</div>

<!--教练员状态-->
<div class="user">
    <p class="gameName01"><img src="/home/images/game/icon06.png" class="icon">人员信息</p>
    <div class="userSort active"><span>照片</span></div>
    <div class="userSort active"><span>姓名</span><input type="text" placeholder="请填写" value="张三"  readonly="readonly"></div>
    <div class="userSort active"><span>性别</span><input type="text" placeholder="请填写" value="男"  readonly="readonly"></div>
    <div class="userSort active"><span>剑种</span><input type="text" placeholder="请填写" value="花剑、重剑、佩剑"  readonly="readonly"></div>
    <div class="userSort active"><span>职教年限</span><input type="text" placeholder="请填写" value="3年"  readonly="readonly"></div>
    <div class="userSort active"><span>所获奖项</span><input type="text" placeholder="请填写" value="某某比赛冠军"  readonly="readonly"></div>
    <div class="userSort active"><span>自我介绍</span><input type="text" placeholder="请填写" value="某某比赛冠军某某比赛冠军"></div>
    <div class="userSort active"><span>邮箱</span><input type="text" placeholder="请填写" value="2326@163.com"  readonly="readonly"></div>
    <div class="userSort active"><span>岗位级别</span><input type="text" placeholder="请填写" value="2326@163.com"  readonly="readonly"></div>
    <div class="userSort active"><span>手机号码</span><input type="text" placeholder="请填写" value="江干区白杨街道学林街583号"></div>
</div>
<div class="user">
    <p class="gameName01"><img src="/home/images/game/icon06.png" class="icon">详细信息</p>
    <div class="userSort active"><span>身份证号</span><input type="text" placeholder="请填写" value="330327199908085698"></div>
    <div class="userSort active"><span>民族</span><input type="text" placeholder="请填写" value="张三"  readonly="readonly"></div>
    <div class="userSort active"><span>婚育</span><input type="text" placeholder="请填写" value="男"  readonly="readonly"></div>
    <div class="userSort active"><span>政治面貌</span><input type="text" placeholder="请填写" value="2018-02-18"  readonly="readonly"></div>
    <div class="userSort active"><span>籍贯</span><input type="text" placeholder="请填写" value="杭州市学军中学"  readonly="readonly"></div>
    <div class="userSort active"><span>户口类型</span><input type="text" placeholder="请填写" value="330327199908085698"></div>
    <div class="userSort active"><span>家庭住址</span><input type="text" placeholder="请填写" value="15788888888"  readonly="readonly"></div>
    <div class="userSort active"><span>毕业院校</span><input type="text" placeholder="请填写" value="2326@163.com"  readonly="readonly"></div>
    <div class="userSort active"><span>学历</span><input type="text" placeholder="请填写" value="江干区白杨街道学林街583号"></div>
    <div class="userSort active"><span>专业</span><input type="text" placeholder="请填写" value="江干区白杨街道学林街583号"></div>
    <div class="userSort active"><span>工作时间</span><input type="text" placeholder="请填写" value="江干区白杨街道学林街583号"></div>
    <div class="userSort active"><span>应急人</span><input type="text" placeholder="请填写" value="江干区白杨街道学林街583号"></div>
    <div class="userSort active"><span>应急人号码</span><input type="text" placeholder="请填写" value="江干区白杨街道学林街583号"></div>
</div>

<!--员工/主管状态-->
    <div class="user">
        <p class="gameName01"><img src="/home/images/game/icon06.png" class="icon">人员信息</p>
        <div class="userSort active"><span>照片</span></div>
        <div class="userSort active"><span>姓名</span><input type="text" placeholder="请填写" value="张三"  readonly="readonly"></div>
        <div class="userSort active"><span>性别</span><input type="text" placeholder="请填写" value="男"  readonly="readonly"></div>
        <div class="userSort active"><span>邮箱</span><input type="text" placeholder="请填写" value="2326@163.com"  readonly="readonly"></div>
        <div class="userSort active"><span>岗位级别</span><input type="text" placeholder="请填写" value="2326@163.com"  readonly="readonly"></div>
        <div class="userSort active"><span>手机号码</span><input type="text" placeholder="请填写" value="2326@163.com"  readonly="readonly"></div>
    </div>
<div class="user">
    <p class="gameName01"><img src="/home/images/game/icon05.png" class="icon">场馆情况</p>
    <div class="userSort active"><span>身份证号</span><input type="text" placeholder="请填写" value="滨江击剑馆"  readonly="readonly"></div>
    <div class="userSort active"><span>民族</span><input type="text" placeholder="请填写" value="李教练、张教练、"  readonly="readonly"></div>
    <div class="userSort active"><span>婚育</span><input type="text" placeholder="请填写" value="是"  readonly="readonly"></div>
    <div class="userSort active"><span>政治面貌</span><input type="text" placeholder="请填写" value="是"  readonly="readonly"></div>
    <div class="userSort active"><span>籍贯</span><input type="text" placeholder="请填写" value="是"  readonly="readonly"></div>
    <div class="userSort active"><span>户口类型</span><input type="text" placeholder="请填写" value="是"  readonly="readonly"></div>
    <div class="userSort active"><span>家庭住址</span><input type="text" placeholder="请填写" value="是"  readonly="readonly"></div>
    <div class="userSort active"><span>毕业院校</span><input type="text" placeholder="请填写" value="是"  readonly="readonly"></div>
    <div class="userSort active"><span>学历</span><input type="text" placeholder="请填写" value="是"  readonly="readonly"></div>
    <div class="userSort active"><span>专业</span><input type="text" placeholder="请填写" value="是"  readonly="readonly"></div>
    <div class="userSort active"><span>工作时间</span><input type="text" placeholder="请填写" value="是"  readonly="readonly"></div>
    <div class="userSort active"><span>应急人</span><input type="text" placeholder="请填写" value="是"  readonly="readonly"></div>
    <div class="userSort active"><span>应急人号码</span><input type="text" placeholder="请填写" value="是"  readonly="readonly"></div>
</div>
<div style="height:1rem;"></div>
{/block}
{block name="script"}
{/block}