{extend name="public/common"}
{block name="style"}
<title>击剑会员</title>
<link rel="stylesheet" href="/home/css/user/insider.css">
<link rel="stylesheet" href="/home/css/mall/order.css?v=11">
{/block}
{block name="body"}
    <div class="top"><img src="/home/images/insider/icon01.png" alt=""><p>开通击剑协会会员，享专属特权</p></div>
    <div class="header">比赛报名可享受会员特惠专属价格</div>

{if condition="($user['vip'] == 0)"}


{if condition="($user['tag'] == 2)"}
<!--教练状态-->
    <div class="user">
        <div class="userSort active"><span>姓名</span><input type="text" placeholder="请填写" value="{$user.name}" readonly="readonly"></div>
        <div class="userSort"><span>性别</span><input type="text" placeholder="请点击输入完善信息" value="{$user.gender}"></div>
        <div class="userSort"><span>民族</span><input type="text" placeholder="请点击输入完善信息" value="{$user.nation}"></div>
        <div class="userSort active"><span>出生日期</span><input type="text" placeholder="请填写" value="{$user.birthday}" readonly="readonly"></div>
        <div class="userSort"><span>政治面貌</span><input type="text" placeholder="请点击输入完善信息" value="{$user.face}"></div>
        <div class="userSort"><span>籍贯</span><input type="text" placeholder="请点击输入完善信息" value="{$user.branch}"></div>
        <div class="userSort"><span>学历</span><input type="text" placeholder="请点击输入完善信息" value="{$user.education}"></div>
        <div class="userSort"><span>专业</span><input type="text" placeholder="请点击输入完善信息" value="{$user.position}"></div>
        <div class="userSort"><span>所属单位</span><input type="text" placeholder="请点击输入完善信息" value="{$user.school}"></div>
        <div class="userSort"><span>联系电话</span><input type="text" placeholder="请点击输入完善信息" value="{$user.mobile}"></div>
        <div class="userSort"><span>邮箱</span><input type="text" placeholder="请点击输入完善信息" value="{$user.email}"></div>
        <div class="userSort"><span>联系地址</span><input type="text" placeholder="请点击输入完善信息" value="{$user.address}"></div>
    </div>
    <div class="deal">
        <img src="/home/images/insider/icon03.png" class="read"> 同意 <a href="/home/user/rule.html">《杭州市击剑运动协会会员管理规定》</a>
    </div>
    <div class="money"><span>¥</span><span>{$price}</span>/年</div>
    <div class="pay">立即支付</div>
{else /}
<!--学员状态-->
<div class="user">
    <div class="userSort active"><span>姓名</span><input type="text" placeholder="请填写" value="{$user.name}" readonly="readonly"></div>
    <div class="userSort"><span>性别</span><input type="text" placeholder="请点击输入完善信息" value="{$user.gender}"></div>
    <div class="userSort active"><span>出生日期</span><input  type="text" placeholder="请填写" value="{$user.birthday}" ></div>
    <div class="userSort"><span>所属单位</span><input type="text" placeholder="请点击输入完善信息" value="{$user.school}"></div>
    <div class="userSort"><span>联系电话</span><input type="text" placeholder="请点击输入完善信息" value="{$user.mobile}"></div>
    <div class="userSort"><span>邮箱</span><input type="text" placeholder="请点击输入完善信息" value="{$user.email}"></div>
    <div class="userSort"><span>联系地址</span><input type="text" placeholder="请点击输入完善信息" value="{$user.address}"></div>
</div>
<div class="deal">
    <img src="/home/images/insider/icon03.png" class="read"> 同意 <a href="/home/user/rule.html">《杭州市击剑运动协会会员管理规定》</a>
</div>
<div class="money"><span>¥</span><span>{$price}</span>/年</div>
<div class="pay">立即支付</div>
{/if}
{else /}
<!--假如他已成为会有后 显示的状态-->
<!--<div class="top"><img src="/home/images/insider/icon01.png" alt=""><p>开通击剑协会会员，享专属特权</p></div>-->
<!--<div class="header">比赛报名可享受会员特惠专属价格</div>-->
<div class="times">会员期限：{$user.viptime}至{$user.vipendtime}</div>
{/if}

<!-- 支付失败的提示-->
<div class="chooseTig">
    <div class="shadow"></div>
    <div class="tig">
        <p>支付失败，请重新支付</p>
        <a class="chooseBtn" href="javascript:;">我知道了</a>
    </div>
</div>
<!-- payChoose-->
<div class="payChoose">
    <div class="shadow"></div>
    <div class="chooseList">
        <a href="javascript:;" class="zhifubao"><i></i> 支付宝</a>
        <a href="javascript:;" class="weixin"><i></i>微信</a>
        <a href="javascript:;" class="mapBack">取消</a>
    </div>
</div>
<input type="hidden" id="refreshed" value="no">
{/block}
{block name="script"}
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="/home/js/ap.js"></script>
<script src="/home/js/reset.js"></script>
<script>
    var rule = localStorage.getItem('rule');
    if(rule == 1){
        $('.read').attr('src','/home/images/insider/icon04.png').removeClass('read').addClass('read_');
        $('.pay').addClass('active');
    }
    $('.read ,.read_').on('click',function(){
        if($(this).hasClass('read')){
            localStorage.setItem('rule','1')
            $(this).attr('src','/home/images/insider/icon04.png').removeClass('read').addClass('read_');
            $('.pay').addClass('active');
        }else{
            localStorage.setItem('rule','2')
            $(this).attr('src','/home/images/insider/icon03.png').removeClass('read_').addClass('read');
            $('.pay').removeClass('active');
        }
    })
    // $(document).on('click','.active',function(){
    //     location.href = '/home/user/paysuccess.html'
    // });
</script>
<script>
    var id = {$user.id};
    var orderPrice = {$price};
    var orderId = '';
    /*
    * 去结算
    * */
    $('.pay').on('click',function(){
        $.ajax({
            type: "post",
            url: "{:Url('User/vipapply')}",
            data: '',
            dataType: "json",
            success: function (data) {
                $('.payChoose').show();
                setCookie('_orderId',data.data);
                // console.log(data.data)
                orderId = data.data;
            }
        })
    })
    /**
     * payChoose
     * */
    $('.payChoose a').on('click', function () {
        if ($(this).hasClass('zhifubao')) {
            setCookie('isOrder',true);
            payPrice1(orderId,orderPrice);
        }else if ($(this).hasClass('weixin')) {
            setCookie('isOrder',true);
            payPrice(orderId,orderPrice);
        }else {
            $('.payChoose').hide();
        }
    });
    $('.payChoose .shadow ,.mapBack').on('click', function () {
        $('.payChoose').hide();
    });

    // 取消
    $(".popUp .cancel,.popUp .shadow").on('click', function () {
        setTimeout(function () {
            history.go(-1);
        },1500)
    });


    // weixin
    function payPrice(orderId,orderPrice) {
        $.post('/home/pay/wxpay ', {price: orderPrice,pid: orderId,type:3})
            .then(function (response) {
                console.log(response);
                if (response) {
                    if (typeof WeixinJSBridge == "undefined"){
                        if( document.addEventListener ){
                            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                        }else if (document.attachEvent){
                            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                        }
                    } else {
                        WeixinJSBridge.invoke(
                            'getBrandWCPayRequest',  JSON.parse(response),
                            function (res) {
                                if (res.err_msg == "get_brand_wcpay_request:ok") {
                                    // $(".content").hide();
                                    // $(".popUp").show();
                                    setTimeout(function () {
//                                                window.history.go(-index);
                                        location.href='/home/association/paysuccess/'+id+'.html'
                                    },1500);
                                }else {
                                    $('.chooseTig').show();
                                    setTimeout(function () {
                                        $('.chooseTig').hide();
                                    },3000)
                                }
                                $('.payChoose').hide();
                                // 使用以上方式判断前端返回,微信团队郑重提示：
                                // res.err_msg将在用户支付成功后返回
                                // ok，但并不保证它绝对可靠。
                            }
                        );
                    }

                } else {
                    swal({
                        title: "",
                        text: response.data.error_msg,
                        type: "error",
                        confirmButtonColor: "#ffb45b",
                        confirmButtonText: "确定"
                    });
                }
            });
    }

    // zhifubao
    function payPrice1(orderId,orderPrice) {
        $.ajax({
            url: "/home/pay/alipay",
            type: 'post',
            data: {
                price: orderPrice,
                pid: orderId,
                type:3
            },
            success: function (response) {
                $('.payChoose').hide();
                response = JSON.parse(response);
                if (response.success) {
                    event.preventDefault();
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    _AP.pay(response.data);
                }
            }
        })
    }

    if ((/iphone|ipod|ipad.*os 5/gi).test(navigator.appVersion)) {
        window.onpageshow = function(event) {
            var isOrder = getCookie('isOrder');
            var orderId = getCookie('_orderId');
            if (event.persisted) {
                $.ajax({
                    url: '{:Url("Pay/payStatus")}',
                    type: 'post',
                    data: {
                        pid: orderId,
                        type: 3
                    },
                    success: function (msg) {
                        $('.showbox').hide();
                        if (msg.code == 1) {
                            location.href='/home/user/paysuccess/'
                        }else {
                            $('.chooseTig').show();
                            setTimeout(function () {
                                $('.chooseTig').hide();
                            },3000)
                        }
                        setCookie('isOrder',false);
                    },
                    error: function (msg) {
                        $('.chooseTig').show();
                        setTimeout(function () {
                            $('.chooseTig').hide();
                        },3000)
                    }
                })
            }
            else {
                if (isOrder == true) {
                    setCookie('isOrder',false);
                    $.ajax({
                        url: '{:Url("Pay/payStatus")}',
                        type: 'post',
                        data: {
                            pid: orderId,
                            type: 3
                        },
                        success: function (msg) {
                            $('.showbox').hide();
                            if (msg.code == 1) {
                                setCookie('isOrder',false);
                                location.href='/home/user/paysuccess/'
                            }else {
                                $('.chooseTig').show();
                                setTimeout(function () {
                                    $('.chooseTig').hide();
                                },3000)
                            }
                        },
                        error: function (msg) {
                            $('.chooseTig').show();
                            setTimeout(function () {
                                $('.chooseTig').hide();
                            },3000)
                        }
                    })
                }else {
                }
            }

        };
    }
    else {
        var orderId = getCookie('_orderId');
        var e=$("#refreshed");
        if(e.val() == "no") {
            e.val('yes');
        }else{
            e.val('no');
            $(".showbox").show();
            $.ajax({
                url: '{:Url("Pay/payStatus")}',
                type: 'post',
                data: {
                    pid: orderId,
                    type: 3
                },
                success: function (msg) {
                    $('.showbox').hide();
                    if (msg.code == 1) {
                        location.href='/home/user/paysuccess/'
                    }else {
                        $('.chooseTig').show();
                        setTimeout(function () {
                            $('.chooseTig').hide();
                        },3000)
                    }
                    e.val('yes');
                },
                error: function (msg) {
                    $('.chooseTig').show();
                    setTimeout(function () {
                        $('.chooseTig').hide();
                    },3000)
                }
            })
        }
    }
</script>
{/block}