{extend name="public/common"}
{block name="style"}
<title>请假申请</title>
<link rel="stylesheet" href="/home/css/user/leave.css">
{/block}
{block name="body"}
    <div class="leaveDetail">
        <div class="leaveDetail01">
            <p>申请人</p>
            <input type="text" value="{$data.create_user}" readonly="readonly" name="name">
        </div>
        <div class="leaveDetail01">
            <p>申请原因</p>
            <input type="text" value="{$data.content}" readonly="readonly" name="text">
        </div>
        <div class="leaveDetail01">
            <p>请假时间</p>
            <input type="text" value="{$data.starttime}" readonly="readonly" name="time01">
            <span>至</span>
            <input type="text" value="{$data.endtime}" readonly="readonly" name="time02">
        </div>
        <div class="leaveDetail01" style="border-bottom: transparent;">
            <p>相关图片</p>
            <div class="leaveUl">
                {volist name="$data['front_cover']" id="vo"}
                <img src="{$vo|get_cover='path'}" alt="">
                {/volist}
            </div>
        </div>
        <!--教练下查看-->
        <div class="leaveDetail01" style="border-bottom: transparent;">
            <p>审批结果</p>
            <div class="hg" style="position: relative;">

                <div class="lc">
                    <div class="lc01">
                        {if condition="($data['status'] == 0)"}
                        <img src="/home/images/user/qj03.png" alt="">
                        {elseif condition="($data['status'] == 1)" /}
                        <img src="/home/images/user/qj02.png" alt="">
                        {else/}
                        <img src="/home/images/user/qj04.png" alt="">
                        {/if}
                    </div>
                    <div class="lc02"><img  src="{$data['img']}" alt=""></div>
                    <div class="lc03">
                        {$data.leave} <span>{$data.leavetime|time_format='Y-m-d'}</span>
                    </div>
                    {if condition="($data['status'] == 0)"}
                    <div class="lc04 Nsuccess">未审批</div>
                    {elseif condition="($data['status'] == 1)" /}
                    <div class="lc04 successs">已同意</div>
                    {else/}
                    <div class="lc04 error">被否决</div>
                    {/if}

                </div>

                <!--<div class="lc">-->
                    <!--<div class="lc01"><img src="/home/images/user/qj02.png" alt=""></div>-->
                    <!--<div class="lc02"><img  src="/home/images/1.jpg" alt=""></div>-->
                    <!--<div class="lc03">-->
                        <!--姓名 <span>2018-10-25</span>-->
                    <!--</div>-->
                    <!--<div class="lc04 successs">已同意</div>-->
                <!--</div>-->
                <!--<div class="lc">-->
                    <!--<div class="lc01"><img src="/home/images/user/qj04.png" alt=""></div>-->
                    <!--<div class="lc02"><img  src="/home/images/1.jpg" alt=""></div>-->
                    <!--<div class="lc03">-->
                        <!--姓名 <span>2018-10-25</span>-->
                    <!--</div>-->
                    <!--<div class="lc04 error">被否决</div>-->
                <!--</div>-->
                <div id="hr"></div>
            </div>
        </div>
        <div class="leaveDetail01" style="border-bottom: transparent;">
            <p>审批意见</p>

            {if condition="($data['leavetext'] == '')"}

            {else /}
            <div class="opinion">
                <div class="lc02"><img  src="/home/images/1.jpg" alt=""></div>
                <div class="opinion01">
                    <div class="opinion02">{$data.leave} <span>{$data.leavetime|time_format='Y-m-d'}</span></div>
                    <div class="opinion03">{$data.leavetext}</div>
                </div>
            </div>
            {/if}
            <!--<div class="opinion">-->
                <!--<div class="lc02"><img  src="/home/images/1.jpg" alt=""></div>-->
                <!--<div class="opinion01">-->
                    <!--<div class="opinion02">姓名 <span>2018-10-15</span></div>-->
                    <!--<div class="opinion03">请假原因请假原因请假原因请假原因请假原因请假原 因请假原因请假原因</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        {if condition="($user['tag'] != 1)"}
        {if condition="($data['status'] == 0)"}
        <!--超管权限下 的审批意见-->
        <div class="leaveDetail01" style="border-bottom: transparent;">
            <p>审批意见</p>
            <textarea placeholder="请填写请假原因..." id="content" style="    width: 100%;
    height: 2.2rem;
    border-radius: .2rem;
    background: #F7F8FA;
    font-size: .24rem;
    padding: .2rem;"></textarea>
        </div>
    </div>

<!--这是超管权限下的显示状态-->
<div class="success">通过</div>
<div class="errors">驳回</div>
{/if}
{/if}
{/block}
{block name="script"}
<script>
    var id = {$data.id};
    $('#hr').css('height',$('.hg').height()*0.77)
    $('.success').on('click',function(){
        if($('#content').val()!==''){
            var data = {id:id,leavetext:$('#content').val()}
            $.ajax({
                type: "post",
                url: "{:Url('User/view')}",
                data: data,
                dataType: "json",
                success: function (data) {
                    swal({
                        title: "请假审批成功!",
                        type:'success'
                    },function(){
                        history.go(-1)
                    });
                }
            })
        }else{
            swal({
                title: "意见不能为空！",
                type:'error'
            });
        }
    })
       $('.errors').on('click',function(){
           if($('#content').val()!==''){
               var data = {id:id,leavetext:$('#content').val()}
               $.ajax({
                   type: "post",
                   url: "{:Url('User/view')}",
                   data: data,
                   dataType: "json",
                   success: function (data) {
                       swal({
                           title: "请假审批驳回!",
                           type:'success'
                       },function(){
                           history.go(-1)
                       });
                   }
               })
           }else{
               swal({
                   title: "意见不能为空！",
                   type:'error'
               });
           }
    })
</script>
{/block}