{extend name="public/common"}
{block name="style"}
<title>请假申请</title>
<link rel="stylesheet" href="/home/css/user/leave.css">
<link rel="stylesheet" href="/home/css/association/game.css">
{/block}
{block name="body"}

{if condition="($user['tag'] == 1)"}
<!--这是学员-->
<div class="leave" style="display: block;">
    {volist name="data" id="co"}
    <a href="{:Url('User/leavedetail?id='.$co['id'])}">
    <div class="leave01">请假审批</div>
    <div class="leave02"><span>申请原因：</span><span>{$co.content}</span></div>
    <div class="leave02"><span>时间区间：</span><span>{$co.starttime}——{$co.endtime}</span></div>
    <div class="leave03"><span>{$co.create_time|time_format='Y/m/d H:i'}</span></div>
    </a>
    {/volist}
</div>
<!--学员end-->
{else /}
<!--假如是 教练进入-->

<!--顶部分类-->
<div class="Top">
    <div data-side="1" class="active">未审批<span></span></div>
    <div data-side="2">已审批<span></span></div>
</div>
<!--正文切换-->

<div class="leave" id="side1" style="display: block;">
    {volist name="left" id="vo"}
    <a href="{:Url('User/leavedetail?id='.$vo['id'])}">
        <div class="leave01">请假审批</div>
        <div class="leave02"><span>申请原因：</span><span>{$vo.content}</span></div>
        <div class="leave02"><span>时间区间：</span><span>{$vo.starttime}——{$vo.endtime}</span></div>
        <div class="leave03"><span>{$vo.create_time|time_format='Y/m/d H:i'}</span></div>
    </a>
    {/volist}
</div>


<div class="leave" id="side2">
    {volist name="right" id="lo"}
    <a href="{:Url('User/leavedetail?id='.$lo['id'])}">
        <div class="leave01">请假审批</div>
        <div class="leave02"><span>申请原因：</span><span>{$vo.content}</span></div>
        <div class="leave02"><span>时间区间：</span><span>{$vo.starttime}——{$vo.endtime}</span></div>
        <div class="leave03"><span>{$vo.create_time|time_format='Y/m/d H:i'}</span></div>
    </a>
    {/volist}
</div>

{/if}
<a href="/home/user/application.html" id="leave">请假申请</a>
{/block}
{block name="script"}
<script>
    for(var i=0;i<$('.Top div').length;i++){
        $('.Top div')[i].onclick = function(){
            $('.Top div').removeClass('active');
            $(this).addClass('active');
            var side = $(this).data('side');
            $('.leave').hide();
            $('#side'+side).show();
        }
    }
</script>
{/block}