{extend name="public/pure"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/user/meeting.css">
<title>会议纪要</title>
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="list meeting">
            {empty name="meeting"}
                <div class="default"><img src="/home/images/common/nomessage.png"></div>
            {else/}
                <ul>
                {volist name="meeting" id="mee"}
                    <a href="{:Url('user/meetingdetail?id='.$mee['id'])}">
                        <img src="{$mee.front_cover|get_cover='path'}">
                        <p>{$mee.title}</p>
                        {eq name="$mee.status" value="0"}
                            <span style="color: orange">审核中</span>
                        {/eq}
                        {eq name="$mee.status" value="1"}
                        <span style="color: green">已通过</span>
                        {/eq}
                        {eq name="$mee.status" value="2"}
                        <span style="color: red">未通过</span>
                        {/eq}
                        <span>{$mee.create_time|time_format='Y-m-d'}</span>
                        <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    </a>
                {/volist}
                </ul>
            {/empty}
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>

//首页加载是否需要上拉加载
window.onload = function() {
        if ($(".meeting ul a").length < 12) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
};

//初始化下拉加载
mui.init({
    pullRefresh: {
        container: '#refreshContainer',
        up: {
            callback: loadScroll
        }
    }
});

function loadScroll(){
        var len = $(".meeting ul a").length;
    $.ajax({
        type:"post",
        url:"{:Url('User/more')}",
        data:{
            length:len
        },
        beforeSend: function(XMLHttpRequest){
        },
        success:function(data){
            addCourse(data);
            if(data.code == 1){
                if(data.data.length == 12){
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }else{
                mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
            }
        }
    })
}

function addCourse(data,type) {
    var html = '';
    var lists = data.data;
    var len = lists.length;
    for (var i = 0; i < len; i++) {
        var list = lists[i];
            html +=
            '<a href="/home/user/meetingdetail/id/' + list.id + '">' +
            '<img src="'+list.path+'">'+
            '<p>' + list.title + '</p>'
        if(list.status == 0){
                html+='<span style="color: orange">审核中</span>';
        }else if (list.status == 1){
            html+='<span style="color: green">已通过</span>';
        }else{
            html+='<span style="color: red">未通过</span>';
        }
            html+='<span>' + list.time + '</span>' +
            '<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>' +
            '</a>'
        }
    $(".meeting ul").append(html);
}


//点击背景触发active
mui("#refreshContainer").on("touchstart","a",function(){
    $(this).css("backgroundColor","rgba(0,0,0,.1)");
}).on("touchend","a", function () {
    $(this).css("backgroundColor","#fff");
});

//页面点击事件
mui("#refreshContainer").on("tap","a",function(){
    var url = this.getAttribute("href");
    window.location.href = url;
})
</script>
{/block}