{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/sass/stylesheets/details-template/banner-detail.css">
<style>
    .mui-pull-bottom-pocket {
        height: 0.8rem;
        bottom: 0.8rem;
    }
    .comment{
        padding-bottom: 1rem;
    }
</style>
{/block}
{block name="body"}
<div class="main">
    <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="swiper-container banner">
                <div class="swiper-wrapper">

                    {if condition="(!empty($detail['images']))"}
                    {volist name="detail.images" id="vo"}
                    <div class="swiper-slide">
                        <div class="mui-slider-item">
                            <img src="{$vo|get_cover='path'}">
                        </div>
                    </div>
                    {/volist}
                    {else /}

                    <div class="swiper-slide">
                        <div class="mui-slider-item">
                            <img src="{$detail.front_cover|get_cover='path'}">
                        </div>
                    </div>

                    {/if}



                </div>
            </div>
            <div class="view">
                <span class="read">{$detail.views+1}</span>
            </div>
            <div class="article">
                <div class="title"><p>{$detail.title}</p></div>

                <div class="note clear">
                    <span class="publish">{$detail.userid|get_name}</span>
                    <span class="time">{$detail.create_time|time_format="Y-m-d"}</span>
                </div>


                <div class="message">
                    {notempty name="detail.start_time"}
                    <div class="name limit">{$detail.start_time|time_format="Y-m-d H:i"}</div>
                    {/notempty}
                    {notempty name="detail.address"}
                    <div class="content address" >{$detail.address}</div>
                    {/notempty}
                    {notempty name="detail.publisher"}
                    <div class="content people" >{$detail.publisher}</div>
                    {/notempty}
                    {notempty name="detail.telephone"}
                    <div class="content tel">{$detail.telephone}</div>
                    {/notempty}
                </div>

                <div class="content">
                    <div class="article-content">{$detail.content}</div>
                </div>
            </div>
        </div>
    </div>


{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script src="/home/js/reset.js"></script>
<script>

</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    //---微信接口JS-SDK的调用
    wx.config({
        debug: false,
        appId: '{$jsSign.appid}', // 必填，公众号的唯一标识
        timestamp: {$jsSign['timestamp']}, // 必填，生成签名的时间戳，切记时间戳是整数型，别加引号
        nonceStr: '{$jsSign.noncestr}', // 必填，生成签名的随机串
        signature: '{$jsSign.signature}', // 必填，签名，见附录1
        jsApiList: [
            'checkJsApi',
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
        ]
    });

    wx.ready(function () {
        //分享到朋友圈
        wx.onMenuShareTimeline({
            title: '{$detail.title}',
            link: '{$detail.link}',
            imgUrl: '{$detail.share_image}',
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        //分享给朋友
        wx.onMenuShareAppMessage({
            title: '{$detail.title}', // 分享标题
            desc: '{$detail.desc}', // 分享描述
            link: '{$detail.link}', // 分享链接
            imgUrl: '{$detail.share_image}', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

    });
    //    wx.error(function (res) {
    //        alert('wx.error: '+JSON.stringify(res));
    //    });
</script>
{/block}