{extend name="public/common"}

{block name="style"}
<title>我的比赛</title>
<link rel="stylesheet" href="/home/css/association/game.css">
<style>
    #leave {
        display: block;
        width: 7rem;
        height: .8rem;
        background: #3A8CFB;
        color: #fff;
        font-size: .28rem;
        text-align: center;
        line-height: .8rem;
        border-radius: .4rem;
        position: fixed;
        bottom: .3rem;
        left: 50%;
        margin-left: -3.5rem;
    }
    .payError04 {
        width: 4.1rem;
        height: .7rem;
        text-align: center;
        line-height: .7rem;
        color: #fff;
        background: #3A8CFB;
        border: 1px solid #fff;
        border-radius: .35rem;
        font-size: .26rem;
        position: absolute;
        bottom: -.35rem;
        left: 50%;
        margin-left: -2rem;
    }
    .payError04 span {display: block;}
    #cancel {
        float:left;
        width:2rem;
        height:.6rem;
        position: absolute;
        top:50%;
        margin-top: -.3rem;
        left:.05rem;
        line-height: .6rem;
    }
    #ok {
        width:2rem;
        height:.6rem;
        border-radius: .28rem;
        background: #fff;
        float:right;
        position: absolute;
        top:50%;
        margin-top: -.3rem;
        right:.05rem;
        color: #3A8CFB;
        line-height: .6rem;
    }
</style>
{/block}
{block name="body"}
<div class="sucDetail" style="margin-top: .36rem;">
    <div class="sucDetail01">{$data.title}</div>
    <div class="sucDetail02"><img src="/home/images/game/icon02.png" class="icon">{$data.address}</div>
    <div class="sucDetail02"><img src="/home/images/game/icon03.png" class="icon">截止时间：{$data.end_time|time_format='Y-m-d'}</div>
    <div class="sucDetail03">
        <p><span>姓名</span><span>{$data.name}</span></p>
        <p><span>组别</span><span>{$data.group_name}</span></p>
        <p><span>剑种</span><span>{$data.kinds}</span></p>
        <p><span>赛别</span><span>{$data.type}</span></p>
        <p><span>代表单位</span><span>{$data.representative}</span></p>
    </div>
</div>
<!--申请退赛。0：可点击，1不可点击-->
<div id="leave" class="success" data-side='0'>申请退赛</div>

<div id="pay">
    <div class="payError">
        <div class="payError01"><img src="/home/images/game/icon08.png" alt=""></div>
        <div class="payError02">
            <p>您确定进行这次操作吗？</p>
            <p>将会失去这次参赛资格！</p>
        </div>
        <div class="payError04"><span id="cancel">取消操作</span><span id="ok">确定</span></div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    var id = {$data.id};
    if($('#leave').data('side') == 1){
        $('#leave').css({'background':'#C2C2C2','color':'#fff'});
    }else{
        $('#leave').on('click',function(){
            if($(this).hasClass('success')){
                $('#pay').show();
                $('body').css('position','fixed');
            }else{

            }
        })
    }
    $('.payError03 ,#cancel').on('click',function(){
        $('#pay').hide();
        $('body').css('position','inherit');
    })
    $('#ok').on('click',function(){
        $.ajax({
            url: '{:Url("User/retire")}',
            type: 'post',
            data: {
                id: id,
            },
            success: function (data) {
                console.log(data)
                location.href='/home/user/reite01.html';
            }
        })
        // location.href='/home/user/reite01.html'
    })
</script>
{/block}