{extend name="public/common"}
{block name="style"}
<title>个人中心</title>
<link rel="stylesheet" href="/home/css/user/insider.css">
{/block}
{block name="body"}
<div class="ruleTop">《杭州市击剑运动协会会员管理规定》</div>
<div class="contnet">
    <p>杭州市击剑运动协会发布</p>
    <p>一、《中国击剑协会会员管理办法》

        　　(一)明确“自由运动员”注册到新的团体会员参照转会程序执行，但不受“集中注册与转会期”时间限制。

        　　(二)增加了有关“争议解决”的内容，明确各团体会员在为运动员等个人会员办理注册等手续时，如发生争议，运动员和团体会员可按程序向中国击剑协会提出申诉；如争议涉及运动员代表资格，且符合一定条件，运动员可向本协会申请临时转会，经批准后可在“集中注册与转会期”之外转会。

        　　二、《中国击剑协会教练员管理办法》

        　　(一)细化了教练员委员会成员的构成、产生方式等；

        　　(二)调整了大众击剑教练员技术等级认证的“比赛成绩条件”；

        　　(三)国家队、各级政府体育主管部门所属击剑队在职或聘用的教练员、体校教练员等须同时按照体育总局新发布的《全国体育教练员注册管理办法》办理注册手续。

        　　三、《中国击剑协会裁判员管理办法》

        　　(一)地方各级政府体育主管部门、“同级击剑协会”均拥有对本级裁判员的管辖权限；

        　　(二)细化了裁判员委员会成员的构成、产生方式等；

        　　(三)裁判员技术等级由“审批”调整为“认证”，国家级裁判员不再由体育总局“审批”，而是由中国击剑协会“认证”；一级及以下裁判员则分别由省、市、县级政府体育主管部门或同级击剑协会认证；

        　　(四)适当调整了裁判员为晋升而必须具备的任原技术等级的年限：任三级裁判员满1年可申报二级裁判员，任二级裁判员满1年可申报一级裁判员，任一级裁判员满2年可申报国家级裁判员；
    </p>
    <p>一、《中国击剑协会会员管理办法》

        　　(一)明确“自由运动员”注册到新的团体会员参照转会程序执行，但不受“集中注册与转会期”时间限制。

        　　(二)增加了有关“争议解决”的内容，明确各团体会员在为运动员等个人会员办理注册等手续时，如发生争议，运动员和团体会员可按程序向中国击剑协会提出申诉；如争议涉及运动员代表资格，且符合一定条件，运动员可向本协会申请临时转会，经批准后可在“集中注册与转会期”之外转会。

        　　二、《中国击剑协会教练员管理办法》

        　　(一)细化了教练员委员会成员的构成、产生方式等；

        　　(二)调整了大众击剑教练员技术等级认证的“比赛成绩条件”；

        　　(三)国家队、各级政府体育主管部门所属击剑队在职或聘用的教练员、体校教练员等须同时按照体育总局新发布的《全国体育教练员注册管理办法》办理注册手续。

        　　三、《中国击剑协会裁判员管理办法》

        　　(一)地方各级政府体育主管部门、“同级击剑协会”均拥有对本级裁判员的管辖权限；

        　　(二)细化了裁判员委员会成员的构成、产生方式等；

        　　(三)裁判员技术等级由“审批”调整为“认证”，国家级裁判员不再由体育总局“审批”，而是由中国击剑协会“认证”；一级及以下裁判员则分别由省、市、县级政府体育主管部门或同级击剑协会认证；

        　　(四)适当调整了裁判员为晋升而必须具备的任原技术等级的年限：任三级裁判员满1年可申报二级裁判员，任二级裁判员满1年可申报一级裁判员，任一级裁判员满2年可申报国家级裁判员；
    </p>
</div>
    <div class="agree">立即支付</div>
{/block}
{block name="script"}
<script>
    $('.agree').on('click',function(){
        localStorage.setItem('rule','1')
        history.go(-1)
    })
</script>
{/block}