{extend name="public/common"}

{block name="style"}
<title>我的签到</title>
<link rel="stylesheet" href="/home/css/association/game.css">
<style>
    .code {width:6rem;height:6rem;position: relative;margin: 1rem auto;}
    .code img {width:100%;height:100%;}
    #side2{ width: 100%; padding: 0 .24rem;}
    #side2 thead>tr>td{ width: 1rem; height: 1rem; text-align: center; color: #333;font-size: .24rem;}
    #side2 tbody>tr>td{ width: 1rem; height: 1rem; text-align: center; margin: 1px;font-size: .24rem;}
    .float{ float: left;}
    #button,#button2{ width: 300px;height: 80px; font-size: 50px;}
    #button2{ margin-left: 100px;}
    .color{ color: red; font-size: 30px;}
    .los{ color: #333;background: #E5F0FF;width: .8rem;height:.8rem;border-radius: 50%;line-height: .8rem;}
    .los1{ color: #333;background: #FFC0C7;width: .8rem;height:.8rem;border-radius: 50%;line-height: .8rem;}
    .los2{ color: #333;background: #FFE2B9;width: .8rem;height:.8rem;border-radius: 50%;line-height: .8rem;}
    .weiqian{color: #03A9F4; font-size: 30px;background: red;}
</style>
{/block}
{block name="body"}
<!--顶部分类-->
    <div class="Top">
        <div data-side="1" class="active">签到<span></span></div>
        <div data-side="2">记录<span></span></div>
    </div>
<!--正文切换-->
    <div class="news" id="side1" style="display: block;">
        <div class="code"><img src="/home/images/1.jpg"></div>
    </div>
    <div class="news" id="side2">
        <table  cellspacing="1" cellpadding="1" >
            <thead id="thead">
            <tr>
                <td>日</td>
                <td>一</td>
                <td>二</td>
                <td>三</td>
                <td>四</td>
                <td>五</td>
                <td>六</td>
            </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
</div>
{/block}
{block name="script"}
<script>
    for(var i=0;i<$('.Top div').length;i++){
        $('.Top div')[i].onclick = function(){
            $('.Top div').removeClass('active');
            $(this).addClass('active');
            var side = $(this).data('side');
            $('.news').hide();
            $('#side'+side).show();
        }
    }
    $(function(){
        var sliarrn=[15,16,17,20,31];//正常在训
        var sliarrn1=[1,10,11];//迟到
        var sliarrn2=[8,9,18];//早退
        var $thead=$('#thead'),
            $tbody=$('#tbody'),
            $button=$('#button'),
            $button2=$('#button2'),
            wk=true,
            slidate=new Date(),
            _nullnei='',
            de=slidate.getDate()+1;
        var monthFirst = new Date(slidate.getFullYear(), parseInt(slidate.getMonth()), 1).getDay();//获取当月的1日等于星期几
        var d = new Date(slidate.getFullYear(), parseInt(slidate.getMonth() + 1), 0); //获取月
        var conter=d.getDate();//获取当前月的天数
        //遍历日历网格
        for(var i=1; i<=6;i++){
            _nullnei+="<tr>";
            for(var j=1; j<=7;j++)
            {
                _nullnei+='<td></td>';
            }
            _nullnei+="</tr>";
        }
        $tbody.html(_nullnei);

        //遍历网格内容
        var $slitd=$tbody.find("td");
        for(var i=0; i<conter; i++)
        {
            $slitd.eq(i+monthFirst).html("<p>"+parseInt(i+1)+"</p>")
        }
        // Funback();//给当前日加样式
        // Funmore();//本月未签到样式
        Funmonth();//查询已签到
        Funmonth1();//查询已签到
        Funmonth2();//查询已签到
        $button.on("click",function(){
            if(wk==true)
            {
                sliarrn.push(de-1);//把当日传入已签
                Funmonth();	//再次查询签到
                alert('已签到');
            }
        })
        $button2.on("click",function(){
            alert('你本月已签到'+  sliarrn.length  +'次')
        })
        function Funback(){
            $slitd.eq(parseInt(de)).addClass('color')
        }
        function Funmore(){
            for(var i=0; i<de; i++) {
                if($slitd.eq(i).find('p').length>0){
                    $slitd.eq(i).addClass('weiqian')
                }
            }
        }
        function Funmonth(){
            $slitd.each(function(){
                if($(this).find('p').length>0){
                    var _this = $(this).find('p').text();
                    for(var j=0; j<sliarrn.length;j++) {
                        if(_this == sliarrn[j]) {
                            $(this).find('p').addClass('los')
                        }
                    }
                }
            })
        }
        function Funmonth1(){
            $slitd.each(function(){
                if($(this).find('p').length>0){
                    var _this = $(this).find('p').text();
                    for(var j=0; j<sliarrn1.length;j++) {
                        if(_this == sliarrn1[j]) {
                            $(this).find('p').addClass('los1')
                        }
                    }
                }
            })
        }
        function Funmonth2(){
            $slitd.each(function(){
                if($(this).find('p').length>0){
                    var _this = $(this).find('p').text();
                    for(var j=0; j<sliarrn2.length;j++) {
                        if(_this == sliarrn2[j]) {
                            $(this).find('p').addClass('los2')
                        }
                    }
                }
            })
        }
    })
</script>
<script>
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
</script>
{/block}