{extend name="public/common"}

{block name="style"}
<title>我的签到</title>
<link rel="stylesheet" href="/home/css/association/game.css">
<style>
    .code {width:6rem;height:6rem;position: relative;margin: 1rem auto;}
    .code img {width:100%;height:100%;}
    #side2{ width: 100%; padding: 0 .24rem;}
    #side2 thead>tr>td{ width: 1rem; height: 1rem; text-align: center; color: #333;font-size: .24rem;}
    #side2 tbody>tr>td{ width: 1rem; height: 1rem; text-align: center; margin: 1px;font-size: .24rem;}
    .float{ float: left;}
    #button,#button2{ width: 300px;height: 80px; font-size: 50px;}
    #button2{ margin-left: 100px;}
    .color{ color: red; font-size: 30px;}
    .los{ color: #333;background: #E5F0FF;width: .8rem;height:.8rem;border-radius: 50%;line-height: .8rem;}
    .los1{ color: #333;background: #FFC0C7;width: .8rem;height:.8rem;border-radius: 50%;line-height: .8rem;}
    .los2{ color: #333;background: #FFE2B9;width: .8rem;height:.8rem;border-radius: 50%;line-height: .8rem;}
    canvas {width:6rem;height:6rem}
    .weiqian{color: #03A9F4; font-size: 30px;background: red;}
    .timeBottom {width:94%;color: #999;font-size: .24rem;position: absolute;bottom:.3rem;}
    .timeBottom div {width:33.33%;float:left;position: relative;text-align: center;}
    .timeBottom div:before {
        content: '';
        width:.2rem;
        height:.2rem;
        border-radius: 50%;
        position: absolute;
        top:50%;
        margin-top: -.1rem;
        left:.1rem;
    }
    .timeBottom div:nth-child(1):before {background: #E5F0FF;}
    .timeBottom div:nth-child(2):before {background: #FFE2B9;}
    .timeBottom div:nth-child(3):before {background: #FFC0C7;}
    .timeDate {width:94%;position: absolute;top:1.5rem;}
    .timeDate div {float:left;position: relative;text-align: center;}
    .timeDate div:nth-child(1) {float:left;}
    .timeDate div:nth-child(3) {float:right;}
    .timeDate div:nth-child(1) ,.timeDate div:nth-child(3) {
        width:2rem;
        height:.8rem;
        text-align: center;
        line-height: .8rem;
        border-radius: .4rem;
        border: 1px solid #3A8CFB;
        color: #3A8CFB;
        font-size: .28rem;
    }
    .timeDate div:nth-child(2) {color: #333; font-size: .24rem;height:.8rem;
        text-align: center;
        line-height: .8rem;
        position: absolute;
        width:100%;
    }
    #imgLogo {
        position: absolute;
        top:50%;
        left:50%;
        width:1.2rem;
        height:1.2rem;
        z-index: 9999999;
        margin-left: -.6rem;
        margin-top: -.6rem;
    }
    .code {
        position: relative;
    }
</style>
{/block}
{block name="body"}
<!--顶部分类-->
    <div class="Top">
        <div data-side="1" class="active">签到<span></span></div>
        <div data-side="2">记录<span></span></div>
    </div>
<!--正文切换-->
    <div class="news" id="side1" style="position: relative;">
        <img id="imgLogo" src="/home/images/qdicon.png" >
        <div class="code" id="container2">
            <canvas></canvas>
        </div>
    </div>
    <div class="news" id="side2" style="padding: 1rem .24rem 0 .24rem;">
        <div class="timeDate">
            <div id="last" style="position: relative;z-index: 9999;">查看上月</div>
            <div id="times" class="">{$date_name}</div>
            <div id="next" style="position: relative;z-index: 9999;">查看下月</div>
        </div>
        <table  cellspacing="1" cellpadding="1" >
            <thead id="thead">
            <tr>
                <td>日</td>
                <td>一</td>
                <td>二</td>
                <td>三</td>
                <td>四</td>
                <td>五</td>
                <td>六</td>
            </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
        <div class="timeBottom">
            <div>表示正常在训</div>
            <div>表示迟到早退</div>
            <div>表示该天缺勤</div>
        </div>
</div>
{/block}
{block name="script"}
<script src="/home/js/jqueryqr.js"></script>
<script src="/home/js/qrcode.js"></script>
<script>
    var type = localStorage.getItem('qd')==null?1:localStorage.getItem('qd');
    $('.Top div').removeClass('active');
    $('.Top div').eq(type-1).addClass('active');
    $('.news').hide();
    $('.news').eq(type-1).show()
    for(var i=0;i<$('.Top div').length;i++){
        $('.Top div')[i].onclick = function(){
            $('.Top div').removeClass('active');
            $(this).addClass('active');
            var side = $(this).data('side');
            $('.news').hide();
            $('#side'+side).show();
            localStorage.setItem('qd',side);
        }
    }
    var T = '{$date_name}';
    alert(T);
    var newDate = {$time};
    function timestampToTime(timestamp) {
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1);
        var D = date.getDate() + ' ';
        var h = date.getHours() + ':';
        var m = date.getMinutes() + ':';
        var s = date.getSeconds();
        return Y+M;
    }
    // console.log(timestampToTime(newDate));//
    // console.log(new Date(newDate * 1000))
    var normal = {$normal};//正常
    var late = {$late};//迟到早退
    var absence = {$absence};//缺勤
    var getDate = new Date(newDate * 1000);//当前月的时间
    $('#times').addClass(timestampToTime(newDate));
    qdTime(normal,late,absence,getDate);

    $('#last').on('click',function(){
        $.ajax({
            url: '{:Url("User/getSign")}',
            type: 'post',
            data: {
                time: 1,
                date: $('#times').attr('class')
            },
            success: function (data) {
                var _data = data.data;
                $('#times').removeClass().addClass(timestampToTime(_data.time)).text(_data.name);
                normal = _data.data.normal;
                late = _data.data.late;
                absence = _data.data.absence;
                getDate = new Date(_data.time * 1000);
                qdTime(normal,late,absence,getDate);
            }
        })
    });
    $('#next').on('click',function(){
        $.ajax({
            url: '{:Url("User/getSign")}',
            type: 'post',
            data: {
                time: 2,
                date: $('#times').attr('class')
            },
            success: function (data) {
                var _data = data.data;
                $('#times').removeClass().addClass(timestampToTime(_data.time)).text(_data.name);
                normal = _data.data.normal;
                late = _data.data.late;
                absence = _data.data.absence;
                getDate = new Date(_data.time * 1000);
                qdTime(normal,late,absence,getDate);
            }
        })
    })


    function qdTime(normal,late,absence,getDate){
        var sliarrn=normal;//正常在训
        var sliarrn1=late;//迟到
        var sliarrn2=absence;//早退
        var $thead=$('#thead'),
            $tbody=$('#tbody'),
            $button=$('#button'),
            $button2=$('#button2'),
            wk=true,
            // slidate=new Date(),
            slidate=getDate,
            _nullnei='',
            de=slidate.getDate()+1;
        var monthFirst = new Date(slidate.getFullYear(), parseInt(slidate.getMonth()), 1).getDay();//获取当月的1日等于星期几
        var d = new Date(slidate.getFullYear(), parseInt(slidate.getMonth() + 1), 0); //获取月
        var conter=d.getDate();//获取当前月的天数
        //遍历日历网格
        for(var i=1; i<=6;i++){
            _nullnei+="<tr>";
            for(var j=1; j<=7;j++)
            {
                _nullnei+='<td></td>';
            }
            _nullnei+="</tr>";
        }
        $tbody.html(_nullnei);

        //遍历网格内容
        var $slitd=$tbody.find("td");
        for(var z=0; z<conter; z++)
        {
            $slitd.eq(z+monthFirst).html("<p>"+parseInt(z+1)+"</p>")
        }
        Funmonth();//查询已签到
        Funmonth1();//查询已签到
        Funmonth2();//查询已签到
        function Funmonth(){
            if(sliarrn.length !==0){
                $slitd.each(function(){
                    if($(this).find('p').length>0){
                        var _this = $(this).find('p').text();
                        for(var k=0; k<sliarrn.length;k++) {
                            if(_this == sliarrn[k]) {
                                $(this).find('p').addClass('los')
                            }
                        }
                    }
                })
            }
        }
        function Funmonth1(){
            if(sliarrn1.length !==0){
                $slitd.each(function(){
                    if($(this).find('p').length>0){
                        var _this = $(this).find('p').text();
                        for(var k=0; k<sliarrn1.length;k++) {
                            if(_this == sliarrn1[k]) {
                                $(this).find('p').addClass('los1')
                            }
                        }
                    }
                })
            }
        }
        function Funmonth2(){
            if(sliarrn2.length !==0){
                $slitd.each(function(){
                    if($(this).find('p').length>0){
                        var _this = $(this).find('p').text();
                        for(var k=0; k<sliarrn2.length;k++) {
                            if(_this == sliarrn2[k]) {
                                $(this).find('p').addClass('los2')
                            }
                        }
                    }
                })
            }
        }
    }
</script>
<script>
    // alert($("#imgLogo")[0])
    $("#imgLogo")[0]
    var userid = "{$user}";
    $(document).ready(function () {
        if(userid == ''){
            $('#container2').html('<div id="null"><img src="/home/images/null.png" alt=""><p>暂无二维码</p></div>')
        }else {
            $('#container2').erweima({
                mode: 4,
                mSize:20,
                image: $("#imgLogo")[0],
                text:userid
            });
        }
    });
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
</script>
{/block}