@charset "UTF-8";
/*tab*/
#tab {
  position: absolute;
  top: 0;
  height: 8vw;
  background: #f7f7f7;
  color: #333;
  font-size: 0.4rem;
  z-index: 999;
}
#tab a {
  position: relative;
  line-height: 8vw;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
#tab a:last-child {
  border-right: none;
}
#tab a:active {
  background: rgba(0, 0, 0, 0.1);
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #fff;
}

.mui-segmented-control .mui-control-item {
  line-height: 8vw;
}

#refreshContainer {
  margin-top: 8vw;
}

.list ul a {
  position: relative;
  display: block;
  padding: 2vw 3vw;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  height: 20vw;
}
.list ul a img {
  float: left;
  width: 24vw;
  height: 16vw;
  margin-right: 2vw;
}
.list ul a p {
  font-size: 0.38rem;
  color: #333;
  line-height: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.list ul a span {
  font-size: 0.32rem;
  color: #666;
}
.list ul a span:nth-child(3) {
  width: 45%;
  bottom: 2vw;
  color: #666;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list ul a span:nth-child(4) {
  position: absolute;
  right: 3vw;
  color: #666;
  bottom: 2vw;
}

@media screen and (device-width: 320px) {
  .list ul a span:nth-child(3), .list ul a span:nth-child(4) {
    bottom: 0;
  }
}
.list ul a {
  display: block;
  position: relative;
  padding: 2vw 3vw;
  line-height: 0.5rem;
  border-bottom: 1px solid #f1f1f1;
}
.list ul a p {
  font-size: 0.38rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.list ul a span {
  position: absolute;
  bottom: 2vw;
  font-size: 0.38rem;
  color: #333;
}
.list ul a span:nth-child(2) {
  position: absolute;
  width: 70%;
  font-size: 0.32rem;
  color: #666;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list ul a span:nth-child(3) {
  font-size: 0.32rem;
  color: #666;
  right: 3vw;
}

#tab {
  top: 50vw;
}
#tab a:after {
  left: 49vw;
}

#refreshContainer {
  margin-top: 58vw;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #fff;
  background: #ffa626;
}

.banner {
  height: 50vw;
}

.banner img {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 50vw;
}

#tab {
  background: #ffffff !important;
}

.notice a p:nth-child(1) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin-bottom: 1vw;
  color: #000;
  font-weight: bold;
}

.notice a:active, .notice a:visited {
  color: #f00;
  background: #e5e5e5;
  text-decoration: none !important;
}

.notice a p:nth-child(2) {
  margin-bottom: 0;
  color: #666;
}

.notice a span:nth-child(4) {
  position: inherit;
  float: right;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  background: #e31b1b !important;
  text-decoration: none !important;
}

.list ul a {
  clear: both;
}

.more {
  display: block;
  width: 100%;
  font-size: 0.32rem;
  color: #f00;
  padding: 3vw;
}

.meeting a:active, .meeting a:visited {
  color: #090;
  background: #e5e5e5;
  text-decoration: none !important;
}

.meeting .more {
  color: #090;
}

.more span:last-child {
  float: right;
}

.meeting .list ul a span:nth-child(3) {
  font-size: 0.32rem;
  color: #666;
  bottom: 2vw;
  text-align: right;
}

.meeting .list ul a span:nth-child(4) {
  right: 1vw;
  bottom: 7vw;
}

.meeting .list ul a span:nth-child(5) {
  bottom: 2vw;
  color: #666;
  font-size: 0.32rem;
}

.meeting .more span {
  color: #f00;
}

@media screen and (min-width: 736px) and (max-width: 1024px) {
  .notice .list ul a {
    display: block;
    position: relative;
    padding: 2vw 3vw;
    border-bottom: 1px solid #f1f1f1;
    height: 20vw;
  }
}
@media screen and (min-width: 736px) and (max-width: 1024px) {
  .notice .list ul a span:nth-child(5) {
    color: #666;
    right: 1vw;
    /*bottom: 10vw;*/
    top: 0;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 736px) {
  .notice .list ul a {
    display: block;
    position: relative;
    padding: 2vw 3vw;
    border-bottom: 1px solid #f1f1f1;
    height: 25vw;
  }
}
@media screen and (max-width: 736px) {
  .notice .list ul a span:nth-child(5) {
    color: #666;
    right: 1vw;
    /*bottom: 10vw;*/
    top: 0;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .notice .list ul a {
    display: block;
    position: relative;
    padding: 2vw 3vw;
    border-bottom: 1px solid #f1f1f1;
    height: 17vw;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .notice .list ul a span:nth-child(5) {
    color: #666;
    right: 1vw;
    /*bottom: 10vw;*/
    top: 0;
    height: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.notice a p:nth-child(1) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin-bottom: 1vw;
  color: #000;
  font-weight: bold;
}

.notice a p:nth-child(2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 5.4vw;
  color: #666;
}

.notice .list ul a span:nth-child(3) {
  position: absolute;
  width: 70%;
  font-size: 0.32rem;
  color: #666;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  left: 3vw;
  bottom: 2vw;
}

.notice .list ul a span:nth-child(4) {
  font-size: 0.32rem;
  color: #666;
  right: 3vw;
}

.summary .list ul a span:nth-child(3) {
  font-size: 0.32rem;
  color: #666;
  text-align: right;
}

.summary .list ul a span:nth-child(4) {
  /*
  bottom: 8vw;*/
  right: 1vw;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.summary .list ul a p {
  font-weight: normal !important;
  margin-bottom: 10.137vw;
}

.summary .list ul a {
  height: 15vw;
}

@media screen and (max-width: 736px) {
  .summary .list ul a {
    height: 2.2rem;
  }
}
@media screen and (min-width: 736px) and (max-width: 1024px) {
  .summary .list ul a {
    height: 16vw;
  }
}
.fixed .list ul a span:nth-child(4) {
  right: 1vw;
  bottom: 8vw;
}

.fixed .list ul a span:nth-child(5) {
  font-size: 0.32rem;
  color: #666;
  bottom: 2vw;
}

.fixed .list ul a span:nth-child(3) {
  bottom: 2vw;
  text-align: right;
}

.default img {
  width: 16vw;
  position: absolute;
  left: 50%;
  margin-top: 30%;
  margin-left: -8vw;
}
#publish{
  position: fixed;
  bottom: 40vw;
  right: 5vw;
  width:10vw;
  height: 10vw;
  background: #000000;
  z-index: 5;
  display:none;
}
#publish a{
  display: block;
  width:10vw;
  height: 10vw;
}