@charset "utf-8";
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
body {
  background: #efefef;
  padding: 13px;
}
.list {
  background: #ffffff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 13px;
}
.list:nth-child(6) {
  padding-bottom: 50px;
}
.list .title {
  font-size: 1.5rem;
  line-height: 40px;
  padding-left: 13px;
  font-weight: 600;
}
.list .pie {
  width: 40vw;
  height: 40vw;
  margin-top: 15px;
}
.list .bar {
  width: 100%;
  /*height: 70vw;*/
}
.list #pie1 .legend div {
  top: 40px!important;
  left: calc(100% + 25px);
}
.list #pie1 .legend table {
  top: 40px!important;
  left: calc(100% + 25px);
}
.list #pie2 .legend div {
  top: 40px!important;
  left: -120px;
}
.list #pie2 .legend table {
  top: 40px!important;
  left: -120px;
}
.list #pie3 .legend div {
  top: 60px!important;
  left: calc(100% + 20px);
}
.list #pie3 .legend table {
  top: 60px!important;
  left: calc(100% + 20px);
}
#flotTip {
  min-width: 100px;
  min-height: 30px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.cir {
  position: relative;
  width: 100%;
  height: 120px;
  margin: 20px auto;
}
.cir span {
  position: absolute;
  top: 80px;
  color: #b2b2b2;
}
.cir .m {
  left: 80px;
}
.cir .f {
  left: calc(60% + 45px);
}
.cir #cir1 {
  position: absolute;
  top: 0;
  left: 30px;
  width: 50%;
}
.cir #cir2 {
  position: absolute;
  top: 0;
  left: calc(60% - 10px);
  width: 50%;
}
.rad-prg {
  margin: 20px 0;
}
/** logo inside example **/
#indicatorContainerWrap5,
#indicatorContainer5 {
  display: inline-block;
  position: relative;
}
#prgLogo {
  height: 60px;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  top: 50%;
}
/** file drop example **/
#indicatorContainerWrap6 {
  position: relative;
  display: inline-block;
}
.rad-cntnt {
  position: absolute;
  display: table;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  line-height: 24px;
}
#prgFileSelector {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 10;
}
