@charset "utf-8";
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
@keyframes todown {
  0% {
    transform: rotate(270deg);
  }
  10% {
    transform: rotate(285deg);
  }
  30% {
    transform: rotate(300deg);
  }
  50% {
    transform: rotate(315deg);
  }
  70% {
    transform: rotate(330deg);
  }
  90% {
    transform: rotate(345deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes todown {
  0% {
    transform: rotate(270deg);
  }
  10% {
    transform: rotate(285deg);
  }
  30% {
    transform: rotate(300deg);
  }
  50% {
    transform: rotate(315deg);
  }
  70% {
    transform: rotate(330deg);
  }
  90% {
    transform: rotate(345deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes toup {
  0% {
    transform: rotate(360deg);
  }
  10% {
    transform: rotate(345deg);
  }
  30% {
    transform: rotate(330deg);
  }
  50% {
    transform: rotate(315deg);
  }
  70% {
    transform: rotate(300deg);
  }
  90% {
    transform: rotate(285deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@-webkit-keyframes toup {
  0% {
    transform: rotate(360deg);
  }
  10% {
    transform: rotate(345deg);
  }
  30% {
    transform: rotate(330deg);
  }
  50% {
    transform: rotate(315deg);
  }
  70% {
    transform: rotate(300deg);
  }
  90% {
    transform: rotate(285deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
body {
  background: #eeeeee;
}
.message .title {
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  height: 30px;
  background: #e82a2a;
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 30px;
}
.message .list {
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  height: 50px;
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
  line-height: 50px;
}
.message .list .fl {
  color: #333333;
  font-size: 1.5rem;
}
.message .list .fr {
  color: #666666;
  font-size: 1.4rem;
}
.message .box .list {
  position: relative;
  padding-left: 30px;
}
.message .box .list .tri {
  position: absolute;
  top: 20px;
  left: 13px;
  content: '';
  height: 10px;
  width: 10px;
  background: url('/home/images/statistics/tri.png') 0 0 no-repeat;
  background-size: 10px 10px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
.message .box .list .todown {
  -webkit-animation: todown 0.4s linear alternate;
  animation: todown 0.4s linear alternate;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.message .box .list .toup {
  -webkit-animation: toup 0.4s linear alternate;
  animation: toup 0.4s linear alternate;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
.message .box ul {
  display: none;
}
.message .box li {
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  padding-left: 43px;
  height: 40px;
  border-bottom: 1px solid #f1f1f1;
  background: #efefef;
  line-height: 40px;
}
