{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/statistics/form.css">
{/block}

{block name="body"}
<div class="message">
	<div class="title">党组织信息</div>
	<div class="list clear">
		<span class="fl">党组织总数</span>
		<span class="fr">833</span>
	</div>
	<div class="list clear">
		<span class="fl">椒江区个协党总支人数</span>
		<span class="fr">52</span>
	</div>
	<div class="list clear">
		<span class="fl">黄岩区个协党总支人数</span>
		<span class="fr">71</span>
	</div>
	<div class="list clear">
		<span class="fl">路桥区个协党总支人数</span>
		<span class="fr">78</span>
	</div>
	<div class="list clear">
		<span class="fl">临海市个协党总支人数</span>
		<span class="fr">57</span>
	</div>
	<div class="list clear">
		<span class="fl">温岭市个协党总支人数</span>
		<span class="fr">349</span>
	</div>
	<div class="list clear">
		<span class="fl">玉环市个协党总支人数</span>
		<span class="fr">22</span>
	</div>
	<div class="list clear">
		<span class="fl">天台市个协党总支人数</span>
		<span class="fr">65</span>
	</div>
	<div class="list clear">
		<span class="fl">仙居县个协党总支人数</span>
		<span class="fr">64</span>
	</div>
	<div class="list clear">
		<span class="fl">三门县个协党总支人数</span>
		<span class="fr">46</span>
	</div>
	<div class="list clear">
		<span class="fl">开发区党支部人数</span>
		<span class="fr">30</span>
	</div>
</div>
<div class="message">
	<div class="title">党员信息</div>
	<div class="box">
		<div class="list clear">
			<div class="tri"></div>
			<span class="fl">党员总数</span>
			<span class="fr">{$msg.usernum}人</span>
		</div>
		<ul class="down">
			<li class="clear">
				<span class="fl">关注人数</span>
				<span class="fr">{$msg.concernnum}人</span>
			</li>
		</ul>
	</div>
	<div class="box">
		<div class="list clear">
			<div class="tri"></div>
			<span class="fl">平均年龄</span>
			<span class="fr">{$msg.avgage}岁</span>
		</div>
		<ul class="down">
			<li class="clear">
				<span class="fl">20岁以下</span>
				<span class="fr">{$msg.agepercent1}</span>
			</li>
			<li class="clear">
				<span class="fl">20-30岁</span>
				<span class="fr">{$msg.agepercent2}</span>
			</li>
			<li class="clear">
				<span class="fl">30-40岁</span>
				<span class="fr">{$msg.agepercent3}</span>
			</li>
			<li class="clear">
				<span class="fl">40-50岁</span>
				<span class="fr">{$msg.agepercent4}</span>
			</li>
			<li class="clear">
				<span class="fl">50岁以上</span>
				<span class="fr">{$msg.agepercent5}</span>
			</li>
		</ul>
	</div>
	<div class="box">
		<div class="list clear">
			<div class="tri"></div>
			<span class="fl">男女比例</span>
		</div>
		<ul class="down">
			<li class="clear">
				<span class="fl">男性</span>
				<span class="fr">{$msg.male}</span>
			</li>
			<li class="clear">
				<span class="fl">女性</span>
				<span class="fr">{$msg.female}</span>
			</li>
		</ul>
	</div>
	<div class="box">
		<div class="list clear">
			<div class="tri"></div>
			<span class="fl">学历</span>
		</div>
		<ul class="down">
			<li class="clear">
				<span class="fl">初中以下</span>
				<span class="fr">{$msg.edu1}人</span>
			</li>
			<li class="clear">
				<span class="fl">初中</span>
				<span class="fr">{$msg.edu2}人</span>
			</li>
			<li class="clear">
				<span class="fl">高中</span>
				<span class="fr">{$msg.edu3}人</span>
			</li>
			<li class="clear">
				<span class="fl">中专</span>
				<span class="fr">{$msg.edu4}人</span>
			</li>
			<li class="clear">
				<span class="fl">大专</span>
				<span class="fr">{$msg.edu5}人</span>
			</li>
			<li class="clear">
				<span class="fl">本科</span>
				<span class="fr">{$msg.edu6}人</span>
			</li>
			<li class="clear">
				<span class="fl">硕士</span>
				<span class="fr">{$msg.edu7}人</span>
			</li>
			<li class="clear">
				<span class="fl">硕士以上</span>
				<span class="fr">{$msg.edu8}人</span>
			</li>
		</ul>
	</div>
</div>
{/block}

{block name="script"}
<script>
$(function(){
	$('.box .list' ).on('click',function(){
		var it = $(this);
		if(it.next('ul' ).hasClass('down')){
			it.next('ul' ).slideDown();
			it.find('.tri').removeClass('toup').addClass('todown');

		}else{
			it.next('ul' ).slideUp();
			it.find('.tri').removeClass('todown').addClass('toup');
		}
		it.next('ul' ).toggleClass('down');
	})
})
</script>
{/block}