{extend name="public/common"}
{block name="style"}
<title>数据统计</title>

<link rel="stylesheet" href="/home/css/statistics/index.css">
<style>
    body{
        height:100%;
        width:100%;
        overflow: hidden;
    }
    .tabs{
        margin-bottom:1px;
    }
    iframe{
        width:100vw;
        /*display:none;*/
        float:left;
        height:0;
    }
    .tabs .tab {
        width: 49vw;
    }
    .tabs .tab:nth-child(2) {
         border-right: none;
    }
</style>
{/block}
{block name="body"}
<div class="banners">
    <div class="swiper-container">
        <div class="imgs swiper-wrapper">
            <div class="banner swiper-slide">
                <img src="/home/images/feedback/feedback.jpg" alt="图片">
            </div>
        </div>
    </div>
</div>
<!--tab-->
<div class="tabs clear">
    <div class="tab"><span>文字型</span></div>
    <div class="tab"><span>图标型</span></div>
</div>
<iframe src="" frameborder="0"  id="tab0" ></iframe>
<iframe src="" frameborder="0"  id="tab1" ></iframe>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var c =  parseInt(window.location.href.split("party/c/")[1]);
    $(function(){
        var WH = $(window).height();
        var WW = $(window).width();
        var co = getCookie("type");
        if(co == 11 || co == 12){
            c = co - 10;
        }
        if(c == 1){
            $('#tab'+(c-1))[0].src='/home/statistics/form.html';
        }else if(c == 2){
            $('#tab'+(c-1))[0].src='/home/statistics/chart.html';
        }
        $('#tab'+(c-1)).height(WH - 45 - 0.5*WW);
        $('#tab'+(c-1)).show();
        $('.tabs>.tab').eq(c-1).find('span').addClass('active');
        //tab切换
        $('.tabs>.tab ').on('click',function(){
            var ntc = $('.notices' );
            var eq = $(this ).index();
            $(this ).siblings('.tab' ).find('span' ).removeClass('active');
            $(this ).find('span' ).addClass('active');
            //先全部隐藏
            $('iframe').css('display','none');
            $('iframe').height(0);
            if(eq == 0){
                $('#tab'+eq)[0].src='/home/statistics/form.html';
            }else if(eq == 1){
                $('#tab'+eq)[0].src='/home/statistics/chart.html';
            }
            $('#tab'+eq).height(WH - 45 - 0.5*WW);
            $('#tab'+eq).show();
            //使用示例
            setCookie("type",eq+11);
        });
        isOut();
    });

    //退出清理tab缓存
    function isOut(){
        pushHistory();
        setTimeout(function(){
            window.addEventListener("popstate", function(e) {
                delCookie("type");
                window.history.go(-1);
            }, false);
        },200)
    }
</script>
{/block}