{extend name="public/pure"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/volunteer/index.css">
<title>志愿之家</title>
{/block}

{block name="body"}
<div class="list">
    <ul>
        <a href="{:Url('Volunteer/wishes')}">
            <img src="/home/images/volunteer/index_1.png">
            <span>点亮微心愿</span>
        </a>
        <a href="{:Url('Volunteer/enlist')}">
            <img src="/home/images/volunteer/index_4.png">
            <span>志愿者招募</span>
        </a>
        <a href="{:Url('Volunteer/mien')}">
            <img src="/home/images/volunteer/index_2.png">
            <span>志愿风采展</span>
        </a>
        <a href="{:Url('Volunteer/rank')}">
            <img src="/home/images/volunteer/index_3.png">
            <span>志愿者排行</span>
        </a>
    </ul>

</div>
{/block}

{block name="script"}
<script>
</script>
{/block}