{extend name="public/common"}

{block name="style"}
<title>团队介绍</title>
<link rel="stylesheet" href="/home/sass/stylesheets/volunteer/mien.css">

{/block}
{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">

    <div class="mui-scroll">
        <div class="mui-slider-group">
            <div class="banner"><img src="/home/images/volunteer/06.jpg" alt=""></div>
            <div class="main">
                <div class="lists">
                    {empty name="data"}
                    <div class="default"><img src="/home/images/common/nomessage.png"></div>
                    {else/}
                    <!--循环开始-->
                    {volist name="data" id="vo"}
                    <div class="list color1">
                        <a href="{:Url('Volunteer/team?id='.$vo['id'])}" class="con">
                            <div class="img"><img src="{$vo.front_cover}" alt=""></div>
                            <div class="name">{$vo.title}</div>
                            <div class="notes">活动：<span>{$vo.number}</span>次</div>
                        </a>
                        <div class="view"><a href="{:Url('Volunteer/recruit?pid='.$vo['id'])}" class="btn_">查看活动</a></div>
                    </div>
                    {/volist}
                    <!--循环结束-->
                </div>
                {/empty}
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>

    $(function () {
        $("title").text("志愿服务");
    });

    window.onload = function () {
        if ($(".lists .list").length < 6) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    };
    mui.init({
        pullRefresh : {
            container: "#refreshContainer",
            up : {
                callback : loadScroll
            }
        }
    });
    function loadScroll() {
        var len = $(".lists .list").length;
        $.ajax({
            type: "post",
            url: "{:Url('Volunteer/more')}",
            data: {
                length: len
            },
            beforeSend: function(XMLHttpRequest){
            },
            success:function(data){
                addCourse(data);
                if(data.code == 1){
                    var dataLen =data.data.length;
                    if(data.data.length == 6){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }
    function addCourse(data) {
        var html = '';
        var lists = data.data;
        var len = lists.length;
        console.log(len);
        for(var i = 0; i< len;i++){
            var list = lists[i];
            html +=
                '<div class="list color1">'
                +'<a href="/home/volunteer/team/id/'
                +list.id
                +'.html">'
                +'<div class="img"><img src="'
                +list.front_cover
                +'" alt=""></div>'
                +'<div class="name">'
                +list.title
                +'</div>'
                +'<div class="notes">活动：<span>'
                +list.number
                +'</span>次</div>'
                +'</a>' +
                '<div class="view">' +
                '<a href="http://sx.pb.cn/home/volunteer/recruit.html" >查看活动</a>' +
                '</div>'
                +'</div>';
        }
        $(".lists" ).append(html);
    }
    mui("#refreshContainer").on("touchstart",".btn_",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend",".btn_", function () {
        $(this).css("backgroundColor","#e31b1b");
    });
    mui("#refreshContainer").on("touchstart",".con",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend",".con", function () {
        $(this).css("backgroundColor","#fff");
    });

    mui("#refreshContainer").on("tap","a",function(){
        var url = this.getAttribute("href");
        window.location.href = url;
    });


</script>

{/block}