{extend name="public/common"}

{block name="style"}
<title>心愿认领</title>
<link rel="stylesheet" href="/home/css/volunteer/order.css">
{/block}
{block name="body"}
<div class="banner">
	<img src="/home/images/volunteer/banner.jpg" alt="服务团队banner" class="banner-img">
</div>
<div class="lists">
	{volist name="list" id="vo"}
    <a href="{:Url('Volunteer/orderdetail?id='.$vo['id'])}" class="list clear">
		{eq name="vo.status" value="2"}
		<div class="tag">已满</div>
		{/eq}
        <img src="{$vo.list_image|get_cover='path'}" alt="列表图" class="left fl">
        <div class="content fl">
            <div class="title limit">{$vo.title}</div>
            <div class="note">
                <div class="num">{$vo.receive_number} / {$vo.demand_number} 人</div>
                <div class="time">{$vo.create_time|time_format='Y-m-d'}</div>
            </div>
        </div>
        <div class="right fr"><span class="fa fa-angle-right"></span></div>
    </a>
	{/volist}
</div>
<div class="tip"></div>
<div class="loading hidden">
<div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script>
	var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
$(function(){
	//上拉加载
	loadScroll("{:Url('Volunteer/ordermore')}",7,5);
});
/**
 * 上拉加载
 * @param url	方法
 * @param a		初始加载数据的长度
 * @param b		每次加载的数据长度
 */
function loadScroll(url,a,b){
	var tip = $('.tip' );
	var len = $('.list').length;
	if(len >= a){
		tip.text('上拉加载更多');
		$(window ).off("scroll" ).on("scroll",function(){
			var dh = $(document).height();
			var end = $(window).height() + $(window ).scrollTop();
			var loading = $('.loading');
			if(dh == end && scrollNow){
				scrollNow = false;//请求执行中
				$.ajax({
					type:"post",
					url:url,
					data:{
						length:len
					},
					beforeSend: function(XMLHttpRequest){
						tip.hide();
						loading.toggleClass('hidden');
					},
					success:function(data){
						loading.toggleClass('hidden');
						tip.show();
						if(data.code == 1){
							addLists(data);
							var dataLen =data.data.length;
							if(data.data.length == b){
								tip.text('上拉加载更多');
							}else{
								tip.text('没有更多了');
								$(window ).off("scroll");
							}
							scrollNow = true;//请求结束
						}
					}
				})
			}
		})
	}
}
function addLists(data){
	var html = '';
	var lists = data.data;
	var len = lists.length;
	for(var i = 0; i< len;i++){
		var list = lists[i];
		html +=
			'<a href="/home/volunteer/orderdetail/id/'+ list.id+'.html" class="list clear">';
		if(list.receive_number ==  list.demand_number){
			html+='<div class="tag">已满</div>';
		}
		html+=
			'<img src='+list.path+' alt="列表图" class="left fl">'+
			'<div class="content fl">'+
			'<div class="title limit">'+list.title+'</div>'+
			'<div class="note">'+
			'<div class="num">'+list.receive_number+' / '+list.demand_number+' 人</div>'+
			'<div class="time">'+list.time+'</div>'+
			'</div>'+
			'</div>'+
			'<div class="right fr"><span class="fa fa-angle-right"></span></div>'+
			'</a>'
	}
	$('.lists' ).append(html);
}
</script>
{/block}