{extend name="public/common"}

{block name="style"}
<title>志愿招募</title>
<link rel="stylesheet" href="/home/sass/stylesheets/volunteer/publish.css">
<link rel="stylesheet" href="/home/sass/stylesheets/activity/mui.picker.min.css">
<style>
    @keyframes shake {
        0% {
            transform: rotate(1deg);
        }
        30% {
            transform: rotate(-20deg);
        }
        50% {
            transform: rotate(20deg);
        }
        70% {
            transform: rotate(-20deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    @-webkit-keyframes shake {
        0% {
            transform: rotate(1deg);
        }
        30% {
            transform: rotate(-20deg);
        }
        50% {
            transform: rotate(20deg);
        }
        70% {
            transform: rotate(-20deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    #popover,#popover .mui-table-view{
        height:40vw;
        max-height: 400px;
    }
    .mui-table-view-cell>a:not(.mui-btn){
        font-size: 0.36rem;
        margin:-5px -11px;
        text-align: center;
    }
    .mui-dtpicker-header button {
        font-size: 0.36rem;
        padding: 0.13rem 0.26rem;
    }
    .mui-dtpicker-title h5 {
        display: inline-block;
        width: 20%;
        margin: 0;
        padding: 0.26rem;
        text-align: center;
        border-top: solid 1px #ddd;
        background-color: #f0f0f0;
        border-bottom: solid 1px #ccc;
        font-size: 0.32rem;
    }
    .closed{
        display: inline-block;
        background: url("/home/images/common/close.png");
        width: 6vw;
        height: 6vw;
        background-size: 6vw 6vw;
        position: relative;
        z-index: 9999;
        margin-left: -4vw;
        margin-top: -3vw;
        animation: shake 800ms ease;
        -webkit-animation: shake 800ms ease;
    }
    .sweet-alert h2{
        font-size: 20px;
    }
</style>
{/block}

{block name="body"}
<div class="main">
    <div class="list">
        <ul>
            <li>
                标题
                <input type="text" placeholder="请输入标题" value="" name="title">
            </li>
            <li class="type1">
                时间
                <input type="input" placeholder="请输入参与时间" name="time" id="date" readonly>
            </li>
            <li class="type1">
                地点
                <input type="text" placeholder="请输入参与地点" name="address" value="">
            </li>
            <li class="type1">
                联系人
                <input type="text" placeholder="请输入联系人姓名" name="contacts" value="">
            </li>
            <li class="type1">
                联系方式
                <input type="text" placeholder="请输入联系人电话" name="tel" value="">
            </li>
            <li class="type1">
                招募人数
                <input type="text" placeholder="请输入最多招募人数" name="demand_number" value="">
            </li>
            <div class="content">
                <textarea placeholder="请输入招募内容" name="content"></textarea>
                <div class="imgs clear">
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="add fl"></div>
                </div>
                <div style="color: #666;font-size: 0.32rem;margin-left: 2vw;">(您最多上传1张图片,图片小于5M)</div>
                <input type="file" class="hide" id="upimg" name="upload" accept="image/*">
                <input type="hidden" name="id" value="">
            </div>
        </ul>
    </div>
    <div class="goreview">提&emsp;交</div>
    <p>温馨提示：信息提交成功后，将进入后台审核，审核消息在个人中心提醒，审核通过后将显示到对应模块！</p>
</div>


<div class="showbox">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>

{/block}

{block name="script"}
<script src="/home/js/publishs.js"></script>
<script src="/home/js/mui.picker.min.js"></script>
<script>
    var type =  parseInt(window.location.href.split("publish/type/")[1]);
    if(type == 1){
        $("title").text("点亮微心愿")
    }else if(type == 2){
        $("title").text("志愿者招募")
    }
    var u = navigator.userAgent, app = navigator.appVersion;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    //alert('是否是Android：'+isAndroid);
    //alert('是否是iOS：'+isiOS);

    if(isAndroid){
        $ ("input[name='file']").attr('capture','camera');
        /*window.onresize(){
             var h =
        }*/
    }
    var c =  parseInt(window.location.href.split("style/")[1]);
    var index =  parseInt(window.location.href.split("?")[1]);
    $(function(){
        imgresize();
    });

    window.onload = function(){
        var dtpicker = new mui.DtPicker({
            "type": "datetime",
            "value": ""
        });
        document.querySelector('#date').addEventListener('tap', function () {
            dtpicker.show(function (e) {
                document.getElementById('date').value = e.text;
            })
        })
    };
    options = {
        scrollY: true, //是否竖向滚动
        scrollX: false, //是否横向滚动
        startX: 0, //初始化时滚动至x
        startY: 0, //初始化时滚动至y
        indicators: false, //是否显示滚动条
        deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
        bounce: true //是否启用回弹
    };

    mui('.mui-scroll-wrapper').scroll({
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
    });

    // 删除当前选择的上传图片
    $(".imgs .closed").on("click",function(e){
        var Id = $(this).find("img").attr("data-tab");
        var This = $(this);
        swal({
            title: "是否删除当前图片",
            showConfirmButton: true,
            showCancelButton: true,
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            confirmButtonColor: "#ec6c62"
        }, function() {
            if(!This.hasClass("hide")){
                This.prev(".img").find("img").remove();
                This.prev(".img").addClass("hide");
                This.remove();
                $(".add").show();
                $("#upimg").val("");
            }
        });
    });

    //去上传
    $(".goreview").click(function(){
        var single = false;
        var imgId = $(".imgs .img").find("img").attr("data-tab");
        if($("input[name='title']").val() == ""||$("input[name='time']").val() == ""||$("input[name='address']").val() == ""||$("textarea[name='content']").val()==""||$("input[name='tel']").val()==""||$("input[name='demand_number']").val()==""|| $("input[name='contacts']").val()==""){
            single = false
        }else{
            single = true
        }
        if(single){
            var type =  parseInt(window.location.href.split("publish/type/")[1]);
            var imgId = $(".imgs .img").find("img").attr("data-tab");
            var data = {
                title: $("input[name='title']").val(),
                start_time: $("input[name='time']").val(),
                activity_home: $("input[name='address']").val(),
                content: $("textarea[name='content']").val(),
                contacts: $("input[name='contacts']").val(),
                tel:$("input[name='tel']").val(),
                demand_number:$("input[name='demand_number']").val(),
                image:imgId,
                type:type
            };
            $.ajax({
                type:"post",
                url: "{:Url('Volunteer/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "提交成功",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
        }else{
            swal({
                title: ' ',
                text: '信息输入不完整',
                type: 'error',
                showConfirmButton:false,
                timer:1500
            });
        }
    });

</script>

{/block}