{extend name="public/pure"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/volunteer/rank.css">
<title>志愿者排行</title>
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="banner">
            <img src="/home/images/volunteer/rankbanner.png">
        </div>
        <div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <a class="mui-control-item" href="#item1mobile" data-index="0">
                <span>党员志愿者</span>
            </a>
            <a class="mui-control-item" href="#item2mobile" data-index="1">
                <span>群众志愿者</span>
            </a>
        </div>



        <div class="mui-slider-group">

            <div id="item1mobile" class="mui-slider-item mui-control-content">

                <div id="tab2" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                    <a class="mui-control-item" href="#item3mobile" data-index="0">
                        <span>月榜</span>
                    </a>
                    <a class="mui-control-item" href="#item4mobile" data-index="1">
                        <span>总榜</span>
                    </a>
                </div>

                <div class="mui-slider-group">

                    <div id="item3mobile" class="mui-slider-item mui-control-content">

                        <div class="list">
                            <ul>
                                {volist name="list" id="lo"}
                                <li>
                                    {if condition="$i <= 3"}
                                        {eq name ="$i" value="1"}
                                          <img class="number-one" src="/home/images/volunteer/No_1.png">
                                        {/eq}
                                        {eq name ="$i" value="2"}
                                            <img class="number-one" src="/home/images/volunteer/No_2.png">
                                        {/eq}
                                        {eq name ="$i" value="3"}
                                            <img class="number-one" src="/home/images/volunteer/No_3.png">
                                        {/eq}
                                    {else/}
                                    <span class="number">{$i}</span>
                                    {/if}
                                    <img src="{$lo.avatar}">
                                    <span class="name">{$lo.name}</span>
                                    <span class="score">{$lo.mouth}分</span>
                                </li>
                                {/volist}
                            </ul>
                        </div>


                    </div>

                    <div id="item4mobile" class="mui-slider-item mui-control-content">
                        <div class="list">
                            <ul>
                                {volist name="lists" id="ls"}
                                <li>
                                    {if condition="$i <= 3"}
                                    {eq name ="$i" value="1"}
                                    <img class="number-one" src="/home/images/volunteer/No_1.png">
                                    {/eq}
                                    {eq name ="$i" value="2"}
                                    <img class="number-one" src="/home/images/volunteer/No_2.png">
                                    {/eq}
                                    {eq name ="$i" value="3"}
                                    <img class="number-one" src="/home/images/volunteer/No_3.png">
                                    {/eq}
                                    {else/}
                                    <span class="number">{$i}</span>
                                    {/if}
                                    <img src="{$ls.avatar}">
                                    <span class="name">{$ls.name}</span>
                                    <span class="score">{$ls.all}分</span>
                                </li>
                                {/volist}
                            </ul>

                        </div>

                    </div>

                </div>

            </div>


            <div id="item2mobile" class="mui-slider-item mui-control-content">
                <div id="tab3" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                    <a class="mui-control-item" href="#item5mobile" data-index="0">
                        <span>月榜</span>
                    </a>
                    <a class="mui-control-item" href="#item6mobile" data-index="1">
                        <span>总榜</span>
                    </a>
                </div>

                <div class="mui-slider-group">

                    <div id="item5mobile" class="mui-slider-item mui-control-content">
                        <div class="list">
                            <ul>
                                {volist name="list2" id="loo"}
                                <li>
                                    {if condition="$i <= 3"}
                                    {eq name ="$i" value="1"}
                                    <img class="number-one" src="/home/images/volunteer/No_1.png">
                                    {/eq}
                                    {eq name ="$i" value="2"}
                                    <img class="number-one" src="/home/images/volunteer/No_2.png">
                                    {/eq}
                                    {eq name ="$i" value="3"}
                                    <img class="number-one" src="/home/images/volunteer/No_3.png">
                                    {/eq}
                                    {else/}
                                    <span class="number">{$i}</span>
                                    {/if}
                                    <img src="{$loo.avatar}">
                                    <span class="name">{$loo.name}</span>
                                    <span class="score">{$loo.mouth}分</span>
                                </li>
                               {/volist}
                            </ul>

                        </div>
                    </div>

                    <div id="item6mobile" class="mui-slider-item mui-control-content">
                        <div class="list">
                            <ul>
                                {volist name="lists2" id="lss"}
                                <li>
                                    {if condition="$i <= 3"}
                                    {eq name ="$i" value="1"}
                                    <img class="number-one" src="/home/images/volunteer/No_1.png">
                                    {/eq}
                                    {eq name ="$i" value="2"}
                                    <img class="number-one" src="/home/images/volunteer/No_2.png">
                                    {/eq}
                                    {eq name ="$i" value="3"}
                                    <img class="number-one" src="/home/images/volunteer/No_3.png">
                                    {/eq}
                                    {else/}
                                    <span class="number">{$i}</span>
                                    {/if}
                                    <img src="{$lss.avatar}">
                                    <span class="name">{$lss.name}</span>
                                    <span class="score">{$lss.all}分</span>
                                </li>
                                {/volist}
                            </ul>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    $(function(){
        c = getCookie("c")?getCookie("c"):0;
        index = getCookie("index")?getCookie("index"):0;
        $("#tab a").eq(c).addClass('mui-active');
        if(c==0){
            $("#item1mobile").find("#tab2 a").eq(index).addClass('mui-active');
            $("#item1mobile").find(".mui-slider-group>div").eq(index).addClass('mui-active');

        }else{
            $("#item2mobile").find("#tab3 a").eq(index).addClass('mui-active');
            $("#item2mobile").find(".mui-slider-group>div").eq(index).addClass('mui-active');
        }

        $("#refreshContainer>.mui-scroll>.mui-slider-group>div").eq(c).addClass('mui-active');
    });

    //首页加载是否需要上拉加载
    window.onload = function() {
        mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
    };

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    function loadScroll(){
        mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
    }

    //tab切换事件
    mui('#tab').on('tap', 'a', function(e) {
        c = this.getAttribute("data-index");
        if(c==0){
            $("#item1mobile").find("#tab2 a").removeClass('mui-active');
            $("#item1mobile").find("#tab2 a").eq(index).addClass('mui-active');
            $("#item1mobile").find(".mui-slider-group>div").removeClass('mui-active');
            $("#item1mobile").find(".mui-slider-group>div").eq(index).addClass('mui-active');

        }else{
            $("#item2mobile").find("#tab3 a").removeClass('mui-active');
            $("#item2mobile").find("#tab3 a").eq(index).addClass('mui-active');
            $("#item2mobile").find(".mui-slider-group>div").removeClass('mui-active');
            $("#item2mobile").find(".mui-slider-group>div").eq(index).addClass('mui-active');
        }
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        mui('#refreshContainer').pullRefresh().refresh(true);
        setCookie("c",c)
    });

    //tab切换事件
    mui('#tab2').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        mui('#refreshContainer').pullRefresh().refresh(true);
        index = this.getAttribute("data-index");
        setCookie("index",index)
    });

    //tab切换事件
    mui('#tab3').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        mui('#refreshContainer').pullRefresh().refresh(true);
        index = this.getAttribute("data-index");
        setCookie("index",index)
    });

</script>
{/block}