{extend name="public/common"}

{block name="style"}
<title>团队介绍</title>
<link rel="stylesheet" href="/home/sass/stylesheets/volunteer/team.css">

{/block}
{block name="body"}
<div class="banner"><img src="{$detail.front_cover|get_cover='path'}" alt=""></div>
<div class="main">
    <div class="title"><p>{$detail.name}</p></div>
    <div class="content">
        {$detail.content}
    </div>
    <div class="btn">
        <a href="{:Url('Volunteer/recruit?pid='.$detail['id'])}">
            <span>团&nbsp;&nbsp;队</span>
            <span>风&nbsp;&nbsp;采</span>
        </a>
    </div>
</div>
{/block}

{block name="script"}
<script>
    $(function () {
        $("title").text("志愿服务");
    });
</script>
{/block}