{extend name="public/pure"}

{block name="style"}
<title>点亮微心愿</title>
<link rel="stylesheet" href="/home/sass/stylesheets/volunteer/wishesdetail.css">
{/block}

{block name="body"}
<div class="detail" data-id="{$data.id}">
   <div class="title">
       <p>{$data.title}</p>
   </div>
    <div class="time">
        <p>{$data.create_time|time_format='Y-m-d'}</p>
    </div>
   <img src="{$data.image}">
    <div class="information">
        <div  class="information-content">
        <p>招募内容：</p>
        <span>{$data.content}</span>
        </div>
        <div  class="information-time">
            <p>时间：</p>
            <span>{$data.start_time|time_format='Y-m-d H:i'}</span>
        </div>
       <div>
        <p class="information-place">地点：</p>
        <span>{$data.activity_home}</span>
       </div>
        <div class="information-people">
        <p>联系人：</p>
        <span>{$data.contacts}</span>
        </div>
        <div class="information-phone">
        <p>联系方式：</p>
        <span>{$data.tel}</span>
        </div>
        <div class="information-number">
        <p>招募人数：</p>
        <span>{$data.demand_number}</span>
        </div>
       <div class="information-rank">
       <p>当前报名：</p>
       <span>{$data.receive_number}</span>
       </div>
    </div>
    {if condition="($data['type'] == 1)"}
    <div class="claim">我要认领</div>
    {else /}
    <div class="claim">我要报名</div>
    {/if}
    <!--<div class="gray ">已认领</div>-->
    <!--<div class="gray">已报名</div>-->
</div>
<div class="list">
    {if condition="($data['type'] == 1)"}
    <div class="list-line">认领名单</div>
    {else /}
    <div class="list-line">报名名单</div>
    {/if}

    <ul class="list-person" data-type="{$data.type}">
        {volist name="list" id="loo"}
        <li>
            <img src="{$loo.image}">
            <span class="name">{$loo.userid}</span>
            <span class="time">{$loo.create_time|time_format='Y-m-d H:i'}</span>
        </li>
        {/volist}
    </ul>
</div>

{/block}

{block name="script"}
<script>
    var id = $(".detail").attr("data-id");
    var type = $(".list-person").attr("data-type");
    if($(".detail").find("img").attr("src")==""){
        $(".detail").find("img").hide()
    }else{
        $(".detail").find("img").show()
    }

    var num = parseInt($(".information-rank").find("span").text());
    var text = $(".claim").text().substr(2,3);
    $(".claim").on("click",function(){
        $.ajax({
            url:"{:Url('Volunteer/receive')}",
            type:"post",
            dataType: "Json",
            data:{
              rid:id,
              type:type

            },
            success:function(data){
                if(data.code==1){
                    addList(data);

                    $(".claim").addClass("gray").removeClass("claim").html("已"+text).off("click");
                    $(".information-rank").find("span").text(num+1);
                }
            }
        })
    });
function addList(data){
    var html = '';
    var list= data.data;
        html += '<li>' +
                '<img src="'+list.avatar+'">' +
                '<span class="name">'+list.name+'</span>' +
                '<span class="time">'+list.create_time+'</span>' +
                '</li>'

        $(".list-person").append(html)


}

</script>
{/block}