{extend name="public/common"}
{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/volunteer/wishes.css">
<title>点亮微心愿</title>
{/block}
{block name="body"}
<div class="banner">
<img src="/home/images/volunteer/wishes_banner.jpg" alt="banner图片">
</div>
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="list">
            <ul>
                {empty name="data"}
                <div class="default"><img src="/home/images/common/nomessage.png"></div>
                {else/}
                <!--循环开始-->
                {volist name="data" id="vo"}
                <a href="{:Url('Volunteer/wishesdetail?id='.$vo['id'])}">
                    <img src="{$vo.image}">
                    <!--标题-->
                    <p>{$vo.title}</p>
                    <span class="num">
                        <span>{$vo.receive_number}</span> / {$vo.demand_number}人
                    </span>
                    <!--时间-->
                    <span> {$vo.create_time}</span>
                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    {if condition="($vo['v'] == 1)"}
                    <!--图片顶部标签-->
                    <div class="full">已满</div>
                    {else /}
                    {/if}
                </a>
                {/volist}
                <!--循环结束-->
            </ul>
            {/empty}
        </div>
    </div>
</div>
<!--悬浮按钮-->
<div id="publish">
    <a href="{:Url('Volunteer/publish?type='.$type)}"></a>
</div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>


    // 拖拽
    moveanyway();
    //首页加载是否需要上拉加载
    window.onload = function() {
        if ($(".list ul a").length < 10) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    };

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });


    function loadScroll(){
        var len = $(".list ul a").length;
        $.ajax({
            type:"post",
            url:"{:Url('Volunteer/vomore')}",
            data:{
                type:1,
                length:len
            },
            beforeSend: function(XMLHttpRequest){
            },
            success:function(data){
                addCourse(data);
                if(data.code == 1){
                    if(data.data.length == 10){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    };

    function addCourse(data) {
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for (var i = 0; i < len; i++) {
            var list = lists[i];
            html +=
                    '<a href="/home/volunteer/wishesdetail/type/1/id/' + list.id + '">' +
                '<img src="'+list.image+'">' +
                '<p>'+list.title+'</p>' +
                '<span class="num"><span>'+list.receive_number+'</span> / '+list.demand_number+'人</span>' +
                '<span>'+list.create_time+'</span>' +
                '<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>' +
                '<div class="full">已满</div>'+
                '</a>'
        }
        $(".list ul").append(html);
        var len = $(".list ul a").length;
        for(var i=0;i<len;i++){
            if(parseInt($(".num").eq(i).text().split(" / ")[0]) == parseInt($(".num").eq(i).text().split(" / ")[1].split("人")[0])){
                $(".list a").eq(i).find(".full").show();
            }else{
                $(".list a").eq(i).find(".full").hide();
            }
        }
    };

    //点击背景触发active
    mui("#refreshContainer").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });

    //页面点击事件
    mui("#refreshContainer").on("tap","a",function(){
        var url = this.getAttribute("href");
        window.location.href = url;
    })

</script>
{/block}