{extend name="public/pure"}

{block name="style"}
{if condition="($data['type'] == 1)"}
<title>点亮微心愿</title>
{else /}
<title>志愿者招募</title>
{/if}
<link rel="stylesheet" href="/home/sass/stylesheets/volunteer/wishesdetail.css">
{/block}

{block name="body"}
<div class="detail" data-id="{$data.id}">
   <div class="title">
       <p>{$data.title}</p>
   </div>
    <div class="people">
        <p>发布人</p>
    </div>
    <div class="time">
        <p>{$data.create_time|time_format='Y-m-d'}</p>
    </div>
    <img src="{$data.image}">
    <div class="information">
        <div  class="information-content">
        <p>招募内容：</p>
        <span>{$data.content}</span>
        </div>
        <div  class="information-time">
            <p>时间：</p>
            <span>{$data.start_time|time_format='Y-m-d H:i'}</span>
        </div>
       <div>
        <p class="information-place">地点：</p>
        <span>{$data.activity_home}</span>
       </div>
        <div class="information-people">
        <p>联系人：</p>
        <span>{$data.contacts}</span>
        </div>
        <div class="information-phone">
        <p>联系方式：</p>
        <span>{$data.tel}</span>
        </div>
        <div class="information-number">
        <p>招募人数：</p>
        <span>{$data.demand_number}</span>
        </div>
       <div class="information-rank">
       <p>当前报名：</p>
       <span>{$data.receive_number}</span>
       </div>
    </div>
    {if condition="($m == 5)"}
    <div class="gray ">已满员</div>
        {else /}
    {if condition="($data['type'] == 1)"}
    <div class="gray ">已认领</div>
    {else /}
    <div class="gray">已报名</div>
    {/if}
        {/if}
   <!-- <div class="claim">我要认领</div>-->



    <!--<div class="claim">我要报名</div>-->

</div>
<div class="list">
    {if condition="($data['type'] == 1)"}
    <div class="list-line">认领名单</div>
    {else /}
    <div class="list-line">报名名单</div>
    {/if}


    <ul class="list-person">
        {volist name="list" id="loo"}
        <li>
            <img src="{$loo.image}">
            <span class="name">{$loo.userid}</span>
            <span class="time">{$loo.create_time|time_format='Y-m-d H:i'}</span>
        </li>
        {/volist}
    </ul>
</div>

{/block}

{block name="script"}
<script>
    var id = $(".detail").attr("data-id");

    if($(".detail").find("img").attr("src")==""){
        $(".detail").find("img").hide()
    }else{
        $(".detail").find("img").show()
    }
    $(".claim").on("click",function(){
        $.ajax({
            url:"{:Url('Volunteer/receive')}",
            type:"post",
            dataType: "Json",
            data:{
              rid:id,

            },
            success:function(data){
                if(data.code==1){
                   /* addList(data);*/

                }

            }
        })
    })
function addList(data){
    var html = ""
    var lists = data.data.length;
    for(var i=0;i<lists;i++){
        var list = lists[i];
        html+= '<li>' +
                '<img src="/home/images/volunteer/index_1.png">' +
                '<span class="name">多多多</span>' +
                '<span class="time">2017-11-10</span>' +
                '</li>'
    }

}

</script>
{/block}