{extend name="base/common"}

{block name="style"}

{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="mail-box-header">
                <form method="get" action="" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="search" placeholder="搜索比赛名称、报名人">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> 搜索</button>
                        </div>
                    </div>
                </form>
                <h2>比赛报名</h2>
            </div>
            <div class="mail-box">
                <table class="table table-hover table-mail">
                    <thead>
                    <tr>
                        <th></th>
                        <th>比赛名称</th>
                        <th>报名截止时间</th>
                        <th>地址</th>
                        <th>组别</th>
                        <th>
                            <select name="type" id="changeType" onchange="changeType()">
                                <option value="">赛别</option>
                                {volist name="type_list" id="vo"}
                                <option value="{$key}" {eq name="$checkType" value="$key"}selected{/eq}>{$vo}</option>
                                {/volist}
                            </select>
                        </th>
                        <th>
                            <select name="kinds" id="changeKinds" onchange="changeType()">
                                <option value="">剑种</option>
                                {volist name="kinds_list" id="vo"}
                                <option value="{$key}" {eq name="$checkKinds" value="$key"}selected{/eq}>{$vo}</option>
                                {/volist}
                            </select>
                        </th>
                        <th>报名人</th>
                        <th>价格</th>
                        <th>报名时间</th>
                        <th>
                            <select name="status" id="changeStatus" onchange="changeType()">
                                <option value="" {if condition="$checkStatus == null"}selected{/if}>状态</option>
                                {volist name="status_list" id="vo"}
                                <option value="{$key}" {if condition="$checkStatus === $key"}selected{/if}>{$vo}</option>
                                {/volist}
                            </select>
                        </th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo"}
                    <tr>
                        <td class="check-mail">
                            <input type="checkbox" class="i-checks ids" name="ids[]" value="{$vo.id}">
                        </td>
                        <td>{$vo.title|msubstr=0,20}</td>
                        <td>{$vo.end_time|time_format='Y-m-d H:i'}</td>
                        <td>{$vo.address}</td>
                        <td>{$vo.group_name}</td>
                        <td>{$vo.type_text}</td>
                        <td>{$vo.kinds_text}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.price}</td>
                        <td>{$vo.create_time|time_format='Y-m-d H:i'}</td>
                        <td>{$vo.status_text}</td>
                        <td>
                            <a data-toggle="modal" href="#show" onclick="detail(this)" class="btn-sm btn-success"
                               data-detail='{$vo}'
                               style="color: #fff;"><i class="fa fa-eye"></i> 详情</a>
                            <!--<a href="{:Url('edit?id='.$vo['id'])}" class="confirm btn-sm btn-primary"><i class="fa fa-eye"></i> 详情</a>-->
                            {eq name="$vo.status" value="1"}
                            <a href="{:Url('del?id='.$vo['id'])}" class="confirm btn-sm btn-danger ajax-del"><i class="fa fa-trash-o"></i> 退赛</a>
                            {else/}
                            <a class="btn-sm btn-default2"><i class="fa fa-trash-o"></i> 退赛</a>
                            {/eq}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="10">
                            <div class="page">{$_page}</div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="show" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="post" action="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title text-center">详情</h2>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>代表单位:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="representative">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>带训教练:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="coach">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>证件类型:</label>
                        </div>
                        <div class="col-lg-10">
                            <select name="card_type" id="card_type"  class="form-control">
                                <option value="1" >身份证</option>
                                <option value="2" >港澳台</option>
                                <option value="3" >护照</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>证件号:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="card_num">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>备注:</label>
                        </div>
                        <div class="col-lg-10">
                            <textarea readonly name="remark"  class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>报名人:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>价格:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="price">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });
    });
    function detail(a) {
        var data = JSON.parse($(a).attr('data-detail'));
        console.log(data);
        $("input[name='title']").val(data.title);
        $("input[name='representative']").val(data.representative);
        $("input[name='coach']").val(data.coach);
        $("select[name='card_type']").val(data.card_type);
        $("input[name='card_num']").val(data.card_num);
        $("textarea[name='remark']").val(data.remark);
        $("input[name='name']").val(data.name);
        $("input[name='price']").val(data.price);
    }
    function changeType(){
        var url = "/admin/competition_apply/index";
        if($('#changeType').val()){
            url += "/type/"+$('#changeType').val();
        }
        if($('#changeKinds').val()){
            url += "/kinds/"+$('#changeKinds').val();
        }
        if($('#changeStatus').val()){
            url += "/status/"+$('#changeStatus').val();
        }
        location.href = url;
    }
</script>
{/block}