.t_b {
  font-size: 0.36rem;
  font-weight: 600;
}

body {
  background: #eeeeee;
}

.lists {
  /*margin-top: 10px;*/
}

.lists .list {
  height: 13.4vw;
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  background: #ffffff;
  border-top: 1px solid #f1f1f1;
  line-height: 13.4vw;
}

.lists .list .fl {
  color: #333;
  font-size: 0.4rem;
}

.lists .list .fr {
  color: #999;
  font-size: 0.38rem;
  float: right;
}

.lists .list:last-child {
  border-bottom: 1px solid #f1f1f1;
}

.er {
  width: 0.2rem;
  height: 0.2rem;
  margin-right: 0.18rem;
  margin-top: 6vw;
}

.modal-content {
  position: absolute;
  margin-top: 50%;
  left: 50%;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 5.5rem;
  height: 5.5rem;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: auto;
  }
}
.modal-content .code {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0.5rem;
}

.modal-content .header {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.08rem;
  border: 0.08rem solid #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lists .list.tag {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0 0.3rem;
  background: #eeeeee;
}
