{extend name="public/common"}

{block name="style"}
<title>企业文化</title>
<link rel="stylesheet" href="/home/css/company/index.css">
{/block}

{block name="body"}
<div class="lists">
	<!--好案例：good,新成果：new-->
	{volist name="list" id="vo"}
	<a href="{:Url('Company/detail?id='.$vo['id'])}" class="list">
		<img src="{$vo.front_cover|get_cover='path'}" alt="封面图" class="cover">
		<img src="{$vo.image|get_cover='path'}" alt="头像" class="user">
		<div class="title limit">{$vo.title}</div>
	</a>
	{/volist}
</div>
<div class="tip"></div>
<div class="loading hidden">
	<div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script>
	var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
$(function(){
	//模块标题
	$('title' ).text('企业文化');
	var len = $(".list" ).length;
	if(len >= 7){
		$('.tip' ).text('上拉加载更多');
		//上拉加载
		loadScroll();
	}else if(len ==0 ){
		$('body' ).html('<div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息" class="nomessage"></div>');
	}
	function loadScroll(){
		$(window ).off("scroll" ).on("scroll",function(){
			var dh = $(document).height();
			var end = $(window).height() + $(window ).scrollTop();
			var len = $(".list" ).length;
			var tip = $(".tip");
			var loading = $('.loading');
			if(dh == end && scrollNow){
				scrollNow = false;//请求执行中
				$.ajax({
					type:"post",
					url:"{:Url('Company/moreList')}",
					data:{
						length:len
					},
					beforeSend: function(XMLHttpRequest){
						tip.hide();
						loading.toggleClass('hidden');
					},
					success:function(data){
						loading.toggleClass('hidden');
						tip.show();
						if(data.code == 1){
							addLists(data);
							var dataLen =data.data.length;
							if(data.data.length == 5){
								tip.text('上拉加载更多');
							}else{
								tip.text('没有更多了');
								$(window ).off("scroll");
							}
							scrollNow = true;//请求结束
						}
					}
				})
			}
		})
	}
	function addLists(data){
		var html = '';
		var lists = data.data;
		var len = lists.length;
		for(var i = 0; i< len;i++){
			var list = lists[i];
			html +=
					'<a href="/home/company/detail/id/'+ list.id+'.html" class="list">'+
						'<img src="'+ list.front_src +'" alt="封面图" class="cover">'+
							'<img src="'+ list.header_src +'" alt="头像" class="user">'+
							'<div class="title limit">'+ list.title +'</div>'+
					'</a>'
		}
		$(".lists" ).append(html);
	}
})
</script>
{/block}