{extend name="public/common"}

{block name="style"}
<title>党员之家</title>
<link rel="stylesheet" href="/home/css/company/index.css">
<link rel="stylesheet" href="/static/viewer/viewer.min.css">
<link rel="stylesheet" href="/home/css/feedback/feedback.css">
{/block}
{block name="body"}
<div style="position: relative;height: 100%;">
<div class="scrollDiy" style="position:absolute;top: 0;bottom:0;overflow: scroll;-webkit-overflow-scrolling: touch;width: 100%;">
<div class="banner">
	<a href="{:Url('vote/index')}">民主评议</a>
	<img src="/home/images/feedback/1.jpg" alt="建言献策banner图">
</div>
<div class="tabs">
	<span class="tab active">组织架构</span>
	<span class="tab">交流互动</span>
	<span class="tab">建言献策</span>
</div>
	<div class="town box active notices">
		<!--组织架构-->
		<div class="box_ or">
			<div class="lists">
				<!--第一层-->
				<div class="list clear">
					<div class="party1">
						<div class="tri"></div>
						<div class="name1">椒江党支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">椒江区个私协会海门分会联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">椒江区个私协会白云分会联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">椒江区个私协会葭沚分会联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">椒江区个私协会三甲分会联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">椒江区个私协会洪家分会联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">椒江区个私协会前所分会联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">椒江区个私协会农贸市场联合党支部</a>
					</div>
					<!--/第二层-->
				</div>
				<div class="list clear">
					<div class="party1">
						<div class="tri"></div>
						<div class="name1">黄岩党支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">黄岩区个协党总支</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">黄岩区个协城东分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">黄岩区个协城南分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">黄岩区个协城西分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">黄岩区个协城北分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">黄岩区个协头陀分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">黄岩区个协宁溪分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">黄岩区个协院桥分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">黄岩区市场服务中心自办场联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">黄岩区家乐购新天地家居广场临时党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">黄岩区副食品市场党支部</a>
					</div>
					<!--/第二层-->
				</div>
				<div class="list clear">
					<div class="party1">
						<div class="tri"></div>
						<div class="name1">临海党支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">临海古城分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">临海大洋分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">临海杜桥分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">临海大田分党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">临海江南分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">临海白水洋分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">临海网络经营者分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">临海市恒大国际家居建材城党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">临海市中心菜场党支部</a>
					</div>
					<!--/第二层-->
				</div>
				<div class="list clear">
					<div class="party1">
						<div class="tri"></div>
						<div class="name1">温岭党支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">温岭市太平个协党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">温岭市文化桥菜市场党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">温岭市购物中心党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">温岭太平路菜市场党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">温岭市城东个协党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">温岭市温西个协党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">温岭市城北个协党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">温岭市石桥头镇个私协会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">温岭市松门个协党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">温岭市泽国个协党总支</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">温岭市大溪个协党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">温岭市新河个协党支部</a>
					</div>
					<!--/第二层-->
				</div>
				<div class="list clear">
					<div class="party1">
						<div class="tri"></div>
						<div class="name1">天台党支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">天台县个体协会支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">天台县个体协会城东分会支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">天台县个体协会城西分会支部 </a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">天台县个体协会平桥分会支部 </a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">天台县个体协会坦头分会支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">天台县经纪人支部 </a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">天台县机动车交易市场党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">天台县个体协会洪畴分会支部 </a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">天台县个体劳动者协会劳动路党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">天台县个体劳动者协会赤城路党支部</a>
					</div>
					<!--/第二层-->
				</div>
				<div class="list clear">
					<div class="party1">
						<div class="tri"></div>
						<div class="name1">仙居党支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">仙居县个私协机关支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">仙居县个体私营协会白塔分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">仙居县个体私营协会福应分会党支部 </a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">仙居县个体私营协会横溪分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">仙居县个体私营协会南峰分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">仙居县个体私营协会下各分会党支部 </a>
					</div>
					<!--/第二层-->
				</div>
				<div class="list clear">
					<div class="party1">
						<div class="tri"></div>
						<div class="name1">三门党支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">三门县个私协会海游分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">三门县个私协会花桥分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">三门县个私协会健跳分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">三门县个私协会浦坝港分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">三门县个私协会亭旁分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">三门县个私协会珠岙分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">三门县市场联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">三门县首府商贸区党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">三门县新大华酒店党支部</a>
					</div>
					<!--/第二层-->
				</div>
				<div class="list clear">
					<div class="party1">
						<div class="tri"></div>
						<div class="name1">路桥党支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">路桥个协分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">路南个协分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">路北个协分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">峰江个协分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">螺洋个协分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">新桥个协分会党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">路桥建筑装饰城市场经营户党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">路桥商品交易市场联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">路南商品交易市场联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">路北商品交易市场联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">峰江商品交易市场联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">螺洋商品交易市场联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">新桥商品交易市场联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">蓬街商品交易市场联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">金清商品交易市场联合党支部</a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">路桥个协直属党支部</a>

					</div>
					<!--/第二层-->
				</div>
				<div class="list clear">
					<div class="party1">
						<div class="tri"></div>
						<div class="name1">开发区党支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">开发区个私协党支部</a>
					</div>
					<!--/第二层-->
				</div>
			</div>
		</div>
		<div class="box_ summary">
			<p>
				公司党委成立于1999年，在台州市委和省公司党委的正确领导下，不断完善基层党组织建设，团结全体干部员工，实现了公司的跨越式发展。特别是十八大以来，着力加强党的基层组织建设，着力发挥党员先进性，着力加强领导班子和干部人才队伍建设，为公司持续发展提供了坚强的政治保证。公司党委先后获得了省级党建工作优秀单位、省级优秀基层党组织、集团公司优秀基层党组织、中央企业优秀基层党组织等系列荣誉，实现“党委有亮点、支部有特色、党员有贡献、员工有提升”。多年来，公司党员队伍不断发展壮大。截至2016年底，公司党员人数549名，其中劳动合同制员工党员541名，占党员总数99%。全公司设立14个党支部，实现了9个县（市、区）分公司党组织建设全覆盖，确保了公司发展到哪里，党的组织就建设到哪里，党的工作就延伸到哪里。强化人员配备，为全面从严治党提供了人员保障,市公司设立党委办公室（党群工作部）和纪检监察室，党建工作架构更加健全；强化人员配备，选任支部书记及委员组成的基层组织队伍56人，市公司职能部门共有专职党务工作者7名，14个支部各有1名兼职党务工作人员，其中9个县公司各配备“党工干事”1名，为全面从严治党提供了人员保障。
			</p>
		</div>
	</div>

	<!--/交流互动-->
	<div class="notices interactive">
		<ul>
			{volist name="list" id="lo"}
			<li>
				<a href="{:Url('Company/detail?id='.$lo['id'])}">
				<p>{$lo.title}</p>
				<span>{$lo->getDepart->name}</span>
				<span><i></i>{$lo.comments}</span>
				</a>
			</li>
			{/volist}
		</ul>
	</div>

	<!--/建言献策-->
<div class="notices aa">
		<div class="lists">
			{volist name="lists" id="vo"}
			<div class="list clear">
				<div class="fl">
					<img src="{$vo.header}" alt="用户头像">
				</div>
				<div class="fr">
					<div class="name limit">{$vo.username}</div>
					<div class="content">{$vo.content}</div>
					<div class="imgs">
						{volist name="$vo.images" id="img"}
						<div class="img">
							<img src="{$img|get_cover='path'}" alt="评论图" data-original="">
						</div>
						{/volist}
					</div>
					<div class="note clear">
						<span class="fl">{$vo.department_name}/{$vo.create_time|time_format="Y.m.d"}发布</span>
						{eq name="visit" value="0"}
						<span class="fr message" onclick="tosend(this,{$vo.id})"></span>
						<span class="fr goodnum">{$vo.likes}</span>
						{eq name="vo.is_like" value="1"}
						<span class="fr good_" onclick="isGood(this,5,{$vo.id})"></span>
						{else/}
						<span class="fr good" onclick="isGood(this,5,{$vo.id})"></span>
						{/eq}
						{else/}
						<span class="fr message"></span>
						<span class="fr goodnum">{$vo.likes}</span>
						<span class="fr good"></span>
						{/eq}
					</div>
					<ul class="comments">
						{volist name="$vo.comment" id="com"}
						<li>
							<span class="name">{$com.username}：</span>
							<span class="comment">{$com.content}</span>
						</li>
						{/volist}
					</ul>
				</div>
			</div>
			{/volist}
		</div>
	{eq name="visit" value="0"}
		<a id="publish" href="{:Url('Company/publish')}"></a>
	{/eq}
		<div class="bottom clear">
			<div class="myword fl">
				<input type="text" placeholder="说说你的感想！" id="impression">
			</div>
			<div class="send fr" onclick="send(this)">发送</div>
		</div>
	</div>
<div class="tip"></div>
<div class="loading hidden">
	<div class="typing_loader"></div>
</div>
</div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script src="/static/viewer/viewer-jquery.min.js"></script>
<script>
	var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
	var c =  parseInt(window.location.href.split("index/c/")[1]);
	$(function(){
		slide();
		//tab初始化和数据存储
		var ntc = $('.notices');
		var co = getCookie("type");
		if(co == 11 || co == 12 || co == 13){
			c = co - 10;
		}
		$('.tabs>.tab').eq(c-1).addClass('active');
		$('.tabs>.tab').eq(c-1).siblings().removeClass('active');
		ntc.eq(c-1).siblings('.notices' ).addClass('hidden');
		ntc.eq(c-1).removeClass('hidden');
		//上拉加载
		if(c==2){
			var len = ntc.eq(c - 1).find('ul').length;
			if (len >= 5) {
				$('.tip').text('上拉加载更多');
			}
			loadScroll(c);
		}
		if(c==3){

			var len = ntc.eq(c - 1).find('.lists .list').length;
			if (len >= 7) {
				$('.tip').text('上拉加载更多');
			}
			loadScroll(c);
		}
		$('.name2' ).each(function(){
			var t = $(this ).text();
			var href = '/home/structure/detail?party='+t+'';
			$(this ).attr('href', href);
		})

		//tab切换
		$('.tabs>.tab ').on('click',function(){
			var ntc = $('.notices' );
			var eq = $(this ).index();
			$(this ).siblings('.tab' ).removeClass('active');
			$(this ).addClass('active');
			ntc.eq(eq ).siblings('.notices' ).addClass('hidden');
			ntc.eq(eq).removeClass('hidden');
			if(eq==0){
				$('.tip').hide();
			}
			if(eq==1) {
				var len = ntc.eq(eq).find('ul').length;
				if (len >= 5) {
					$(".tip").show();
				}else{
					$('.tip').hide();
				}
				loadScroll(eq + 1);
			}
			if(eq==2) {
				var len = ntc.eq(eq).find('.lists .list').length;
				if (len >= 5) {
					$(".tip").show();
					loadScroll(eq + 1);
				}else{
					$('.tip').hide();
				}
			}

			//使用示例
			setCookie("type",eq+11);
		});
		//安卓4.4tab兼容
		var u = navigator.userAgent;
		var isAnd = !u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
		if(isAnd){
			var num = u.substr(u.indexOf('Android') + 8, 3);
			if(num <= 4.4){
				var tabw = $('.tabs').width()/3 -2;
				$('.tabs>.tab').width(tabw);
			}
		}
		viewer = $('.imgs').viewer({
			url: 'data-original',
			toolbar:false,
			title:false
		});
		moveanyway();
	});

	function loadScroll(type){
		$(".scrollDiy").off("scroll" ).on("scroll",function(){
			var ntc = $('.notices' );
			if(type==3){
				var dh = $('.tabs').height() +$('.aa').height()+ $('.banner').height()+$(".tip").height()+16;
			}
			if(type==2){
				var dh = $('.tabs').height() +$('.interactive').height()+ $('.banner').height()+$(".tip").height()+16;
			}
			var end = $('.scrollDiy').height() + $('.scrollDiy').scrollTop();
			var tip = $(".tip");
			var loading = $('.loading');
			if(type==2){
				var len = $(" .interactive ul > li").length;
			}
			if(type==3){
				var len = $('.aa .lists .list').length;
			}
			if(dh == end && scrollNow){
				scrollNow = false;//请求执行中
				$.ajax({
					type:"post",
					url:"{:Url('Company/moreList')}",
					data:{
						length:len,
						type:type
					},
					beforeSend: function(XMLHttpRequest){
						tip.hide();
						loading.toggleClass('hidden');
					},
					success:function(data){
						loading.toggleClass('hidden');
						tip.show();
						if(data.code == 1){
							addLists(data,type);
							var dataLen =data.data.length;
							if(data.data.length == 5){
								tip.text('上拉加载更多');
							}else{
								tip.text('没有更多了');
								$(window ).off("scroll");
							}
							scrollNow = true;//请求结束
						}
					}
				})
			}
		})
	}
	function addLists(data,type){
		var html = '';
		var lists = data.data;
		var len = lists.length;
		for(var i = 0; i< len;i++){
			var list = lists[i];
			if(type==2){
				html+=
						'<li><a href="/home/Company/detail/id/"'+list.id+'>'+
						'<p>'+list.title+'</p>'+
						'<span>'+list.publisher+'</span>'+
						'<span><i></i>'+list.comments+'</span>'+
						'</a></li>';
			}
			if(type==3){
				html +=
						'<div class="list clear">'+
						'<div class="fl">'+
						'<img src="'+list.header+'" alt="用户头像">'+
						'</div>'+
						'<div class="fr">'+
						'<div class="name limit">'+list.username+'</div>'+
						'<div class="content limit_">'+list.content+'</div>'+
						'<div class="imgs">';
				var imglen = list.images.length;
				for(var j = 0 ;j<imglen ;j++){
					html+=
							'<div class="img">'+
							'<img src='+list.images[j]+' alt="评论图">'+
							'</div>';
				}
				var good = list.is_like == 0?'good':'good_';
				html +=
						'</div>'+
						'<div class="note clear">'+
						'<span class="fl">'+list.department_name+'/'+list.time+'发布</span>'
				if ({$visit} == 0){
					html+='<span class="fr message" onclick="tosend(this,'+list.id+')"></span>'+
							'<span class="fr goodnum">'+list.likes+'</span>'+
							'<span class="fr '+good+'" onclick="isGood(this,5,'+list.id+')"></span>'+
							'</div>'+
							'<ul class="comments">';
				}else{
					html+='<span class="fr message"></span>'+
							'<span class="fr goodnum">'+list.likes+'</span>'+
							'<span class="fr '+good+'"></span>'+
							'</div>'+
							'<ul class="comments">';
				}
				var commentlen = list.comment.length;
				for(var x = 0 ;x <commentlen ;x++){
					html+=
							'<li>'+
							'<span class="name">'+list.comment[x].username+'：</span>'+
							'<span class="comment">'+list.comment[x].content+'</span>'+
							'</li>'
				}
				html+=
						'</ul>'+
						'</div>'+
						'</div>';
			}
		}
		if(type==2){
			$(".interactive ul").append(html);
		}
		if(type==3){
			$(".aa .lists" ).append(html);
		}
		//图片排版、评论框
		layout();
		imgresize();
		if(viewer) {
			viewer = $('.aa .lists .imgs').viewer({
				url: 'data-original',
				toolbar:false,
				title:false
			});
		}
	}

	//点击评论弹出评论框
	var tosend = function(e,id){
		var index = $(e).parents('.list' ).index();
		$('.banner,.list,.tabs' ).off('click');
		$('.bottom' ).animate({'bottom':'0'},500,'swing',function(){
			$('.banner,.list,.tabs' ).off('click').one('click',function(){
				$('.bottom' ).animate({'bottom':'-45px'},500,'swing');
				$('.myword input' ).val('');
			})
		}).attr('data-tab',index);
		$('.send' ).attr('data-tab',id);
	};

	function slide(){
		$('.lists .party1' ).on('click',function(){
			var it = $(this);
			var detail = it.next('.detail1' );
			if(detail.hasClass('down')){
				detail.slideDown();
				it.find('.tri').removeClass('toup').addClass('todown');
			}else{
				detail.slideUp();
				it.find('.tri').removeClass('todown').addClass('toup');
			}
			detail.toggleClass('down');
		});
	}

	//发送评论
	var send = function(e){
		var it = $(e ).prev().find('input');
		var index = $('.bottom' ).attr('data-tab');
		if(it.val() != ''){
			$.ajax({
				type:"post",
				url:"{:Url('Base/comment')}",
				data:{
					type :5,
					aid:$('.send' ).attr('data-tab'),
					content:it.val()
				},
				success:function(msg){
					var data = msg.data;
					var html = '';
					html +=
							'<li>'+
							'<span class="name">'+data.nickname+'：</span>'+
							'<span class="comment">'+data.content+'</span>'+
							'</li>';

					$('.aa .lists .list').eq(index).find('.comments').removeClass('hide').append(html);
					$('.banner,.list,.tabs' ).click();
				}
			});
		}else{
			var not = $('.not');
			not.fadeIn();
			document.body.style.overflow='hidden';
			$('.confirm,.not .bg' ).on('click',function(){
				not.fadeOut();
				document.body.style.overflow='scroll';
				$('.banner,.lists' ).click();
//			$('.bottom' ).animate({'bottom':'-45px'},500,'swing');
//			$('.myword input' ).val('');
			})
		}
	};

	//点赞
	var isGood = function(e,type,id){
		//样式变化，移到suc
		var n = $(e).prev('.goodnum').text();
		$.ajax({
			type:"post",
			url:"{:Url('Base/like')}",
			data:{
				type:type,
				aid:id,
			},
			success:function(data){
				$(e).toggleClass('good' ).toggleClass('good_');
				$(e ).hasClass('good')?n--:n++;
				$(e ).prev('.goodnum').text(n);
			}
		})
	};


	var layout = function(){
		$('.list' ).each(function(){
			var this_ = $(this);
			var n_img = this_.find('.imgs .img' ).length;
			var n_li = this_.find('.comments li' ).length;
			if(n_img == 4){
				this_.find('.imgs .img' ).eq(1).after('<br>')
			}
			if(n_li == 0){
				this_.find('.comments').addClass('hide');
			}
		})
	};

	//图片排版、评论框
	layout();
	//图片裁剪
	imgresize();
</script>
{/block}