/*article*/
.article {
    width: 100%;
    padding:12px;
    border-bottom: 1px solid #f7f7f7;
}
.title{
    text-align: left;
    font-size: 1.7rem;
}
.article .note {
    color: #999999;
    font-size: 1.2rem;
    line-height: 13px;
}
.note{
    padding: 0;
    padding-top:3.2vw
}
.article .note:last-child {
    padding-top:3.2vw;
}
.article .note .read {
    background: url(/home/images/common/scan.png) 0 0 no-repeat;
    background-size: 17px 13px;
    padding-left: 21px;
}
.article .note .comment {
    background: url(/home/images/common/comment-border.png) 0 0 no-repeat;
    background-size: 13px 13px;
    padding-left: 18px;
    margin-left: 10px;
}

/*content*/
.content{
    width:100%;
}
.content>.uecontent{
    padding: 3.2vw;
    overflow: hidden;
}
.content>.uecontent>img{
    float: left;
    width: 10.6vw;
    height: 10.6vw;
    border-radius: 4px;
}
.content>.uecontent .name{
    position: absolute;
    font-size: 1.4rem;
    color: #333;
    left:17vw;
}
.content>.uecontent .department{
    position: absolute;
    font-size: 1.2rem;
    color: #999;
    left: 17vw;
    margin-top:6vw;
}
.content>p{
    font-size: 1.3rem;
    color: #666;
    padding:0 3.2vw;
}

/*like*/
.like.special{
    position: relative;
    margin-bottom: 10vw;
    text-align: center;
    margin-top: 5.3vw;
}
.like .good_{
    color:#ffa52f;
    display: inline-block;
    background: url("/home/images/common/liked.png")0 0 no-repeat;
    background-size: 18px 18px;
    width:18px;
    height:18px;
    padding-left: 23px;
}
.like .good{
    color:#999;
    display: inline-block;
    background: url("/home/images/common/like.png")0 0 no-repeat;
    background-size: 18px 18px;
    width:18px;
    height:18px;
    padding-left: 23px;
}
#addnum .addmove {
    color: #000;
    position: absolute;
    right:40vw;
    bottom: 0 ;
    font-size: 15px;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity: 0;
    animation: up 0.5s;
    -moz-animation: up 0.5s;
    -webkit-animation: up 0.5s;
    -o-animation: up 0.5s;
    font-style: normal;
}
.line{
    width: 100%;
    height:10px;
    background:#f7f7f7;
}
/*comment*/
.comment .sum {
    height: 35px;
    padding-left: 10px;
    background: #fcfcfc;
    border-top: none;
    border-bottom: 1px solid #f1f1f1;
    font-size: 1.2rem;
    color: #666;
    line-height: 35px;
}
.comment .lists .list .fl img {
    width: 10.7vw;
    height: 10.7vw;
    margin-top: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vw;
    overflow: hidden;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.comment .lists .list .mid {
    width: 70%;
}
.comment .lists .list .mid .name {
    width: 100%;
    margin-top: 3vw;
    color: #999999;
}
.comment .lists .list .mid .content {
    width: 100%;
    word-break: break-all;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.comment .lists .list .good_ {
    display: inline-block;
    animation: shake 300ms ease;
    color:#ffa52f;
    -webkit-animation: shake 300ms ease;
    background: url(/home/images/common/liked.png) 0 0 no-repeat;
    background-size: 18px 18px;
    width:18px;
    height:18px;
    padding-left: 22px;
    margin-right: 22px;
}
.comment .lists .list .good{
    display: inline-block;
    animation: shake 300ms ease;
    color:#999;
    -webkit-animation: shake 300ms ease;
    background: url(/home/images/common/like.png) 0 0 no-repeat;
    background-size: 18px 18px;
    width:18px;
    height:18px;
    padding-left: 22px;
    margin-right: 22px;
}