{extend name="base/common"}

{block name="style"}
<link rel="stylesheet" href="/static/datepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/iCheck/custom.css">
<link rel="stylesheet" href="/admin/css/chosen/chosen.css">
<style>
    .imggroup {
        position: relative;
    }

    .imgbox {
        height: 100px;
        width: 200px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .imgfile {
        height: 100px;
        width: 200px;
        position: absolute;
        top: 0;
        opacity: 0;
    }
    @media (min-width: 1200px){
        .col-lg-11 {
            /*margin-top: 0.1vw;*/
        }
    }
</style>
{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>签到管理</h2>
        <ol class="breadcrumb">
            <li>
                <p>详情</p>
            </li>
            <li class="active">
                <strong>{eq name="msg||default=''" value=""}新增{else/}修改{/eq}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <!-- <h5>{eq name="msg||default=''" value=""}新增{else/}修改{/eq}</h5>-->
                    <div class="ibox-tools">

                            <a data-toggle="modal" class="btn btn-sm btn-primary" href="{:Url('Work/modifyxs?id='.$data['id'])}">修改</a>

                        <a href="{:Url('Work/index')}" class="btn btn-white btn-sm"><i
                                class="fa fa-reply"></i> 返回</a>
                    </div>
                </div>
                <div class="ibox-content all">
                    <form action="" id="form" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>会议封面:</label>
                            </div>
                            <div class="col-lg-5">
                                <div class="imggroup">
                                    <img src="{$data2.path}" alt='图片' class='thumbnail imgbox'>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>会议标题:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" readonly="readonly"  class="form-control form_title" name="title"
                                       value="{$data.title}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>签到类型:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" readonly="readonly"  class="form-control form_title" name="title"
                                       value="{$list.type}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label" id="timeRange">
                                <label>开始时间:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text"  readonly="readonly" class="form-control form_title datetimepicker"
                                       name="meet_time" value="{$data.meet_time|substr=0,16}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label" id="timeRange">
                                <label>结束时间:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" readonly="readonly"  class="form-control form_title datetimepicker"
                                       name="meet_endtime" value="{$data.meet_endtime|substr=0,16}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>会议地点:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" readonly="readonly"  class="form-control form_title"
                                       name="meet_home"
                                       value="{$data.meet_home}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>主办方:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" readonly="readonly" class="form-control form_title" name="branch"
                                       value="{$data.branch}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>联系电话:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" readonly="readonly"  class="form-control form_title" name="tel"
                                       value="{$data.tel}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>发布人:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" readonly="readonly" class="form-control form_title" name="publisher"
                                       value="{$data.publisher}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>参会人员:</label>
                            </div>

                            <div class="col-lg-11">
                                {volist name="arr" id="lo"}
                                <span style="background:#E0FFFF;line-height:2vw">
                                {$lo.userid}
                                    </span>&nbsp;&nbsp;
                                {/volist}
                            </div>

                        </div>
                        <!--<div class="form-group">
                            <div class="col-lg-11 col-lg-offset-1">
                                <a class="btn btn-default" href="{:Url('Work/index')}">返回</a>
                            </div>
                        </div>-->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/uploadify/jquery.uploadify.min.js"></script>
<script src="/static/iCheck/icheck.min.js"></script>
<script src="/static/ueditor/ueditor.config.js"></script>
<script src="/static/ueditor/ueditor.all.min.js"></script>
<script src="/admin/js/chosen.jquery.js"></script>
<script>
    //标题显示高亮
    $(document).ready(function(){
        highlight_subnav("{:Url('Work/index')}");

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });


</script>

{/block}