{extend name="public/common"}

{block name="style"}
<title>创建要求</title>
<link rel="stylesheet" href="/home/css/common/detail.css">
<style>
    .scrollDiy{
        position: absolute;
        top:0;
        bottom:0;
        overflow-y: scroll;
        /* 增加该属性，可以增加弹性 */
        -webkit-overflow-scrolling: touch;
        width:100%;
    }
</style>
{/block}

{block name="body"}
<!--新增-->
<div class="scrollDiy">
    <div class="title" style="margin:10px auto;width:90%;text-align: center">
        <span style="color:#333;font-size:16px;">{$list['title']}</span>
    </div>
    <!--<div class="note">-->
        <!--&lt;!&ndash;<span class="fl">{$list.publisher}</span>&ndash;&gt;-->
        <!--&lt;!&ndash;{$list.create_time|time_format='Y-m-d'}&ndash;&gt;-->
    <!--</div>-->
    <!--新增-->
    <div class="article">
        <div class="content">
            <div style="text-indent:2em;">{$list.content}</div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
{/block}