{extend name="public/common"}
{block name="style"}
    <title>文明创建</title>
    <link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="/home/css/civilization/index.css">
    <link rel="stylesheet" href="/home/css/common/tip.css">
{/block}
{block name="body"}
    <div class="banners">
        <div class="swiper-container">
            <div class="imgs swiper-wrapper">
                {volist name="banner" id="vo"}
                    <div class="banner swiper-slide">
                        <a href="{:Url('Culture/detail',[ 'id' =>$vo.id])}">
                            <img src="{$vo.front_cover|get_cover='path'}" alt="">
                            <!--<div class="title_ limit">{$vo.title}</div>-->
                        </a>
                    </div>
                {/volist}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <a href="{:Url('Culture/demand')}" class="help">
            <img src="/home/images/culture/20170523154603.png" alt="?">
        </a>
    </div>

    <div class="content">
        <div class="notices">
            <!--志愿发布-->
            <div class="notice">
                <a href="{:Url('Culture/volunlist')}" class="tab clear">
                    <span class="fl">志愿发布</span>
                    <span class="fr">更多</span>
                </a>
                {volist name="volun" id="vo"}
                    <a href="{:Url('Culture/publish',['id'=>$vo.id])}" class="list">
                        <div class="title limit">{$vo.title}</div>
                        <div class="content limit_">{$vo.content}</div>
                        <div class="clear time">
                            <span class="fl">{$vo.create_time|date="Y-m-d",###}</span>
                            <span class="fr fa fa-angle-right"></span>
                        </div>
                    </a>
                {/volist}
            </div>
            <!--志愿情况-->
            <div class="notice party">
                <div class="tab clear" >
                    <span class="fl">志愿情况</span>
                </div>
                {volist name="volun_details" id="vo"}
                    <a href="{:Url('Culture/detail',[ 'id' =>$vo.id])}" class="list clear">
                        <div class="fl">
                            <img src="{$vo.front_cover|get_cover='path'}" alt="图片">
                        </div>
                        <div class="fr right">
                            <div class="title limit_">{$vo.title}</div>
                            <div class="clear time">
                                <span class="fl">{$vo.create_time|date="Y-m-d",###}</span>
                                <span class="fr fa fa-angle-right"></span>
                            </div>
                        </div>
                    </a>
                {/volist}
            </div>
        </div>
    </div>
    <!--加载更多-->
    <div class="tip"></div>
    <div class="loading hidden">
        <div class="typing_loader"></div>
    </div>
{/block}
{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script src="/home/js/reset.js"></script>
<script>
    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
    $(function(){
        //轮播
        var mySwiper = new Swiper('.swiper-container', {
//            autoplay: 3000,
            loop:true,
            autoplayDisableOnInteraction:false,
            pagination : '.swiper-pagination',
            paginationClickable :true
        });

        var len = $('.notices').find('.notice:last .list').length;
        if(len >= 5){
            $('.tip' ).text('上拉加载更多');
        }
        loadScroll();
    });
    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var ntc = $('.notices');
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $('.notices').find('.notice:last .list').length;
            var tip = $(".tip");
            var loading = $('.loading');
            var url;
            url = "{:Url('Culture/more')}";
            if(dh == end && scrollNow){
                scrollNow = false;//请求执行中
                $.ajax({
                    type:"post",
                    url: url,
                    data:{
                        length:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        console.log(data);
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addLists(data);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;//请求结束
                    }
                })
            }
        })
    }
    function addLists(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            html +=
                    '<a href="'+'" class="list clear">'+
                    '<div class="fl">'+
                    '<img src="'+list.path+'" alt="图片">'+
                    '</div>'+
                    '<div class="fr right">'+
                    '<div class="title limit_">'+list.title+'</div>'+
                    '<div class="clear time">'+
                    '<span class="fl">'+list.time+'</span>'+
                    '<span class="fr fa fa-angle-right"></span>'+
                    '</div>'+
                    '</div>'+
                    '</a>'
        }
        $('.party').append(html);
    }

</script>
{/block}