{extend name="base/common"}

{block name="style"}

{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="mail-box-header">
                <h2>订单管理</h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <input class="i-checks check-all" type="checkbox">

                    <form method="get" action="" class="pull-right mail-search">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" name="search" placeholder="搜索所属场馆、下单人、联系电话">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> 搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="mail-box">
                <table class="table table-hover table-mail">
                    <thead>
                    <tr>
                        <th></th>
                        <th>所属场馆</th>
                        <th>下单人 </th>
                        <th>联系电话 </th>
                        <th>商品名称</th>
                        <th>数量</th>
                        <th>下单时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo"}
                    <tr>
                        <td><input type="checkbox" class="i-checks ids" name="ids[]"></td>
                        <td>{$vo.venue_name}</td>
                        <td>{$vo.name|msubstr=0,20}</td>
                        <td>{$vo.mobile}</td>
                        <td>{$vo.title|msubstr=0,20}</td>
                        <td>{$vo.num}</td>
                        <td>{$vo.create_time}</td>
                        <td>{$vo.status_text}</td>
                        <td>
                            <a data-toggle="modal" href="#show" onclick="detail(this)" class="btn-sm btn-success"
                               data-detail='{$vo}'
                               style="color: #fff;"><i class="fa fa-eye"></i>预览</a>
                            {if condition="($vo['confirm'] == 1)"}
                            <a class="confirm btn-sm btn-default"><i class="fa fa-plane"></i> 已发货</a>
                            {else /}
                            <a href="javascript:;" onclick="sureClick({$vo.id})" class="confirm btn-sm btn-primary"><i class="fa fa-plane"></i> 确认发货</a>
                            {/if}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="20">
                            <div class="page">{$_page}</div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="show" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="post" action="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="form-group imgs">
                        <div class="col-lg-0 text-right control-label">
                            <label></label>
                        </div>
                        <div class="col-lg-12">
                            <img src="" alt="" style="height: auto;width: 100px;margin:auto;display: block;">
                        </div>
                    </div>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>商品名称:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>数量:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="num">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>下单人:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>所属场馆:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="venue_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>联系电话:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="mobile">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>尺码备注:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="text1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>买家留言:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="text2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>下单时间:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="create_time">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </form>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });
    });

    function showIframe(myid){
        var iframe = $("#iframe");
        var url = "/admin/order/preview/id/" + myid;
        iframe.attr("src",url);
        iframe.show();
        $(".shadow").show();
        $(".wrapper").css("z-index",0);
        close(iframe);
    }

    function close(ele){
        $(".shadow").on('click',function(){
            $(this).hide();
            ele.hide();
        });
    }


    function detail(a) {
        var data = JSON.parse($(a).attr('data-detail'));
        console.log(data);
        $("input[name='title']").val(data.title);
        $("input[name='num']").val(data.num);
        $("input[name='name']").val(data.name);
        $("input[name='venue_name']").val(data.venue_name);
        $("input[name='mobile']").val(data.mobile);
        $("input[name='text1']").val(data.text1);
        $("input[name='text2']").val(data.text2);
        $("input[name='create_time']").val(data.create_time);
        $(".imgs img").attr('src',data.front_cover);
    }


    function sureClick(id) {
        swal({
            title: '',
            text: '是否确认发货?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "{:Url('Order/confirm')}",
                    type: 'post',
                    data: {
                        id: id
                    },
                    success: function (msg) {
                        console.log(msg);
                        swal({
                            title: "",
                            text: "发货成功",
                            type: 'success',
                            timer: 1500,
                            showConfirmButton: false
                        });
                        if (msg.code == 1) {
                            setTimeout(function () {
                                location.reload();
                            },1500)
                        }
                    }
                })
            }
        }
        )
    }
</script>
{/block}