{extend name="public/common"}

{block name="style"}
<title>支部排行榜</title>
<style>
    *{margin: 0;padding: 0;}
    body,html{overflow-x:hidden;}
    ul{margin:0;}
    ul li {list-style: none;}
    .top{height: 50vw;width: 100vw; background: -webkit-linear-gradient(left,#e4672d, #e9ad2c);border-bottom: 2.7vw solid #efeef3;}
    .top .top_top{width: 100%;height: 37vw;font-size: 13px;}
    .top .top_top img{width: 21vw;height: 21vw;border-radius: 50%;margin-top: 3vw;margin-left: 40vw;}
    .top .top_top p{margin: -6.7vw 0 8vw 0;color: #fff;font-size: 13px;text-align: center;}
    .top .top_body{height: 10.6vw;width: 100%;position: relative;}
    .top .top_body ul li{height: 100%;width: 49.5%;float: left;text-align: center;}
    .top .top_body span{width: 0;height: 8.5vw;border-right: 1px solid #fff;position: absolute;left: 49.5%;top: 4px;}
    .top .top_body p{font-size: 12px;color: #fff;margin-bottom: 3px;line-height: 4vw}
    .top .top_body a{position: absolute;right: 0;top: 0;width: 50%;height: 100%;z-index: 1;}
    #score img{width:5.3vw;height:5.3vw}
    #score span{line-height: 8vw}
    .body{width:100%;border-top: 1px solid #e4e4e4;}
    .body .body_top{margin-bottom: 6.4vw;}
    .body .body_top img{width: 5.3vw;}
    .body .body_top span{font-size: 12px;color: #666;position: relative;top: 1.3vw;}
    .body .body_body{width: 100%;height: 9.7vw;margin-bottom: 0.5vw}
    .body .body_body ul li{width: 33.33%;float: left;font-size: 16px;color: #231815;font-weight: 600;text-align: center;}
    .body .body_body ul li p{position: relative;padding-bottom: 3.2vw;margin: 0;}
    .body .body_body ul li:first-child{padding-left: 10.7vw;}
    .body .body_body ul li:nth-child(2){padding: 0 5.3vw;}
    .body .body_body ul li:last-child{padding-right: 10.7vw;}
    .body .body_body .active p{border-bottom: 0.8vw solid #ee7919;}
    .foot{width: 100vw;}
    .foot .rank{width: 100vw;}
    .foot .rank ul li{width:100vw;line-height: 16vw;border-bottom: 1px solid #ecebeb;color: #231815;font-weight: 500;}
    .foot .rank ul li .ranking{display:inline-block;width:6.7vw;font-size: 12px;margin-left: 4vw;}
    .foot .rank ul li:first-child .ranking{color: #eba52c;}
    .foot .rank ul li:nth-child(2) .ranking{color: #c5c5c5;}
    .foot .rank ul li:nth-child(3) .ranking{color: #dd8723;}
    .foot .rank ul li .department{display:inline-block;width:60vw;font-size: 14px;margin-left: 2.7vw;}
    .foot .rank ul li .int{font-size: 12px;float: right;margin-right: 5.3vw;}
    #score{position:relative;top: -70%;right: -49%;color:#fff;}
    #score img{position: relative;top: 0;right:0;}
    #score span{position: relative;top: 7.5vw;right:10vw;}
    .modal-content{background-color: rgba(240, 221, 145, 0.97);width: 95%;}
    #close{margin: 21.3vw auto 0 auto;display: block}
    #myModalLabel{text-align: center;font-size: 22px;}
    .modal-dialog {margin-top: -2%;position: fixed;}
    #myModal{overflow-x: hidden;position: fixed;}
    .overHide{overflow: hidden;height: 100%;}
    .cc{ overflow-y:auto;}
    @media screen and (max-width: 320px){
        #score span{
            right: 12vw;
        }
        .foot{
            margin-top: 4px;
        }
    }
    @media screen and (min-width: 760px){
        #score span{
            right: 6.5vw;
        }
        h5{line-height: 36px;margin: 0}
    }
    @media screen and (min-width: 1000px){
        #score span{
            right: 6vw;
        }
        h5{line-height: 40px;margin: 0}
    }
</style>
{/block}

{block name="body"}
<div>
    <div class="top">
        <div class="top_top">
            {eq name="visit" value="1"}
            <img src="/home/images/rank/vistor.jpg">
            <p>游客</p>
            {else/}
            <img src="/home/images/rank/pb.png" id="pic">
            <div id="score">
                <img src="/home/images/rank/score.png" alt="规则" data-toggle="modal" data-target="#myModal">
                <span data-toggle="modal" data-target="#myModal">积分规则</span>
            </div>
            <p>{$personal.name}</p>
            {/eq}
            <!--<p>杭州</p>-->
        </div>
        <div class="top_body">
            <ul>
                <li>
                    <p>部门所有积分</p>
                    {eq name="visit" value="1"}<p>无</p>{else/}<p>{$personal.score}</p>{/eq}
                </li>
                <span></span>
                <li>
                    <p>部门所在排名</p>
                    {eq name="visit" value="1"}<p>无</p>{else/}
                    {eq name="$personal.score" value="0"}
                    <p>无</p>
                    {else/}
                    <p>{$personal.rank}</p>
                    {/eq}
                    {/eq}
                </li>
            </ul>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <img src="/home/images/rank/close.png" alt="规则" data-dismiss="modal" aria-hidden="true" style="width:12vw;height:12vw" id="close">
            <div class="modal-content" style="margin:6vw auto">
                <div style="width: 0;height: 6.4vw;border-right: 2px solid rgba(237, 218, 145, 0.63);margin: -6.4vw auto 0;"></div>
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        <b>积分规则</b>
                    </h4>
                </div>
                <div class="modal-body">
                    <h4 style="text-indent: 2em;font-weight: normal">
                        部门排行榜由部门中每个成员的个人积分累加得到。积分可以累积，并在周榜，季榜和总榜按部门积分的高低进行排名。
                    </h4>
                </div>
                <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                <!--</div>-->
            </div>
        </div>
    </div><!-- /.modal -->

    <div class="body">
        <div class="body_top">
            <img src="/home/images/rank/int.jpg">
            <span>系统积分排行榜</span>
        </div>
        <div class="body_body" id="title">
            <ul>
                <li class="active" name="1">
                    <p>周榜</p>
                </li>
                <li name="2">
                    <p>季榜</p>
                </li>
                <li name="3">
                    <p>总榜</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="foot" id="body">
        <div class="rank" age="1">
            <ul>
                {volist name="week" id="fi" key="k"}
                <li class="clear">
                    <span class="fl ranking">{$k}</span>
                    <span class="fl department">{$fi.name}</span>
                    <span class="fl int">积分{$fi.score}分</span>
                </li>
                {/volist}
            </ul>
        </div>
        <div class="rank" age="2" style="display: none;">
            <ul>
                {volist name="month" id="mo" key="k"}
                <li class="clear">
                    <span class="fl ranking">{$k}</span>
                    <span class="fl department">{$mo.name}</span>
                    <span class="fl int">积分{$mo.score}分</span>
                </li>
                {/volist}
            </ul>
        </div>
        <div class="rank" age="3" style="display: none;">
            <ul>
                {volist name="all" id="vo" key="k"}
                <li class="clear">
                    <span class="fl ranking">{$k}</span>
                    <span class="fl department">{$vo.name}</span>
                    <span class="fl int">积分{$vo.score}分</span>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/javascript">
//切换
$(function(){
    //模块标题
    $('title' ).text('部门排行榜');
    $("#title").find("li").each(function(){
        $(this).on('click',function(){
            $(this).addClass("active").siblings().removeClass();
            var name = $(this).attr("name");
            $("#body").find(".rank").each(function(){
                var age = $(this).attr("age");
                if(name == age) {
                    $(this).show().siblings().hide();
                }
            });
            $('.department' ).each(function(){
                var _this =$(this);
                var ww = $('body' ).width();
                var h = _this.height();
                if(h > (0.18*ww ) && ww < 900){
                    _this.css({'height':0.16*ww + 'px','line-height':0.08*ww + 'px'});
                }
            })
        });
    });
    $('.department' ).each(function(){
        var _this =$(this);
        var ww = $('body' ).width();
        var h = _this.height();
        if(h > (0.18*ww ) && ww < 900){
            _this.css({'height':0.16*ww + 'px','line-height':0.08*ww + 'px'});
        }
    });
    $('#score span,#score img').click(function () {
        $('#myModal').show();
    });
});
</script>
{/block}