{extend name="public/common"}

{block name="style"}
<title>击剑百科</title>
<link rel="stylesheet" href="/home/css/association/news.css">
{/block}
{block name="body"}
<!--顶部分类-->
    <div class="Top">
        <div data-side="1" class="active">重剑<span></span></div>
        <div data-side="2">花剑<span></span></div>
        <div data-side="3">佩剑<span></span></div>
    </div>
<!--正文切换-->
    <div class="news" id="side1" style="display: block;">
        <a href="/home/association/newsdetail.html">
            <img src="/home/images/1.jpg" class="lazy">
            <div class="newsText">
                <div class="newsTitle">1“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
                <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
            </div>
        </a>
        <a href="#">
            <img src="/home/images/1.jpg" class="lazy">
            <div class="newsText">
                <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
                <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
            </div>
        </a>
        <a href="#">
            <img src="/home/images/1.jpg" class="lazy">
            <div class="newsText">
                <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
                <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
            </div>
        </a>
        <a href="#">
            <img src="/home/images/1.jpg" class="lazy">
            <div class="newsText">
                <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
                <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
            </div>
        </a>
        <a href="#">
            <img src="/home/images/1.jpg" class="lazy">
            <div class="newsText">
                <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
                <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
            </div>
        </a>
        <a href="#">
            <img src="/home/images/1.jpg" class="lazy">
            <div class="newsText">
                <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
                <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
            </div>
        </a>
        <a href="#">
            <img src="/home/images/1.jpg" class="lazy">
            <div class="newsText">
                <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
                <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
            </div>
        </a>
        <a href="#">
            <img src="/home/images/1.jpg" class="lazy">
            <div class="newsText">
                <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
                <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
            </div>
        </a>
        <a href="#">
            <img src="/home/images/1.jpg" class="lazy">
            <div class="newsText">
                <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
                <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
            </div>
        </a>
    </div>
    <div class="news" id="side2">
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">2“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
</div>
    <div class="news" id="side3">
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">3“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
    <a href="#">
        <img src="/home/images/1.jpg" class="lazy">
        <div class="newsText">
            <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
            <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
        </div>
    </a>
</div>
{/block}
{block name="script"}
<script>
    for(var i=0;i<$('.Top div').length;i++){
        $('.Top div')[i].onclick = function(){
            $('.Top div').removeClass('active');
            $(this).addClass('active');
            var side = $(this).data('side');
            $('.news').hide();
            $('#side'+side).show();
        }
    }
</script>
<script>
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
</script>
{/block}