{extend name="public/common"}

{block name="style"}
<title>击剑馆</title>
<link rel="stylesheet" href="/home/css/association/fencing.css">
{/block}
{block name="body"}
    <div class="sort">
        <a href="/home/association/jjdetail.html">
            <img src="/home/images/1.jpg" class="lazy">
            <div>
                <p>杭州击剑馆</p>
                <p>而零翼城不仅有绝佳的环境，现在还有如此防御手段，可以说是所有玩家生活发展的首选</p>
            </div>
        </a>
        <a href="/home/association/jjdetail.html">
            <img src="/home/images/1.jpg" class="lazy">
            <div>
                <p>杭州击剑馆</p>
                <p>而零翼城不仅有绝佳的环境，现在还有如此防御手段，可以说是所有玩家生活发展的首选</p>
            </div>
        </a>
        <a href="/home/association/jjdetail.html">
            <img src="/home/images/1.jpg" class="lazy">
            <div>
                <p>杭州击剑馆</p>
                <p>而零翼城不仅有绝佳的环境，现在还有如此防御手段，可以说是所有玩家生活发展的首选</p>
            </div>
        </a>
        <a href="/home/association/jjdetail.html">
            <img src="/home/images/1.jpg" class="lazy">
            <div>
                <p>杭州击剑馆</p>
                <p>而零翼城不仅有绝佳的环境，现在还有如此防御手段，可以说是所有玩家生活发展的首选</p>
            </div>
        </a>
        <a href="/home/association/jjdetail.html">
            <img src="/home/images/1.jpg" class="lazy">
            <div>
                <p>杭州击剑馆</p>
                <p>而零翼城不仅有绝佳的环境，现在还有如此防御手段，可以说是所有玩家生活发展的首选</p>
            </div>
        </a>
        <a href="/home/association/jjdetail.html">
            <img src="/home/images/1.jpg" class="lazy">
            <div>
                <p>杭州击剑馆</p>
                <p>而零翼城不仅有绝佳的环境，现在还有如此防御手段，可以说是所有玩家生活发展的首选</p>
            </div>
        </a>
    </div>
{/block}
{block name="script"}
<script>
</script>
<script>
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
</script>
{/block}