{extend name="public/common"}

{block name="style"}
<title>击剑馆</title>
<link rel="stylesheet" href="/home/css/association/fencing.css">
{/block}
{block name="body"}
    <div class="sort">
        {volist name="list" id="vo"}
        <a href="{:Url('Association/jjdetail?id='.$vo['id'])}">
            <img src="{$vo.images|get_cover='path'}" class="lazy">
            <div>
                <p>{$vo.title}</p>
                <p>{$vo.content}</p>
            </div>
        </a>
       {/volist}
    </div>
{/block}
{block name="script"}
<script>
</script>
<script>
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
</script>
{/block}