{extend name='public/common'}
{block name='style'}
<title>我要报名</title>
<link rel="stylesheet" href="/home/css/association/detail1.css">
{/block}
{block name='body'}

<div class="addressImg">
    <div class="img">
        <img src="/home/images/1.jpg" alt="">
    </div>
    <div class="address">
        <div class="addressTitle clearfix">
            <div class="title fl">击剑培训课</div>
            <div class="price fr">￥<span>500</span></div>
        </div>
        <p class="nums">节数：40</p>
        <p class="line"></p>
        <div class="lists">
            <div class="list">
                <a href="javascript:;" class="clearfix">
                    <i class="fl"></i>
                    <span class="fl">地址所在</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="classTimes">
    <ul>
        <li>
            <div class="title">课程时效</div>
            <div class="times">2018-07-12至2018-07-31</div>
        </li>
        <li>
            <div class="title">上课时间</div>
            <div class="times">每周六上午8:30-11:30 下午13:00-18:00</div>
        </li>
        <li>
            <div class="title">课程内容</div>
            <div class="times">每周六上午8:30-11:30 下午13:00-18:00</div>
        </li>
    </ul>
</div>

<div class="remark">
    <ul>
        <li>
            <div class="title">备注</div>
            <div class="times">每周六上午8:30-11:30 下午13:00-18:00</div>
        </li>
    </ul>
</div>

<!-- map-->
<div class="mapChoose">
    <div class="shadow"></div>
    <div class="mapList">
        <a href="http://api.map.baidu.com/marker?location=132.22115,30.2552455&title=我的位置&content=海创大厦&output=html">百度地图</a>
        <a href="https://uri.amap.com/marker?position={$data.lng},{$data.lat}&name={$data.title}">高德地图</a>
        <a href="javascript:;" class="mapBack">取消</a>
    </div>
</div>


{/block}
{block name='script'}

<script>

    /*
     * 地图跳转
     * */
    $(".lists .list").on("click", function () {
        $(".mapChoose").show();
    });

    $(".mapChoose .shadow,.mapChoose .mapBack").on("click", function () {
        $(".mapChoose").hide();
    });

</script>

{/block}