{extend name="public/common"}

{block name="style"}
<title>我要报名</title>
<link rel="stylesheet" href="/home/css/association/game.css">
<link rel="stylesheet" href="/home/css/mall/order.css?v=11">
<!--<link rel="stylesheet" href="/home/css/animate.min.css">-->
{/block}
{block name="body"}
    <div class="gameName">
        <p class="gameName01"><img src="/home/images/game/icon05.png" class="icon">赛事名称</p>
        <div class="gameName02">
            <p><span>{$data.title}</span><br><span>报名截止时间：{$data.end_time|time_format='Y-m-d'}</span></p>
            <p>{$data.address}</p>
        </div>
    </div>
    <div class="user">
        <p class="gameName01"><img src="/home/images/game/icon06.png" class="icon">人员信息</p>
        <div class="error"><img src="/home/images/game/icon10.png" class="gantan">部分信息无法获取，需要补充完善才可进行报名！</div>
        <div class="userSort active"><span>姓名</span><input onfocus="this.blur()" name="name" type="text" placeholder="暂无" value="{$model.name}"  readonly="readonly"></div>
        <div class="userSort active"><span>出生日期</span><input onfocus="this.blur()" name="birthday" type="text" placeholder="暂无" value="{$model.birthday}"  readonly="readonly"></div>
        <!--<div class="userSort active"><span>出生日期</span><input name="birthday" type="text" placeholder="请填写" readonly="readonly"></div>-->
        <div class="userSort"><span>组别</span><input data-id="" type="text" placeholder="请选择"  readonly="readonly"  onfocus="this.blur()" class="select" name="zb"><img src="/home/images/game/iconxl.png" class="xiala"></div>
        <div class="userSort"><span>剑种</span><input onfocus="this.blur()" data-id="" type="text" placeholder="请选择"  readonly="readonly" class="select" name="jz"><img src="/home/images/game/iconxl.png" class="xiala"></div>
        <div class="userSort active">
            <span>赛别</span>
            {eq name="$show_type" value="3"}
            <span style="font-size: .26rem;margin-left: .38rem;color: #ccc;">可多选</span>
            {/eq}
            <div class="gameSort">
                {eq name="$show_type" value="3"}
                <span class="active" data-show="1">• 个人</span>
                <span data-show="2">• 团体</span>
                {else/}
                    {eq name="$show_type" value="2"}
                    <span class="active" data-show="1">• 团体</span>
                    {else/}
                    <span class="active" data-show="2">• 个人</span>
                    {/eq}
                {/eq}
            </div>
        </div>
        <div class="userSort active"><span>性别</span><input onfocus="this.blur()" name="sex" type="text" placeholder="暂无" value="{eq name='$model.gender' value='2'}女{else/}男{/eq}"  readonly="readonly"></div>
        <div class="userSort"><span>代表单位</span><input   name="dbdw" type="text" placeholder="请填写" value="{$representative}"></div>
        <div class="userSort"><span>带训教练</span><input   name="dxjl" type="text" placeholder="请填写" value="{$coach}"></div>
        <div class="userSort active"><span>监护人电话</span><input onfocus="this.blur()"  name="phone" type="text" placeholder="暂无" value="{$model.guardian_mobile}"  readonly="readonly"></div>
        <div class="userSort"><span>证件类型</span><input onfocus="this.blur()" data-id="" type="text" placeholder="请选择"  readonly="readonly" class="select" name="zj"><img src="/home/images/game/iconxl.png" class="xiala"></div>
        <div class="userSort"><span>证件号</span><input   name="codeNum" type="text" placeholder="请填写" value="{$model.identity}"></div>
        <div class="userSort"><span>家庭住址</span><input onfocus="this.blur()" name="address" type="text" placeholder="暂无" value="{$model.address}" readonly="readonly"></div>
        <div class="userSort"><span>备注</span><input  name="bz" type="text" placeholder="请填写" value=""></div>
    </div>
    {eq name="$model.vip" value="1"}
    <div class="pay">
        <div class="pay01"><img src="/home/images/game/icon07.png" class="icon">应付款</div>
        <div class="pay02">会员价：¥<span>0.00</span></div>
        <div class="pay03">普通价：¥<span>0.00</span></div>
    </div>
    <div class="vip">您已成为击剑馆会员，享受会员特权!</div>
    {else/}
    <div class="pay">
        <div class="pay01"><img src="/home/images/game/icon07.png" class="icon">应付款</div>
        <div class="pay02">普通价：¥<span>0.00</span></div>
        <div class="pay03">会员价：¥<span>0.00</span></div>
    </div>
<div class="vip"><a href="{:Url('User/insider')}">加入击剑馆会员，享受会员特权!</a></div>
    {/eq}
    <div class="goPay" data-type="0">去付款</div>
<div id="HBox">
    <div class="HBoxSorts">
    </div>
</div>

<div id="pay">
    <div class="payError">
        <div class="payError01"><img src="/home/images/game/icon08.png" alt=""></div>
        <div class="payError02">
            <p>请继续完善所有信息</p>
            <p>才可进行报名付款！</p>
        </div>
        <div class="payError03">继续填写</div>
    </div>
    <div class="infoError">
        <div class="payError01"><img src="/home/images/game/icon08.png" alt=""></div>
        <div class="payError02">
            <p>请至个人中心完善所有个人信息</p>
            <p>才可进行报名付款！</p>
        </div>
        <div class="payError03">我知道了</div>
    </div>
</div>
<div id="pays">
    <div class="infoErrors">
        <div class="payError01"><img src="/home/images/game/icon08.png" alt=""></div>
        <div class="payError02">
            <p>您的年龄当前不符合比赛要求</p>
            <p>不可进行报名，抱歉！</p>
        </div>
        <div class="payError03">我知道了</div>
    </div>
</div>
<!-- 结算后的弹窗-->
<div class="popUp">
    <div class="shadow"></div>
    <div class="popContent">
        <div>
            <img src="/home/images/mall/success.png" alt="">
            <p>请在个人中心-我的订单中查看订单信息</p>
        </div>
        <img src="/home/images/mall/default.png" alt="" class="cancel">
    </div>
</div>

<!-- 支付失败的提示-->
<div class="chooseTig">
    <div class="shadow"></div>
    <div class="tig">
        <p>支付失败，请重新支付</p>
        <a class="chooseBtn" href="javascript:;">我知道了</a>
    </div>
</div>
<!-- payChoose-->
<div class="payChoose">
    <div class="shadow"></div>
    <div class="chooseList">
        <a href="javascript:;" class="zhifubao"><i></i> 支付宝</a>
        <a href="javascript:;" class="weixin"><i></i>微信</a>
        <a href="javascript:;" class="mapBack">取消</a>
    </div>
</div>
<input type="hidden" id="refreshed" value="no">
{/block}
{block name="script"}
<script src="/home/js/jquery.hdialog.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="/home/js/ap.js"></script>
<script src="/home/js/reset.js"></script>
<script>
    var orderId = '';//订单ID
    var orderPrice = '';//订单价格
    var id = {$data.id};
    var VIPS = {$model.vip};//是否会员
    var name = $('input[name=name]').val(); //姓名
    var birthday = $('input[name=birthday]').val(); //出生日期
    var zubie = $('input[name=zb]').val(); //组别
    var jianzhong = $('input[name=jz]').val(); //剑种
    var saibie = _getprice; //赛别
    var sex = $('input[name=sex]').val(); //性别
    var dbdw = $('input[name=dbdw]').val(); //代表单位
    var dxjl = $('input[name=dxjl]').val(); //带训教练
    var phone = $('input[name=phone]').val(); //监护人电话
    var zjxl = $('input[name=zj]').val(); //证件类型
    var codeNum = $('input[name=codeNum]').val(); //证件号
    var address = $('input[name=address]').val(); //家庭住址
    var bz = $('input[name=bz]').val(); //备注
    if(name == '' || birthday == '' || sex == '' || phone == '' || address == ''){
        $('#pay').show();
        $('.payError').hide();
        $('body').css({'position':'fixed','width':'100%'});
    }

    // 判断是否包含 个人/团体赛
    var _getprice ;
    if($('.gameSort span').eq(0).hasClass('active') && !$('.gameSort span').eq(1).hasClass('active')){
        _getprice = 1;
    }else if($('.gameSort span').eq(1).hasClass('active') && !$('.gameSort span').eq(0).hasClass('active')){
        _getprice = 2;
    }else if($('.gameSort span').eq(0).hasClass('active') && $('.gameSort span').eq(1).hasClass('active')) {
        _getprice = 3;
    }
    $('.gameSort span').on('click',function(){
        if($('input[name=jz]').val()!==''){
            // console.log($('input[name=zb]').data('id'))
            if(!$(this).hasClass('active')){
                $(this).addClass('active')
            }else{
                $(this).removeClass('active')
            }
            if(!$('.gameSort span').eq(0).hasClass('active') && !$('.gameSort span').eq(1).hasClass('active')){
                $('.pay02 span').html('0.00')
                $('.pay03 span').html('0.00')
            }else{
                if($('.gameSort span').eq(0).hasClass('active') && !$('.gameSort span').eq(1).hasClass('active')){
                    _getprice = 1;
                }else if($('.gameSort span').eq(1).hasClass('active') && !$('.gameSort span').eq(0).hasClass('active')){
                    _getprice = 2;
                }else if($('.gameSort span').eq(0).hasClass('active') && $('.gameSort span').eq(1).hasClass('active')) {
                    _getprice = 3;
                }
                var data = {id:id,type:_getprice,kinds:$('input[name=jz]').data('id')}
                $.ajax({
                    type: "post",
                    url: "{:Url('Association/getprice')}",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        console.log(data)
                        if(VIPS == 1){
                            $('.pay02 span').html(data.data.vip_price);
                            $('.pay03 span').html(data.data.price);
                        }else{
                            $('.pay02 span').html(data.data.price);
                            $('.pay03 span').html(data.data.vip_price);
                        }
                    }
                })
            }
        }
        else{
            if(!$(this).hasClass('active')){
                $(this).addClass('active')
            }else{
                $(this).removeClass('active')
            }
            if($('.gameSort span').eq(0).hasClass('active') && !$('.gameSort span').eq(1).hasClass('active')){
                _getprice = 1;
            }else if($('.gameSort span').eq(1).hasClass('active') && !$('.gameSort span').eq(0).hasClass('active')){
                _getprice = 2;
            }else if($('.gameSort span').eq(0).hasClass('active') && $('.gameSort span').eq(1).hasClass('active')) {
                _getprice = 3;
            }
        }
    })



    $('.select').on('click',function(){
        $('#HBox').show();
        var _height = $('.HBoxSorts').height();
        $('.HBoxSorts').stop().animate({
            bottom:'0'
        },500);
        var name = $(this)[0].name;
        _select(name)
    })
    $(document).on('click','#HBox .HBoxSorts p',function(){
        var sort = localStorage.getItem('_name');
        if(sort == 'zb'){
            $('input[name=zb]').val($(this).text());
            $('input[name=zb]').data('id',$(this).data('id'));
            setCookie('payzb',$(this).data('id'));
        }else if(sort == 'jz'){
            $('input[name=jz]').val($(this).text());
            $('input[name=jz]').data('id',$(this).data('id'));
            setCookie('payjz',$(this).data('id'));
            if(VIPS == 1){
                $('.pay02 span').html($(this).data('vipprice'));
                $('.pay03 span').html($(this).data('price'));
            }else{
                $('.pay02 span').html($(this).data('price'));
                $('.pay03 span').html($(this).data('vipprice'));
            }

        }else if(sort == 'zj'){
            $('input[name=zj]').val($(this).text());
            $('input[name=zj]').data('id',$(this).data('id'));
            setCookie('payzj',$(this).data('id'));
        }
        $('.HBoxSorts').stop().animate({
            bottom:'-100%'
        },500);
        setTimeout(function(){$('#HBox').hide();},500);
    })
    function bodyScroll(event){
        event.preventDefault();
    }

    function _select(name){
        var _this  =this;
        if(name == 'zb'){
            $.ajax({
                type: "post",
                url: "{:Url('Association/getgrouplist')}",
                data: {id:id},
                dataType: "json",
                success: function (data) {
                    if(data.data.length == 0){
                        $('#pays ,.infoErrors').show();
                        $('body').css({'position':'fixed','width':'100%'});;
                    }else {
                        var _len = data.data;
                        var str = '';
                        for(var i=0;i<_len.length;i++){
                            str += '<p data-id="'+_len[i].id+'">'+_len[i].group_name+'</p>'
                        }
                        $('.HBoxSorts').html(str)
                    }
                }
            })
        }else if(name == 'jz'){
            if(!($('.gameSort span').eq(0).hasClass('active')) && !($('.gameSort span').eq(1).hasClass('active'))){
                swal({
                        title: "至少选择一项赛别！",
                        type: "warning",
                    },
                    function(){
                        $('#HBox').hide();
                    });
            }else {
                var data = {id:id,type:_getprice,kinds:''}
                $.ajax({
                    type: "post",
                    url: "{:Url('Association/getprice')}",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        var _len = data.data;
                        var str = '';
                        for(var i=0;i<_len.length;i++){
                            str += '<p data-vipprice="'+_len[i].vip_price+'" data-price="'+_len[i].price+'" data-id="'+_len[i].id+'">'+_len[i].name+'</p>'
                        }
                        $('.HBoxSorts').html(str)
                    }
                })
            }
        }else if(name == 'zj'){
            var str = '';
            str += '<p data-id="1">身份证</p><p data-id="2">港澳台</p><p data-id="3">护照</p>'
            $('.HBoxSorts').html(str)
        }
        localStorage.setItem('_name',name)
        // $('.HBoxSorts').html(str)
    }
    if($('.goPay').data('type')!==1){
        $('.goPay').css('background','#C2C2C2')
    }

    setInterval ("showTime()", 500);
    function showTime()
    {
        if($('input[name=zb]').val()!==''
            && $('input[name=jz]').val()!==''
            && $('input[name=dbdw]').val()!==''
            && $('input[name=dxjl]').val()!==''
            && $('input[name=zj]').val()!==''
            && $('input[name=codeNum]').val()!==''){
            $('.goPay').data('type',1);
            $('.goPay').css('background','#3A8CFB');
            $('.error').hide();
        }else{
            $('.error').show();
            $('.goPay').data('type',0);
        }
    }

    $('.goPay').on('click',function(){
        if($(this).data('type')==1){
            var competition_id = id;//比赛表id
            var group_id = getCookie('payzb'); //组别id
            var type = _getprice;//赛别id
            var kinds= getCookie('payjz');//剑种id
            var representative = $('input[name=dbdw]').val();//代表单位
            var coach = $('input[name=dxjl]').val();//带训教练
            var card_type = getCookie('payzj');//证件id
            var card_num = $('input[name=codeNum]').val();//证件号
            var remark = $('input[name=bz]').val();//备注
            var data = {
                competition_id:competition_id,
                group_id:group_id,
                type:type,
                kinds:kinds,
                representative:representative,
                coach:coach,
                card_type:card_type,
                card_num:card_num,
                remark:remark
            }
            setCookie('pay02',$('.pay02 span').text());
            setCookie('pay03',$('.pay03 span').text());
            $.ajax({
                type: "post",
                url: "{:Url('Association/submit')}",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data)
                    if(data.code == 1){
                        orderId = data.data.id
                        orderPrice = $('.pay02 span').text();
                        $('.payChoose').show();
                        setCookie('_orderId',orderId);
                    }else{
                        alert('您已报名！')
                    }
                    // console.log(data)

                    // location.href='/home/association/paysuccess/id/'+data.data.id+'/type/'+data.data.type
                }
            })
            // location.href='/home/association/paysuccess.html'
        }
        else{
            $('#pay , .payError').show();
            $('.infoError').hide();
            $('body').css({'position':'fixed','width':'100%'});
        }
    })
    $('.payError .payError03').on('click',function(){
        $('#pay').hide();
        $('body').css('position','inherit');
    })
    $('#pays .payError03').on('click',function(){
        $('#pays ,#HBox').hide();
        $('body').css('position','inherit');
    })
    $('.infoError .payError03').on('click',function(){
        // location.href = '/home/user/information.html';
        $('#pay').hide();
        $('body').css('position','inherit');
    })


    if ((/iphone|ipod|ipad.*os 5/gi).test(navigator.appVersion)) {
        $('.pay02 span').html(getCookie('pay02'));
        $('.pay03 span').html(getCookie('pay03'));
        window.onpageshow = function(event) {
            var isOrder = getCookie('isOrder');
            var orderId = getCookie('_orderId');
            if (event.persisted) {
                $.ajax({
                    url: '{:Url("Pay/payStatus")}',
                    type: 'post',
                    data: {
                        pid: orderId,
                        type: 2
                    },
                    success: function (msg) {
                        $('.showbox').hide();
                        if (msg.code == 1) {
                            location.href='/home/association/paysuccess/id/'+orderId+'.html'
                        }else {
                            $('.chooseTig').show();
                            setTimeout(function () {
                                $('.chooseTig').hide();
                            },3000)
                        }
                        setCookie('isOrder',false);
                    },
                    error: function (msg) {
                        $('.chooseTig').show();
                        setTimeout(function () {
                            $('.chooseTig').hide();
                        },3000)
                    }
                })
            }else {
                if (isOrder == 'true') {
                    setCookie('isOrder',false);
                    $.ajax({
                        url: '{:Url("Pay/payStatus")}',
                        type: 'post',
                        data: {
                            pid: orderId,
                            type: 2
                        },
                        success: function (msg) {
                            $('.showbox').hide();
                            if (msg.code == 1) {
                                setCookie('isOrder',true);
                                location.href='/home/association/paysuccess/id/'+orderId+'.html'
                            }else {
                                $('.chooseTig').show();
                                setTimeout(function () {
                                    $('.chooseTig').hide();
                                },3000)
                            }
                        },
                        error: function (msg) {
                            $('.chooseTig').show();
                            setTimeout(function () {
                                $('.chooseTig').hide();
                            },3000)
                        }
                    })
                }else {
                }
            }

        };
    }
    else {
        $('.pay02 span').html(getCookie('pay02'));
        $('.pay03 span').html(getCookie('pay03'));
        var orderId = getCookie('_orderId');
        var e=$("#refreshed");
        if(e.val() == "no") {
            e.val('yes');
        }else{
            e.val('no');
            $(".showbox").show();
            $.ajax({
                url: '{:Url("Pay/payStatus")}',
                type: 'post',
                data: {
                    pid: orderId,
                    type: 2
                },
                success: function (msg) {
                    $('.showbox').hide();
                    if (msg.code == 1) {
                        location.href='/home/association/paysuccess/'+id+'.html'
                    }else {
                        $('.chooseTig').show();
                        setTimeout(function () {
                            $('.chooseTig').hide();
                        },3000)
                    }
                    e.val('yes');
                },
                error: function (msg) {
                    $('.chooseTig').show();
                    setTimeout(function () {
                        $('.chooseTig').hide();
                    },3000)
                }
            })
        }
    }

    /**
     * payChoose
     * */
    $('.payChoose a').on('click', function () {
        // setCookie('orderId',id);
        if ($(this).hasClass('zhifubao')) {
            setCookie('isOrder',true);
            payPrice1(orderId,orderPrice);
            // $.ajax({
            //     url: "{:Url('Mall/pay')}",
            //     type: 'post',
            //     data: {
            //         id: orderId,
            //         text1: $(".size").val(),
            //         text2: $(".list_ textarea").val()
            //     },
            //     beforeSend: function(XMLHttpRequest){
            //         $(".showbox").show();
            //     },
            //     success: function (msg) {
            //         setCookie('isOrder',true);
            //         $(".showbox").hide();
            //         // 调取支付宝接口
            //         payPrice1(orderId,orderPrice);
            //     }
            // })
        }else if ($(this).hasClass('weixin')) {
            setCookie('isOrder',true);
            payPrice(orderId,orderPrice);
            // $.ajax({
            //     url: "{:Url('Mall/pay')}",
            //     type: 'post',
            //     data: {
            //         id: id,
            //         text1: $(".size").val(),
            //         text2: $(".list_ textarea").val()
            //     },
            //     beforeSend: function(XMLHttpRequest){
            //         $(".showbox").show();
            //     },
            //     success: function (msg) {
            //         setCookie('isOrder',true);
            //         $(".showbox").hide();
            //         payPrice(orderId,orderPrice);
            //     }
            // });
        }else {
            $('.payChoose').hide();
        }
    });
    $('.payChoose .shadow ,.mapBack').on('click', function () {
        $('.payChoose').hide();
    });


    // 取消
    $(".popUp .cancel,.popUp .shadow").on('click', function () {
        setTimeout(function () {
            history.go(-1);
        },1500)
    });

    // weixin
    function payPrice(orderId,orderPrice) {
        $.post('/home/pay/wxpay ', {price: orderPrice,pid: orderId,type:2})
            .then(function (response) {
                console.log(response);
                if (response) {
                    if (typeof WeixinJSBridge == "undefined"){
                        if( document.addEventListener ){
                            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                        }else if (document.attachEvent){
                            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                        }
                    } else {
                        WeixinJSBridge.invoke(
                            'getBrandWCPayRequest',  JSON.parse(response),
                            function (res) {
                                if (res.err_msg == "get_brand_wcpay_request:ok") {
                                    // $(".content").hide();
                                    // $(".popUp").show();
                                    setTimeout(function () {
//                                                window.history.go(-index);
                                        location.href='/home/association/paysuccess/'+id+'.html'
                                    },1500);
                                }else {
                                    $('.chooseTig').show();
                                    setTimeout(function () {
                                        $('.chooseTig').hide();
                                    },3000)
                                }
                                $('.payChoose').hide();
                                // 使用以上方式判断前端返回,微信团队郑重提示：
                                // res.err_msg将在用户支付成功后返回
                                // ok，但并不保证它绝对可靠。
                            }
                        );
                    }

                } else {
                    swal({
                        title: "",
                        text: response.data.error_msg,
                        type: "error",
                        confirmButtonColor: "#ffb45b",
                        confirmButtonText: "确定"
                    });
                }
            });
    }

    // zhifubao
    function payPrice1(orderId,orderPrice) {
        $.ajax({
            url: "/home/pay/alipay",
            type: 'post',
            data: {
                price: orderPrice,
                pid: orderId,
                type:2
            },
            success: function (response) {
                $('.payChoose').hide();
                response = JSON.parse(response);
                if (response.success) {
                    event.preventDefault();
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    _AP.pay(response.data);
                }
            }
        })
    }
</script>
{/block}