{extend name="public/common"}

{block name="style"}
<title>我要报名</title>
<link rel="stylesheet" href="/home/css/association/game.css">
{/block}
{block name="body"}
    <div class="banner"><img data-original="{$data.front_cover|get_cover='path'}" class="lazy"></div>
    <div class="information">
        <div class="info_01">
            <p>{$data.title}</p>
            <p>报名截止时间：{$data.end_time|time_format='Y-m-d'}</p>
        </div>
        <div class="info_02">
            <div class="info_02Top"><img src="/home/images/game/icon01.png" class="icon">比赛项目价目表</div>
            {notempty name="$data.individual_event"}
            <div class="info_02Main">
                <div class="info_02Title"><span></span>个人赛</div>
                <div class="info_02Text">
                    {volist name="data.individual_event" id="vo"}
                    <p><span>普通价：¥{$vo.price}</span><span>会员价：¥{$vo.vip_price}</span><span><?php echo \app\home\model\CompetitionEvent::EVENT_KINDS_ARRAY[$vo['kinds']]?></span></p>
                    {/volist}
                </div>
            </div>
            {/notempty}
            {notempty name="$data.team_event"}
            <div class="info_02Main">
                <div class="info_02Title"><span></span>团体赛</div>
                <div class="info_02Text">
                    {volist name="data.team_event" id="vo"}
                    <p><span>普通价：¥{$vo.price}</span><span>会员价：¥{$vo.vip_price}</span><span><?php echo \app\home\model\CompetitionEvent::EVENT_KINDS_ARRAY[$vo['kinds']]?></span></p>
                    {/volist}
                </div>
            </div>
            {/notempty}
        </div>
        <div class="info_03">
            <div class="info_03Add">
                <p><img src="/home/images/game/icon02.png" class="icon">比赛地址</p>
                <p id="maps">{$data.address}</p>
            </div>
            <div class="info_03Time">
                <p><img src="/home/images/game/icon03.png" class="icon">比赛时间</p>
                <p class="info_03Game"><span>男子比赛</span><span>{$data.male_time|time_format='Y年m月d日'}</span></p>
                <p class="info_03Game"><span>女子比赛</span><span>{$data.female_time|time_format='Y年m月d日'}</span></p>
            </div>
        </div>
        <div class="info_02">
            <div class="info_02Top"><img src="/home/images/game/icon04.png" class="icon">比赛组别</div>
            <div class="info_02Main">
                <div class="info_02Text" id="info_04">
                    {volist name="data.competition_group" id="vo"}
                    <p><span>{$vo.group_name}</span><span></span><span>{$vo.start_time|time_format='Y.m.d'}——{$vo.end_time|time_format='Y.m.d'}</span></p>
                    {/volist}
                </div>
            </div>
        </div>
        <a href="{:Url('Association/gamedetail02?id='.$data['id'])}"><div class="SignUp">马上报名</div></a>
    </div>
<!-- map-->
<div class="mapChoose">
    <div class="shadow"></div>
    <div class="mapList">
        <a href="http://api.map.baidu.com/marker?location={$data.lat},{$data.lng}&title={$data.title}&content={$data.title}&output=html">百度地图</a>
        <a href="https://uri.amap.com/marker?position={$data.lng},{$data.lat}&name={$data.title}">高德地图</a>
        <a href="javascript:;" class="mapBack">取消</a>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
    /*
 * 地图跳转
 * */
    $("#maps").on("click", function () {
        $(".mapChoose").show();
    });

    $(".mapChoose .shadow,.mapChoose .mapBack").on("click", function () {
        $(".mapChoose").hide();
    });
</script>
{/block}