{extend name='public/common'}
{block name='style'}
<title>我要报名</title>
<link rel="stylesheet" href="/home/css/association/detail1.css">
{/block}
{block name='body'}

<div class="addressImg">
    <div class="img">
        <img data-original="{$data.front_cover|get_cover='path'}" class="lazy">
    </div>
    <div class="address">
        <div class="addressTitle clearfix">
            <div class="title fl">{$data.course_name}</div>
            <div class="price fr">￥<span>{$data.price}</span></div>
        </div>
        <!-- i 为精品课的标识-->
        <p class="nums">节数：{$data.num}
            {eq name="$data.type" value="2"}
            <!-- 精品课的标示-->
            <i></i>
            {/eq}</p>
        <p class="line"></p>
        <div class="lists">
            <div class="list">
                <a href="javascript:;" class="clearfix">
                    <i class="fl"></i>
                    <span class="fl">{$venue.address}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="classTimes">
    <ul>
        <li>
            <div class="title">课程时效</div>
            <div class="times">{$data.start_time|time_format='Y-m-d'}至{$data.end_time|time_format='Y-m-d'}</div>
        </li>
        <li>
            <div class="title">上课时间</div>
            <div class="times">{$data.course_time}</div>
        </li>
        <li>
            <div class="title">课程内容</div>
            <div class="times">{$data.content}</div>
        </li>
    </ul>
</div>

<div class="remark">
    <ul>
        <li>
            <div class="title">备注</div>
            <div class="times">{$data.remark}</div>
        </li>
    </ul>
</div>


<div class="btn">
    {if condition="($param == 4)"}
    <!-- 已报名-->
    <a href="javascript:;" class="btnRea">已报名</a>
    {else /}
        {if condition="($param == 5)"}
        <!-- 精品课程申请-->
        <a href="javascript:;" class="apply">立即申请</a>
        {else /}
            {if condition="($param == 7)"}
            <!-- 已申请-->
            <a href="javascript:;" class="btnRea">已申请</a>
            {else /}
            <!-- 报名事件-->
            <a href="javascript:;" class="enroll">立即报名</a>
            {/if}
        {/if}
    {/if}
</div>

<!-- map-->
<div class="mapChoose">
    <div class="shadow"></div>
    <div class="mapList">
        <a href="http://api.map.baidu.com/marker?location={$venue.lat},{$venue.lng}&title={$venue.address}&content={$venue.address}&output=html">百度地图</a>
        <a href="https://uri.amap.com/marker?position={$venue.lng},{$venue.lat}&name={$venue.address}">高德地图</a>
        <a href="javascript:;" class="mapBack">取消</a>
    </div>
</div>

<!-- 精品课程申请提示-->
<div class="chooseTig chooseTig0">
    <div class="shadow"></div>
    <div class="tig">
        <p>精品课需先提交管理员审核，审核通过后，才可缴费报名，请您耐心等待。</p>
        <a class="chooseBtn" href="javascript:;">我知道了</a>
    </div>
</div>
<div class="chooseTig chooseTig1">
    <div class="shadow"></div>
    <div class="tig">
        <p>由于您为场馆内部人员，所以当前并无课程报名权限，抱歉。</p>
        <a class="chooseBtn" href="javascript:;">我知道了</a>
    </div>
</div>
<div class="chooseTig chooseTig2">
    <div class="shadow"></div>
    <div class="tig">
        <p>您已是在训学员,暂时不能报名</p>
        <a class="chooseBtn" href="javascript:;">我知道了</a>
    </div>
</div>
<div class="chooseTig chooseTig3">
    <div class="shadow"></div>
    <div class="tig">
        <p>您是非在训学员,暂时不能报名</p>
        <a class="chooseBtn" href="javascript:;">我知道了</a>
    </div>
</div>

<div class="showbox">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
{/block}
{block name='script'}

<script>

    var id = {$data.id};
    var param = {$param};

    /*
     * 地图跳转
     * */

    $(".lists .list").on("click", function () {
        $(".mapChoose").show();
    });

    $(".mapChoose .shadow,.mapChoose .mapBack").on("click", function () {
        $(".mapChoose").hide();
    });

    /*
    * 报名
    * */

    $(".enroll").on('click', function () {
        if (param == 1) {
            $('.chooseTig1').show()
        }else if (param == 2) {
            $('.chooseTig2').show()
        }else if (param == 3) {
            $('.chooseTig3').show()
        }else {
            $(".showbox").show();
            setTimeout(function () {
                $(".showbox").hide();
                window.location.href = '/home/association/payment/id/'+ id +'.html'
            },1500);
        }
    });

    /*
     * 精品课程权限提示
     * */

    $(".apply").one("click",function () {
        $(".chooseTig0").show();
        var that = this;
        $.ajax({
            url: '{:Url("association/payment1")}',
            data: {
                id: id
            },
            type: 'post',
            success: function (data) {
                $(that).removeClass('apply').addClass('btnRea');
                $(that).html('已申请');
            }
        })
    });

    $(".chooseTig .shadow, .chooseTig .chooseBtn").on("click", function () {
        $(".chooseTig").hide();
    });

</script>

{/block}