{extend name="public/common"}

{block name="style"}
<title>我要报名</title>
<link rel="stylesheet" href="/home/css/association/game.css">
{/block}
{block name="body"}

<!--顶部分类-->
<div class="Top">
    <div>比赛报名<span></span></div>
    <div>课程报名<span></span></div>
</div>

<!--正文切换-->
<div class="news">
    {volist name="left" id="vo"}
    <a href="{:Url('Association/gamedetail?id='.$vo['id'])}">
        <img data-original="{$vo.front_cover|get_cover='path'}" class="lazy">
        <div class="newsText">
            <div class="newsTitle">{$vo.title}</div>
            <div class="newsTime">
                {if condition="$vo.end_time < time()"}
                <span>已截止</span>
                {else/}
                <span>{$vo.end_time|time_format='Y-m-d'} 截止</span>
                {/if}
                <span>{$vo.publisher}</span>
            </div>
        </div>
    </a>
    {/volist}
</div>
<div class="news">
    {empty name="$venue"}
    <!-- 无权限显示-->
    <div class="noPower">
        您当前没有所属场馆，只能前往击剑风云-击剑馆中报名公开场馆课程或联系管理员添加所属场馆，抱歉。
    </div>
    {else/}
    <!-- 学员权限显示-->
    <div class="address">
        <div class="addressTitle">{$venue.title}</div>
        <div class="lists">
            <div class="list">
                <a href="javascript:;" class="clearfix">
                    <i class="fl"></i>
                    <span class="fl">{$venue.address}</span>
                </a>
            </div>
            <div class="list">
                <a href="tel:18158417280" class="clearfix">
                    <i class="fl"></i>
                    <span class="fl">{$venue.tel}</span>
                </a>
            </div>
            <div class="list clearfix">
                <i class="fl"></i>
                <span class="fl">{$venue.time}</span>
            </div>
        </div>
    </div>
    <div class="content1">
        <div class="contentList">
            {volist name="right" id="vo"}
            {notempty name='$vo.noChoose'}
            <!-- 精品课权限-->
            <a class="list clearfix" href="javascript:;" onclick="noChoose()">
            {else/}
            {notempty name='$vo.noClick'}
            <!-- 课程冲突-->
            <a class="list clearfix" href="javascript:;" onclick="noClick()">
            {else/}
            <!-- 跳转-->
            <a class="list clearfix" href="{:Url('Association/gamedetail1?id='.$vo['id'])}">
            {/notempty}
            {/notempty}
                <div class="listImg fl">
                    <img data-original="{$vo.front_cover|get_cover='path'}" alt="" class="lazy">
                    {eq name="$vo.type" value="2"}
                    <!-- 精品课的标示-->
                    <i></i>
                    {/eq}
                </div>
                <div class="listContent fl">
                    <div class="title">{$vo.course_name}</div>
                    <div class="summary">{$vo.desc}</div>
                    <div class="note clearfix">
                        <div class="times fl">{$vo.start_time|time_format='Y-m-d'}至{$vo.end_time|time_format='Y-m-d'}</div>
                        <div class="price fr">￥<span>{$vo.price}</span></div>
                    </div>
                </div>
            </a>
            {/volist}
        </div>
    </div>
    {/empty}
</div>

<!-- 精品课权限提示-->
<div class="chooseTig chooseTig2">
    <div class="shadow"></div>
    <div class="tig">
        <p>您当前未报普通课，暂无申请精品课权限，请先报名普通课后再申请，谢谢。</p>
        <a class="chooseBtn" href="javascript:;">我知道了</a>
    </div>
</div>
<!-- 课程冲突提示-->
<div class="chooseTig chooseTig1">
    <div class="shadow"></div>
    <div class="tig">
        <p>由于您当前已有课程，并与该课程的上课时间冲突，所以无法报名，抱歉。</p>
        <a class="chooseBtn" href="javascript:;">我知道了</a>
    </div>
</div>

<!-- map-->
<div class="mapChoose">
    <div class="shadow"></div>
    <div class="mapList">
        <a href="http://api.map.baidu.com/marker?location={$venue.lat},{$venue.lng}&title={$venue.address}&content={$venue.address}&output=html">百度地图</a>
        <a href="https://uri.amap.com/marker?position={$venue.lng},{$venue.lat}&name={$venue.address}">高德地图</a>
        <a href="javascript:;" class="mapBack">取消</a>
    </div>
</div>

<!-- 加载-->
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>

{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>

    /*
    * 点击切换事件
    * */
    $(".Top div").on("click", function () {
        $(this).addClass('active').siblings('div').removeClass('active');
        $('.news').hide();
        $('.news').eq($(this).index()).show();
        setCookie('tab',$(this).index());

        // 初始化条数的判断
        onloadFun();
    });

    /*
     * 上拉加载
     * */

    // 初始状态的判断

    var isScroll = true;  // 开关，增加触发点的流畅
    function onloadFun() {
        var len = 0;
        if (getCookie('tab') == 0) {
            len = $(".news").eq(0).find('a').length;
        }else {
            len = $(".contentList .list").length;
        }
        if (len >= 10) {
            $('.tip' ).text('上拉加载更多');
            // 上拉加载
            loadScroll();
        }else {
            $('.tip').hide();
        }
    }

    // 上拉加载函数

    function loadScroll() {
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = 0;
            var url = '';
            if (getCookie('tab') == 0) {
                len = $(".news").eq(0).find('a').length;
                url = '{:Url("association/more6")}';
            }else {
                len = $(".contentList .list").length;
                url = '{:Url("association/more7")}';
            }
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && isScroll){
                isScroll = false;
                $.ajax({
                    type:"post",
                    url: url,
                    data:{
                        len: len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        isScroll = true;
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            // 数据接收函数
                            addMall(data);
                            lazy();
                            if(data.data.length == 6){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多数据了');
                            $(window ).off("scroll");
                        }
                    }
                })
            }
        })
    }

    /*
    * 数据接收函数
    * */

    function addMall(data) {
        console.log(data);
        var html = '';
        var lists = data.data;
        var len = lists.length;
        var now_time = Math.floor(new Date().getTime() / 1000);
        for(var i = 0; i< len;i++) {
            var list = lists[i];
            if (getCookie('tab') == 0) {
                html += '<a href="/home/association/gamedetail/id/'+ list.id +'.html">'+
                        '<img data-original="'+ list.front_cover +'" class="lazy">'+
                        '<div class="newsText">'+
                        '<div class="newsTitle">'+ list.title +'</div>'+
                        '<div class="newsTime">';
                                if (list.end_time < now_time) {
                                    html += '<span>已截至</span>';
                                }else {
                                    html += '<span>'+ list.time +' 截至</span>';
                                }
                html +=
                        '<span>'+ list.publisher +'</span>'+
                        '</div>'+
                        '</div>'+
                        '</a>';
            }else {

                if (list.noChoose == true) {
                    html += '<a class="list clearfix" href="javascript:;" onclick="noChoose()">';
                }else if (list.noClick == true) {
                    html += '<a class="list clearfix" href="javascript:;" onclick="noClick()">'
                }else {
                    html += '<a class="list clearfix" href="/home/association/gamedetail1/id/'+ list.id +'">';
                }
                html +=

                        '<div class="listImg fl">'+
                        '<img data-original="'+ list.front_cover +'" alt="" class="lazy">';
                                if (list.type == 2) {
                                    html += '<i></i>';
                                }

                html += '</div>'+
                        '<div class="listContent fl">'+
                        '<div class="title">'+ list.course_name +'</div>'+
                        '<div class="summary">'+ list.desc +'</div>'+
                        '<div class="note clearfix">'+
                        '<div class="times fl">'+ list.start_time +'至'+ list.end_time +'</div>'+
                        '<div class="price fr">￥<span>'+ list.price +'</span></div>'+
                        '</div>'+
                        '</div>'+
                        '</a>';
            }
        }
        if (getCookie('tab') == 0) {
            $(".news").eq(0).append(html);
        }else {
            $(".contentList").append(html);
        }
    }

    /*
    * 精品课程权限提示
    * */
    function noChoose() {
        $(".chooseTig2").show();
    }

    $(".chooseTig2 .shadow, .chooseTig2 .chooseBtn").on("click", function () {
        $(".chooseTig2").hide();
    });


    /*
    * 课程冲突提示
    * */
    function noClick() {
        $(".chooseTig1").show();
    }

    $(".chooseTig1 .shadow, .chooseTig1 .chooseBtn").on("click", function () {
        $(".chooseTig1").hide();
    });


    /*
    * 图片懒加载
    * */
    function lazy() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold : 500
        });
    }

    $(function () {
        lazy();

        // 初始化点击事件
        $('.Top div').eq(getCookie('tab')?getCookie('tab'): 0).click();
    });


    /*
     * 地图跳转
     * */
    $(".lists .list:first-of-type").on("click", function () {
        $(".mapChoose").show();
    });

    $(".mapChoose .shadow,.mapChoose .mapBack").on("click", function () {
        $(".mapChoose").hide();
    });

</script>
{/block}