{extend name="public/common"}

{block name="style"}
<title>击剑风云</title>
<link rel="stylesheet" href="/home/css/association/index.css">
<link rel="stylesheet" href="/static/swiper/swiper.min.css">
<script src="/static/swiper/swiper.min.js"></script>
{/block}
{block name="body"}
<!--顶部轮播-->
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/home/images/1.jpg" class="lazy"></div>
                <div class="swiper-slide"><img src="/home/images/1.jpg" class="lazy"></div>
                <div class="swiper-slide"><img src="/home/images/1.jpg" class="lazy"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
<!--首页链接-->
    <div class="mainSort">
        <a href="/home/association/news.html"><img src="/home/images/1.jpg"><p>通知公告</p></a>
        <a href="/home/association/daquan.html"><img src="/home/images/1.jpg"><p>击剑百科</p></a>
        <a href="#"><img src="/home/images/1.jpg"><p>比赛报名</p></a>
        <a href="/home/association/style.html"><img src="/home/images/1.jpg"><p>风采展示</p></a>
    </div>
<!--击剑馆-->
    <div class="products">
        <div class="productsTop">
            <span>击剑馆</span>
            <a href="/home/association/fencing.html" class="more">查看更多 <img src="/home/images/iconRight.png"></a>
        </div>
        <div class="productsMain">
            <div class="swiper-container01">
                <div class="swiper-wrapper">
                    {volist name="list1" id="vo"}
                    <div class="swiper-slide"><a href="{:Url('Association/jjdetail?id='.$vo['id'])}"><img src="{$vo.images|get_cover='path'}" class="lazy"><p>{$vo.title}</p></a></div>
                   {/volist}
                </div>
            </div>
        </div>
    </div>
<!--新闻动态-->
    <div class="news">
        <div class="productsTop">
            <span>新闻动态</span>
            <a href="/home/association/newsmore.html" class="more">查看更多 <img src="/home/images/iconRight.png"></a>
        </div>
        <div class="newsSort">
            <a href="/home/association/newsdetail.html">
                <img src="/home/images/1.jpg" class="lazy">
                <div class="newsText">
                    <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
                    <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
                </div>
            </a>
            <a href="/home/association/newsdetail.html">
                <img src="/home/images/1.jpg" class="lazy">
                <div class="newsText">
                    <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
                    <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
                </div>
            </a>
            <a href="/home/association/newsdetail.html">
                <img src="/home/images/1.jpg" class="lazy">
                <div class="newsText">
                    <div class="newsTitle">“太强了！一击就灭杀了半血的巨龙，琴音姐你说那是零翼发动的攻击吗？”半猫女绯心双眼大睁，心中说不出的震撼。</div>
                    <div class="newsTime"><span>杭州市击剑运动协会</span><span>2018-10-10</span></div>
                </div>
            </a>
        </div>
    </div>
{/block}
{block name="script"}
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 3000,
        pagination: {
            el: '.swiper-pagination',
        },
        loop:true,
    })
    var mySwiper01 = new Swiper('.swiper-container01', {
        slidesPerView: 'auto',
        spaceBetween: 15,
    });
</script>
<script>
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
</script>
{/block}