{extend name="public/common"}

{block name="style"}
<title>击剑馆</title>
<link rel="stylesheet" href="/home/css/association/detail.css">
<link rel="stylesheet" href="/static/swiper/swiper.min.css">
<script src="/static/swiper/swiper.min.js"></script>
{/block}
{block name="body"}
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {volist name="$data['front_cover']" id="vo"}
            <div class="swiper-slide"><img src="{$vo|get_cover='path'}" class="lazy"></div>
            {/volist}

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="detail">
    <!--<div class="detail01">{$data.title}</div>-->
    <!--<div class="detail02">详细地址：<a href="#">{$data.address}</a></div>-->
    <!--<div class="detail02">联系电话：<a href="tel:{$data.tel}">{$data.tel}</a></div>-->
    <!--<div class="detail02">开放时间：{$data.time}</div>-->

    <div class="title"></div>

</div>
<div class="content">
    <p>　{$data.content}</p>
</div>
{/block}
{block name="script"}
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 3000,
        pagination: {
            el: '.swiper-pagination',
        },
        loop:true,
    })
</script>
<script>
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
</script>
{/block}