{extend name="public/common"}

{block name="style"}
<title>击剑馆</title>
<link rel="stylesheet" href="/home/css/association/detail.css">
<link rel="stylesheet" href="/static/swiper/swiper.min.css">
<script src="/static/swiper/swiper.min.js"></script>
{/block}
{block name="body"}
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {volist name="$data['front_cover']" id="vo"}
            <div class="swiper-slide"><img src="{$vo|get_cover='path'}" class="lazy"></div>
            {/volist}

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="detail detailTop">

    <div class="detail01">{$data.title}</div>

    <div class="lists">
        <div class="list">
            <a href="javascript:;" class="clearfix">
                <i class="fl"></i>
                <span class="fl">{$data.address}</span>
            </a>
        </div>
        <div class="list">
            <a href="tel:{$data.tel}" class="clearfix">
                <i class="fl"></i>
                <span class="fl">{$data.tel}</span>
            </a>
        </div>
        <div class="list clearfix">
            <i class="fl"></i>
            <span class="fl">{$data.time}</span>
        </div>
    </div>

</div>
<div class="content1">
    <div class="contentTitle">相关课程</div>
    <div class="contentList">

        {if condition="empty($venue)"}
        <!-- 无课程的提示-->
        <p class="noMsg">暂无课程</p>
        {else /}
        {volist name="venue" id="vo"}
        <a class="list clearfix" href="{:Url('Association/gamedetail1?id='.$vo['id'])}">
            <div class="listImg fl">
                <img src="{$vo.front_cover|get_cover='path'}" alt="" class="lazy">
            </div>
            <div class="listContent fl">
                <div class="title">{$vo.course_name}</div>
                <div class="summary">{$vo.content}</div>
                <div class="note clearfix">
                    <div class="times fl">{$vo.start_time|time_format='Y-m-d'}至{$vo.end_time|time_format='Y-m-d'}</div>
                    <div class="price fr">￥<span>{$vo.price}</span></div>
                </div>
            </div>
        </a>
        {/volist}
        {/if}
    </div>
</div>

<div class="mapChoose">
    <div class="shadow"></div>
    <div class="mapList">
        <a href="http://api.map.baidu.com/marker?location={$data.lat},{$data.lng}&title={$data.title}&content={$data.title}&output=html">百度地图</a>
        <a href="https://uri.amap.com/marker?position={$data.lng},{$data.lat}&name={$data.title}">高德地图</a>
        <a href="javascript:;" class="mapBack">取消</a>
    </div>
</div>

<!-- 加载-->
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>

{/block}
{block name="script"}
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 3000,
        pagination: {
            el: '.swiper-pagination',
        },
        loop:true,
    });

    /*
     * 上拉加载
     * */

    // 初始状态的判断

    var isScroll = true;  // 开关，增加触发点的流畅
    function onloadFun() {
        var len = $(".contentList .list").length;
        if (len >= 10) {
            $('.tip' ).text('上拉加载更多');
            // 上拉加载
            loadScroll();
        }else {
            $('.tip').hide();
        }
    }

    // 上拉加载函数

    function loadScroll() {
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $(".contentList .list").length;
            var tip = $(".tip");
            var loading = $('.loading');
            var id = "{$data.id}";
            if(dh == end && isScroll){
                isScroll = false;
                $.ajax({
                    type:"post",
                    url:"{:Url('Association/detailmore')}",
                    data:{
                        len:len,
                        id:id
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        isScroll = true;
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            // 数据接收函数
                            addMall(data);
                            lazy();
                            if(data.data.length == 6){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多数据了');
                            $(window ).off("scroll");
                        }
                    }
                })
            }
        })
    }

    // 数据接收函数

    function addMall(data) {
        console.log(data);
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++) {
            var list = lists[i];
            html += '<a class="list clearfix" href="/home/association/gamedetail1'+ list.id +'.html">'+
                        '<div class="listImg fl">'+
                            '<img src="'+ list.front_cover +'" alt="" class="lazy">'+
                        '</div>'+
                        '<div class="listContent fl">'+
                            '<div class="title">'+ list.course_name +'</div>'+
                            '<div class="summary">'+ list.content +'</div>'+
                            '<div class="note clearfix">'+
                                '<div class="times fl">'+ list.start_time +'至'+ list.end_time +'</div>'+
                                '<div class="price fr">￥<span>'+ list.price +'</span></div>'+
                            '</div>'+
                        '</div>'+
                    '</a>';
        }
        $(".contentList").append(html);
    }


    /*
    * 懒加载
    * */
    function lazy() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold : 500
        });
    }
    lazy();
    onloadFun();

    /*
    * 地图跳转
    * */
    $(".lists .list:first-of-type").on("click", function () {
        $(".mapChoose").show();
    });

    $(".mapChoose .shadow,.mapChoose .mapBack").on("click", function () {
        $(".mapChoose").hide();
    });

</script>
{/block}