{extend name="public/common"}

{block name="style"}
<title>新闻动态</title>
<link rel="stylesheet" href="/home/css/association/index.css">
{/block}
{block name="body"}
    <div class="news">
        <div class="newsSort" style="padding: .24rem;">
            {volist name="list" id="vo"}
            <a href="{:Url('Association/newsdetail?id='.$vo['id'])}">
                <img src="{$vo.front_cover|get_cover='path'}" class="lazy">
                <div class="newsText">
                    <div class="newsTitle">{$vo.title}</div>
                    <div class="newsTime"><span>{$vo.publisher}</span><span>{$vo.create_time|time_format='Y-m-d'}</span></div>
                </div>
            </a>
            {/volist}
        </div>
    </div>
{/block}
{block name="script"}
<script>
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
</script>
{/block}