{extend name="public/common"}

{block name="style"}
<title>新闻动态</title>
<link rel="stylesheet" href="/home/css/association/detail.css">
<link rel="stylesheet" href="/static/swiper/swiper.min.css">
<script src="/static/swiper/swiper.min.js"></script>
{/block}
{block name="body"}
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide"><img src="{$data.front_cover|get_cover='path'}" class="lazy"></div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="detailS">
    <div class="detail01">{$data.title}</div>
    <div class="detail03"><span>{$data.publisher}</span><span>{$data.create_time|time_format='Y-m-d'}</span></div>
</div>
<div class="content">
    <p>　{$data.content}</p>
</div>
{/block}
{block name="script"}
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 3000,
        pagination: {
            el: '.swiper-pagination',
        },
        loop:true,
    })
</script>
<script>
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
</script>
{/block}