{extend name="public/common"}

{block name="style"}
<title>通知公告</title>
<link rel="stylesheet" href="/home/css/association/news.css">
{/block}
{block name="body"}
<!--顶部分类-->
    <div class="Top">
        <div data-side="1">训练通知<span></span></div>
        <div data-side="2">赛事通知<span></span></div>
        <div data-side="3">比赛成绩<span></span></div>
    </div>
<!--正文切换-->
    <div class="news" id="side1">
        {if condition="empty($left)"}
        <div id="null"><img src="/home/images/null.png" alt=""><p>当前页面暂无内容</p></div>
        {else /}
            {volist name="left" id="a"}
            <a href="{:Url('Association/newsdetail2?id='.$a['id'])}">
                <img data-original="{$a.front_cover|get_cover='path'}" class="lazy">
                <div class="newsText">
                    <div class="newsTitle">{$a.title}</div>
                    <div class="newsTime"><span>{$a.publisher}</span><span>{$a.create_time|time_format='Y-m-d'}</span></div>
                </div>
            </a>
            {/volist}
        {/if}
    </div>
    <div class="news" id="side2">
        {if condition="empty($center)"}
        <div id="null"><img src="/home/images/null.png" alt=""><p>当前页面暂无内容</p></div>
        {else /}
        {volist name="center" id="b"}
        <a href="{:Url('Association/newsdetail2?id='.$b['id'])}">
            <img data-original="{$b.front_cover|get_cover='path'}" class="lazy">
            <div class="newsText">
                <div class="newsTitle">{$b.title}</div>
                <div class="newsTime"><span>{$b.publisher}</span><span>{$b.create_time|time_format='Y-m-d'}</span></div>
            </div>
        </a>
        {/volist}
        {/if}
    </div>
    <div class="news" id="side3">
        {if condition="empty($right)"}
        <div id="null"><img src="/home/images/null.png" alt=""><p>当前页面暂无内容</p></div>
        {else /}
        {volist name="right" id="c"}
        <a href="{:Url('Association/newsdetail2?id='.$c['id'])}">
        <img data-original="{$c.front_cover|get_cover='path'}" class="lazy">
        <div class="newsText">
            <div class="newsTitle">{$c.title}</div>
            <div class="newsTime"><span>{$c.publisher}</span><span>{$c.create_time|time_format='Y-m-d'}</span></div>
        </div>
        </a>
        {/volist}
        {/if}
</div>
<div class="bg"></div>
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
{/block}
{block name="script"}
<script>
    var scrollNow = true;
    // var notice = localStorage.getItem('jjnews')==null?0:localStorage.getItem('jjnews');
    var type = localStorage.getItem('jjnew')==null?1:localStorage.getItem('jjnew');
    $('.Top div').removeClass('active');
    $('.Top div').eq(type-1).addClass('active');
    $('.news').hide();
    $('.news').eq(type-1).show()
    var len = $('.news').eq(type-1).find('a').length;
    if(len >= 6){
        $('.tip' ).text('上拉加载更多');
        loadScroll();
    }else {
        $('.tip' ).hide();
    }
    for(var i=0;i<$('.Top div').length;i++){
        $('.Top div')[i].onclick = function(){
            $('.Top div').removeClass('active');
            $(this).addClass('active');
            var side = $(this).data('side');
            $('.news').hide();
            $('#side'+side).show();
            // localStorage.setItem('jjnews',eq);
            localStorage.setItem('jjnew',side);
            var len = $('.news').eq(side-1).find('a').length;
            if(len >= 6){
                $('.tip' ).text('上拉加载更多');
                loadScroll();
            }else {
                $('.tip' ).hide();
            }
            type = side;
            // loadScroll();
        }
    }

    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var ntc = $('.lists');
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $('.news').eq(type-1).find('a').length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && scrollNow){
                scrollNow = false;
                $.ajax({
                    type:"post",
                    url: "{:Url('Association/more')}",
                    data:{
                        type:type,
                        len:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addLists(data,type);
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }else{
                                tip.text('没有更多数据了');
                                // $(window ).off("scroll");
                            }
                            $("img.lazy").lazyload({
                                placeholder: "/home/images/loading.jpg",
                                effect: "fadeIn",
                                threshold: 1
                            });
                        } else {
                            tip.text('没有更多数据了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;
                    }
                })
            }
        })
    }
    function addLists(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            //var pid = $('.part div' ).eq(list.pid ).text();
            html +=
                '<a href="/home/association/newsdetail2/id/'+ list.id+'.html">'+
                '<img class="lazy" data-original='+list.front_cover+'>'
                +'<div class="newsText">'
                +'<div class="newsTitle">'+list.title+'</div><div class="newsTime"><span>'+list.publisher+'</span><span>'+list.time+'</span></div>'
                +'</div>'
                +'</a>'
        }
        $('.news').eq(type-1).append(html);
    }
</script>
<script>
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
    $(document).scroll(function() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold: 1
        });
    });
</script>
{/block}