{extend name='public/common'}
{block name='style'}
<title>我要报名</title>
<link rel="stylesheet" href="/home/css/association/payment.css">
{/block}
{block name='body'}

<!-- 课程报名-->
<div class="lists">
    <div class="title">课程报名</div>
    <div class="content">
        <div class="titlePriceNum">
            <div class="titlePrice clearfix">
                <div class="fl">{$data.course_name}</div>
                <div class="price fr">￥<span>{$data.price}</span></div>
            </div>
            <div class="num">节数：{$data.num}</div>
        </div>
        <div class="line"></div>
        <div class="address">
            <a href="javascript:;" class="clearfix">
                <i class="fl"></i>
                <span class="fl">{$venue.address}</span>
            </a>
        </div>
    </div>
</div>

<!-- 人员信息-->
<div class="lists">
    <div class="title">人员信息</div>
    <div class="error"><img src="/home/images/game/icon10.png" class="gantan">部分信息无法获取，需要补充完善才可进行报名！</div>
    <div class="content">
        <ul>
            <li class="clearfix active">
                <div class="name fl">姓名</div>
                <input type="text" value="{$model.name}" placeholder="暂无" disabled class="fr name1">
            </li>
            <li class="clearfix active">
                <div class="name fl">出生日期</div>
                <input type="text" value="{$model.birthday}" placeholder="暂无" disabled class="fr setData">
            </li>
            <li class="clearfix active">
                <div class="name fl">性别</div>
                <input type="text" value="{eq name='$model.gender' value='2'}女{else/}男{/eq}" placeholder="暂无" disabled class="fr sale">
            </li>
            <li class="clearfix active">
                <div class="name fl">监护人电话</div>
                <input type="text" value="{$model.guardian_mobile}" placeholder="暂无" disabled class="fr phone">
            </li>
            <li class="clearfix active">
                <div class="name fl">身份证号</div>
                <input type="text" value="{$model.identity}" placeholder="暂无" disabled class="fr personId">
            </li>
            <li class="clearfix active">
                <div class="name fl">家庭住址</div>
                <input type="text" value="{$model.address}" placeholder="暂无" disabled class="fr address1">
            </li>
        </ul>
    </div>
</div>

<!-- 备注-->
<div class="lists">
    <div class="title">备注</div>
    <div class="content">
        <textarea name="" id="" placeholder="请填写相关备注"></textarea>
    </div>
</div>

<!-- 应付款-->
<div class="lists">
    <div class="title">应付款</div>
    <div class="pay">
        价格：<span>￥</span><span>{$data.price}</span>
    </div>
</div>

<div class="btn">
    <!-- 去付款-->
    <a href="javascript:;" class="payMoney">去付款</a>
</div>

<!-- map-->
<div class="mapChoose">
    <div class="shadow"></div>
    <div class="mapList">
        <a href="http://api.map.baidu.com/marker?location={$venue.lat},{$venue.lng}&title={$venue.address}&content={$venue.address}&output=html">百度地图</a>
        <a href="https://uri.amap.com/marker?position={$venue.lng},{$venue.lat}&name={$venue.address}">高德地图</a>
        <a href="javascript:;" class="mapBack">取消</a>
    </div>
</div>


<div class="showbox">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>

<div id="pay">
    <div class="infoError">
        <div class="payError01"><img src="/home/images/game/icon08.png" alt=""></div>
        <div class="payError02">
            <p>请前往个人中心完善所有信息</p>
            <p>才可进行报名付款！</p>
        </div>
        <div class="payError03">我知道了</div>
    </div>
</div>

<!-- payChoose-->
<div class="payChoose">
    <div class="shadow"></div>
    <div class="chooseList">
        <a href="javascript:;" class="zhifubao">支付宝</a>
        <a href="javascript:;" class="weixin">微信</a>
        <a href="javascript:;" class="mapBack">取消</a>
    </div>
</div>

{/block}
{block name='script'}
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>

    var id = {$data.id};
    var price = {$data.price};
    var id_ = 0;

    /*
     * 地图跳转
     * */

    $(".address a").on("click", function () {
        $(".mapChoose").show();
    });

    $(".mapChoose .shadow").on("click", function () {
        $(".mapChoose").hide();
    });

    /*
    * 初始化判断
    * */
    var isWrite = false;
    if ($('.name1').val() != '' && $('.setData').val() != '' && $('.sale').val() != '' && $('.phone').val() != '' && $('.personId').val() != '' && $('.address1').val() != '') {
        isWrite = true;
    }else {
        $('#pay').show();
        $('.error').show();
        $('.btn a').css('backgroundColor',"#C2C2C2");
    }

    /*
    * 去付款
    * */
    $(".payMoney").on('click', function () {
        if (isWrite == true) {
            $.ajax({
                url: '{:Url("association/commit")}',
                type: 'post',
                data: {
                    course_id: id,
                    remark: $('textarea').val()
                },
                beforeSend: function(XMLHttpRequest){
                    $(".showbox").show();
                },
                success: function (msg) {
                    $(".showbox").hide();
                    $('.payChoose').show();
                    id_ = msg.data.id;
                }
            })
        }else {
            $('#pay').show();
        }
    });

    /**
     * payChoose
     * */
    $('.payChoose a').on('click', function () {
        if ($(this).hasClass('zhifubao')) {
            // 调取支付宝接口

        }else if ($(this).hasClass('weixin')) {
            payPrice(msg.data.id,price,'/home/association/paysuccess1/id/'+ id_);
        }else {
            $('.payChoose').hide();
        }
    });
    $('.payChoose .shadow').on('click', function () {
        $('.payChoose').hide();
    });



    $('.infoError .payError03').on('click',function(){
        $('#pay').hide();
    });


    function payPrice(id,price,url) {
        $.post('/home/pay/wxpay', {price: price,pid: id,type:1})
            .then(function (response) {
                console.log(response);
                if (response) {
                    if (typeof WeixinJSBridge == "undefined"){
                        if( document.addEventListener ){
                            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                        }else if (document.attachEvent){
                            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                        }
                    } else {
                        WeixinJSBridge.invoke(
                                'getBrandWCPayRequest',  JSON.parse(response),
                                function (res) {
                                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                                        $('.btn a').css('backgroundColor',"#C2C2C2");
                                        setTimeout(function () {
                                            window.location.href = url;
                                        },1500);
                                    }
                                    // 使用以上方式判断前端返回,微信团队郑重提示：
                                    // res.err_msg将在用户支付成功后返回
                                    // ok，但并不保证它绝对可靠。
                                }
                        );
                    }

                } else {
                    swal({
                        title: "",
                        text: response.data.error_msg,
                        type: "error",
                        confirmButtonColor: "#ffb45b",
                        confirmButtonText: "确定",
                    });
                }
            })
    }

</script>

{/block}