{extend name="public/common"}

{block name="style"}
<title>我要报名</title>
<link rel="stylesheet" href="/home/css/association/game.css">
<style>
    .sucDetail02 {
        padding-left: 0;
        text-align: center;
    }
</style>
{/block}
{block name="body"}
<div class="sucTop">
    <img src="/home/images/game/icon09.png" alt="">
    <p>恭喜您课程报名成功！</p>
</div>
<div class="sucDetail">
    <div class="sucDetail01">{$data.course_name}</div>
    <div class="sucDetail02"><img src="/home/images/game/icon02.png" class="icon">{$venue.address}</div>
    <div class="sucDetail02"><img src="/home/images/game/icon03.png" class="icon">课程时效：{$data.start_time}至{$data.end_time}</div>
    <div class="sucDetail02"><img src="/home/images/game/icon14.png" class="icon">课程节数：{$data.num}</div>
</div>
<div class="sucDetail04">付款金额：100</div>
<div class="sucDetail04">支付方式：微信支付</div>
<div class="sucDetail04">届时请按时参加比赛。</div>
<div class="sucDetail05">
    如果有对课程有疑问请在个人中心我的培训进行查看！
</div>
<a href="javascript:;"  class="sucDetail06">返回报名列表</a>
{/block}
{block name="script"}

<script>

    $('.sucDetail06').on('click', function () {
        history.go(-3);
    });

</script>

{/block}