{extend name="public/common"}

{block name="style"}
<title>我要报名</title>
<link rel="stylesheet" href="/home/css/association/game.css">

<style>

    .sucTop img {
        height: auto;
    }

</style>

{/block}
{block name="body"}
    <div class="sucTop">
        <img src="/home/images/game/icon09.png" alt="">
        <p>恭喜您比赛报名成功！</p>
    </div>
    <div class="sucDetail">
        <div class="sucDetail01">{$data.title}</div>
        <div class="sucDetail02"><img src="/home/images/game/icon02.png" class="icon">{$data.address}</div>
        <div class="sucDetail02"><img src="/home/images/game/icon03.png" class="icon">截止时间：{$data.end_time}</div>
        <div class="sucDetail03">
            <p><span>姓名</span><span>{$data.name}</span></p>
            <p><span>组别</span><span>{$data.group_name}</span></p>
            <p><span>剑种</span><span>{$data.kinds}</span></p>
            <p><span>赛别</span><span>{$data.type}</span></p>
            <p><span>代表单位</span><span>{$data.representative}</span></p>
        </div>
    </div>
<div class="sucDetail04">付款金额：{$data.price}</div>

{if condition="($data['choose'] == 1)"}
<div class="sucDetail04">支付方式：支付宝支付</div>
{elseif condition="($data['choose'] == 2)" /}
<div class="sucDetail04">支付方式：微信支付</div>
{/if}

<div class="sucDetail04">届时请按时参加比赛。</div>
<div class="sucDetail05">
    如果有对比赛有疑问或有其他原因需要退赛 <br>
    请在个人中心我的比赛中进行退赛（退款）申请！
</div>
<a href="/home/association/game.html"><div class="sucDetail06">返回列表</div></a>
{/block}
{block name="script"}
<script>
    var objNow=1;//退出事件
    var isAll = true;//是否全部完成
    isOut();
    window.confirm = function(name){
        //隐藏提示框的url,返回按钮结果
        var iframe = document.createElement("IFRAME");
        iframe.style.display="none";
        iframe.setAttribute("src", 'data:text/plain,');
        document.documentElement.appendChild(iframe);
        var result = window.frames[0].window.confirm(name);
        iframe.parentNode.removeChild(iframe);
        return result;
    };
    //防止恶意刷新
    function pushHistory(){
        var sta = {
            title: "title"
        };
        if( window.history.state === null )
        {
            window.history.pushState( sta, "title" );
        }
    }
    //退出提示
    function isOut(){
        pushHistory();
        setTimeout(function(){
//            swal({
//                title: ' ',
//                text: '提交成功',
//                type: 'success',
//                confirmButtonText:'确定'
//            },function(){
//                console.log(1)
////                javascript:history.go(-1);
//            });
            window.addEventListener("popstate", function(e) {
                window.history.go(-5);
                // if(objNow){
                //     swal({
                //             title: "您未保存，是否离开当前页面?",
                //             type: "warning",
                //             showCancelButton: true,
                //             closeOnConfirm: false,
                //             confirmButtonText: '确定',
                //             cancelButtonText: '取消'
                //         },
                //         function (isConfirm) {
                //             if (isConfirm) {
                //                 window.history.go(-1);
                //             } else {
                //                 pushHistory();
                //             }
                //         });
                // }
                // else{
                //     window.history.go(-1);
                // }
            }, false);
        },200)
    }
</script>
{/block}