{extend name="public/common"}

{block name="style"}
<title>风采展示</title>
<link rel="stylesheet" href="/home/css/association/style.css">
{/block}
{block name="body"}
<!--顶部分类-->
    <div class="Top">
        <div data-side="1" class="active">教练员<span></span></div>
        <div data-side="2">运动员<span></span></div>
    </div>
<!--正文切换-->
    <div class="news" id="side1" style="display: block;">
        {volist name="left" id="a"}
        <a href="#">
            <img src="{$a.front_cover|get_cover='path'}" class="lazy">
            <div class="user">
                <div class="userName">{$a.name}<span></span></div>
                <div class="userSort">
                    <span>{$a.class}</span>

                </div>
                <div class="userText">{$a.content}</div>
            </div>
        </a>
        {/volist}
    </div>
<div class="news" id="side2">
    {volist name="right" id="b"}
    <a href="/home/association/newsdetail.html">
        <img src="{$b.front_cover|get_cover='path'}" class="lazy">
        <div class="user">
            <div class="userName">{$b.name}<span></span></div>
            <div class="userSort1">
                <span>{$b.class}</span>
            </div>
            <div class="userDetail01">{$b.school}</div>
            <div class="userDetail02">{$b.site}</div>
        </div>
    </a>
    {/volist}
</div>
<!--弹出框-->
    <div class="fixed">
        <div class="information">
            <div class="close"><img src="/home/images/1.jpg"></div>
            <div class="inImg"><img src="/home/images/1.jpg" class="lazy"></div>
            <div class="inName">张教练</div>
            <div class="userSort">
                <span>击剑</span>
                <span>佩剑</span>
                <span>重剑</span>
            </div>
            <div class="inText">而零翼城不仅有绝佳的环境，现在还有如此防御手段，可以说是所有玩家生活发展的首选。</div>
            <ol><span>职业年限</span><span>五年</span></ol>
            <ol><span>岗位级别</span><span>2级</span></ol>
            <ol><span>所获奖项</span><span>而零翼城不仅有绝佳的环境，现在还有如此防御手段，可以说是所有玩家生活发展的首选。</span></ol>
        </div>
    </div>
{/block}
{block name="script"}
<script>
    for(var i=0;i<$('.Top div').length;i++){
        $('.Top div')[i].onclick = function(){
            $('.Top div').removeClass('active');
            $(this).addClass('active');
            var side = $(this).data('side');
            $('.news').hide();
            $('#side'+side).show();
        }
    }
    $('#side1 a').on('click',function(){
        $('.fixed').show();
    })
    $('.close').on('click',function(){
        $('.fixed').hide();
    })
</script>
<script>
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
</script>
{/block}