{extend name="public/common"}

{block name="style"}
<title>风采展示</title>
<link rel="stylesheet" href="/home/css/association/style.css">
{/block}
{block name="body"}
<!--顶部分类-->
    <div class="Top">
        <div data-side="1" class="active">教练员<span></span></div>
        <div data-side="2">运动员<span></span></div>
    </div>
<!--正文切换-->
    <div class="news" id="side1">
        {volist name="left" id="a"}
        <a><img src="{$a.front_cover|get_cover='path'}" class="lazy">
            <div class="user">
                <div class="userName">{$a.name}<span></span></div>
                <div class="userSort"><span>{$a.class}</span></div>
                <div class="userText">{$a.content}</div>
            </div>
        </a>
        {/volist}
    </div>
<div class="news" id="side2">
    {volist name="right" id="b"}
    <a href="/home/association/newsdetail.html">
        <img src="{$b.front_cover|get_cover='path'}" class="lazy">
        <div class="user">
            <div class="userName">{$b.name}<span></span></div>
            <div class="userSort1">
                <span>{$b.class}</span>
            </div>
            <div class="userDetail01">{$b.school}</div>
            <div class="userDetail02">{$b.site}</div>
        </div>
    </a>
    {/volist}
</div>
<!--弹出框-->
    <div class="fixed">
        <div class="information">
            <div class="close"><img src="/home/images/1.jpg"></div>
            <div class="inImg"><img src="/home/images/1.jpg" class="lazy"></div>
            <div class="inName">张教练</div>
            <div class="userSort">
                <span>击剑</span>
                <span>佩剑</span>
                <span>重剑</span>
            </div>
            <div class="inText">而零翼城不仅有绝佳的环境，现在还有如此防御手段，可以说是所有玩家生活发展的首选。</div>
            <ol><span>职业年限</span><span>五年</span></ol>
            <ol><span>岗位级别</span><span>2级</span></ol>
            <ol><span>所获奖项</span><span>而零翼城不仅有绝佳的环境，现在还有如此防御手段，可以说是所有玩家生活发展的首选。</span></ol>
        </div>
    </div>
<div class="bg"></div>
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
{/block}
{block name="script"}
<script>
    var scrollNow = true;
    // var notice = localStorage.getItem('jjstyles')==null?0:localStorage.getItem('jjstyles');
    var type = localStorage.getItem('jjstyle')==null?1:localStorage.getItem('jjstyle');
    $('.Top div').removeClass('active');
    $('.Top div').eq(type-1).addClass('active');
    $('.news').hide();
    $('.news').eq(type-1).show()
    var len = $('.news').eq(type-1).find('a').length;
    if(len >= 6){
        $('.tip' ).text('上拉加载更多');
        loadScroll();
    }else {
        $('.tip' ).hide();
    }
    for(var i=0;i<$('.Top div').length;i++){
        $('.Top div')[i].onclick = function(){
            $('.Top div').removeClass('active');
            $(this).addClass('active');
            var side = $(this).data('side');
            $('.news').hide();
            $('#side'+side).show();
            // localStorage.setItem('jjstyles',eq);
            localStorage.setItem('jjstyle',side);
            var len = $('.news').eq(side-1).find('a').length;
            if(len >= 6){
                $('.tip' ).text('上拉加载更多');
                loadScroll();
            }else {
                $('.tip' ).hide();
            }
            type = side;
            // loadScroll();
        }
    }

    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var ntc = $('.lists');
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $('.news').eq(type-1).find('a').length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && scrollNow){
                scrollNow = false;
                $.ajax({
                    type:"post",
                    url: "{:Url('Association/more3')}",
                    data:{
                        type:type,
                        len:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addLists(data,type);
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }else{
                                tip.text('没有更多数据了');
                                // $(window ).off("scroll");
                            }
                            $("img.lazy").lazyload({
                                placeholder: "/home/images/loading.jpg",
                                effect: "fadeIn",
                                threshold: 1
                            });
                        } else {
                            tip.text('没有更多数据了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;
                    }
                })
            }
        })
    }
    function addLists(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        if(type == 1){
            for(var i = 0; i< len;i++){
                var list = lists[i];
                //var pid = $('.part div' ).eq(list.pid ).text();
                html +=' <a><img data-original="'+list.front_cover+'" class="lazy"><div class="user"><div class="userName">'+list.name+'<span></span></div><div class="userSort"><span>'+list.class+'</span></div><div class="userText">'+list.content+'</div></div></a>'
            }
        }else {
            for(var j = 0; j< len;j++){
                var list = lists[j];
                html +='<a href="/home/association/newsdetail/id/'+ list.id+'.html">'
                        +'<img class="lazy" data-original='+list.front_cover+'>'
                        +'<div class="user">'
                        +'<div class="userName">'+list.name+'<span></span></div>'
                        +'<div class="userSort1"> <span>'+list.class+'</span> </div>'
                        +'<div class="userDetail01">'+list.school+'</div><div class="userDetail02">'+list.site+'</div>'
                        +'</div>'
                        +'</a>'
            }
        }
        $('.news').eq(type-1).append(html);
    }
    $(document).on('click','#side1 a',function(){
        $('.fixed').show();
    })
    $('.close').on('click',function(){
        $('.fixed').hide();
    })
</script>
<script>
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
    $(document).scroll(function() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold: 1
        });
    });
</script>
{/block}