{extend name="public/pure"}

{block name="style"}
<title>活动签到</title>
<link rel="stylesheet" href="/home/sass/stylesheets/signin/detail.css">
{/block}

{block name="body"}
<div class="banner">
    <img src="/home/images/common/default.png">
</div>
<div class="list">
    <ul>
        <li>
            名称
            <span>{$data.title}</span>
        </li>
        <li>
            主办方
            <span>{$data.branch}</span>
        </li>
        <li>
            时间
            <span>{$data.meet_time|substr=0,16}&nbsp;到&nbsp;{$data.meet_endtime|substr=0,16}</span>
        </li>
        <li>
            地点
            <p><span>{$data.meet_home}</span></p>
        </li>
        <li>
            电话
            <span>{$data.tel}</span>
        </li>
    </ul>
</div>
<div class="people">
    参会人
    <ul>
        {volist name="data2" id="vo"}
        <li>
            <img src="{$vo.image}">
            <p>{$vo.userid}</p>
        </li>
       {/volist}
    </ul>

</div>
{eq name="$is" value="1"}
<div id="sign">扫一扫签到</div>
{/eq}
{/block}

{block name="script"}
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>





</script>
{/block}