{extend name="public/pure"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/signin/detail.css">
{/block}

{block name="body"}
<div class="banner">
    <img src="/home/images/common/default.png">
</div>
<div class="list">
    <ul>
        <li>
            名称
            <span>的点点滴滴多多多多多多多多多多多多多多多多多多多多多的点点滴滴多多多多多多多多多多多多多多多多多多</span>
        </li>
        <li>
            主办方
            <span>的点多多ffff多多多</span>
        </li>
        <li>
            时间
            <span>2017-11-15 10:00 到 2017-11-16 12:30</span>
        </li>
        <li>
            地点
            <p><span>的点点滴滴多多多多多多多多多多多多多多多多多多多多多的点点滴滴多多多多多多多多多多多多多多多多多多</span></p>
        </li>
        <li>
            电话
            <span>18584741236</span>
        </li>
    </ul>
</div>
<div class="people">
    参会人
    <ul>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟嘟嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟嘟嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟是嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟是嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟是嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟是的嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟是嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟是嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟是嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟是嘟</p>
        </li>
        <li>
            <img src="/home/images/learn.png">
            <p>嘟嘟</p>
        </li>

    </ul>

</div>
<div id="sign">扫一扫签到</div>
{/block}

{block name="script"}
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>


    //点击按钮扫描二维码
    document.querySelector('#sign').onclick = function() {
        wx.scanQRCode({
            needResult : 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType : [ "qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success : function(res) {
                var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                window.location.href = result;//因为我这边是扫描后有个链接，然后跳转到该页面
            }
        });
    };


</script>
{/block}