{extend name="public/pure"}

{block name="style"}
<title>活动签到</title>
<link rel="stylesheet" href="/home/sass/stylesheets/signin/detail.css">
{/block}

{block name="body"}
<div class="banner">
    <img src="/home/images/common/default.png">
</div>
<div class="list">
    <ul>
        <li>
            名称
            <span>{$data.title}</span>
        </li>
        <li>
            主办方
            <span>{$data.branch}</span>
        </li>
        <li>
            时间
            <span>{$data.meet_time|substr=0,16}&nbsp;到&nbsp;{$data.meet_endtime|substr=0,16}</span>
        </li>
        <li>
            地点
            <p><span>{$data.meet_home}</span></p>
        </li>
        <li>
            电话
            <span>{$data.tel}</span>
        </li>
    </ul>
</div>
<div class="people">
    参会人
    <ul>
        {volist name="data2" id="vo"}
        <li>
            <img src="{$vo.image}">
            <p>{$vo.userid}</p>
        </li>
       {/volist}
    </ul>

</div>
<div id="sign">扫一扫签到</div>
{/block}

{block name="script"}
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>

    //---微信接口JS-SDK的调用
    wx.config({
        debug: false,
        appId: '{$jsSign.appid}',
        timestamp: {$jsSign['timestamp']},
        nonceStr: '{$jsSign.noncestr}',
        signature: '{$jsSign.signature}',
        jsApiList: [
            'checkJsApi',
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'scanQRCode'
        ]
    });

    wx.ready(function () {
        wx.checkJsApi({
            jsApiList : ['scanQRCode'],
            success : function(res) {
                alert(JSON.stringify(res))
            }
        });

        //点击按钮扫描二维码
        document.getElementById('sign').onclick = function() {
            wx.scanQRCode({
                needResult : 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType : [ "qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success : function(res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    window.location.href = result;//因为我这边是扫描后有个链接，然后跳转到该页面
                }
            });
        };

    });
        wx.error(function (res) {
            alert('wx.error: '+JSON.stringify(res));
        });

</script>
{/block}