{extend name="public/common"}

{block name="style"}
<title>网上党校</title>
<link rel="stylesheet" href="/home/css/constitution/game.css">
<link rel="stylesheet" href="/home/css/learn/course.css">

{/block}

{block name="body"}
	<div class="tabs clear">
		<div class="tab"><span>每日一课</span></div>
		<div class="tab"><span>在线答题</span></div>
	</div>
<div class="content" ontouchstart="" onmouseover="">

	<!--每日一课-->
	<div class="notices hidden">
		{eq name = "check" value = "0"}
		<div class="notice activity">
			<div class="lists">
				{volist name="question" id="vo" key="n"}
				<div class="list" data-tab="{$vo.id}">
					<div class="title">{$vo.title}</div>
					{volist name="vo->Option" id="value" key="k"}
					<label>{if condition="($k eq 1) AND ($value neq ' ') AND ($value neq '-')"}A{elseif condition="($k eq 2) AND ($value neq ' ') AND ($value neq '-')"}B{elseif condition="($k eq 3 )AND ($value neq ' ') AND ($value neq '-')"}C{elseif condition="($k eq 4 ) AND ($value neq ' ') AND ($value neq '-')"/}D{/if}.{$value|substr=###,'2'}</label>
					{/volist}
					<div class="number">{$n} / 3</div>
				</div>
				{/volist}
			</div>
			{eq name='visit' value="0"}
			<div class="submit" data-toggle="modal" data-target="#modal">确认提交</div>
			{/eq}
			<!--模态框-->
			<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div>正确答案 : <span id="true1"></span></div>
							<div class="text-center">本次得分：<span class="scores"></span> 分</div>
						</div>
						<div class="modal-footer">
							<a href="" id="link">查看详情</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{else/}
		<div class="notice activity">
			<div class="lists">
				{volist name="question" id="vo" key="n"}
				<div class="list" data-tab="题号">
					<div class="title" >{$vo.title}</div>
					{volist name="vo->Option" id="value" key="k"}
					<label  {eq name="vo.right" value="$k" }class="checked" {/eq}>{if condition="($k eq 1) AND ($value neq ' ') AND ($value neq '-') "}A{elseif condition="($k eq 2) AND ($value neq ' ') AND ($value neq '-')"}B{elseif condition="($k eq 3 )AND ($value neq ' ') AND ($value neq '-')"}C{elseif condition="($k eq 4 )AND ($value neq ' ') AND ($value neq '-')"/}D{/if}.{$value|substr=###,'2'}</label>
					{/volist}
					<div class="note">
						<span class="true">正确答案：<i>{$vo->Right|implode=###,"&nbsp;&nbsp;&nbsp;"}</i></span>
						<span class="number">{$n} / 3</span>
					</div>
				</div>
				{/volist}
			</div>
		</div>
		{/eq}
	</div>

	<!--在线答题-->
	<div class="notices hidden">
		<div class="notice party">
			{eq name="visit" value="0"}
			<!--<img src="/home/images/game2.png" alt="" class="text">-->
			{if condition='$info eq null'}
			<a class="start start1">开始答题</a>
			{elseif condition='$exist eq 0'/}
			<a class="start goon">继续答题</a>
			<a class="continue">重新开始</a>
			{else/}
			<a class="start start1">开始答题</a>
			{/if}
			{else/}
			<a class="start" href="">游客暂无权限</a>
			{/eq}
		</div>
	</div>

</div>

<div class="foot"></div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
	var c;
	var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
	 c =  parseInt(window.location.href.split("game/c/")[1]);
	console.log(c)
	$(function(){
		//tab初始化和数据存储
		var ntc = $('.notices');
		var co = getCookie("type");
		if(co == 11 || co == 12 || co == 13){
				c = co - 10;
			}else if(localStorage.c) {
			c = localStorage.c
		}else {
			c = c;
		}
		$('.tabs>.tab').eq(c-1).find('span').addClass('active');
		ntc.eq(c-1).removeClass('hidden');
		if(c == 1){
			$(".content").css({"position":"inherit", "margin-top":"0", "margin-left":"0","height":"100%"});
		}else{
			$(".content").css({"position":"relative", "margin-top":"35vh", "margin-left":"calc(50% - 75px)","height":"0"})
		}
		//tab切换
		$('.tabs>.tab ').on('click',function(){
			var ntc = $('.notices' );
			var eq = $(this ).index();
			$(this ).siblings('.tab' ).find('span' ).removeClass('active');
			$(this ).find('span' ).addClass('active');
			ntc.eq(eq ).siblings('.notices' ).addClass('hidden');
			ntc.eq(eq).removeClass('hidden');
			if(eq==0){
				$(".content").css({"position":"inherit", "margin-top":"0", "margin-left":"0","height":"100%"});
			}
			if(eq == 1){
				$(".content").css({"position":"relative", "margin-top":"35vh", "margin-left":"calc(50% - 75px)","height":"0"})
			}
			//使用示例
			setCookie("type",eq+11);
		});
		//安卓4.4tab兼容
		var u = navigator.userAgent;
		var isAnd = !u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
		if(isAnd){
			var num = u.substr(u.indexOf('Android') + 8, 3);
			if(num <= 4.4){
				var tabw = $('.tabs').width()/3 -2;
				$('.tabs>.tab').width(tabw);
			}
		}
	});
</script>

<script>
	/**
	 * 每日一课
	 */
		//提交
	$(function(){
		$('.submit').on('click',function(e){
			var data = [];
			$('.activity .list').each(function(){
				var id = $(this ).attr('data-tab');
				var answer = $(this ).find('.checked' ).index();
				data.push([id,answer]);
			});
			$.ajax({
				type:"post",
				url:"{:Url('Constitution/commit')}",
				data:{'data':data},
				success:function(data){
					$('.scores').html(data.url.score);
					$('.modal').unbind('click');
					$('#true1').html('<br>1.'+data.url.right[1]+'，2.'+data.url.right[2]+'，3.'+data.url.right[3]);
					$('#link').attr('href','/home/Constitution/game/c/1/id/'+data.url.id);
				}
			});
		});

	})
</script>
<!--当日已经答题就不能选中lable-->

<script>
	if ({$check} == 0){
		//选中样式变化
		$(function() {
			$('label').on('click', function (e) {
				var it = $(this);
				it.addClass('checked');
				it.siblings('label').removeClass('checked');
			});
		});
	}

	$(".party .start1").click(function(){
		window.location.href = "{:Url('Constitution/answer')}";
	})
	$(".party .goon").click(function(){
		window.location.href = "{:Url('Constitution/goon')}";
	})
	$(".party .continue").click(function(){
		window.location.href = "{:Url('Constitution/answer')}";
	})


</script>

{/block}