{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/constitution/game.css">
{/block}

{block name="body"}
<div class="top clear">
	<div class="tab fl"><a href="{:Url('Constitution/game')}">在线答题</a></div>
	<div class="tab fl"><a href="{:Url('Constitution/rank?type=2')}">积分排行</a></div>
</div>
<div class="content" ontouchstart="" onmouseover="">
	{eq name="visit" value="0"}
	<!--<img src="/home/images/game2.png" alt="" class="text">-->
	{if condition='$info eq null'}
	<a class="start" href="{:Url('Constitution/answer')}">开始答题</a>
	{elseif condition='$exist eq 0'/}
	<a class="start" href="{:Url('Constitution/goon')}">继续答题</a>
	<a class="continue" href="{:Url('Constitution/answer')}">重新开始</a>
	{else/}
	<a class="start" href="{:Url('Constitution/answer')}">开始答题</a>
	{/if}
	{else/}
	<a class="start" href="">游客暂无权限</a>
	{/eq}
</div>

<div class="foot"></div>

{/block}

{block name="script"}
<script>
	$(function(){
		//模块标题
		$('title' ).text('两学一做');
	});
</script>
{/block}