{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/constitution/index.css">
{/block}

{block name="body"}
<!--banner-->
<div class="banner">
    <img src="/home/images/feedback/feedback.jpg" alt="建言献策banner图">
</div>
<!--tab-->
<div class="tabs clear">
    <div class="tab"><span>每日一课</span></div>
    <div class="tab"><span>在线答题</span></div>
</div>
<!--切换列表-->
<div class="content">
    <!--两学一做-->
    <div class="notices hidden">
        <div class="notice regularmore">
            <!--课程列表-->
            <div class="lists">
                <!--图文课程-->
                {volist name="list2" id="vo"}
                {eq name="vo.type" value="2"}
                <a href="{:Url('Learn/article?id='.$vo['id'])}" class="list">
                    <div class="tab">图文</div>
                    {else/}
                    <a href="{:Url('Learn/video?id='.$vo['id'])}" class="list">
                        <div class="tab">视频</div>
                        {/eq}
                        <img src="{$vo.front_cover|get_cover='path'}" alt="图片" class="img">
                        <div class="title limit">{$vo.title}</div>
                        <span class="study">{$vo.views}人阅读过</span>
                    </a>
                    {/volist}
            </div>
        </div>
    </div>
    </div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
    var c =  parseInt(window.location.href.split("index/c/")[1]);
    $(function(){
        //tab初始化和数据存储
        var ntc = $('.notices');
        var co = getCookie("type");
        if(co == 11 || co == 12 || co == 13){
            c = co - 10;
        }
        $('.tabs>.tab').eq(c-1).find('span').addClass('active');
        ntc.eq(c-1).removeClass('hidden');
        //两学一做上拉加载
        if(c == 1){
            var len = ntc.eq(c-1 ).find('.notice:last .list').length;
            if(len >= 3){
                $('.tip' ).text('上拉加载更多');
                loadScroll(c);
            }
        }else{
            $('.tip' ).hide();
        }
        //tab切换
        $('.tabs>.tab ').on('click',function(){
            var ntc = $('.notices' );
            var eq = $(this ).index();
            $(this ).siblings('.tab' ).find('span' ).removeClass('active');
            $(this ).find('span' ).addClass('active');
            ntc.eq(eq ).siblings('.notices' ).addClass('hidden');
            ntc.eq(eq).removeClass('hidden');
            if(eq == 1){
                var len = ntc.eq(eq ).find('.notice:last .list').length;
                if(len >= 5){
                    $('.tip' ).text('上拉加载更多');
                    loadScroll(eq+1);
                }
            }else{
                $('.tip' ).hide();
                $(window ).off("scroll" );
            }
            //使用示例
            setCookie("type",eq+11);
        });
        //安卓4.4tab兼容
        var u = navigator.userAgent;
        var isAnd = !u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
        if(isAnd){
            var num = u.substr(u.indexOf('Android') + 8, 3);
            if(num <= 4.4){
                var tabw = $('.tabs').width()/3 -2;
                $('.tabs>.tab').width(tabw);
            }
        }
    });
</script>
{/block}