{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/constitution/rank.css">
{/block}

{block name="body"}
<div class="gra">
	<a href="" onclick="return false;" data-toggle="modal" data-target="#myModal"><img class="que" src="/home/images/constitution/que.png" alt="问号"></a>
</div>
<!--个人积分排名-->
<div class="my">
	{eq name="$per.header" value=""}
	<img src="{$per.avatar}" alt="头像">
	{else/}
	<img src="{$per.header}" alt="头像">
	{/eq}
	{eq name="$type" value="1"}
	<span class="name_">
		<span>{$per.name}</span>
		<span class="n">{$per.trad_rank}</span>
	</span>
	<span class="scores">{$per.trad_score} 分</span>
	{else/}
	<span class="name_">
		<span>{$per.name}</span>
		<span class="n">{$per.game_rank}</span>
	</span>
	<span class="scores">{$per.game_score} 分</span>
	{/eq}
</div>
<!--列表排名-->
<div class="listbox">
	<div class="ranklist">
		{eq name="$type" value="1"}
		<div class="lists">
			{volist name="trad" id="vo"}
			<div class="list">
				<span class="num_">{$key+1}</span>
				{eq name="vo.header" value=""}<img class="avatar_" src="{$vo.avatar}" alt="头像">{else/}<img class="avatar_" src="{$vo.header}" alt="">{/eq}
				<span class="name_">{$vo.name}</span>
				<span class="scores"><span class="score_">
					{$vo.trad_score}
				</span>分</span>
			</div>
			{/volist}
		</div>
		{else/}
		<div class="lists">
			{volist name="game" id="ga"}
			<div class="list">
				<span class="num_">{$key+1}</span>
				{eq name="ga.header" value=""}<img class="avatar_" src="{$ga.avatar}" alt="">{else/}<img class="avatar_" src="{$ga.header}" alt="">{/eq}
				<span class="name_">{$ga.name}</span>
				<span class="scores"><span class="score_">
					{$ga.game_score}
				</span>分</span>
			</div>
			{/volist}
		</div>
		{/eq}
	</div>
</div>
<!-- 游戏规则摸态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 36px">×</button>
				<h4 class="modal-title">积分规则</h4>
			</div>
			<div class="modal-body" style="font-size: 14px">

				<h5>
					{eq name="$type" value="1"}
					<b>党章抄写积分规则：</b>您仅可按章节顺序进行抄写，每完成1%的进度计1分，抄写完成1遍总计100分，积分可以不断累计并以个人累计积分高低进行排名。
					{else/}
					<b>在线答题积分规则：</b>每次测试共30道题，每答对一题记1分，每次答题的分数可以不断累积并计入积分排行。
					{/eq}
				</h5>
			</div>
		</div>
	</div>
</div>

{/block}

{block name="script"}
<script>
$(function(){
//	游戏模式切换,先注释
//	$('.tab' ).on('click',function(){
//		var it = $(this);
//		var n = it.index();
//		it.addClass('active' ).siblings().removeClass('active');
//		$('.lists' ).eq(n).removeClass('hidden').fadeIn().siblings().hide();
//	})
	//摸态框居中
	$('#myModal').on('show.bs.modal', centerModals);
	//禁止摸态框滑动
	setInterval(function(){
		if($('.fade.in').css('opacity') == 1){
			$("body").bind('touchmove', function (event) {
				event.preventDefault();
			}, false);
		}else{
			$("body").unbind("touchmove");
		}
	},1000)
});
//摸态框居中
function centerModals() {
	$('#myModal').each(function(i) {
		var $clone = $(this).clone().css('display', 'block').appendTo('body');
		var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 2);
		top = top > 0 ? top : 0;
		$clone.remove();
		$(this).find('.modal-content').css({"margin-top":top});
	});
}
</script>
{/block}