{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/constitution/game.css">
{/block}

{block name="body"}
<a class="bg" href="{:Url('Constitution/game')}"></a>
<div class="score">
    <span>{$score}</span>
    <span>{$num}</span>
    <a href="{:Url('Constitution/errors')}"  alt="查看错题"></a>
</div>
<!--<div class="content">-->
    <!--<p class="start clear">我的得分:<span style="font-size: large"></span></p>-->
    <!--<a class="continue" href="{:Url('Constitution/errors')}">查看错题</a>-->
<!--</div>-->
<div class="foot"></div>

{/block}

{block name="script"}

{/block}