{extend name="base/common"}

{block name="style"}
<link rel="stylesheet" href="/static/datepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/iCheck/custom.css">
<link rel="stylesheet" href="/admin/css/chosen/chosen.css">
<style>
    textarea{
        resize:none;
    }
    .imggroup{
        position: relative;
    }
    .imgbox{
        height: 100px;
        width: 200px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .imgfile{
        height: 100px;
        width: 200px;
        position: absolute;
        top:0;
        opacity: 0;
    }
    .plus{
        height: 100px;
        width: 200px;
        font-size: 100px;
        line-height: 100px;
        text-align: center;
        color: rgba(204, 204, 204, 0.51);
    }
    .plus:hover{
        font-size: 150px;
    }
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="mail-box-header">
                    <div class="pull-right tooltip-demo">
                        <a href="javascript:window.history.go(-1);" class="btn btn-white btn-sm"><i class="fa fa-reply"></i> 返回</a>
                    </div>
                    <h2>
                        商品管理 - {empty name="msg"}添加{else/}修改{/empty}
                    </h2>
                </div>
                <div class="ibox-content">
                    <form id="form" class="form-horizontal" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>剑种类型:</label>
                            </div>
                            <div class="col-lg-11">
                                <select class="form-control" name="type1">
                                    {volist name="tp1" id="vo"}
                                    <option value="{$vo.id}"
                                            {eq name="$msg['type1']" value="$vo.id"}selected{/eq}>{$vo.title}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>类别:</label>
                            </div>
                            <div class="col-lg-11">
                                <select class="form-control" name="type2">
                                    {volist name="tp2" id="co"}
                                    <option value="{$co.id}"
                                            {eq name="$msg['type2']" value="$co.id"}selected{/eq}>{$co.title}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>顶部Banner:</label>
                            </div>
                            <div class="col-lg-5" >
                                <div class="imggroup">
                                    <img src="{$msg.front_cover|get_cover='path'}" alt='图片' class='thumbnail imgbox'>
                                    <input type="file" class="imgfile" id="file" accept="image/png , image/jpg ,image/jpeg ,image/gif">
                                    <input type="hidden" name="front_cover" class="img"  value="{$msg.front_cover}" required="">
                                </div>
                                <b>推荐尺寸：500*400px</b>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>标题:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" placeholder="请输入标题..." class="form-control form_title" name="title" value="{$msg.title}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>价格:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" placeholder="请输入价格..." class="form-control form_title" name="price" value="{$msg.price}" onkeyup="onlyNonNegative(this)" onblur="tofixedTwo(this)">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-1 control-label">
                                <label>内容:</label>
                            </div>
                            <div class="col-lg-11">
                                <div class=" float-e-margins">
                                    <div class="ibox-content no-padding borders">
                                        <script id="container" name="content" type="text/plain">{$msg.content}</script>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="id" value="{$msg.id}">
                        <div class="form-group">
                            <div class="col-lg-11 col-lg-offset-1">
                                <button class="btn btn-primary submit-btn post-add" type="button" target-form="form-horizontal" >发布</button>
                                <a class="btn btn-default" href="javascript:window.history.go(-1);">返回</a>
                            </div>
                        </div>
                        <div class="selblo"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/uploadify/jquery.uploadify.min.js"></script>
<script src="/static/iCheck/icheck.min.js"></script>
<script src="/static/ueditor/ueditor.config.js"></script>
<script src="/static/ueditor/ueditor.all.min.js"></script>

<script>
    $(function(){
        //导航高亮
        highlight_subnav("{:Url('Shop/index')}");

        //上传图片
        var plus = $('.plus');
        var imgnum  = $('[n]' ).attr('n');
        plus.on('click',function(){
            var it = $(this);
            it.hide().next().fadeIn();
            imgnum = 3;
            if(!it.hasClass('plus2')){
                plus.eq(1).fadeIn();
                imgnum = 2
            }
        });
        $(".imgfile").on("change",function(){
            var fileObj = document.getElementById("file").files[0]; // js 获取文件对象
            var formData = new FormData();
            formData.append("picture",fileObj);
            var url = "{:Url('File/uploadPicture')}"; // 接收上传文件的后台地址
            var form = new FormData(); // FormData 对象
            if(fileObj.size/1024 > 1025) { //大于1M，进行压缩上传
                photoCompress(fileObj, {
                    quality: 0.2
                }, function(base64Codes){
                    //console.log("压缩后：" + base.length / 1024 + " " + base);
                    var bl = convertBase64UrlToBlob(base64Codes);
                    form.append("picture", bl, "file_"+Date.parse(new Date())+".jpg"); // 文件对象
                    xhr = new XMLHttpRequest();  // XMLHttpRequest 对象
                    xhr.open("post", url, true); //post方式，url为服务器请求地址，true 该参数规定请求是否异步处理。
                    xhr.onload = uploadComplete; //请求完成
                    xhr.onerror =  uploadFailed; //请求失败
                    xhr.send(form); //开始上传，发送form数据
                });
            }
            else{ //小于等于1M 原图上传
                form.append("picture", fileObj); // 文件对象
                xhr = new XMLHttpRequest();  // XMLHttpRequest 对象
                xhr.open("post", url, true); //post方式，url为服务器请求地址，true 该参数规定请求是否异步处理。
                xhr.onload = uploadComplete; //请求完成
                xhr.onerror =  uploadFailed; //请求失败
                xhr.send(form); //开始上传，发送form数据
            }
        });
        //上传成功响应
        function uploadComplete(evt) {
            var data = JSON.parse(evt.target.responseText);
            console.log(data)
            $('.imgfile').siblings(".img").val(data.data.id);
            //显示图片缩略图
            $('.imggroup').find("img" ).attr('src',data.data.path);
        }
        //上传失败
        function uploadFailed(evt) {
            alert("上传失败！");
        }
        //取消上传
        function cancleUploadFile(){
            xhr.abort();
        }
        //百度编辑器
        var ue = UE.getEditor('container',{
            initialFrameHeight:400
        });

        $(".post-add").on("click",function(){
            /*重组轮播图，删除多余字符串（i是键值，1表示几位开始*/
            var it=$(this);
            var data = {
                id:$("input[name='id']").val(),
                type1:$("select[name='type1']").val(),
                type2:$("select[name='type2']").val(),
                front_cover:$("input[name='front_cover']").val(),
                title:$("input[name='title']").val(),
                price:$("input[name='price']").val(),
                content:ue.getContent(),
                status:0,
            };
            $.ajax({
                type:"post",
                url:$("#form").attr("action"),
                data:data,
                success:function(data){
                    if(data.code == 1){
                        if (data.url) {
                            updateAlert(data.msg + ' 页面即将自动跳转~','success');
                        }else{
                            updateAlert(data.msg ,'success');
                        }
                        it.prop('disabled','true');
                        it.next('button').prop('disabled','true');
                        setTimeout(function(){
                            if (data.url) {
                                location.href=data.url;
                            } else {
                                location.reload();
                            }
                            it.removeAttr('disabled');
                            it.next('button').removeAttr('disabled')
                        },2000);
                    } else {
                        updateAlert(data.msg, 'error');
                        it.attr('disabled','true');
                        it.next('button').prop('disabled','true');
                        setTimeout(function(){
                            it.removeAttr('disabled');
                            it.next('button').removeAttr('disabled')
                        },2000);
                    }
                }
            });
            return false;
        });

    });


    // 价格非负数
    function onlyNonNegative(obj) {
        var inputChar = event.keyCode;

        // 1.判断是否有多于一个小数点
        if(inputChar == 110 ) {  // 输入的是否为.

            var index1 = obj.value.indexOf(".") + 1; // 取第一次出现.的后一个位置
            var index2 = obj.value.indexOf(".",index1);
            while(index2 != -1) {
                obj.value = obj.value.substring(0,index2);
                index2 = obj.value.indexOf(".",index1);
            }

        }

        // 2.如果输入的不是.或者不是数字，替换 g:全局替换
        obj.value = obj.value.replace(/[^(\d|.)]/g,"");
    }

    function tofixedTwo(obj) {
        // 判断是否为小数点后两位
        var val = obj.value;
        if (String(val).indexOf(".") + 1 > 0) {
            obj.value = Math.floor(val * 100) / 100;
        }
    }

</script>


<!--时间日历-->
<script src="/static/datepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">

    $(function(){
        //    时间日历
        $( ".datetimepicker" ).datetimepicker( {
            language:  'cn',
            format: 'yyyy-mm-dd hh:ii',
            minView: "hour",
            forceParse: false,
            todayBtn: true,
            autoclose: true,
            todayHighlight: 1,
            minuteStep: 5

        });
        //    单选按钮
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

    })

</script>
<script>
    $(function(){
        //下拉框
        $("select").chosen({
            no_results_text: "没有找到该选项",
            allow_single_de: true,
            width:'100%',
            max_selected_options:'100'
        });
        var selgp = $(".selgp");
        var selgp2 = $(".selgp2");
        selHeight(selgp);
        selHeight(selgp2);
        function selHeight(e){
            e.find('ul').on('click',function(){
                var results = $(this ).next().find('.chosen-results' );
                var h= results.height();
                h=h-100;
                $('.selblo' ).animate({'height':h+'px'},100);
                //切出页面
                var hiddenProperty = 'hidden' in document ? 'hidden' :
                        'webkitHidden' in document ? 'webkitHidden' :
                                null;
                var visibilityChangeEvent = hiddenProperty.replace(/hidden/i, 'visibilitychange');
                var onVisibilityChange = function(){
                    if (!document[hiddenProperty]) {
                        //selgp.find('.search-field').find('input').on('blur');
                    }else{
                        e.find('.search-field').find('input').off('blur');
                    }
                };
                $(document).on(visibilityChangeEvent, onVisibilityChange);
            });
            e.find('.search-field').find('input').on('blur',function(){
                setTimeout(function(){
                    $('.selblo' ).animate({'height':'0'});
                },100)
            });
        }
    })
</script>
{/block}