body {
  background-color: #fff;
}

.banner img {
  width: 100vw;
  height: 50vw;
}

.list {
  padding: 2vw 3vw;
}
.list ul li {
  min-height: 10vw;
  font-size: 0.34rem;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
}
.list ul li p {
  margin-bottom: 0;
  width: 85%;
  font-size: 0.34rem;
  text-align: right;
  margin-left: 0.5rem;
}
.list ul li p span {
  width: auto;
  text-align: left;
  margin-left: 0;
  display: inline-block;
}
.list ul li span {
  display: inline-block;
  width: 85%;
  color: #666;
  text-align: right;
  margin-left: 0.5rem;
}
.list ul li:first-child span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list ul li:nth-child(2) span {
  width: 81%;
}

.people {
  padding: 2vw 3vw;
  font-size: 0.34rem;
  margin-bottom: 1rem;
}
.people:after {
  display: block;
  content: '';
  clear: both;
}
.people ul {
  margin-top: 0.2rem;
}
.people ul:after {
  display: block;
  content: '';
  clear: both;
}
.people ul li {
  float: left;
  text-align: center;
  width: 20%;
}
.people ul li img {
  width: 10vw;
  height: 10vw;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.people ul li p {
  color: #333;
  font-size: 0.38rem;
  margin-bottom: 2vw;
}

.sign {
  position: fixed;
  bottom: 0;
  height: 1rem;
  background: #259b24;
  color: #fff;
  line-height: 1rem;
  text-align: center;
  font-size: 0.36rem;
  width: 100vw;
}
