{extend name="public/common"}

{block name="style"}
<title>消息审核</title>
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/sass/stylesheets/details-template/banner-detail.css">
<style>
    .mui-pull-bottom-pocket {
        height: 0.8rem;
        bottom: 0.8rem;
    }
    .comment{
        padding-bottom: 1rem;
    }
</style>
{/block}
{block name="body"}
<div class="main">
    <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="swiper-container banner">
                <div class="swiper-wrapper">

                    {if condition="(!empty($detail['images']))"}
                    {volist name="detail.images" id="vo"}
                    <div class="swiper-slide">
                        <div class="mui-slider-item">
                            <img src="{$vo|get_cover='path'}">
                        </div>
                    </div>
                    {/volist}
                    {else /}

                    <div class="swiper-slide">
                        <div class="mui-slider-item">
                            <img src="{$detail.front_cover|get_cover='path'}">
                        </div>
                    </div>

                    {/if}

                </div>
            </div>
            <div class="article">
                <div class="title"><p>{$detail.title}</p></div>
                <div class="note clear">
                    {if condition="(!empty($detail['create_user']))"}
                    <span class="publish">{$detail.userId}</span>
                    {else /}
                    <span class="publish">{$detail.userid|get_name}</span>
                    {/if}
                    <span class="time"> {$detail.create_time|time_format="Y-m-d"}</span>
                </div>
                <div class="message">
                    {notempty name="detail.start_time"}
                    <div class="name limit">{$detail.start_time|time_format="Y-m-d H:i"}</div>
                    {/notempty}
                    {notempty name="detail.address"}
                    <div class="content address" >{$detail.address}</div>
                    {/notempty}
                    {notempty name="detail.attendee"}
                    <div class="content people" >{$detail.attendee}</div>
                    {/notempty}
                    {notempty name="detail.telephone"}
                    <div class="content tel">{$detail.telephone}</div>
                    {/notempty}
                </div>
                <div class="content">
                    <div class="article-content">{$detail.content}</div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script src="/home/js/reset.js"></script>
<script>
    var type =  parseInt(window.location.href.split("?")[1]);

    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 3000,
        loop:true,
        autoplayDisableOnInteraction : false
    });

    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    });
</script>
{/block}