{extend name="public/pure"}

{block name="style"}
<title>消息审核</title>
<link rel="stylesheet" href="/home/sass/stylesheets/volunteer/wishesdetail.css">
{/block}

{block name="body"}
<div class="detail">
   <div class="title">
       <p>{$detail.title}</p>
   </div>
    <div class="time">
        <p>{$detail.create_time|time_format='Y-m-d'}</p>
    </div>
    {notempty name="detail.image"}
    <img src="{$detail.image}">
    {/notempty}
    <div class="information">
        <div  class="information-content">
        <p>招募内容：</p>
        <span>{$detail.content}</span>
        </div>
        <div  class="information-time">
            <p>时间：</p>
            <span>{$detail.start_time|time_format='Y-m-d H:i'}</span>
        </div>
       <div>
        <p class="information-place">地点：</p>
        <span>{$detail.activity_home}</span>
       </div>
        <div class="information-people">
        <p>联系人：</p>
        <span>{$detail.contacts}</span>
        </div>
        <div class="information-phone">
        <p>联系方式：</p>
        <span>{$detail.tel}</span>
        </div>
        <div class="information-number">
        <p>招募人数：</p>
        <span>{$detail.demand_number}</span>
        </div>
       <div class="information-rank">
       <p>当前报名：</p>
       <span>{$detail.receive_number}</span>
       </div>
    </div>
</div>

{/block}

{block name="script"}
{/block}