{extend name="public/common"}

{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/css/structure/structure.css">
{/block}

{block name="body"}
<div class="table">
	<div class="thead clear">
		<div class="th fl name">姓名</div>
		<div class="th fl position">党内职位</div>
		<div class="th fl tel">联系电话</div>
	</div>
</div>
{/block}

{block name="script"}
<script>
var party3 = '{$party}';
var data2 =[
	{
		"party3":"椒江区个私协会海门分会联合党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"陈健祥",
						"tel":"18505862922"
					},
					{
						"position":"组织委员",
						"name":"林波",
						"tel":"13905768020"
					},
					{
						"position":"宣传委员",
						"name":"陈日顺",
						"tel":"88376628"
					}

				]
			}]
	},
	{
		"party3":"椒江区个私协会白云分会联合党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"何红玉",
						"tel":"18505860803"
					},
					{
						"position":"组织委员",
						"name":"杨圣荣",
						"tel":"13566881315"
					},
					{
						"position":"宣传委员",
						"name":"鲍巧震",
						"tel":"13606828715"
					}

				]
			}]
	},
	{
		"party3":"椒江区个私协会葭沚分会联合党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"施宏志",
						"tel":"18505860710"
					},
					{
						"position":"组织委员",
						"name":"解从根",
						"tel":"13906577685"
					},
					{
						"position":"宣传委员",
						"name":"方焦法",
						"tel":"13705761005"
					}

				]
			}]
	},
	{
		"party3":"椒江区个私协会三甲分会联合党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"何妙琳",
						"tel":"18505862677"
					},
					{
						"position":"组织委员",
						"name":"潘增富",
						"tel":"13905768826"
					},
					{
						"position":"宣传委员",
						"name":"阮建国",
						"tel":"13957675932"
					}

				]
			}]
	},
	{
		"party3":"椒江区个私协会洪家分会联合党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"陶思思",
						"tel":"18505860802"
					},
					{
						"position":"组织委员",
						"name":"徐小军",
						"tel":"13606683036"
					},
					{
						"position":"宣传委员",
						"name":"盛光波",
						"tel":"88039532"
					}

				]
			}]
	},
	{
		"party3":"椒江区个私协会前所分会联合党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"柳  媚",
						"tel":"18505862612"
					},
					{
						"position":"组织委员",
						"name":"王金兵",
						"tel":"13806560102"
					},
					{
						"position":"宣传委员",
						"name":"王志强",
						"tel":"13906585571"
					}

				]
			}]
	},
	{
		"party3":"椒江区个私协会农贸市场联合党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"于海刚",
						"tel":"-"
					},
					{
						"position":"组织委员",
						"name":"李建华",
						"tel":"13136556810"
					},
					{
						"position":"宣传委员",
						"name":"黄香芹",
						"tel":"88579596"
					}

				]
			}]
	},
	{
		"party3":"黄岩区个协党总支",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"黄闻樨",
						"tel":"13705765286"
					},
					{
						"position":"副书记",
						"name":"岑戈宁",
						"tel":"13705769666"
					},
					{
						"position":"组织委员",
						"name":"葛星君",
						"tel":"13326031110"
					},
					{
						"position":"宣传委员",
						"name":"任春芳",
						"tel":"13806572511"
					},
					{
						"position":"组织委员",
						"name":"纪检委员",
						"tel":"13906593361"
					}

				]
			}]
	},
	{
		"party3":"黄岩区个协城东分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"傅豪杰",
						"tel":"13857632018"
					},
					{
						"position":"委员",
						"name":"葛星君",
						"tel":"13326031110"
					},
					{
						"position":"委员",
						"name":"陈冬斐",
						"tel":"13857602178"
					}

				]
			}]
	},
	{
		"party3":"黄岩区个协城南分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"田拥民",
						"tel":"13757679977"
					},
					{
						"position":"委员",
						"name":"鲍文琴",
						"tel":"13906593361"
					},
					{
						"position":"委员",
						"name":"郎玲珠",
						"tel":"13957602992"
					}

				]
			}]
	},
	{
		"party3":"黄岩区个协城西分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"王  亚",
						"tel":"13566409980"
					},
					{
						"position":"委员",
						"name":"任春芳",
						"tel":"13806572511"
					},
					{
						"position":"委员",
						"name":"林福华",
						"tel":"18958512985"
					}

				]
			}]
	},
	{
		"party3":"黄岩区个协城北分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"任  耀",
						"tel":"13906598081"
					},
					{
						"position":"委员",
						"name":"王立宏",
						"tel":"13806580939"
					},
					{
						"position":"委员",
						"name":"阮勇剑",
						"tel":"13906581859"
					}

				]
			}]
	},
	{
		"party3":"黄岩区个协头陀分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"邵钶茸",
						"tel":"13705767248"
					},
					{
						"position":"委员",
						"name":"杨  勇",
						"tel":"13857623695"
					},
					{
						"position":"委员",
						"name":"吴孟桂",
						"tel":"13957614268"
					}

				]
			}]
	},
	{
		"party3":"黄岩区个协宁溪分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"陈  蔚",
						"tel":"18505762082"
					}
				]
			}]
	},
	{
		"party3":"黄岩区个协院桥分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"彭文卫",
						"tel":"13957607969"
					},
					{
						"position":"委员",
						"name":"蔡利君",
						"tel":"13857610316"
					},
					{
						"position":"委员",
						"name":"陶正根",
						"tel":"13867695216"
					}

				]
			}]
	},
	{
		"party3":"黄岩区市场服务中心自办场联合党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"张继军",
						"tel":"13857629126"
					}
				]
			}]
	},
	{
		"party3":"黄岩区家乐购新天地家居广场临时党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"王  亚",
						"tel":"13566409980"
					}

				]
			}]
	},
	{
		"party3":"黄岩区副食品市场党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"傅豪杰",
						"tel":"13857632018"
					}
				]
			}]
	},
	{
		"party3":"临海古城分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"张晟晟",
						"tel":"18358691699"
					},
					{
						"position":"副书记",
						"name":"孙劲峰",
						"tel":"13906765488"
					},
					{
						"position":"组织委员",
						"name":"马亦芳",
						"tel":"13666862660"
					},
					{
						"position":"宣传委员",
						"name":"林光明",
						"tel":"85113725"
					}

				]
			}]
	},
	{
		"party3":"临海大洋分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"李临津",
						"tel":"13958560990"
					}
				]
			}]
	},
	{
		"party3":"临海杜桥分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"柳光辉",
						"tel":"13515860636"
					},
					{
						"position":"副书记",
						"name":"项足富",
						"tel":"13906765928"
					},
					{
						"position":"组织委员",
						"name":"李阳阳",
						"tel":"13586100840"
					}

				]
			}]
	},
	{
		"party3":"临海大田分党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"金美云",
						"tel":"13362637555"
					},
					{
						"position":"副书记",
						"name":"周丹",
						"tel":"18505867060"
					},
					{
						"position":"组织委员",
						"name":"吴兰虎",
						"tel":"13600581995"
					}

				]
			}]
	},
	{
		"party3":"临海江南分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"王一涛",
						"tel":"13819637698"
					}
				]
			}]
	},
	{
		"party3":"临海白水洋分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"陈磊",
						"tel":"13738509850"
					}
				]
			}]
	},
	{
		"party3":"临海网络经营者分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"龚  巍",
						"tel":"13606685985"
					}

				]
			}]
	},
	{
		"party3":"临海市恒大国际家居建材城党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"王纪南",
						"tel":"13586139992"
					}

				]
			}]
	},
	{
		"party3":"临海市中心菜场党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"黄文军",
						"tel":"13655862789"
					}

				]
			}]
	},
	{
		"party3":"温岭市太平个协党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"陈素芬",
						"tel":"13705865290"
					},
					{
						"position":"副书记",
						"name":"李玉飞",
						"tel":"13705862158"
					},
					{
						"position":"委员",
						"name":"李晖",
						"tel":"13906569099"
					},
					{
						"position":"委员",
						"name":"周亚刚",
						"tel":"13606760965"
					},
					{
						"position":"委员",
						"name":"陈威林",
						"tel":"18888652200"
					}

				]
			}]
	},
	{
		"party3":"温岭市文化桥菜市场党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"刘新瑞",
						"tel":"13705866299"
					},
					{
						"position":"副书记",
						"name":"江荷",
						"tel":"13157657399"
					},
					{
						"position":"委员",
						"name":"孙丹",
						"tel":"1366648880"
					}

				]
			}]
	},
	{
		"party3":"温岭市购物中心党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"王大桂",
						"tel":"13676668111"
					}
				]
			}]
	},
	{
		"party3":"温岭太平路菜市场党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"杨文富",
						"tel":"13806567433"
					},
					{
						"position":"组织委员",
						"name":"彭宗康",
						"tel":"13606677550"
					},
					{
						"position":"宣传委员",
						"name":"王根元",
						"tel":"13186921588"
					}

				]
			}]
	},
	{
		"party3":"温岭市城东个协党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"陈岳春",
						"tel":"13586254528"
					},
					{
						"position":"宣传委员",
						"name":"戴旭初",
						"tel":"18267635212"
					},
					{
						"position":"组织委员",
						"name":"金菊",
						"tel":"13958623385"
					}

				]
			}]
	},
	{
		"party3":"温岭市温西个协党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"顾福云",
						"tel":"13906568690"
					},
					{
						"position":"副书记",
						"name":"陈京亮",
						"tel":"13905863523"
					},
					{
						"position":"副书记",
						"name":"林海峰",
						"tel":"13656543391"
					},
					{
						"position":"组织委员",
						"name":"余锦屏",
						"tel":"13958665796"
					},
					{
						"position":"宣传委员",
						"name":"郏伯明",
						"tel":"15824057750"
					}

				]
			}]
	},
	{
		"party3":"温岭市城北个协党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":" 潘云娥",
						"tel":"13606673300"
					},
					{
						"position":"委员",
						"name":" 郑晓阳",
						"tel":"13732322800"
					},
					{
						"position":"委员",
						"name":"马诚均",
						"tel":"13906567083"
					}

				]
			}]
	},
	{
		"party3":"温岭市石桥头镇个私协会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"蒋相地",
						"tel":"13906861216"
					}

				]
			}]
	},
	{
		"party3":"温岭市松门个协党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"林夏方",
						"tel":"13606673009"
					},
					{
						"position":"副书记",
						"name":"左立平",
						"tel":"13906565666"
					},
					{
						"position":"委员",
						"name":"林福崇",
						"tel":"13616699590"
					},
					{
						"position":"委员",
						"name":"罗新明",
						"tel":"13905862551"
					},
					{
						"position":"委员",
						"name":"徐振富",
						"tel":"13456611639"
					}

				]
			}]
	},
	{
		"party3":"温岭市泽国个协党总支",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"副书记兼综合支委",
						"name":"李祖林",
						"tel":"13858676599"
					},
					{
						"position":"综合副书记",
						"name":"林彩萍",
						"tel":"13958625373"
					},
					{
						"position":"书记兼综合支部书",
						"name":"颜连根",
						"tel":"18858692555"
					},
					{
						"position":"党总支委员",
						"name":"钟华福",
						"tel":"13968536888"
					},
					{
						"position":"市场党支部书记",
						"name":"钟冬方",
						"tel":"13906563133"
					},
					{
						"position":"副书记、支部书记",
						"name":"林桂英",
						"tel":"13906867937"
					},
					{
						"position":"支部书记、党总支委员",
						"name":"徐伟东",
						"tel":"13093822222"
					},
					{
						"position":"小微企业党支部书记",
						"name":"林青卫",
						"tel":"13705869039"
					},
					{
						"position":"市场流动支部书记",
						"name":"应建飞",
						"tel":"13905763613"
					},
					{
						"position":"综合流动支部负责人",
						"name":"狄素英",
						"tel":"13605862107"
					}

				]
			}]
	},
	{
		"party3":"开发区个私协党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"项义建",
						"tel":"13058686999"
					},
					{
						"position":"副书记",
						"name":"柯年增",
						"tel":"13905767037"
					},
					{
						"position":"副书记",
						"name":"杨宁",
						"tel":"13757661888"
					},
					{
						"position":"副书记兼宣传委员",
						"name":"蔡倩",
						"tel":"13116531199"
					},
					{
						"position":"组织委员",
						"name":"梁国见",
						"tel":"13515767888"
					}

				]
			}]
	},
	{
		"party3":"三门县新大华酒店党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"林泽建",
						"tel":"13606762480"
					},
					{
						"position":"组织委员",
						"name":"洪方华",
						"tel":"13958527368"
					},
					{
						"position":"宣传委员",
						"name":"林冬领",
						"tel":"0576-83388788"
					}

				]
			}]
	},
	{
		"party3":"三门县首府商贸区党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"陈欢苗",
						"tel":"18505762109"
					},
					{
						"position":"组织委员",
						"name":"叶亚芬",
						"tel":"13306590168"
					},
					{
						"position":"宣传委员",
						"name":"马加形",
						"tel":"13306590168"
					}

				]
			}]
	},
	{
		"party3":"三门县市场联合党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"邵胜法",
						"tel":"13958537669"
					},
					{
						"position":"组织委员",
						"name":"章思好",
						"tel":"13506762011"
					},
					{
						"position":"宣传委员",
						"name":"邵胜格",
						"tel":"13305766330"
					}

				]
			}]
	},
	{
		"party3":"三门县个私协会珠岙分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"陈世界",
						"tel":"13157629115"
					}

				]
			}]
	},
	{
		"party3":"三门县个私协会亭旁分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"章华",
						"tel":"18505861811"
					}

				]
			}]
	},
	{
		"party3":"三门县个私协会浦坝港分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"沈定标",
						"tel":"18505860122"
					}

				]
			}]
	},
	{
		"party3":"三门县个私协会健跳分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"何建军",
						"tel":"13968527758"
					}

				]
			}]
	},
	{
		"party3":"三门县个私协会花桥分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"戴照蓬",
						"tel":"13968528718"
					}

				]
			}]
	},
	{
		"party3":"三门县个私协会海游分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"卢绍银",
						"tel":"13175482261"
					}

				]
			}]
	},
	{
		"party3":"仙居县个体私营协会下各分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"潘国贤",
						"tel":"13506765586"
					},
					{
						"position":"组织委员",
						"name":"顾雪华",
						"tel":"057687611363"
					},
					{
						"position":"宣传委员",
						"name":"顾灰平",
						"tel":"13093898087"
					}

				]
			}]
	},
	{
		"party3":"仙居县个体私营协会南峰分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"张雷",
						"tel":"13906556690"
					},
					{
						"position":"书记",
						"name":"杨建云",
						"tel":"13958513918"
					},
					{
						"position":"副书记",
						"name":"王光久",
						"tel":"13958519955"
					}

				]
			}]
	},
	{
		"party3":"仙居县个体私营协会横溪分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"曹秀龙",
						"tel":"13326009887"
					},
					{
						"position":"委员",
						"name":"王建敏",
						"tel":"13758611060"
					},
					{
						"position":"宣传委员",
						"name":"陈瑶琳",
						"tel":"13968530688"
					}

				]
			}]
	},
	{
		"party3":"仙居县个体私营协会福应分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"张伟利",
						"tel":"13336755589"
					},
					{
						"position":"组织委员",
						"name":"何方明",
						"tel":"15957673937"
					},
					{
						"position":"组织委员",
						"name":"吴福明",
						"tel":"13626606118"
					},
					{
						"position":"宣传委员",
						"name":"张体达",
						"tel":"13566692221"
					}

				]
			}]
	},
	{
		"party3":"仙居县个体私营协会白塔分会党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"王仙忠",
						"tel":"13968489977"
					},
					{
						"position":"委员",
						"name":"吴相军",
						"tel":"13586203203"
					},
					{
						"position":"委员",
						"name":"俞杨轮",
						"tel":"13958516136"
					},
					{
						"position":"宣传委员",
						"name":"齐阳光",
						"tel":"13586205301"
					}

				]
			}]
	},
	{
		"party3":"仙居县个私协机关支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"李斌",
						"tel":"13968552800"
					},
					{
						"position":"副书记",
						"name":"王斌",
						"tel":"13566692662"
					},
					{
						"position":"群工委员",
						"name":"陈海容",
						"tel":"13606765558"
					}

				]
			}]
	},
	{
		"party3":"天台县个体劳动者协会赤城路党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"刘先松",
						"tel":"0576-83811111"
					}
				]
			}]
	},
	{
		"party3":"天台县个体劳动者协会劳动路党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"徐连纲",
						"tel":"15858623388"
					}
				]
			}]
	},
	{
		"party3":"天台县个体协会洪畴分会支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"潘行云",
						"tel":"13626610969"
					}
				]
			}]
	},
	{
		"party3":"天台县机动车交易市场党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"朱腾",
						"tel":"13758609036"
					}
				]
			}]
	},
	{
		"party3":"天台县经纪人支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"倪卫强",
						"tel":"13906559213"
					}
				]
			}]
	},
	{
		"party3":"天台县个体协会坦头分会支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"徐瑞斌",
						"tel":"13175491199"
					}
				]
			}]
	},
	{
		"party3":"天台县个体协会平桥分会支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"季立周",
						"tel":"13586212896"
					}
				]
			}]
	},
	{
		"party3":"天台县个体协会城西分会支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"罗时云",
						"tel":"13018873586"
					}
				]
			}]
	},
	{
		"party3":"天台县个体协会城东分会支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"陈帮善",
						"tel":"13586239598"
					}
				]
			}]
	},
	{
		"party3":"天台县个体协会支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"陈彩贤",
						"tel":"13506769805"
					},
					{
						"position":"副书记",
						"name":"曹朝阳",
						"tel":"13335765558"
					}
				]
			}]
	},
	{
		"party3":"温岭市大溪个协党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"王艳丽",
						"tel":"13905863341"
					},
					{
						"position":"委员",
						"name":"叶国蒙",
						"tel":"13586262888"
					},
					{
						"position":"委员",
						"name":"阎新增",
						"tel":"15057259628"
					}

				]
			}]
	},
	{
		"party3":"椒江区个私协会海门分会联合党支部",
		"detail3":[
			{
				"party4":"综合第一党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"王丹扬",
						"tel":"13958663585"
					},
					{
						"position":"副书记",
						"name":"黄金兵",
						"tel":"13806565088"
					},
					{
						"position":"副书记",
						"name":"郭华",
						"tel":"13505860663"
					},
					{
						"position":"副书记",
						"name":"赵守平",
						"tel":"13806569282"
					},
					{
						"position":"市场支部书记",
						"name":"张剑",
						"tel":"13566669582"
					}

				]
			}]
	}
];
var len = data2.length;
for(var i = 0 ; i < len ;i++){
	var party = data2[i];
	if( party.party3 == party3){
		var detail3 = party.detail3;
		var len3 = detail3.length;
		var html = '';
		for(var j = 0; j < len3 ; j++){
			var party4 = detail3[j];
			html+=
					'<div class="tbody">'+
					'<div class="tb fl name">';

			var detail4 = party4.detail4;
			var len4 = detail4.length;
			for(var l = 0 ;l < len4 ;l++){
				html+=
					'<span>'+detail4[l].name+'</span>';
			}
			html+=
				'</div>'+
				'<div class="tb fl position">';
			for(var m = 0 ;m < len4 ;m++){
				html+=

					'<span>'+detail4[m ].position+'</span>';
			}
			html+=
					'</div>'+
					'<div class="tb fl tel">';
			for(var n = 0 ;n < len4 ;n++){
				html+=
						'<span><a href="tel:'+detail4[n].tel+'">'+detail4[n].tel+'</a></span>';
			}
			html+=
					'</div>'+
					'</div>'
		}
		$('.table' ).append(html);
		break;
	}else{
		console.log('百分百名字错了'+ party3 + '后：'+ party.party3)
	}
}
$('.tbody' ).each(function(){
	var this_ = this;
	var h = $(this ).find('.position' ).height();
	var h_ = $(this ).find('.party>span' ).height();
	$(this ).find('.party' ).height(h);
	$(this ).find('.party>span').css('margin-top',h/2-h_/2+'px');

});

</script>
{/block}