{extend name="public/common"}

{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/sass/stylesheets/structure/detail.css">
{/block}
{block name="body"}
<ul class="d_lists">
    <li class="title"><p>{$name}</p></li>
    {volist name="$list" id="ll"}
    <li class="d_list">
    <div class="d_img_box">
        <div class="d_img">{$ll.name}</div>
    </div>
    <div class="d_name">{$ll.name}</div>
    <span class="d_tel">
        <span class="d_tel_icon">{$ll.position}</span>
    </span>
    </li>
    {/volist}
</ul>
{/block}

{block name="script"}
<script>
    $('title' ).text('组织架构');
    var bg_color=["#b1e3fc", "#aeefef", "#ffa351", "#9393f5", "#cf88f7", "#65abfa", "#ebcffb", "#76f4f0", "#ffcf6e", "#ff8ff4"];
    var len= $(".d_list").length;
    for(var i=0;i<len;i++){
        var m_color = bg_color[Math.floor(Math.random()*10)];
        $(".d_img").eq(i).css("background-color",m_color)
    }

</script>
{/block}