{extend name='public/common'}
{block name='style'}
<title>击剑</title>
<link rel="stylesheet" href="/home/css/mall/detail.css">
{/block}
{block name='body'}
<div class="img">
    <img src="{$data.front_cover|get_cover='path'}" alt="">
</div>

<!--title-->
<div class="titles">
    <div class="title">
        {$data.title}
    </div>
    <div class="priceWay clearfix">
        <div class="price fl"><span> ￥</span>{$data.price}</div>
        <div class="way fr">领取方式：到馆领取</div>
    </div>
</div>

<div class="identity">
    <span>剑种：{$data.type1}</span>
    <span>类别：{$data.type2}</span>
</div>

<!-- content-->
<div class="content">
    <div class="contentTitle">商品详情</div>
    <div class="summary">
        {$data.content}
    </div>
</div>

{if condition="($an == 1)"}
<!-- btn-->
<div class="btn btnNow">
    <a href="javascript:;">立即购买</a>
</div>
{else /}
<div class="btn noPower">
    <a>暂无购买权限</a>
</div>
{/if}


<!-- buy-->
<div class="buy">
    <div class="shadow"></div>
    <div class="popUp">
        <div>
            <div class="popTitle clearfix">
                <div class="fl popImg">
                    <img src="{$data.front_cover|get_cover='path'}" alt="">
                </div>
                <div class="fl popTitlePrice">
                    <div class="pop_title">{$data.title}</div>
                    <div class="price">￥<span>{$data.price}</span></div>
                </div>
            </div>
            <div class="popNum">
                <p>数量选择</p>
                <p>
                    <span class="minus fl">-</span>
                    <span class="fl number">1</span>
                    <span class="add fl">+</span>
                </p>
            </div>
        </div>
    </div>
    <div class="popBuy clearfix">
        <div class="fl price">应付款 <span>￥</span><span class="total">{$data.price}</span></div>
        <div class="fr popBtn"><a href="JavaScript:;">生成订单</a></div>
    </div>
</div>

<!-- 权限提示-->
<div class="chooseTig">
    <div class="shadow"></div>
    <div class="tig">
        <p>你当前暂无商城器材购买资格，需先同时成为击剑会员和在训课程学员，才可购买相关器材。</p>
        <a class="chooseBtn" href="javascript:;">我知道了</a>
    </div>
</div>

<div class="showbox">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>

{/block}
{block name='script'}

<script>

    var id = "{$data.id}";

    $(function () {
        var u = navigator.userAgent.toLowerCase();
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
        if (isiOS) {
            $('.buy .popUp .popNum p:last-of-type span').css('marginTop','-2px');
        }
    });

    /*
     * 立即购买
     * */

    $(".btnNow a").on("click", function () {
        $(".buy").show()
    });

    /*
    * 权限提示
    * */
    $('.noPower a').on('click', function () {
        $('.chooseTig').show();
    });
    $(".chooseTig .shadow, .chooseTig .chooseBtn").on("click", function () {
        $(".chooseTig").hide();
    });

    /*
    * 点击阴影消失
    * */
    $(".buy .shadow").on('click', function () {
        $(this).parent('.buy').hide();
    });

    /*
    * 数量的加减
    * */
    // 减法

    $(".minus").on('click', function () {
        var val = $(this).next().text();
        var total = 0;
        if (val <= 1) {
            val = 1;
        }else {
            val--;
        }
        total = val*parseFloat($('.popTitlePrice span').text());
        $(this).next().text(val);
        $('.total').text(total);
    });

    // 加法

    $('.add').on('click', function () {
        var val = $(this).prev().text();
        var total = 0;
        val++;
        total = val*parseFloat($('.popTitlePrice span').text());
        $(this).prev().text(val);
        $('.total').text(total);
    });

    /*
    * 生成订单
    * */
    $(".popBtn a").on('click', function () {
        $.ajax({
            url: "{:Url('Mall/ordering')}",
            type: 'post',
            data: {
                id: id,
                num: $(".popNum .number").text()
            },
            beforeSend: function(XMLHttpRequest){
                $(".showbox").show();
            },
            success: function (msg) {
                setTimeout(function () {
                    $(".showbox").hide();
                    $('.buy').hide();
//                    window.location.href = '/home/mall/order/id/' + msg.data;
                   window.location.replace('/home/mall/order/id/' + msg.data);
                },500)
            }
        })
    });

</script>

{/block}