{extend name='public/common'}
{block name='style'}
<title>击剑</title>
<link rel="stylesheet" href="/home/css/mall/orderList.css">
{/block}
{block name='body'}



{if condition="empty($data)"}
<!-- 缺省页-->
<div class="noOrder">
    <img src="/home/images/mall/noOrder.png" alt="">
    <p>您的订单暂无交易记录</p>
</div>
{else /}
<div class="lists">
    {volist name="data" id="vo"}
    <!-- 列表开始-->
    <div class="list">
        <!-- 下单时间-->
        <div class="time">下单时间：{$vo.create_time|time_format='Y-m-d H:i'}</div>

        <!-- 下单商品-->
        <div class="orderList">
            <a href="{:Url('Mall/orderDetail?id='.$vo['id'])}">
                <div class="order clearfix">
                    <div class="img fl">
                        <img src="{$vo.front_cover|get_cover='path'}" alt="">
                    </div>
                    <div class="titlePrice fl">
                        <div class="title">{$vo.title}</div>
                        <div class="price">￥<span>{$vo.single}</span></div>
                    </div>
                    <div class="num fr">x <span>{$vo.num}</span></div>
                </div>
                <div class="total">
                    共<span>{$vo.num}</span>件，合计<span>{$vo.all}</span>元
                </div>
            </a>
        </div>
    </div>
    <!-- 列表结束-->
    {/volist}
</div>
{/if}
<!-- 加载-->
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>

{/block}
{block name='script'}

<script>

    /*
     * 上拉加载
     * */

    // 初始状态的判断

    var isScroll = true;  // 开关，增加触发点的流畅
    $(function () {
        var len = $(".lists .list").length;
        if (len >= 10) {
            $('.tip' ).text('上拉加载更多');
            // 上拉加载
            loadScroll();
        }else {
            $('.tip').hide();
        }
    });

    // 上拉加载函数

    function loadScroll() {
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $(".lists .list").length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && isScroll){
                isScroll = false;
                $.ajax({
                    type:"post",
                    url:"{:Url('Mall/ordermore')}",
                    data:{
                        len:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        isScroll = true;
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            // 数据接收函数
                            addMall(data);
                            lazy();
                            if(data.data.length == 6){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多数据了');
                            $(window ).off("scroll");
                        }
                    }
                })
            }
        })
    }

    // 数据接收函数

    function addMall(data) {
        console.log(data);
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++) {
            var list = lists[i];
            html += '<div class="list">'+
                        '<div class="time">下单时间：'+ list.create_time +'</div>'+
                        '<div class="orderList">'+
                            '<a href="/home/mall/orderDetail/id/'+ list.id +'">'+
                                '<div class="order clearfix">'+
                                    '<div class="img fl">'+
                                        '<img src="'+ list.front_cover +'" alt="">'+
                                    '</div>'+
                                    '<div class="titlePrice fl">'+
                                        '<div class="title">'+ list.title +'</div>'+
                                        '<div class="price">￥<span>'+ list.single +'</span></div>'+
                                    '</div>'+
                                    '<div class="num fr">x <span>'+ list.num + '</span></div>'+
                                '</div>'+
                                '<div class="total">'+
                                    '共<span>'+ list.num + '</span>件，合计<span>'+ list.all +'</span>元'+
                                '</div>'+
                            '</a>'+
                        '</div>'+
                    '</div>';
        }
        $(".lists").append(html);
    }

    /*
     * 图片懒加载功能函数
     * */

    function lazy() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold : 500
        });
    }

    $(function () {
        lazy();
    });

</script>

{/block}