{extend name='public/common'}
{block name='style'}
<title>击剑商城</title>
<link rel="stylesheet" href="/home/css/mall/order.css">
{/block}
{block name='body'}

<div class="content">
    <!-- 下单时间-->
    <div class="time">下单时间：{$data.create_time|time_format='Y-m-d H:i'}</div>

    <!-- 下单商品-->
    <div class="orderList">
        <a href="{:Url('Mall/detail?id='.$data['sid'])}">
            <div class="order clearfix">
                <div class="img fl">
                    <img src="{$data.front_cover|get_cover='path'}" alt="">
                </div>
                <div class="titlePrice fl">
                    <div class="title">{$data.title}</div>
                    <div class="price">￥<span>{$data.price}</span></div>
                </div>
                <div class="num fr">x <span>{$data.num}</span></div>
            </div>
            <div class="total">
                共<span>两</span>件，合计<span>{$data.total}</span>元
            </div>
        </a>
    </div>

    <!-- 信息列表-->
    <div class="lists">
        <div class="list clearfix">
            <span class="fl">买家名称</span>
            <input type="text" class="fr" value="{$data.name}" placeholder="买家名称" disabled>
        </div>
        <div class="list clearfix">
            <span class="fl">所属场馆</span>
            <input type="text" class="fr" value="{$data.depart}" placeholder="击剑馆名称" disabled>
        </div>
        <div class="list clearfix">
            <span class="fl">手机号码</span>
            <input type="number" class="fr" value="{$data.mobile}" placeholder="手机号码" disabled>
        </div>
    </div>

    <div class="lists">
        <div class="list clearfix">
            <span class="fl">尺码备注</span>
            <input type="text" class="fr size" placeholder="选填，请输入匹配的尺码或身高数据">
        </div>
    </div>

    <div class="lists">
        <div class="list list_">
            <span>买家留言</span>
            <textarea placeholder="选填，请输入想要留言的内容" id="textarea"></textarea>
        </div>
    </div>

    <!-- 去结算-->
    <div class="orderBtn clearfix">
        <div class="fl total">应付款 <span>￥</span><span>{$data.total}</span></div>
        <div class="fr"><a href="javascript:;">去结算</a></div>
    </div>
</div>

<!-- 结算后的弹窗-->
<div class="popUp">
    <div class="shadow"></div>
    <div class="popContent">
        <div>
            <img src="/home/images/mall/success.png" alt="">
            <p>请在个人中心-我的订单中查看订单信息</p>
        </div>
        <img src="/home/images/mall/default.png" alt="" class="cancel">
    </div>
</div>

<!-- 支付失败的提示-->
<div class="chooseTig">
    <div class="shadow"></div>
    <div class="tig">
        <p>支付失败，请重新支付</p>
        <a class="chooseBtn" href="javascript:;">我知道了</a>
    </div>
</div>

<div class="showbox">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>


<!-- payChoose-->
<div class="payChoose">
    <div class="shadow"></div>
    <div class="chooseList">
        <a href="javascript:;" class="zhifubao"><i></i> 支付宝</a>
        <a href="javascript:;" class="weixin"><i></i>微信</a>
        <a href="javascript:;" class="mapBack">取消</a>
    </div>
</div>
<input type="hidden" id="refreshed" value="no">
{/block}
{block name='script'}
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="/home/js/ap.js"></script>
<script src="/home/js/reset.js"></script>
<script>

    var id = "{$data.id}";
    var price = "{$data.price}";

    $(function(){
        var e=$("#refreshed");
        if(e.val() == "no") {
            e.val('yes');
        }else{
            e.val('no');
            $.ajax({
                url: '{:Url("Pay/payStatus")}',
                type: 'post',
                data: {
                    pid: id,
                    type: 4
                },
                success: function (msg) {
                    alert(msg.code);
                    if (msg.code == 1) {
                        $(".content").hide();
                        $(".popUp").show();
                    }else {
                        $('.chooseTig').show();
                        setTimeout(function () {
                            $('.chooseTig').hide();
                        },3000)
                    }
                    e.val('yes');
                },
                error: function (msg) {
                    alert(msg.code);
                }
            })
        }
    });


    /*
    * 去结算
    * */
    // weixin
    function payPrice(id,price,index) {
        $.post('/home/pay/wxpay ', {price: price,pid: id,type:4})
                .then(function (response) {
                    console.log(response);
                    if (response) {
                        if (typeof WeixinJSBridge == "undefined"){
                            if( document.addEventListener ){
                                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                            }else if (document.attachEvent){
                                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                            }
                        } else {
                            WeixinJSBridge.invoke(
                                    'getBrandWCPayRequest',  JSON.parse(response),
                                    function (res) {
                                        if (res.err_msg == "get_brand_wcpay_request:ok") {
                                            $(".content").hide();
                                            $(".popUp").show();
                                            setTimeout(function () {
//                                                window.history.go(-index);
                                            },1500);
                                        }else {
                                            $('.chooseTig').show();
                                            setTimeout(function () {
                                                $('.chooseTig').hide();
                                            },3000)
                                        }
                                        $('.payChoose').hide();
                                        // 使用以上方式判断前端返回,微信团队郑重提示：
                                        // res.err_msg将在用户支付成功后返回
                                        // ok，但并不保证它绝对可靠。
                                    }
                            );
                        }

                    } else {
                        swal({
                            title: "",
                            text: response.data.error_msg,
                            type: "error",
                            confirmButtonColor: "#ffb45b",
                            confirmButtonText: "确定"
                        });
                    }
                });
    }

    // zhifubao
    function payPrice1(id,price) {
        $.ajax({
            url: "/home/pay/alipay",
            type: 'post',
            data: {
                price: price,
                pid: id,
                type:4
            },
            success: function (response) {
                $('.payChoose').hide();
                response = JSON.parse(response);
                if (response.success) {
                    event.preventDefault();
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    _AP.pay(response.data);
                }
            }
        })
    }

    $(".orderBtn a").on('click', function () {
        $('.payChoose').show();
    });

    /*
    * 支付失败提示取消
    * */
    $(".chooseTig .shadow, .chooseTig .chooseBtn").on("click", function () {
        $(".chooseTig").hide();
    });

    /**
     * payChoose
     * */
    $('.payChoose a').on('click', function () {
        setCookie('orderId',id);

        if ($(this).hasClass('zhifubao')) {
            $.ajax({
                url: "{:Url('Mall/pay')}",
                type: 'post',
                data: {
                    id: id,
                    text1: $(".size").val(),
                    text2: $(".list_ textarea").val()
                },
                beforeSend: function(XMLHttpRequest){
                    $(".showbox").show();
                },
                success: function (msg) {
                    $(".showbox").hide();
                    // 调取支付宝接口
                    payPrice1(id,price);
                }
            })
        }else if ($(this).hasClass('weixin')) {
            $.ajax({
                url: "{:Url('Mall/pay')}",
                type: 'post',
                data: {
                    id: id,
                    text1: $(".size").val(),
                    text2: $(".list_ textarea").val()
                },
                beforeSend: function(XMLHttpRequest){
                    $(".showbox").show();
                },
                success: function (msg) {
                    $(".showbox").hide();
                    payPrice(id,price,1);
                }
            });
        }else {
            $('.payChoose').hide();
        }
    });
    $('.payChoose .shadow').on('click', function () {
        $('.payChoose').hide();
    });


    // 取消
    $(".popUp .cancel,.popUp .shadow").on('click', function () {
        setTimeout(function () {
            history.go(-2);
        },1500)
    });

    $(function () {
        // 自定义textarea的高度
        var text = document.getElementById("textarea");
        autoTextarea(text);
    });

    /**
     * 文本框根据输入内容自适应高度
     * @param                {HTMLElement}        输入框元素
     * @param                {Number}                设置光标与输入框保持的距离(默认0)
     * @param                {Number}                设置最大高度(可选)
     */
    var autoTextarea = function(elem, extra, maxHeight) {
        extra = extra || 0;
        var isFirefox = !!document.getBoxObjectFor || 'mozInnerScreenX' in window,
                isOpera = !!window.opera && !!window.opera.toString().indexOf('Opera'),
                addEvent = function(type, callback) {
                    elem.addEventListener ?
                            elem.addEventListener(type, callback, false) :
                            elem.attachEvent('on' + type, callback);
                },
                getStyle = elem.currentStyle ? function(name) {
                    var val = elem.currentStyle[name];
                    if (name === 'height' && val.search(/px/i) !== 1) {
                        var rect = elem.getBoundingClientRect();
                        return rect.bottom - rect.top -
                                parseFloat(getStyle('paddingTop')) -
                                parseFloat(getStyle('paddingBottom')) + 'px';
                    };
                    return val;
                } : function(name) {
                    return getComputedStyle(elem, null)[name];
                },
                minHeight = parseFloat(getStyle('height'));
        elem.style.resize = 'none';
        var change = function() {
            var scrollTop, height,
                    padding = 0,
                    style = elem.style;
            if (elem._length === elem.value.length) return;
            elem._length = elem.value.length;
            if (!isFirefox && !isOpera) {
                padding = parseInt(getStyle('paddingTop')) + parseInt(getStyle('paddingBottom'));
            };
            scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
            elem.style.height = minHeight + 'px';
            if (elem.scrollHeight > minHeight) {
                if (maxHeight && elem.scrollHeight > maxHeight) {
                    height = maxHeight - padding;
                    style.overflowY = 'auto';
                } else {
                    height = elem.scrollHeight - padding;
                    style.overflowY = 'hidden';
                };
                style.height = height + extra + 'px';
                scrollTop += parseInt(style.height) - elem.currHeight;
                document.body.scrollTop = scrollTop;
                document.documentElement.scrollTop = scrollTop;
                elem.currHeight = parseInt(style.height);
            };
        };
        addEvent('propertychange', change);
        addEvent('input', change);
        addEvent('focus', change);
        change();
    };

</script>

{/block}