{extend name="base/common"}

{block name="style"}
<style>
    .shadow{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.4);z-index: 88;}
    .imgs>div {
        margin-top: 20px;
    }
    .imgs img {
        display: block;
        margin: 0 auto 20px;
        /*width: 200px;*/
        height: auto;
    }
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="mail-box-header">
                    <h2>教练投诉</h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <input class="i-checks check-all" type="checkbox">
                        <form method="get" action="" class="pull-right mail-search">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" name="search" placeholder="搜索教练姓名">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> 搜索</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>教练姓名</th>
                                <!--<th>发布人</th>-->
                                <th>投诉人 </th>
                                <th>投诉时间</th>
                                <!--<th>是否推荐</th>-->
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td><input type="checkbox" class="i-checks ids" name="ids[]"></td>
                                <td>{$vo.name|msubstr=0,20}</td>
                                <td>{$vo.create_user}</td>
                                <td>{$vo.create_time|time_format='Y-m-d'}</td>
                                <td>{$vo.status_text}</td>
                                <td>
                                    <!--<a href="javascript:showIframe({$vo.id})" class="confirm btn-sm btn-primary"> 预览</a>-->
                                    <a data-toggle="modal" href="#show" onclick="detail(this)" class="btn-sm btn-success"
                                       data-detail='{$vo}'
                                       style="color: #fff;"><i class="fa fa-eye"></i>预览</a>
                                    <!--&emsp;<a href="{:Url('Venue/edit?id='.$vo['id'])}">修改</a>-->
                                    <!--&emsp;<a href="{:Url('Venue/del?id='.$vo['id'])}" class="confirm ajax-del">删除</a>-->
                                    {if condition="($vo['status'] == 1)"}

                                    {else /}
                                    <a href="javascript:;" onclick="sureClick({$vo.id})" class="confirm btn-sm btn-primary"><i class="fa fa-check"></i> 确认处理</a>
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="20">
                                    <div class="page">{$_page}</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="show" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="post" action="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title text-center">预览</h2>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>教练姓名:</label>
                        </div>
                        <div class="col-lg-10">
                            <input readonly type="text" class="form-control form_title" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>投诉原因:</label>
                        </div>
                        <div class="col-lg-10">
                            <textarea readonly name="content"  class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 text-right control-label">
                            <label>投诉照片:</label>
                        </div>
                        <div class="col-lg-10 col-md-10">
                            <div class="imgs row col-md-12 clo-lg-12"></div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });
    });

    function showIframe(myid){
        var iframe = $("#iframe");
        var url = "/admin/Complaint/preview/id/" + myid;
        iframe.attr("src",url);
        iframe.show();
        $(".shadow").show();
        $(".wrapper").css("z-index",0);
        close(iframe);
    }

    function close(ele){
        $(".shadow").on('click',function(){
            $(this).hide();
            ele.hide();
        });
    }


    function detail(a) {
        var data = JSON.parse($(a).attr('data-detail'));
        console.log(data);
        $("textarea[name='content']").val(data.content);
        $("input[name='name']").val(data.name);
        $(".imgs img").remove();
        var html = '';
        for (var i = 0; i < data.front_cover.length; i++) {
            html += '<img src="'+ data.front_cover[i] +'" alt="" class="col-md-6 col-lg-6">'
        }
        $('.imgs').append(html);
    }

    function sureClick(id) {
        swal({
                    title: '',
                    text: '是否确认处理?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "{:Url('Complaint/confirm')}",
                            type: 'post',
                            data: {
                                id: id
                            },
                            success: function (msg) {
                                console.log(msg);
                                swal({
                                    title: "",
                                    text: "处理成功",
                                    type: 'success',
                                    timer: 1500,
                                    showConfirmButton: false
                                });
                                if (msg.code == 1) {
                                    setTimeout(function () {
                                        location.reload();
                                    },1500)
                                }
                            }
                        })
                    }else {
                        swal({
                            title: "",
                            text: "取消成功",
                            type: 'error',
                            timer: 500,
                            showConfirmButton: false
                        });
                    }
                }
        )
    }
</script>
{/block}