{extend name="public/pure"}

{block name="style"}
<title>通知公告</title>
<link rel="stylesheet" href="/home/sass/stylesheets/notice/index.css">
{/block}

{block name="body"}
<div class="banners">
    <img src="/home/images/notice/1.jpg">
</div>
<div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
    <a class="mui-control-item" href="#item1mobile" data-index="0">
        <span>政策解读</span>
    </a>
    <a class="mui-control-item" href="#item2mobile" data-index="1">
        <span>通知公告</span>
    </a>
</div>

<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content">
                <!--政策解读开始-->
                <div class="list policy">
                    {empty name="policy"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <ul>
                        {volist name="policy" id="po"}
                            <a href="{:Url('notice/detail?type=1&id='.$po['id'])}">
                                <p>{$po.title}</p>
                                <span>{$po.publisher}</span>
                                <span>{$po.create_time}</span>
                                <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                            </a>
                        {/volist}
                    </ul>
                    {/empty}
                </div>
                <!--政策解读结束-->
            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content">
                <!--通知公告开始-->
                <div class="list notice">
                    {empty name="notice"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"></div>
                    {else/}
                    <ul>
                        {volist name="notice" id="no"}
                            <a href="{:Url('notice/detail?type=2&id='.$no['id'])}">
                                <p>{$no.title}</p>
                                <span>{$no.publisher}</span>
                                <span>{$no.create_time}</span>
                                <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                            </a>
                        {/volist}
                    </ul>
                    {/empty}
                </div>
                <!--通知公告结束-->
            </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
$(function(){
    c = getCookie("c")?getCookie("c"):0;
    $("#tab a").eq(c).addClass('mui-active');
    $(".mui-slider-group>div").eq(c).addClass('mui-active');
});


//首页加载是否需要上拉加载
window.onload = function() {
    if(c==0){
        if ($(".policy ul a").length < 7) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    }else if(c==1){
        if ($(".notice ul a").length < 7) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    }
};

//初始化下拉加载
mui.init({
    pullRefresh: {
        container: '#refreshContainer',
        up: {
            callback: loadScroll
        }
    }
});

function loadScroll(){
    if(c==0){
        var len = $(".policy ul a").length;
    }else if(c==1){
        var len = $(".notice ul a").length;
    }
    $.ajax({
        type:"post",
        url:"{:Url('Profile/more')}",
        data:{
            length:len,
            type:c
        },
        beforeSend: function(XMLHttpRequest){
        },
        success:function(data){
            addCourse(data,c);
            if(data.code == 1){
                if(data.data.length == 7){
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }else{
                mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
            }
        }
    })
};

function addCourse(data,type) {
    var html = '';
    var lists = data.data;
    var len = lists.length;
    for (var i = 0; i < len; i++) {
        var list = lists[i];
        if (type == 0) {
            html +=
                    '<a href="/home/notice/detail/type/1/id/' + list.id + '">' +
                    '<p>' + list.title + '</p>' +
                    '<span>' + list.publisher + '</span>' +
                    '<span>' + list.create_time + '</span>' +
                    '<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>' +
                    '</a>'
        } else if (type == 1) {
            html +=
                    '<a href="/home/notice/detail/type/2/id/' + list.id + '">' +
                    '<p>' + list.title + '</p>' +
                    '<span>' + list.publisher + '</span>' +
                    '<span>' + list.create_time + '</span>' +
                    '<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>' +
                    '</a>'
        }
    }
    if (type == 0) {
        $(".policy ul").append(html);
    } else if (type == 1) {
        $(".notice ul").append(html);
    }
};

//tab点击事件
mui('#tab').on('tap', 'a', function(e) {
    mui('#refreshContainer').pullRefresh().scrollTo(0,0);
    mui('#refreshContainer').scroll().scrollTo(0,0);
    mui('#refreshContainer').pullRefresh().refresh(true);
    c = this.getAttribute("data-index");
   if(c==0){
        if($(".policy a").length<7){
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        }else{
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    }else if(c==1){
        if($(".notice a").length<7){
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        }else{
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    }
    setCookie("c",c);
});

mui("#refreshContainer").on("touchstart","a",function(){
    $(this).css("backgroundColor","rgba(0,0,0,.1)");
}).on("touchend","a", function () {
    $(this).css("backgroundColor","#fff");
});

mui("#refreshContainer").on("tap","a",function(){
    var url = this.getAttribute("href");
    window.location.href = url;
});
</script>
{/block}